Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

fix(test): add auth mocks to workflow tests in test_missing_endpoints.py
  tests/unit/api/v1/test_missing_endpoints.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add protocol version to mock_websocket fixture
  tests/unit/ws_handlers/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add noqa comments and rename generic test in test_base.py
  tests/unit/ws_handlers/test_base.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add orchestrator status broadcaster exports to registry test
  tests/unit/websocket_pkg/test_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): correct test infrastructure port and config reload issues
  tests/integration/websocket/test_redis_rate_limiter_integration.py
  tests/smoke/test_ci_startup_smoke.py
  tests/templates/test_unit_template.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(mcp): add defer_loading filter to tools list endpoint
  src/mcp_server_langgraph/mcp/server_streamable.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(test): update AIExplanation default model test to use settings
  tests/unit/core/interrupts/test_ai_explanation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): use set_streaming_enabled for robust xdist testing
  tests/unit/api/v1/test_streaming_enabled_flag.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add reset_singletons fixture for CostMetricsCollector tests
  tests/monitoring/test_cost_tracker.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): improve mock isolation for user preferences test
  tests/unit/storage/test_user_preferences_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(websocket): handle user=None in AI suggestions disconnect logging
  src/mcp_server_langgraph/websocket/handlers/ai_suggestions.py
  tests/unit/websocket/handlers/test_ai_suggestions_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(frontend): clear session state on logout to prevent stale mutations
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
Due: none

fix(frontend): handle undefined metric values in MetricsTab
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/MetricsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/MetricsTab.tsx
Due: none

feat(frontend): enable WebSocket by default in AIIntelligenceContext
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.tsx
Due: none

feat(ai): add ArtifactSuggestionAgent with LLM and heuristic fallback
  src/mcp_server_langgraph/studio/ai/suggestions.py
  tests/unit/studio/ai/test_artifact_suggestion_agent.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): implement GET /ai/suggestions endpoint with real AI suggestions
  src/mcp_server_langgraph/api/v1/ai.py
  tests/api/test_ai_node_config_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): enhance LGTM backend query implementations
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/query/backends/prometheus.py
  src/mcp_server_langgraph/observability/query/backends/tempo.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.ts
  tests/unit/observability/query/test_lgtm_backends.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): enhance canvas workspace and DevTools panel
  src/mcp_server_langgraph/middleware/devtools_emitter.py
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasTabs.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/canvasUtils.test.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/canvasUtils.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  tests/unit/middleware/test_devtools_emitter.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): enhance Chat and conversation components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.ts
Due: none

chore(infra): update infrastructure configuration and layout components
  docker-compose.test.yml
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/apiTransforms.ts
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(ai-ux): implement diagram intelligence LLM integration
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_diagram_intelligence_llm.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(help): add null check for aiTopics in HelpPane
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
Due: none

feat(trace-intelligence): implement real LLM integration for trace methods
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_trace_intelligence_llm.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(session-intelligence): implement real LLM integration for session methods
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_session_intelligence_llm.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(canvas-intelligence): implement real LLM integration for canvas methods
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_canvas_intelligence_llm.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): implement compliance, help, and genui API endpoints with TDD
  src/mcp_server_langgraph/api/v1/compliance.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  tests/unit/api/test_compliance_api.py
  tests/unit/api/test_genui_api.py
  tests/unit/api/test_help_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): implement background agents API with TDD
  src/mcp_server_langgraph/api/v1/background_agents.py
  tests/unit/api/test_background_agents_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(genui): implement GenUI orchestrator with TDD
  src/mcp_server_langgraph/agents/genui_orchestrator.py
  tests/unit/agents/test_genui_orchestrator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(test): add missing pytest markers for intelligence tests
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

feat(studio): integrate canvas intelligence and register memory API
  pyproject.toml
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useProjectContext.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRetryableRequest.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTierLimits.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  tests/unit/api/test_memory_api.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(canvas): implement single-pane tab-based layout
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
Due: none

feat(conversation): enhance ChatInput with voice and attachment support
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/index.test.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
Due: none

fix(llm): handle null content in AIMessage and configure Claude via Vertex AI
  .env.test
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.ai.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.panels.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

docs(vertex-ai): update to reflect Claude global endpoint GA
  .env.test
  .github/workflows/integration-tests.yaml
  docs/deployment/llm-provider-resilience.mdx
  tests/integration/test_vertex_ai_auth_methods.py
  tests/unit/config/test_config_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(csp): add cdn.jsdelivr.net for Pyodide Python runtime support
  docker-compose.test.yml
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SandpackExecutor.tsx
  src/mcp_server_langgraph/studio/security/__init__.py
  tests/security/test_studio_security.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(layout): add split StudioShellLayout tests for memory optimization
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/README.md
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.accessibility.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.rbac.test.tsx
Due: none

fix(ai): use settings singleton instead of get_settings function
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/websocket/handlers/ai_suggestions.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(ai-suggestions): persist dismissed suggestions across refetches
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsCache.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsCache.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsFetch.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
Due: none

fix(canvas): load matplotlib/numpy before Python execution
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
Due: none

fix(config): add matplotlib to allowed imports and update Docker image
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan
