Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

fix(observability): add Grafana credentials for alerting API
  docker-compose.test.yml
Due: none

feat(grafana): implement OIDC authentication for API access
  docker-compose.test.yml
  src/mcp_server_langgraph/observability/query/backends/grafana.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(cost): implement Redis session cost caching with TDD
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  src/mcp_server_langgraph/websocket/services/cost_tracking.py
  tests/unit/websocket/__init__.py
  tests/unit/websocket/test_cost_tracking_redis.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): extend API models for frontend DevTools contract
  src/mcp_server_langgraph/api/v1/observability.py
  tests/contract/test_observability_frontend_contract.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(frontend): update session slice and conversation panel
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
Due: none

feat(db): add alembic migrations and prevent create_all() usage
  .pre-commit-config.yaml
  .pre-commit-hooks/check_no_create_all.py
  alembic/versions/s9t0u1v2w3x4_add_workflow_title_column.py
  alembic/versions/t0u1v2w3x4y5_add_workflow_executions_table.py
  alembic/versions/u1v2w3x4y5z6_add_alert_records_table.py
  src/mcp_server_langgraph/database/session.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_manager.py
  tests/meta/test_no_create_all.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(grafana): auto-initialize client on first use
  src/mcp_server_langgraph/observability/query/backends/grafana.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(grafana): use basic auth for API access (JWT requires HTTPS)
  docker-compose.test.yml
Due: none

docs(adr): add ADR-0087 Grafana Two-Tier Authentication Architecture
  adr/README.md
  adr/adr-0087-grafana-two-tier-authentication.md
  docs/architecture/adr-0087-grafana-two-tier-authentication.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

feat: implement TODO cluster plan (9 clusters)
  src/mcp_server_langgraph/alerts/approval_queue.py
  src/mcp_server_langgraph/api/deps.py
  src/mcp_server_langgraph/api/v1/admin.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/connections_realtime_ws.py
  src/mcp_server_langgraph/api/v1/remediation_approvals.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/websocket/services/cost_tracking.py
  src/mcp_server_langgraph/websocket/services/heart_metrics.py
  tests/unit/api/v1/test_admin_api_keys.py
  tests/unit/api/v1/test_auth_org_switch.py
  tests/unit/api/v1/test_connections_realtime_ws.py
  tests/unit/api/v1/test_remediation_approvals.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_sessions_trace.py
  tests/unit/api/v1/test_studio_ai_di.py
  tests/unit/websocket_pkg/services/test_cost_tracking_service.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(observability): use OTEL dot notation for span attribute queries
  src/mcp_server_langgraph/api/deps.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/observability/query/interfaces.py
  tests/integration/observability/test_tempo_session_traces.py
  tests/unit/api/v1/test_observability_service_impl.py
  tests/unit/api/v1/test_sessions_trace.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(observability): add OTEL→Tempo data flow integration tests
  tests/integration/observability/test_otel_tempo_data_flow.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(pytest): register tempo, loki, dataflow markers
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

feat(canvas): implement opt-in AI analysis pattern and fix test assertions
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/VersionDiff.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsFetch.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsFetch.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCanvasIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCanvasIntelligence.ts
  tests/unit/api/v1/test_missing_endpoints.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(observability): add Loki data flow integration tests
  tests/integration/observability/test_loki_data_flow.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(hooks): add OTEL attribute naming pre-commit validation
  .pre-commit-config.yaml
  scripts/validation/check_otel_attribute_naming.py
Due: check-banned-imports, semgrep-security-scan

fix(test): require PostgreSQL for workflow share repository tests
  tests/integration/storage/workflow/test_postgres_share_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(observability): extend data flow tests for all entity types
  tests/integration/observability/test_loki_data_flow.py
  tests/integration/observability/test_otel_tempo_data_flow.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: add OTEL data flow testing and full pipeline tests
  .claude/context/testing-patterns.md
  .claude/memory/pre-commit-hooks-catalog.md
  tests/integration/observability/test_otel_tempo_data_flow.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): add auth dependency overrides to budget router tests
  .pre-commit-config.yaml
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.test.tsx
  tests/unit/api/v1/test_budget_router.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(middleware): add MetricsBroadcaster wiring tests
  src/mcp_server_langgraph/middleware/metrics.py
  tests/unit/middleware/test_metrics_middleware.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(heart-metrics): inject metrics client for Prometheus/Mimir queries
  src/mcp_server_langgraph/websocket/services/heart_metrics.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(db): add workflow_versions migration for version history
  alembic/versions/w3x4y5z6a7b8_add_workflow_versions_table.py
Due: check-banned-imports

feat(storage): add workflow version methods to PostgresWorkflowManager
  src/mcp_server_langgraph/storage/workflow/postgres_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  tests/unit/storage/workflow/test_postgres_manager_versions.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(services): add centralized WorkflowValidator service
  src/mcp_server_langgraph/services/workflow_validator.py
  tests/unit/services/test_workflow_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add workflow from-chat, validate, and versions endpoints
  src/mcp_server_langgraph/api/v1/workflows.py
  tests/integration/api/test_workflow_from_chat_integration.py
  tests/unit/api/v1/test_workflows_from_chat.py
  tests/unit/api/v1/test_workflows_validate.py
  tests/unit/api/v1/test_workflows_versions.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(flags): add enable_workflow_from_chat feature flag
  .env.test
  docker-compose.test.yml
  docs-internal/FEATURE_FLAG_CATALOG.md
  src/mcp_server_langgraph/core/feature_flags.py
Due: check-banned-imports, run-pre-push-tests, check-internal-links, semgrep-security-scan

docs: add ADRs and documentation for chat-to-workflow feature
  adr/README.md
  adr/adr-0088-frontend-hook-selection-guidance.md
  adr/adr-0089-prompt-architecture-centralization.md
  docs-internal/frontend/CHAT_TO_WORKFLOW_API.md
  docs/architecture/adr-0089-prompt-architecture-centralization.mdx
  docs/guides/prompt-engineering.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

feat(prompts): add centralized prompt architecture with telemetry
  src/mcp_server_langgraph/core/prompts/README.md
  src/mcp_server_langgraph/core/prompts/__init__.py
  src/mcp_server_langgraph/core/prompts/ai_ux_prompts.py
  src/mcp_server_langgraph/core/prompts/genui_prompts.py
  src/mcp_server_langgraph/core/prompts/orchestration_router_prompt.py
  src/mcp_server_langgraph/core/prompts/plan_editor_prompts.py
  src/mcp_server_langgraph/core/prompts/response_prompt.py
  src/mcp_server_langgraph/core/prompts/router_prompt.py
  src/mcp_server_langgraph/core/prompts/schemas.py
  src/mcp_server_langgraph/core/prompts/search.py
  src/mcp_server_langgraph/core/prompts/studio_prompt.py
  src/mcp_server_langgraph/core/prompts/telemetry.py
  src/mcp_server_langgraph/core/prompts/validation.py
  src/mcp_server_langgraph/core/prompts/verification_prompt.py
  src/mcp_server_langgraph/core/prompts/workflow_prompts.py
  tests/unit/core/test_ai_ux_prompts.py
  tests/unit/core/test_feature_flags.py
  tests/unit/core/test_genui_prompts.py
  tests/unit/core/test_orchestration_router_prompt.py
  tests/unit/core/test_plan_editor_prompts.py
  tests/unit/core/test_prompt_guardrails.py
  tests/unit/core/test_prompt_runtime_validation.py
  tests/unit/core/test_prompt_schemas.py
  tests/unit/core/test_prompt_telemetry.py
  tests/unit/core/test_workflow_prompts.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(agents): add multi-agent orchestration with routing and swarm patterns
  adr/adr-0090-agent-orchestration-architecture.md
  src/mcp_server_langgraph/agents/__init__.py
  src/mcp_server_langgraph/agents/base_agent.py
  src/mcp_server_langgraph/agents/genui_orchestrator.py
  src/mcp_server_langgraph/agents/metrics.py
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/agents/model_selector.py
  src/mcp_server_langgraph/agents/orchestrator.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/swarm_orchestrator.py
  src/mcp_server_langgraph/agents/worker_agent.py
  tests/unit/agents/test_base_agent.py
  tests/unit/agents/test_model_registry.py
  tests/unit/agents/test_model_selector.py
  tests/unit/agents/test_model_selector_refactored.py
  tests/unit/agents/test_orchestration_metrics.py
  tests/unit/agents/test_orchestrator.py
  tests/unit/agents/test_orchestrator_coverage.py
  tests/unit/agents/test_router_agent.py
  tests/unit/agents/test_swarm_orchestrator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, validate-adr-index, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add prompt metrics dashboard and broadcasting span processor
  deployments/monitoring/prompt-metrics-dashboard.json
  deployments/monitoring/prompt-quality-alerts.yaml
  src/mcp_server_langgraph/observability/broadcasting_span_processor.py
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/trace_broadcaster.py
Due: check-banned-imports, run-pre-push-tests, trivy-scan-k8s-manifests, semgrep-security-scan, validate-gke-autopilot-compliance

feat(websocket): add LLM streaming and metrics broadcasters
  src/mcp_server_langgraph/websocket/handlers/llm_streaming_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/metrics_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/orchestrator_status.py
  src/mcp_server_langgraph/websocket/services/cost_tracking.py
  src/mcp_server_langgraph/websocket/services/heart_metrics.py
  tests/integration/websocket/test_connections_realtime_websocket.py
  tests/integration/websocket/test_cost_tracking_websocket.py
  tests/integration/websocket/test_heart_metrics_websocket.py
  tests/integration/websocket/test_orchestrator_status_websocket.py
  tests/integration/websocket/test_websocket_lifecycle.py
  tests/integration/websocket/test_websocket_token_expiration.py
  tests/unit/websocket_pkg/handlers/test_llm_streaming_broadcaster.py
  tests/unit/websocket_pkg/handlers/test_metrics_broadcaster.py
  tests/unit/websocket_pkg/services/test_cost_tracking_service.py
  tests/unit/websocket_pkg/services/test_heart_metrics_service.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(llm): add embeddings module and factory enhancements
  src/mcp_server_langgraph/llm/__init__.py
  src/mcp_server_langgraph/llm/embeddings.py
  src/mcp_server_langgraph/llm/factory.py
  tests/unit/llm/test_embeddings.py
  tests/unit/llm/test_factory_validation.py
  tests/unit/llm/test_streaming_metrics_broadcaster_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add execution plans and plan templates endpoints
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/plan_templates.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  src/mcp_server_langgraph/repositories/__init__.py
  src/mcp_server_langgraph/repositories/execution_plan.py
  src/mcp_server_langgraph/repositories/plan_template.py
  src/mcp_server_langgraph/services/workflow_generator.py
  tests/integration/api/test_chat_approval_flow.py
  tests/unit/api/v1/test_chat_service_impl.py
  tests/unit/api/v1/test_chat_streaming_production.py
  tests/unit/api/v1/test_chat_streaming_refactor.py
  tests/unit/api/v1/test_execution_plans.py
  tests/unit/api/v1/test_plan_templates.py
  tests/unit/api/v1/test_remediation_tracking.py
  tests/unit/repositories/test_execution_plan_repository.py
  tests/unit/repositories/test_plan_template_repository.py
  tests/unit/services/test_workflow_generator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core): add vector storage and enhanced domain models
  src/mcp_server_langgraph/core/__init__.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/models/__init__.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/storage/vectors/__init__.py
  src/mcp_server_langgraph/storage/vectors/base.py
  src/mcp_server_langgraph/storage/vectors/factory.py
  src/mcp_server_langgraph/storage/vectors/inmemory.py
  src/mcp_server_langgraph/storage/vectors/pgvector_provider.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  tests/integration/core/test_factory_validation_integration.py
  tests/integration/core/test_prompt_semantic_search_integration.py
  tests/integration/storage/test_vector_plan_search_integration.py
  tests/unit/core/models/test_execution_plan.py
  tests/unit/core/models/test_plan_template.py
  tests/unit/core/test_prompt_semantic_search.py
  tests/unit/storage/vectors/__init__.py
  tests/unit/storage/vectors/test_vector_providers.py
  tests/unit/storage/vectors/test_vector_settings_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add shared frontend infrastructure
  src/mcp_server_langgraph/shared/frontend/README.md
  src/mcp_server_langgraph/shared/frontend/eslint.config.js
  src/mcp_server_langgraph/shared/frontend/src/components/A11yDevTools.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Badge.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Badge.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Button.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Button.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Card.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/Card.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/primitives/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useWebVitals.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/useWebVitals.tsx
  src/mcp_server_langgraph/shared/frontend/src/i18n/i18n.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/i18n/index.ts
  src/mcp_server_langgraph/shared/frontend/src/utils/cn.ts
  src/mcp_server_langgraph/shared/frontend/src/utils/index.ts
  src/mcp_server_langgraph/shared/frontend/tailwind-preset.cjs
  src/mcp_server_langgraph/shared/frontend/tailwind-preset.ts
Due: none

test(observability): add comprehensive observability unit tests
  tests/unit/observability/test_broadcasting_span_processor.py
  tests/unit/observability/test_metrics_query_wiring.py
  tests/unit/observability/test_observability_wiring_gaps.py
  tests/unit/observability/test_trace_broadcaster_session_filter.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add DevTools streaming hooks and test scripts
  src/mcp_server_langgraph/studio/ai/templates.py
  src/mcp_server_langgraph/studio/frontend/scripts/run-hooks-tests.sh
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-by-pool.sh
  src/mcp_server_langgraph/studio/frontend/scripts/validate-test-patterns.sh
  src/mcp_server_langgraph/studio/frontend/src/hooks/useLLMStreamingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMetricsSessionWebSocket.ts
  tests/unit/studio/ai/test_template_embedding_service.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
