Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: uv run --frozen python -u scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run --frozen python -u scripts/validators/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run --frozen python -u scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run --frozen python -u scripts/validators/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run --frozen python -u scripts/validators/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

feat(auth): add SSO logout redirect to Keycloak
  docker-compose.test.yml
Due: none

fix(observability): fix Grafana LGTM stack dashboard data issues
  Makefile
  docker-compose.test.yml
  docker/alloy/alloy-config.alloy
  docker/alloy/config.alloy
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
  docker/tempo/tempo-config.yaml
  monitoring/grafana/dashboards/keycloak.json
  monitoring/grafana/dashboards/langgraph-agent.json
  monitoring/grafana/dashboards/postgresql.json
  monitoring/grafana/dashboards/qdrant.json
  monitoring/grafana/dashboards/security.json
  monitoring/grafana/datasources.yml
  tests/monitoring/test_budget_monitor.py
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(observability): add LGTM stack init containers and monitoring dashboards
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  monitoring/grafana/dashboards/lgtm-stack.json
  monitoring/grafana/dashboards/traefik.json
Due: run-pre-push-tests

feat(observability): add centralized alerting for all services
  docker-compose.test.yml
  docker/mimir/mimir-config.yaml
  docker/mimir/rules/lgtm-alerts.yaml
  monitoring/grafana/alerting.yml
  tests/monitoring/test_budget_monitor.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

style: auto-format code from pre-push hooks
  src/mcp_server_langgraph/auth/openfga.py
  tests/e2e/conftest.py
  tests/e2e/test_full_user_journey.py
  tests/fixtures/database_fixtures.py
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/integration/observability/test_lgtm_stack.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): prevent xdist state contamination in test_init_database
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): prevent xdist state contamination in cache isolation test
  tests/unit/core/test_cache_isolation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): resolve LGTM stack and mypy CI failures
  Makefile
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
  pyproject.toml
  src/mcp_server_langgraph/observability/query/backends/cloudlogging.py
  src/mcp_server_langgraph/observability/query/backends/cloudmonitoring.py
  src/mcp_server_langgraph/observability/query/backends/cloudtrace.py
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, semgrep-security-scan, validate-pytest-markers, validate-pytest-config

fix(docker): optimize container builds and add restart policies
  docker-compose.test.yml
Due: none

fix(observability): align LGTM stack with official Helm chart patterns
  Makefile
  docker-compose.test.yml
  docker/mimir/mimir-config.yaml
Due: run-pre-push-tests

fix(tests): improve K8s sandbox availability check and isolation markers
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/integration/test_postgres_storage.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): resolve E2E and coverage CI failures
  .github/workflows/e2e-tests.yaml
  tests/builder/test_builder_security.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(security): resolve Trivy security scan findings
  .github/workflows/mirror-dependencies.yaml
  deployments/base/otel-collector-deployment.yaml
  deployments/overlays/preview-gke/redis-session-service-patch.yaml
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  tests/meta/test_otel_security_context.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, checkov-terraform, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

feat(observability): add LGTM stack for OpenShift/Rancher deployments
  deployments/base/lgtm/alloy-configmap.yaml
  deployments/base/lgtm/alloy-deployment.yaml
  deployments/base/lgtm/grafana-configmap.yaml
  deployments/base/lgtm/grafana-deployment.yaml
  deployments/base/lgtm/kustomization.yaml
  deployments/base/lgtm/lgtm-networkpolicy.yaml
  deployments/base/lgtm/loki-configmap.yaml
  deployments/base/lgtm/loki-deployment.yaml
  deployments/base/lgtm/mimir-configmap.yaml
  deployments/base/lgtm/mimir-deployment.yaml
  deployments/base/lgtm/tempo-configmap.yaml
  deployments/base/lgtm/tempo-deployment.yaml
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/lgtm-json-patches.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

fix(observability): comply with GKE Autopilot resource constraints
  deployments/base/lgtm/alloy-deployment.yaml
  deployments/base/lgtm/grafana-deployment.yaml
  deployments/base/lgtm/loki-configmap.yaml
  deployments/base/lgtm/loki-deployment.yaml
  deployments/base/lgtm/mimir-configmap.yaml
  deployments/base/lgtm/mimir-deployment.yaml
  deployments/base/lgtm/tempo-deployment.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

fix(observability): resolve OpenShift and Trivy CI failures for LGTM stack
  .trivyignore
  deployments/base/.trivyignore
  deployments/overlays/openshift/lgtm-json-patches.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

feat(mcp): upgrade to MCP specification 2025-11-25 (Phase 1)
  pyproject.toml
  src/mcp_server_langgraph/core/interrupts/mcp_bridge.py
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/resources.py
  src/mcp_server_langgraph/mcp/sampling.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.test.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.ts
  tests/integration/contract/mcp_schemas.json
  tests/integration/test_mcp_elicitation.py
  tests/integration/test_mcp_resources.py
  tests/integration/test_mcp_sampling.py
  tests/unit/mcp/test_mcp_sdk_version.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

feat(mcp): implement SEP-1577 and SEP-1330 for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/sampling.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  tests/unit/mcp/test_elicitation_enum_schema.py
  tests/unit/mcp/test_sampling_with_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(mcp): implement SEP-1303 tool validation errors for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/tool_errors.py
  tests/unit/mcp/test_tool_validation_errors.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(mcp): implement SEP-973 icons metadata for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/icons.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  tests/unit/mcp/test_icons_metadata.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(mcp): implement SEP-1036 URL mode elicitation for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  tests/unit/mcp/test_url_mode_elicitation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(mcp): implement HTTP 403 origin validation for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/origin_validation.py
  tests/unit/mcp/test_origin_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(mcp): implement SEP-1686 tasks feature for MCP 2025-11-25
  src/mcp_server_langgraph/mcp/tasks.py
  tests/unit/mcp/test_tasks.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(mcp): add MCP Prometheus metrics for observability
  src/mcp_server_langgraph/mcp/metrics.py
  tests/unit/mcp/test_mcp_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

docs: add MCP Registry manifest and ADR for 2025-11-25 upgrade
  adr/adr-0067-mcp-2025-11-25-upgrade.md
  server.json
Due: validate-adr-sync, validate-adr-index

fix(test): use importlib.metadata for MCP SDK version check
  tests/unit/mcp/test_mcp_sdk_version.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(security): suppress pre-existing KSV118 false positives in Trivy
  .trivyignore
Due: none

docs(adr): sync ADR-0067 to docs/architecture
  docs/architecture/adr-0067-mcp-2025-11-25-upgrade.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

test(mcp): add xdist_group markers and teardown methods
  tests/unit/mcp/test_elicitation_enum_schema.py
  tests/unit/mcp/test_icons_metadata.py
  tests/unit/mcp/test_mcp_metrics.py
  tests/unit/mcp/test_mcp_sdk_version.py
  tests/unit/mcp/test_origin_validation.py
  tests/unit/mcp/test_sampling_with_tools.py
  tests/unit/mcp/test_tasks.py
  tests/unit/mcp/test_tool_validation_errors.py
  tests/unit/mcp/test_url_mode_elicitation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

docs: update ADR count to 64 and add ADR-0067 to navigation
  README.md
  docs/architecture/overview.mdx
  docs/docs.json
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

fix(hooks): use uv run python for ADR index validation hook
  .pre-commit-config.yaml
Due: none

fix(test): prevent OTEL interference in cache property tests
  adr/README.md
  tests/property/test_cache_properties.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-adr-sync, validate-adr-index, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(test): pass OTEL_SDK_DISABLED to pytest subprocess calls
  tests/meta/test_plugin_guards.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

docs(adr): add frontmatter to ADR-0067 MDX file
  docs/architecture/adr-0067-mcp-2025-11-25-upgrade.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

fix(test): add module-level OTEL disable to agent type safety tests
  tests/unit/core/test_agent_type_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(observability): resolve Grafana dashboard "No Data" issue
  docker-compose.test.yml
  docker/alloy/config.alloy
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  tests/unit/observability/test_otel_config.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): align test infrastructure startup with Makefile parity
  .github/workflows/e2e-tests.yaml
  scripts/test-integration.sh
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(ci): resolve OpenShift LGTM patches and E2E timeout validation
  .github/workflows/e2e-tests.yaml
  deployments/overlays/openshift/alloy-openshift-patch.yaml
  deployments/overlays/openshift/grafana-openshift-patch.yaml
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/lgtm-json-patches.yaml
  deployments/overlays/openshift/loki-openshift-patch.yaml
  deployments/overlays/openshift/mimir-openshift-patch.yaml
  deployments/overlays/openshift/tempo-openshift-patch.yaml
  scripts/test-integration.sh
  scripts/validators/validate_deployments.py
  tests/meta/validation/test_ci_cd_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(infra): resolve traefik-forward-auth OIDC discovery failure
  docker-compose.test.yml
Due: none

fix(observability): enable Traefik Prometheus metrics for Grafana dashboards
  docker-compose.test.yml
Due: none

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
