Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$

fix(validators): add missing icons to valid icon registry
  scripts/validators/validate_docs.py
Due: check-banned-imports, semgrep-security-scan

docs: move ADR-0011 from Compliance to Tooling & Standards
  docs/docs.json
Due: mintlify-broken-links-check

fix(docs): replace invalid icons with Font Awesome 6.x equivalents
  docs/ci-cd/badges.mdx
  docs/compliance/hipaa/breach-response.mdx
  docs/deployment/deployment-checklist.mdx
  docs/getting-started/langsmith-tracing.mdx
  docs/guides/anthropic-claude.mdx
  docs/testing/hypothesis-profiles.mdx
  scripts/validators/validate_docs.py
Due: check-banned-imports, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, semgrep-security-scan

docs: fix v3.0 version reference and add release headlines
  docs/architecture/overview.mdx
  docs/releases/overview.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

docs: improve navbar titles for better navigation
  docs/compliance/gdpr/overview.mdx
  docs/compliance/hipaa/overview.mdx
  docs/compliance/soc2/overview.mdx
  docs/deployment/infrastructure/overview.mdx
  docs/deployment/monitoring/overview.mdx
  docs/deployment/overview.mdx
  docs/getting-started/introduction.mdx
  docs/reference/development/ci-cd/overview.mdx
  docs/releases/v2-2-0.mdx
  docs/releases/v2-3-0.mdx
  docs/releases/v2-4-0.mdx
  docs/releases/v2-5-0.mdx
  docs/releases/v2-6-0.mdx
  docs/releases/v2-7-0.mdx
  docs/releases/v2-8-0.mdx
  docs/security/overview.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

fix: add explanatory comment to empty except clause
  scripts/validators/validate_docs.py
Due: check-banned-imports, semgrep-security-scan

fix(tests): use worker-specific cleanup to prevent xdist race condition
  tests/integration/compliance/test_postgres_conversation_store.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): use worker-specific cleanup patterns across all postgres tests
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/meta/test_hardcoded_test_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): increase meta test subprocess timeouts and disable OTEL
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ruff): add per-file ignores for scripts/ and examples/ directories
  pyproject.toml
  scripts/dev/add_xdist_markers_bulk.py
  scripts/dev/audit_workflow_duplication.py
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, semgrep-security-scan, validate-pytest-markers, validate-pytest-config

fix(ci): bust Python 3.13 cache for hypothesis compatibility
  .github/actions/setup-python-deps/action.yml
Due: run-pre-push-tests, validate-github-workflows-comprehensive

fix(ci): disable uv caching for reproducible builds
  .github/actions/setup-python-deps/action.yml
Due: run-pre-push-tests, validate-github-workflows-comprehensive

fix(ruff): remove .keys() in secrets manager (SIM118 violation)
  src/mcp_server_langgraph/secrets/manager.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(codeql): resolve __all__ export definition errors
  src/mcp_server_langgraph/__init__.py
  src/mcp_server_langgraph/monitoring/__init__.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(tests): comprehensive pytest-xdist isolation improvements
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/PYTEST_XDIST_ENFORCEMENT.md
  tests/builder/test_builder_security.py
  tests/conftest.py
  tests/core/test_exceptions.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/docker_fixtures.py
  tests/integration/api/test_api_keys_endpoints.py
  tests/integration/api/test_service_principals_endpoints.py
  tests/integration/core/test_container.py
  tests/integration/test_openfga_client.py
  tests/meta/test_env_pollution.py
  tests/meta/test_fixture_organization.py
  tests/meta/test_infrastructure_singleton.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_pytest_xdist_enforcement.py
  tests/performance/test_benchmarks.py
  tests/regression/test_openfga_worker_isolation.py
  tests/regression/test_performance_regression.py
  tests/regression/test_service_principal_test_isolation.py
  tests/unit/auth/test_auth.py
  tests/unit/auth/test_auth_factory.py
  tests/unit/test_mcp_stdio_server.py
  tests/utils/__init__.py
  tests/utils/worker_utils.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): add skip_isolation_check marker for existing integration tests
  pyproject.toml
  tests/integration/api/test_api_keys_endpoints.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/test_fixture_cleanup.py
  tests/integration/test_postgres_storage.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docs): mermaid sequence diagram validation and markdown code blocks
  docs/advanced/contributing.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/overview.mdx
  docs/ci-cd/troubleshooting.mdx
  docs/compliance/gdpr/dpa-template.mdx
  docs/compliance/gdpr/dpia.mdx
  docs/compliance/hipaa/baa-template.mdx
  docs/compliance/soc2/trust-criteria.mdx
  docs/deployment/cost-optimization.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/infrastructure/terraform-aws.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/deployment/version-pinning.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  docs/reference/development/github-actions.mdx
  docs/reference/development/ide-setup.mdx
  docs/reference/sources.mdx
  docs/security/audit-checklist.mdx
  docs/security/compliance.mdx
  scripts/validators/check_mermaid_styling.py
  scripts/validators/validate_docs.py
  tests/meta/validation/test_mermaid_validation.py
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docs): broken links and enhance link checker to skip code blocks
  docs/ci-cd/troubleshooting.mdx
  docs/development/setup.mdx
  scripts/validators/check_internal_links.py
Due: check-banned-imports, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, semgrep-security-scan

fix(docs): remove stray code block in keycloak-sso.mdx
  docs/guides/keycloak-sso.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

fix(docs): mermaid sequence diagram validation and markdown code blocks (#127)
  docs/advanced/contributing.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/architecture/adr-0018-semantic-versioning-strategy.mdx
  docs/architecture/overview.mdx
  docs/ci-cd/troubleshooting.mdx
  docs/compliance/gdpr/dpa-template.mdx
  docs/compliance/gdpr/dpia.mdx
  docs/compliance/hipaa/baa-template.mdx
  docs/compliance/soc2/trust-criteria.mdx
  docs/deployment/cost-optimization.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/infrastructure/terraform-aws.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/deployment/version-pinning.mdx
  docs/development/setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  docs/reference/development/github-actions.mdx
  docs/reference/development/ide-setup.mdx
  docs/reference/sources.mdx
  docs/security/audit-checklist.mdx
  docs/security/compliance.mdx
  scripts/validators/check_internal_links.py
  scripts/validators/check_mermaid_styling.py
  scripts/validators/validate_docs.py
  tests/meta/validation/test_mermaid_validation.py
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(deps): pin hypothesis <6.147.0 to fix Python 3.11 xdist import race
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

fix(tests): exclude Phase.target from hypothesis to fix xdist import race
  tests/conftest.py
  tests/meta/test_codex_validations.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): use absolute paths in subprocess calls for CI compatibility
  tests/meta/test_precommit_keycloak_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(validators): exclude TDD documentation tests from env isolation check
  scripts/validators/check_test_environment_isolation.py
Due: check-banned-imports, semgrep-security-scan

fix(ci): skip CI-specific validations that duplicate CI functionality
  scripts/validators/validate_pre_push_hook.py
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): skip recursive test suite meta-tests in pre-push hooks
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

refactor(tests): apply YAGNI/KISS principles to test infrastructure (-693 lines)
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  scripts/validators/validate_pre_push_hook.py
  tests/conftest.py
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

chore(deps): add semgrep as dev dependency
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

docs(architecture): sync ADR index with actual ADR files
  docs/architecture/overview.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

refactor(hooks): consolidate pre-commit infrastructure and fix change detection
  .pre-commit-config.yaml
  scripts/run_pre_push_tests.py
  scripts/security/run_security_suite.py
  scripts/validators/validate_dependency_injection.py
  tests/meta/test_change_detection.py
  tests/meta/test_security_suite.py
  tests/meta/test_validator_consistency.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): update CI workflow path and fix test isolation
  .github/workflows/smoke-tests.yml
  tests/meta/test_change_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(helm): add tmpcharts cleanup and gitignore entry
  .gitignore
  tests/deployment/test_helm_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids
