Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: uv run --frozen python -u scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run --frozen python -u scripts/validators/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run --frozen python -u scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run --frozen python -u scripts/validators/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run --frozen python -u scripts/validators/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

fix(observability): add start_period to loki-test healthcheck
  docker-compose.test.yml
Due: none

fix(frontend): resolve TypeScript compilation errors in test files
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useSessionTimeout.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useWebSocket.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useWorkflowValidation.test.ts
  src/mcp_server_langgraph/builder/frontend/src/test/setup.ts
  src/mcp_server_langgraph/builder/frontend/src/vitest.d.ts
Due: none

fix(observability): remove noexec from loki tmpfs to fix WAL operations
  docker-compose.test.yml
Due: none

fix(observability): add Loki user/group permissions for tmpfs mount
  docker-compose.test.yml
Due: none

fix(observability): remove non-existent Grafana dashboard directories
  monitoring/grafana/dashboards.yml
Due: none

fix(tests): correct redis_sessions port from 9380 to 9379
  tests/fixtures/docker_fixtures.py
  tests/integration/observability/__init__.py
  tests/integration/observability/test_lgtm_stack.py
  tests/utils/worker_utils.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(observability): disable Loki healthcheck for distroless image
  Makefile
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  tests/constants.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, check-test-memory-safety, check-test-naming, validate-test-ids

fix(test): resolve 401 auth errors and xdist isolation issues
  docker-compose.test.yml
  docker/Dockerfile.test
  docker/postgres/init-test-databases.sh
  monitoring/grafana/datasources.yml
  src/mcp_server_langgraph/builder/api/server.py
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_infrastructure_validation.py
  tests/fixtures/docker_fixtures.py
  tests/integration/builder/test_builder_postgres_workflow.py
  tests/integration/builder/test_builder_redis_workflow.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/observability/test_lgtm_stack.py
  tests/integration/playground/test_playground_mcp_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): remove invalid root import and add xdist compliance
  tests/builder/test_builder_server_integration.py
  tests/integration/observability/test_lgtm_stack.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): update builder API info test to use correct endpoint
  tests/builder/api/test_server.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

chore(k8s): update dependency versions to match LGTM stack migration
  deployments/base/openfga-deployment.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/base/redis-session-deployment.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

feat(k8s): update Keycloak to GHCR optimized image with /authn route
  deployments/base/.trivyignore
  deployments/base/keycloak-deployment.yaml
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): use instance-level mock for xdist-safe prometheus test
  tests/monitoring/test_prometheus_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): use identity comparison in test_get_engine_with_echo_enabled
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

docs: update Keycloak deployment docs with GHCR optimized image
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/kubernetes/keycloak-readonly-filesystem.mdx
  docs/deployment/version-compatibility.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

docs: update Keycloak docs with GHCR image and /authn health paths
  .claude/memory/lgtm-stack-lessons.md
  docs/guides/keycloak-sso.mdx
  docs/integrations/keycloak.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

fix(docker): add memory limits and restart policies to prevent OOMs
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/docker-compose.yml
Due: run-pre-push-tests

feat(docker): optimize Alembic image size and add OpenShift SCC compatibility
  docker-compose.test.yml
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
Due: validate-docker-image-contents

refactor(make): cleanup deprecated targets and add test-infra-up-build
  Makefile
Due: none

fix(docker): increase Keycloak memory and add explicit JVM heap limits
  docker-compose.test.yml
Due: none

feat(mcp): implement MCP 2025-06-18 full protocol (elicitation, sampling, resources)
  src/mcp_server_langgraph/core/interrupts/mcp_bridge.py
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/resources.py
  src/mcp_server_langgraph/mcp/sampling.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/integration/test_mcp_elicitation.py
  tests/integration/test_mcp_resources.py
  tests/integration/test_mcp_sampling.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(playground): add frontend foundation (Vite + React + TypeScript + Tailwind)
  src/mcp_server_langgraph/playground/frontend/index.html
  src/mcp_server_langgraph/playground/frontend/package.json
  src/mcp_server_langgraph/playground/frontend/postcss.config.js
  src/mcp_server_langgraph/playground/frontend/tailwind.config.js
  src/mcp_server_langgraph/playground/frontend/tsconfig.json
  src/mcp_server_langgraph/playground/frontend/tsconfig.node.json
  src/mcp_server_langgraph/playground/frontend/vite.config.ts
  src/mcp_server_langgraph/playground/frontend/vitest.config.ts
Due: none

feat(playground): add test infrastructure and design system
  src/mcp_server_langgraph/playground/frontend/src/index.css
  src/mcp_server_langgraph/playground/frontend/src/styles/design-tokens.ts
  src/mcp_server_langgraph/playground/frontend/src/test/setup.ts
  src/mcp_server_langgraph/playground/frontend/src/test/test-utils.tsx
Due: none

feat(playground): add Phase 3 API layer and types (6 files)
  src/mcp_server_langgraph/playground/frontend/src/api/index.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.test.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  src/mcp_server_langgraph/playground/frontend/src/api/playground.ts
  src/mcp_server_langgraph/playground/frontend/src/api/types.ts
Due: none

feat(playground): add Phase 4 core hooks - MCP Host + Client (20 files)
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPPrompts.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPPrompts.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPResources.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPResources.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPSampling.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPSampling.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSession.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSession.ts
Due: none

feat(playground): add Phase 5 layout components (5 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/index.ts
Due: none

feat(playground): add Phase 6 session components (7 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/CreateSessionModal.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/CreateSessionModal.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionCard.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionCard.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionList.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionList.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/index.ts
Due: none

feat(playground): add Phase 7 chat components (9 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInput.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInterface.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatInterface.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatMessage.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatStream.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatStream.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/index.ts
Due: none

feat(playground): Phase 8 - Observability components (13 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/AlertPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/AlertPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/LogPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/LogPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/MetricsPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/MetricsPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/ObservabilityTabs.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/ObservabilityTabs.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TracePanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TracePanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TraceWaterfall.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TraceWaterfall.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/index.ts
Due: none

feat(playground): Phase 9 - MCP Client UI components (9 files)
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SchemaForm.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SchemaForm.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ServerManager.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ServerManager.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
Due: none

feat(playground): Phase 10 - Main application (3 files)
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/main.tsx
Due: none

feat(playground): Phase 11 - Accessibility utilities (2 files)
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.ts
Due: none

feat(playground): Phase 12 - HEART Metrics (5 files)
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/NPSSurvey.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/NPSSurvey.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useHeartMetrics.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useHeartMetrics.tsx
Due: none

test(playground): improve accessibility hook coverage to 81%
  src/mcp_server_langgraph/playground/frontend/.gitignore
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.test.ts
Due: none

feat(auth): add Keycloak Admin API init service and OpenShift overlay
  deployments/base/keycloak-deployment.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/overlays/openshift/keycloak-json-patch.yaml
  deployments/overlays/openshift/keycloak-patch.yaml
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/mcp-server-json-patch.yaml
  deployments/overlays/openshift/mcp-server-patch.yaml
  deployments/overlays/openshift/openfga-json-patch.yaml
  deployments/overlays/openshift/openfga-patch.yaml
  deployments/overlays/openshift/otel-collector-json-patch.yaml
  deployments/overlays/openshift/otel-collector-patch.yaml
  deployments/overlays/openshift/postgres-json-patch.yaml
  deployments/overlays/openshift/postgres-patch.yaml
  deployments/overlays/openshift/qdrant-json-patch.yaml
  deployments/overlays/openshift/qdrant-patch.yaml
  deployments/overlays/openshift/redis-json-patch.yaml
  deployments/overlays/openshift/redis-patch.yaml
  deployments/overlays/preview-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  docker-compose.test.yml
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/vite.config.ts
  tests/e2e/conftest.py
  tests/e2e/keycloak-test-realm.json
  tests/e2e/test_full_user_journey.py
  tests/integration/builder/test_builder_redis_workflow.py
  tests/integration/playground/test_playground_redis_session.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/kubernetes/test_kustomize_openshift.py
  tests/monitoring/test_prometheus_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, helm-lint, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(mcp): resolve mypy type errors in server_streamable.py
  src/mcp_server_langgraph/mcp/server_streamable.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(mypy): resolve type errors for conditional OTLP imports
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/observability/telemetry.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(k8s): correct env indices in keycloak-json-patch for secret refs
  deployments/overlays/preview-gke/keycloak-json-patch.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

fix(k8s): comply with OpenShift CPU ratio limits (max 4.0)
  deployments/overlays/openshift/postgres-patch.yaml
  deployments/overlays/openshift/redis-patch.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

fix(tests): make Dockerfile COPY assertions handle --chown flag
  tests/meta/test_codex_findings_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
