Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

feat(infra): enhance app factory with semantic index initialization
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  tests/unit/core/test_app_factory.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add selected_tools SSE event for semantic selection visibility
  src/mcp_server_langgraph/api/v1/chat.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(frontend): enhance streaming chat with plan generation support
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.planCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.planGenerated.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTemplateSearch.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/executionModeSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/executionModeSlice.ts
Due: none

feat(frontend): update API client and regenerate types
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
Due: none

chore(api): regenerate OpenAPI specification
  api/openapi.json
Due: none

chore(deps): add pgvector and update pytest markers
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

docs(changelog): document semantic tool selection feature
  CHANGELOG.md
Due: check-internal-links

docs: create AGENTS.md for OpenAI Codex compatibility
  AGENTS.md
Due: none

docs(claude): update metrics and model to Opus 4.5
  .claude/CLAUDE.md
  .claude/QUICK_REFERENCE.md
  .claude/README.md
  .claude/SETTINGS.md
  .claude/context/pytest-markers.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .github/CLAUDE.md
Due: check-internal-links

fix(alembic): prevent duplicate PostgreSQL enum type creation
  .ai/README.md
  alembic/versions/d0e1f2g3h4i5_add_execution_plans_table.py
Due: check-banned-imports

fix(storage): add user_id to in-memory message creation
  src/mcp_server_langgraph/storage/memory.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(api): add message deduplication and history loading to chat
  src/mcp_server_langgraph/api/v1/chat.py
  tests/unit/api/v1/test_chat_message_persistence.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): enhance InlinePlanCard with generation support
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.planCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.tsx
Due: none

docs(context): implement context-efficiency optimization
  .ai/CORE.md
  .ai/README.md
  .claude/CLAUDE.md
  .claude/README.md
  .claude/commands/code-review.md
  .claude/commands/coverage-trend.md
  .claude/commands/explore-codebase.md
  .claude/commands/fix-issue.md
  .claude/commands/knowledge-search.md
  .claude/commands/lint.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
  .claude/commands/test-failure-analysis.md
  .claude/context/testing-patterns.md
  .claude/memory/lint-workflow.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .claude/memory/python-environment-usage.md
  .claude/memory/task-spawn-error-prevention-strategy.md
  .claude/memory/validation-strategy.md
  .cursorrules
  .github/CLAUDE.md
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  docs-internal/PHASE_2_HOOK_REBALANCING_PLAN.md
  docs-internal/TECHNICAL_DEBT.md
  scripts/dev/update_script_path_references.py
Due: check-banned-imports, check-internal-links, semgrep-security-scan

feat(api): add idempotency guard for chat completions
  src/mcp_server_langgraph/api/v1/idempotency.py
  tests/unit/api/v1/test_idempotency_edge_cases.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): integrate idempotency into chat endpoints
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/core/config/_settings.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(storage): add PostgreSQL persistence for execution plans
  alembic/versions/b8c9d0e1f2a3_add_execution_plan_user_columns.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/repositories/execution_plan.py
  src/mcp_server_langgraph/repositories/plan_template.py
  src/mcp_server_langgraph/repositories/postgres_execution_plan.py
  src/mcp_server_langgraph/repositories/postgres_plan_template.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(services): add plan embedding and persistence services
  src/mcp_server_langgraph/services/plan_embedding_service.py
  src/mcp_server_langgraph/services/plan_persistence_service.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(compliance): integrate execution plans with GDPR services
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/core/constants.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(integration): add execution plan storage tests
  docker/postgres/init-test-databases.sh
  tests/integration/repositories/test_postgres_execution_plan_repository.py
  tests/integration/repositories/test_postgres_plan_template_repository.py
  tests/integration/storage/test_execution_plan_schema.py
  tests/integration/storage/test_pgvector_extension.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(claude): update slash commands and add AI CLI patterns
  .claude/commands/README.md
  .claude/commands/plan-status.md
  .claude/memory/ai-cli-tool-patterns.md
Due: none

feat(repositories): persist embeddings via raw SQL for pgvector
  src/mcp_server_langgraph/repositories/postgres_execution_plan.py
  src/mcp_server_langgraph/repositories/postgres_plan_template.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor(services): use shared execution_plan_to_model mapper
  src/mcp_server_langgraph/services/plan_persistence_service.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(infrastructure): wire PlanEmbeddingService in app factory
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/services/plan_embedding_service.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(models): allow nullable description in PlanTemplate
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/plan_templates.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/repositories/plan_template.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(gdpr): add email parameter for legacy template deletion
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(commands): add /troubleshoot triple-AI diagnostic command
  .claude/commands/troubleshoot.md
Due: none

docs(commands): update README with /troubleshoot command
  .claude/commands/README.md
Due: none

feat(commands): upgrade /plan-review, /plan-status, /code-review to triple-AI pattern
  .claude/commands/code-review.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
Due: none

fix(models): preserve NULL semantics for tools_needed across layers (v35.0)
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/serializers.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/repositories/postgres_execution_plan.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(api): restore router authority for tool_preference (v35.0)
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/core/prompts/orchestration_router_prompt.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(models): update tests for v35.0 NULL semantics
  tests/unit/core/models/test_execution_plan.py
  tests/unit/core/test_orchestration_router_prompt.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(agents): add RouterOutput NULL semantics tests (v35.0)
  tests/unit/agents/test_router_output_null_semantics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(devtools): add LangGraph execution trace persistence (Phase 4)
  alembic/versions/d1e2f3g4h5i6_add_langgraph_execution_traces.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/bootstrap/context_graph.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/repositories/langgraph_execution_trace.py
  src/mcp_server_langgraph/storage/models.py
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.ts
  src/mcp_server_langgraph/websocket/handlers/devtools.py
  tests/unit/database/test_langgraph_execution_trace_models.py
  tests/unit/repositories/test_langgraph_execution_trace_repository.py
  tests/unit/storage/test_langgraph_execution_trace_pydantic.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(commands): add intensity levels to Multi-AI slash commands
  .claude/commands/code-review.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
  .claude/commands/troubleshoot.md
Due: none

chore(scripts): add AI config verification and sync check scripts
  scripts/sync-ai-config.sh
  scripts/verify-ai-config.sh
Due: none

docs(ai-config): apply Vercel AGENTS.md best practices
  .ai/CORE.md
  .claude/CLAUDE.md
  .cursorrules
  .github/copilot-instructions.md
  AGENTS.md
Due: check-internal-links

feat(frontend): add test cleanup fix script with security hardening
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/fix-test-cleanup.ts
Due: none
