Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false

run-unit-tests:
  name: Run Unit Tests (focused suite - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest --testmon-noselect -n auto -m "unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

run-smoke-tests:
  name: Run Smoke Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/smoke/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs smoke tests to validate critical paths.
  
  
    Stops on first failure (-x) for faster feedback.
  
  ...

run-api-tests:
  name: Run API Endpoint Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m "api and unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs API endpoint tests to match CI.
  
  
  ...

run-mcp-server-tests:
  name: Run MCP Server Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/unit/test_mcp_stdio_server.py -m "not llm" -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs MCP protocol server tests to match CI.
  
  
  ...

run-property-tests:
  name: Run Property-Based Tests (dev profile - 25 examples)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m property tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/check_test_sleep_duration.py
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

fix(tests): add spec to GDPR and API key manager AsyncMock instances
  tests/integration/test_gdpr.py
  tests/test_api_key_manager.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add spec to Redis AsyncMock in API key performance tests
  tests/integration/security/test_api_key_performance_monitoring.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add spec to LLMFactory AsyncMock in checkpointing tests
  tests/integration/test_distributed_checkpointing.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add spec to OpenFgaClient AsyncMock in OpenFGA integration tests
  tests/integration/test_openfga_client.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add spec to asyncpg.Connection AsyncMock in database health checks
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add spec to httpx AsyncMock in search tools tests
  tests/unit/test_search_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add noqa to generic AsyncMock in pytest-xdist isolation tests
  tests/regression/test_pytest_xdist_isolation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(types): remove 39 unused type ignore comments (139→105 errors)
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/patterns/hierarchical.py
  src/mcp_server_langgraph/patterns/supervisor.py
  src/mcp_server_langgraph/patterns/swarm.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/secrets/manager.py
  src/mcp_server_langgraph/tools/tool_discovery.py
  src/mcp_server_langgraph/utils/response_optimizer.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-api-schemas, validate-minimum-coverage

refactor(types): add type ignores for 78 untyped decorators (105→27 errors)
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/error_handlers.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/api/version.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/presets/quickstart.py
  src/mcp_server_langgraph/tools/calculator_tools.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  src/mcp_server_langgraph/tools/search_tools.py
  src/mcp_server_langgraph/tools/tool_discovery.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-api-schemas, validate-minimum-coverage

refactor(types): add type ignores for 5 third-party subclasses (27→22 errors)
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-minimum-coverage

docs(mypy): add Phase 5 progress report (139→22 errors, 84% reduction)
  docs-internal/MYPY_PHASE5_PROGRESS_REPORT.md
Due: validate-documentation-integrity, validate-documentation-structure

docs(contributing): document CI_PARITY mode for full integration testing
  CONTRIBUTING.md
Due: validate-documentation-integrity, validate-documentation-structure

fix(tests): add OTEL shutdown to prevent thread leaks and memory bloat
  tests/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

docs(session): add comprehensive session summary for 2025-11-17
  docs-internal/SESSION_SUMMARY_2025-11-17.md
Due: validate-documentation-integrity, validate-documentation-structure

docs(adr): fix ADR-0056 duplicate and navigation mismatches
  adr/adr-0060-database-architecture-and-naming-convention.md
  docs/architecture/adr-0060-database-architecture-and-naming-convention.mdx
  docs/docs.json
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index

chore(docs,validation): fix documentation organization and pre-commit warnings
  deployments/disaster-recovery/gcp-dr-automation.sh
  docs-internal/SESSION_2_COMPLETION_SUMMARY.md
  docs-internal/SESSION_2_HELM_K8S_ACTION_PLAN.md
  docs-internal/SESSION_2_INDEX.md
  docs-internal/SESSION_2_QUICK_REFERENCE.md
  scripts/validate_test_ids.py
Due: check-banned-imports, validate-documentation-integrity, validate-documentation-structure

chore(docs,validation): fix documentation organization and pre-commit warnings (#108)
  deployments/disaster-recovery/gcp-dr-automation.sh
  docs-internal/SESSION_2_COMPLETION_SUMMARY.md
  docs-internal/SESSION_2_HELM_K8S_ACTION_PLAN.md
  docs-internal/SESSION_2_INDEX.md
  docs-internal/SESSION_2_QUICK_REFERENCE.md
  scripts/validate_test_ids.py
Due: check-banned-imports, validate-documentation-integrity, validate-documentation-structure

fix(tests): comprehensive test suite fixes - 63 tests resolved
  src/mcp_server_langgraph/core/config.py
  tests/integration/security/test_network_mode_transparency.py
  tests/integration/test_gdpr.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/unit/documentation/test_frontmatter_validator.py
  tests/unit/test_search_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs: update ADR count from 58 to 59
  README.md
  docs/architecture/overview.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

fix(tests): comprehensive test suite fixes - 63 tests resolved
  README.md
  docs/architecture/overview.mdx
  src/mcp_server_langgraph/core/config.py
  tests/integration/security/test_network_mode_transparency.py
  tests/integration/test_gdpr.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/unit/documentation/test_frontmatter_validator.py
  tests/unit/test_search_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): resolve 4 CI workflow failures from commit 1404e46
  .github/CONTRIBUTING.md
  docs/deployment/kubernetes/gke.mdx
  docs/guides/local-models.mdx
  docs/references/documentation-authoring-guide.mdx
  docs/references/icon-selection-guide.mdx
  pyproject.toml
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/health/test_database_validation_integration.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): resolve 8 CI workflow failures from commit 0312040
  docs/deployment/kubernetes/gke.mdx
  pyproject.toml
  tests/meta/test_hook_sync_validation.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(integration-tests): fix datetime type mismatch and migration script permissions
  migrations/000_init_databases.sh
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-minimum-coverage

fix(ci): resolve 3 deployment validation failures after rebase
  .github/workflows/validate-deployments.yaml
  docker/Dockerfile.test
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(ci): improve test infrastructure reliability and connection handling
  .github/workflows/integration-tests.yaml
  docker-compose.test.yml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-docker-compose-health-checks, validate-workflow-test-deps

fix(ci): resolve three CI validation failures
  scripts/validate_pre_push_hook.py
  tests/fixtures/api_fixtures.py
  tests/integration/health/test_database_validation_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(docker): use bash explicitly for Qdrant health check
  docker-compose.test.yml
Due: validate-docker-compose-health-checks

fix(tests): rename archived test to prevent pytest discovery
  scripts/archive/completed/archived_test_fix_closing_fence_tags.py
Due: check-banned-imports

fix(ci): resolve 2 critical CI failures after rebase onto 03120402
  .github/workflows/validate-deployments.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(tests): correct pytest section header for pytest 8.x compatibility
  pyproject.toml
Due: uv-lock-check, run-unit-tests, validate-pytest-config, validate-pytest-markers, validate-test-dependencies, validate-minimum-coverage

fix(ci,tests): resolve deployment validation failures and pytest 8.x compatibility (#110)
  .github/workflows/integration-tests.yaml
  .github/workflows/validate-deployments.yaml
  docker-compose.test.yml
  docker/Dockerfile.test
  migrations/000_init_databases.sh
  pyproject.toml
  scripts/archive/completed/archived_test_fix_closing_fence_tags.py
  scripts/validate_pre_push_hook.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  tests/fixtures/api_fixtures.py
  tests/integration/health/test_database_validation_integration.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

feat(tests): create shared validation library for test quality enforcement
  tests/scripts/test_memory_safety_validator.py
  tests/validation_lib/__init__.py
  tests/validation_lib/memory_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat(tests): complete validation library - extract test_ids and async_mocks validators
  tests/scripts/test_async_mocks_validator.py
  tests/scripts/test_test_ids_validator.py
  tests/validation_lib/async_mocks.py
  tests/validation_lib/test_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(scripts): convert validation scripts to thin wrappers around shared library
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/validate_test_ids.py
Due: check-banned-imports

feat(tests): add validator consistency tests and fix import paths
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/validate_test_ids.py
  tests/meta/test_validator_consistency.py
  tests/validation_lib/__init__.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(lint): resolve all remaining Ruff lint violations
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/error_handlers.py
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/builder/importer/ast_parser.py
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  src/mcp_server_langgraph/builder/importer/importer.py
  src/mcp_server_langgraph/builder/workflow.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/compliance/soc2/evidence.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/execution/code_validator.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/execution/kubernetes_sandbox.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/presets/quickstart.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/schedulers/compliance.py
  src/mcp_server_langgraph/scim/schema.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-dependency-injection, validate-api-schemas, validate-minimum-coverage

fix(validation,docs): support both Optional[] and | None syntax, update ADR badge
  .githooks/pre-commit-dependency-validation
Due: none

fix(lint): exclude archived scripts from Ruff validation
  .pre-commit-config.yaml
Due: none

fix(exceptions): add MCPServerException alias for backward compatibility
  src/mcp_server_langgraph/core/exceptions.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-minimum-coverage

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-unit-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  run-smoke-tests: any of: ^(src/.*\.py|tests/smoke/.*\.py)$
  run-api-tests: any of: ^(src/.*\.py|tests/api/.*\.py)$
  run-mcp-server-tests: any of: ^(src/.*\.py|tests/unit/test_mcp_stdio_server\.py)$
  run-property-tests: any of: ^(src/.*\.py|tests/.*\.py)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
