Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-test-collection: any of: ^tests/.*\.py$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-async-mock-usage: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$

docs: add comprehensive CLI tool requirements and setup guide
  docs/DEVELOPER_SETUP.md
Due: validate-mdx-extensions, validate-file-naming-conventions

test(meta): update fixture to include shared Makefile targets
  tests/meta/test_makefile_prepush_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

refactor(validation): comprehensive validation flow fixes and modern best practices
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Makefile
  scripts/run_pre_push_tests.py
  tests/meta/test_run_pre_push_tests.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(validation): add comprehensive CI_PARITY Docker validation tests
  scripts/run_pre_push_tests.py
  tests/meta/test_run_pre_push_tests.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

refactor(makefile): rename misleading validation target to match implementation
  Makefile
Due: none

refactor(scripts): standardize Python environment usage with uv run
  .github/workflows/local-preflight-check.yaml
  scripts/dependency-audit.sh
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

docs: update validation documentation to reflect testmon removal
  README.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_SUMMARY.md
Due: none

docs: add comprehensive validation flow remediation progress report
  docs-internal/VALIDATION_FLOW_REMEDIATION_PROGRESS.md
Due: none

test: fix meta tests after Makefile target refactoring
  docs-internal/PHASE_2_HOOK_REBALANCING_PLAN.md
  docs-internal/VALIDATION_FLOW_REMEDIATION_FINAL_SUMMARY.md
  tests/meta/test_local_ci_parity.py
  tests/meta/test_validate_prepush_efficiency.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

feat(profiling): add hook performance profiling script (Phase 2.1)
  scripts/profiling/profile_hooks.py
  tests/meta/test_hook_profiler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

perf(profiling): complete Phase 2.2 - baseline hook performance metrics
  docs-internal/profiling/hooks_performance.csv
  docs-internal/profiling/hooks_performance.json
  docs-internal/profiling/hooks_performance.md
Due: none

perf(hooks): move 3 heavy hooks to pre-push stage (Phase 2.3b)
  .pre-commit-config.yaml
Due: none

test: verify fast commit performance
  scripts/profiling/profile_hooks.py
Due: check-banned-imports

refactor(scripts): standardize Python environment usage with uv run
  scripts/workflow/update-context-files.py
Due: check-banned-imports

perf(hooks): enable dual-stage dependency validation
  .pre-commit-config.yaml
Due: none

perf(hooks): remove redundant pre-commit execution for validation hooks
  .pre-commit-config.yaml
Due: none

feat(scripts): add automated script inventory generator (Phase 5.1)
  scripts/README.md
  scripts/SCRIPT_INVENTORY.md
  scripts/generate_script_inventory.py
Due: check-banned-imports

chore(scripts): complete script archival and documentation (Phase 5.2)
  scripts/SCRIPT_INVENTORY.md
  scripts/archive/README.md
  scripts/archive/completed/add_missing_frontmatter.py
  scripts/archive/completed/add_seo_fields.py
Due: check-banned-imports

refactor(scripts): consolidate development utilities into dev/
  scripts/dev/README.md
  scripts/dev/generate_clients.sh
  scripts/dev/generate_openapi.py
  scripts/dev/update_documentation.py
  scripts/dev/update_imports.py
  scripts/development/README.md
Due: check-banned-imports

test: add comprehensive tests for ADR sync validator (80%+ coverage)
  tests/unit/validators/test_adr_sync_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix: update imports after validator directory consolidation
  .pre-commit-config.yaml
  scripts/validators/validate_fast.py
  scripts/validators/validate_test_ids.py
  tests/meta/test_validator_consistency.py
  tests/scripts/test_test_ids_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

feat(workflows): migrate workflows to setup-python-deps composite action (Phase 5.5.1 - partial)
  .github/workflows/ci.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/local-preflight-check.yaml
  .github/workflows/security-validation.yml
  .github/workflows/validate-k8s-configs.yml
  docs-internal/PYTHON_UV_SETUP_MIGRATION.md
  docs-internal/WORKFLOW_DUPLICATION_AUDIT.md
  scripts/dev/audit_workflow_duplication.py
  scripts/dev/find_manual_python_uv_setup.py
  scripts/dev/migrate_to_composite_action.py
Due: check-banned-imports, actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

feat(workflows): migrate 3 more workflows to setup-python-deps composite action
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/release.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

refactor(workflows): migrate docs-validation and performance-regression to setup-python-deps
  .github/workflows/docs-validation.yaml
  .github/workflows/performance-regression.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

refactor(workflows): complete migration to setup-python-deps composite action
  .github/workflows/ci.yaml
  .github/workflows/weekly-reports.yaml
  docs-internal/PYTHON_UV_SETUP_MIGRATION.md
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix: resolve import errors after validator consolidation
  scripts/validators/validate_async_fixture_scope.py
  tests/unit/test_gke_autopilot_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

feat(actions): add setup-docker-buildx composite action
  .github/actions/setup-docker-buildx/README.md
  .github/actions/setup-docker-buildx/action.yaml
Due: none

refactor(workflows): migrate 4 workflows to setup-docker-buildx composite action
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/release.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

docs: add comprehensive workflow consolidation impact report (Phase 6.3)
  docs-internal/WORKFLOW_CONSOLIDATION_REPORT.md
Due: none

docs(changelog): document composite action consolidation work (Phase 6.2)
  CHANGELOG.md
Due: none

feat(actions): add setup-gcp-auth composite action (Phase 5.5.3)
  .github/actions/setup-gcp-auth/README.md
  .github/actions/setup-gcp-auth/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/gcp-drift-detection.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

docs: update documentation for GCP auth consolidation (Phase 5.5.3.4)
  CHANGELOG.md
  docs-internal/WORKFLOW_CONSOLIDATION_REPORT.md
Due: none

fix(ci): resolve 11 failing CI checks for PR #121
  .github/actions/setup-python-deps/action.yml
  .github/workflows/smoke-tests.yml
  docs/developer-setup.mdx
Due: actionlint-workflow-validation, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(tests): add profile_hooks to local module exclusion list
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): pin pytest to <9.0 to resolve regression test failure
  .github/workflows/validate-k8s-configs.yml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

refactor(ci): migrate validate-k8s-configs to use composite action
  .github/workflows/validate-k8s-configs.yml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(ci): update script paths and test naming validator
  .github/workflows/ci.yaml
  tests/meta/test_local_ci_parity.py
  tests/unit/core/test_cache_isolation.py
  tests/validation_lib/naming.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(docs): update 33 script path references after consolidation
  .claude/memory/pre-commit-hooks-catalog.md
  .github/CLAUDE.md
  .github/CONTRIBUTING.md
  .github/copilot-instructions.md
  .github/workflows/docs-validation.yaml
  CONTRIBUTING.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_SUMMARY.md
  docs-internal/HOOKS_COMPLETE_AUDIT_SUMMARY.md
  docs-internal/VALIDATION_IMPLEMENTATION_SUMMARY.md
  docs-internal/VALIDATION_INFRASTRUCTURE.md
  scripts/dev/update_script_path_references.py
Due: check-banned-imports, actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(tests): add xdist markers to network mode logic tests
  tests/unit/execution/test_network_mode_logic.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids
