Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/validation/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run python scripts/validation/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run python scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run python scripts/validation/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run python scripts/validation/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

docs(dev): document remaining xdist marker work + automation
  scripts/dev/REMAINING_XDIST_WORK.md
  scripts/dev/add_xdist_markers_bulk.py
  tests/meta/test_integration_script_args.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

refactor(docs): move REMAINING_XDIST_WORK.md to docs-internal/
  docs-internal/REMAINING_XDIST_WORK.md
Due: none

fix: correct module import paths for validators
  .github/actions/setup-python-deps/action.yml
  .github/workflows/docs-validation.yaml
  .github/workflows/security-scan.yaml
  docs/development/setup.mdx
  docs/docs.json
  scripts/validators/validate_test_ids.py
  tests/integration/regression/test_pod_deployment_regression.py
  tests/meta/test_validator_consistency.py
  tests/regression/test_uv_lockfile_sync.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix: add xdist markers to meta test classes (5/10 complete)
  tests/meta/test_integration_script_args.py
  tests/meta/test_precommit_cross_platform.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix: complete xdist markers for all 10 meta test classes
  tests/meta/test_validate_prepush_efficiency.py
  tests/meta/test_validation_optimization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix: add xdist markers to unit test files using bulk tool
  tests/unit/core/test_cache_isolation.py
  tests/unit/execution/test_network_mode_logic.py
  tests/unit/storage/test_conversation_store_async.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

Revert "fix: add xdist markers to unit test files using bulk tool"
  tests/unit/core/test_cache_isolation.py
  tests/unit/execution/test_network_mode_logic.py
  tests/unit/storage/test_conversation_store_async.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix: add unbuffered IO to pre-push hooks and fix xdist markers script
  .pre-commit-config.yaml
  scripts/dev/add_xdist_markers_bulk.py
  scripts/run_pre_push_tests.py
Due: check-banned-imports

fix(ci): add PYTHONUNBUFFERED=1 to prevent BlockingIOError in workflows
  .github/workflows/ci.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/quality-tests.yaml
  .pre-commit-config.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(ci): resolve 6 failing CI checks for PR #121
  .github/workflows/e2e-tests.yaml
  .github/workflows/security-scan.yaml
  .pre-commit-config.yaml
  tests/e2e/keycloak-test-realm.json
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_precommit_docker_image_validation.py
  tests/meta/test_pytest_xdist_enforcement.py
  tests/meta/test_sleep_duration_linter.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/meta/validation/test_mdx_validation.py
  tests/unit/core/test_cache_isolation.py
  tests/unit/storage/test_conversation_store_async.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix: update script paths from scripts/validation to scripts/validators
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/integration/security/test_network_mode_transparency.py
  tests/integration/test_database_connectivity_real.py
  tests/meta/test_async_mock_configuration.py
  tests/meta/test_asyncmock_validation.py
  tests/meta/test_documentation_references.py
  tests/meta/test_e2e_organization.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_scripts_governance.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/meta/test_validation_optimization.py
  tests/meta/test_validator_consistency.py
  tests/meta/validation/test_link_checker.py
  tests/regression/test_precommit_hook_dependencies.py
  tests/unit/test_pytest_marker_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): resolve 12 failing tests across meta, integration, and unit suites
  docs/development/setup.mdx
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_dependencies_wiring.py
  tests/integration/test_gdpr_storage_initialization.py
  tests/integration/test_retry_integration_simple.py
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_hook_profiler.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_pytestmark_syntax_regression.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/regression/test_dev_dependencies.py
  tests/unit/execution/test_network_mode_logic.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(hooks): add quiet mode to pre-push tests to prevent BlockingIOError
  scripts/run_pre_push_tests.py
Due: check-banned-imports

fix(ci): correct pytest marker filter for meta tests and remove --fail-on-warn
  .github/workflows/ci.yaml
  .github/workflows/deployment-validation.yml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(e2e): use Docker internal network for Keycloak in CI
  docker-compose.test.yml
Due: validate-docker-compose-health-checks

fix(tests): mark LLM fallback tests and fix codex commit search
  tests/meta/test_codex_regression_prevention.py
  tests/unit/test_llm_fallback_kwargs.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): remove @pytest.mark.asyncio from sync test class
  tests/integration/test_app_startup_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(e2e): use KEYCLOAK_SERVER_URL instead of KEYCLOAK_URL in docker-compose
  docker-compose.test.yml
Due: validate-docker-compose-health-checks

fix(tests): fix timestamp format, cleanup patterns, and kubectl connectivity
  tests/fixtures/tool_fixtures.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/deployment/test_dns_failover_verification.py
  tests/integration/test_postgres_storage.py
  tests/meta/test_hardcoded_test_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): resolve CI test failures for bearer scheme and settings reload
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/smoke/test_ci_startup_smoke.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): resolve postgres storage test failures
  tests/integration/test_postgres_storage.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): resolve CI test failures for bearer scheme and settings reload
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  adr/README.md
  scripts/test-integration.sh
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/e2e/real_clients.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_postgres_storage.py
  tests/meta/test_local_ci_parity.py
  tests/meta/validation/test_gitleaks_config.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-adr-sync, validate-adr-index, validate-github-workflows-comprehensive, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(mypy): resolve all blocking type errors for pre-push validation
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/mcp/server_stdio.py
Due: check-banned-imports, run-pre-push-tests, validate-dependency-injection

fix(ci): resolve PR #121 failing checks and pytest-xdist isolation issues
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-deployments.yaml
  .github/workflows/validate-kubernetes.yaml
  adr/README.md
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  scripts/validators/validate_pytest_fixtures.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/integrations/alerting.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/patterns/swarm.py
  src/mcp_server_langgraph/tools/search_tools.py
  src/mcp_server_langgraph/utils/response_optimizer.py
  src/mcp_server_langgraph/utils/retry.py
  tests/e2e/keycloak-test-realm.json
  tests/unit/test_llm_fallback_kwargs.py
  tests/unit/test_user_provider_verify_password.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, validate-github-workflows-comprehensive, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(mcp): add comprehensive unit tests for server_streamable.py
  tests/unit/mcp/test_server_streamable_core.py
  tests/unit/mcp/test_server_streamable_handlers.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(agent): add unit tests for core/agent.py helper functions
  tests/unit/core/test_agent_core.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(auth): add unit tests for auth middleware helpers and models
  tests/unit/auth/test_middleware_helpers.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(auth): add SessionData Pydantic model validation tests
  tests/unit/auth/test_session_data_model.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(auth): add comprehensive InMemorySessionStore unit tests
  scripts/run_pre_push_tests.py
  tests/unit/auth/test_session_store.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(core): add unit tests for security utility functions
  scripts/validators/validate_ids.py
  tests/unit/core/test_security_utils.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(tools): add unit tests for calculator tools
  tests/unit/tools/test_calculator_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(docs): correct broken link to ADR sync script
  tests/unit/tools/test_calculator_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(core): add unit tests for URL utils and cache configuration
  tests/unit/core/test_cache_utils.py
  tests/unit/core/test_url_utils.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

test(core): add unit tests for time provider and feature flags
  tests/unit/core/test_feature_flags.py
  tests/unit/core/test_time_provider.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): restore accidentally deleted calculator tools tests
  tests/unit/tools/test_calculator_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): remove duplicate time provider test file
  tests/unit/core/test_time_provider.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): remove duplicate calculator_tools test file
  tests/unit/tools/test_calculator_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): correct Docker mock patches to target module namespace
  tests/unit/execution/test_docker_sandbox_unit.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): fix flaky allowlist network mode test in xdist
  tests/unit/execution/test_docker_sandbox_unit.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(auth): add AuthRequestMiddleware to MCP server and fix Keycloak token extraction
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/e2e/test_full_user_journey.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-test-collection: any of: ^tests/.*\.py$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-async-mock-usage: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
