Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

feat(websocket): add token expiration handling (ADR-0074)
  docs-internal/ADR-0074-WEBSOCKET-TOKEN-EXPIRATION.md
  src/mcp_server_langgraph/websocket/token_validation.py
  tests/integration/websocket/test_websocket_token_expiration.py
  tests/unit/websocket_pkg/test_token_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add authentication utilities and cost dashboard components
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetForecastChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetForecastChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetStatusCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/BudgetStatusCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/OrganizationCostDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/OrganizationCostDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/lazy.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/lazy.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useIsChatRoute.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useIsChatRoute.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.core.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/StudioShellLayout.setup.ts
  src/mcp_server_langgraph/studio/frontend/src/test/commonMocks.ts
  src/mcp_server_langgraph/studio/frontend/src/test/testStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/testStore.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/README.md
  src/mcp_server_langgraph/studio/frontend/src/utils/authFlow.integration.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/authenticatedFetch.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/authenticatedFetch.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/intendedRoute.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/intendedRoute.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/serviceWorker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/serviceWorker.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.ts
Due: none

feat(mcp): add WebSocket namespace and collision validation
  scripts/validators/check_mcp_namespace_collision.py
  src/mcp_server_langgraph/mcp/websocket/__init__.py
  src/mcp_server_langgraph/mcp/websocket/config.py
  src/mcp_server_langgraph/mcp/websocket/connection_manager.py
  src/mcp_server_langgraph/mcp/websocket/lifecycle.py
  src/mcp_server_langgraph/mcp/websocket/metrics.py
  src/mcp_server_langgraph/mcp/websocket/rate_limiter.py
  src/mcp_server_langgraph/mcp/websocket/streaming.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

docs: update ADRs, guides, and add new integration documentation
  docs-internal/ADR-0073-DEPRECATED-COMPATIBILITY-SHIMS.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs/api-reference/authentication.mdx
  docs/api-reference/configuration.mdx
  docs/api-reference/skills.mdx
  docs/architecture/adr-0069-mcp-2025-11-25-upgrade.mdx
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/architecture/adr-0071-compile-time-graph-composition.mdx
  docs/architecture/adr-0072-bootstrap-phase-architecture.mdx
  docs/architecture/adr-0073-configuration-domain-decomposition.mdx
  docs/architecture/adr-0074-ai-suggestions-streaming-cost-tracking.mdx
  docs/architecture/adr-0075-prompt-injection-detection.mdx
  docs/architecture/adr-0076-sandpack-jsdom-27-mock.mdx
  docs/architecture/adr-0077-claude-agent-sdk-integration.mdx
  docs/architecture/adr-0078-multi-agent-orchestrator-patterns.mdx
  docs/architecture/adr-0080-llm-level-callback-system.mdx
  docs/architecture/adr-0084-studio-orchestrator-unified-ai.mdx
  docs/architecture/adr-0085-feature-flag-consolidation.mdx
  docs/deployment/operations/orchestrator-runbook.mdx
  docs/docs.json
  docs/guides/api-migration-guide.mdx
  docs/guides/claude-sdk-integration.mdx
  docs/guides/client-integration.mdx
  docs/guides/code-execution.mdx
  docs/guides/feature-flags.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/keyboard-shortcuts.mdx
  docs/guides/mcp-server.mdx
  docs/guides/multi-framework-integration.mdx
  docs/guides/push-notifications.mdx
  docs/guides/sdk-hooks.mdx
  docs/guides/security.mdx
  docs/guides/service-workers.mdx
  docs/guides/skills-marketplace.mdx
  docs/guides/studio-feature-flags.mdx
  docs/guides/tool-development.mdx
  docs/integrations/langgraph.mdx
  docs/integrations/mcp-protocol.mdx
  docs/troubleshooting/openfga-oidc-troubleshooting.mdx
Due: validate-docs, mintlify-broken-links-check, check-internal-links, check-mermaid-styling

refactor(api): consolidate routers and remove deprecated notification websocket
  src/mcp_server_langgraph/api/v1/admin.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/alert_recommendations.py
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/cost.py
  src/mcp_server_langgraph/api/v1/features.py
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/api/v1/mcp_websocket.py
  src/mcp_server_langgraph/api/v1/notification_websocket.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/config/streaming.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor: update MCP, monitoring, LLM, and WebSocket modules
  src/mcp_server_langgraph/bootstrap/websocket.py
  src/mcp_server_langgraph/llm/otel_integration.py
  src/mcp_server_langgraph/mcp/__init__.py
  src/mcp_server_langgraph/mcp/message_handler.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  src/mcp_server_langgraph/monitoring/pricing.py
  src/mcp_server_langgraph/monitoring/sla.py
  src/mcp_server_langgraph/studio/ai/artifact_name_generator.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/title_generator.py
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/exceptions.py
  src/mcp_server_langgraph/websocket/handlers/__init__.py
  src/mcp_server_langgraph/websocket/metrics.py
  src/mcp_server_langgraph/websocket/registry.py
  src/mcp_server_langgraph/websocket/types.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor(studio): update frontend components and pages
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/ConnectedCanvasPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionAuditLog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionBulkActions.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionTemplateSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useTimelinePersistence.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Project/SessionsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/WorkflowsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/SharedWorkflowsList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/SharedWorkflowsList.tsx
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/conversation/MessageBubble.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/FilesPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/OAuth2CallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
Due: none

refactor(studio): update Redux slices, router, and types
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/projectSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/workflowSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/workflowSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/artifacts.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
  src/mcp_server_langgraph/studio/frontend/src/types/workflow.ts
Due: none

fix(tests): resolve MCP namespace collision in unit tests
  scripts/validators/validate_ids.py
  tests/unit/mcp/README.md
  tests/unit/mcp/__init__.py
  tests/unit/mcp/client/__init__.py
  tests/unit/mcp/client/conftest.py
  tests/unit/mcp/test_mcp_capability_registries.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(monitoring): add budget alert and cloud storage backend tests
  tests/unit/monitoring/test_budget_alert_trigger.py
  tests/unit/monitoring/test_cloud_storage_backends.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(studio): add AI title generator and artifact name generator tests
  tests/unit/studio/ai/test_artifact_name_generator.py
  tests/unit/studio/ai/test_title_generator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(tests): remove deprecated notification websocket integration test
  tests/integration/test_notification_websocket_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(ci): update CI workflow and Grafana authentication dashboards
  .env.test
  .github/workflows/ci.yaml
  deployments/helm/mcp-server-langgraph/dashboards/authentication.json
  docker-compose.test.yml
  monitoring/grafana/dashboards/Auth/authentication.json
Due: run-pre-push-tests, actionlint-workflow-validation, trivy-helm-full-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-grafana-dashboards, validate-workflow-test-deps

fix(tests): fix lint and naming violations in test files
  tests/api/test_notification_websocket.py
  tests/integration/test_alert_push_flow.py
  tests/integration/test_push_circuit_breaker_chaos.py
  tests/unit/notifications/test_push_sender.py
  tests/unit/websocket_pkg/handlers/test_mcp_handler.py
  tests/unit/websocket_pkg/test_base.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(monitoring): update cost storage and LiteLLM callback
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(studio): update useMCPConnection hook tests
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
Due: none

test: standardize test naming and add memory safety patterns
  tests/integration/monitoring/test_budget_alert_flow.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_cost_router.py
  tests/unit/websocket_pkg/handlers/test_agent_request_handler.py
  tests/unit/websocket_pkg/test_exceptions.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_middleware.py
  tests/unit/websocket_pkg/test_registry.py
  tests/unit/websocket_pkg/test_types.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(unit): expand unit test coverage and standardize patterns
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/api/v1/test_alert_orchestrator_integration.py
  tests/unit/api/v1/test_chat_cost_tracking.py
  tests/unit/api/v1/test_features_router.py
  tests/unit/api/v1/test_mcp_aggregated_router.py
  tests/unit/api/v1/test_mcp_websocket.py
  tests/unit/api/v1/test_mcp_websocket_lifespan_integration.py
  tests/unit/api/v1/test_mcp_websocket_streaming_handler.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_enabled_flag.py
  tests/unit/api/v1/test_streaming_settings_wiring.py
  tests/unit/api/v1/test_workflow_sharing.py
  tests/unit/auth/test_jwt_utils.py
  tests/unit/bootstrap/test_storage_global_setters.py
  tests/unit/bootstrap/test_websocket_bootstrap.py
  tests/unit/core/config/test_streaming_config.py
  tests/unit/llm/test_litellm_otel_integration.py
  tests/unit/llm/test_visual_verifier.py
  tests/unit/monitoring/test_cost_storage_entity_summary.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(integration): update auth and infrastructure test fixtures
  tests/integration/auth/test_keycloak_connectivity.py
  tests/integration/conftest.py
  tests/integration/test_keycloak_oidc_healthcheck.py
  tests/integration/test_openfga_real_infrastructure.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(integration): add SLA monitoring and improve e2e tests
  tests/e2e/test_notification_websocket_e2e.py
  tests/integration/test_sla_monitoring.py
  tests/meta/test_xfail_strict_enforcement.py
  tests/meta/validation/test_adr_sync_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): correct timing in WebSocket token expiration test
  tests/unit/websocket_pkg/test_base.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(monitoring): persist organizational fields to PostgreSQL
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  tests/unit/monitoring/test_cost_tracker_persistence.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

style: apply ruff code quality improvements
  src/mcp_server_langgraph/agents/metrics.py
  src/mcp_server_langgraph/alerts/correlation.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/core/context_ranker.py
  src/mcp_server_langgraph/execution/domain_proxy.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/mcp/tool_descriptions.py
  src/mcp_server_langgraph/privacy/tokenizer.py
  src/mcp_server_langgraph/resilience/metrics.py
  src/mcp_server_langgraph/sdk/output_guardrails.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

docs(adr): update ADR index with new architecture decisions
  adr/README.md
  docs/docs.json
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links

docs: update Python version badge to 3.10+
  README.md
Due: check-internal-links

fix(studio): use window.location for auth redirect outside Router
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.ts
Due: none

style(docs): normalize quote style in MDX frontmatter
  docs/guides/dpop-enforcement.mdx
  docs/guides/feature-flags.mdx
  docs/guides/keyboard-shortcuts.mdx
  docs/guides/studio-feature-flags.mdx
Due: validate-docs, mintlify-broken-links-check, check-mermaid-styling

fix(monitoring): handle None metadata in LiteLLM callback
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  tests/unit/monitoring/test_litellm_cost_callback.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(docs): rename ADR references to INTERNAL for working documents
  CHANGELOG.md
  README.md
  deployments/monitoring/METRICS_CARDINALITY.md
  deployments/remediation/README.md
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  docs-internal/FUTURE_ENHANCEMENTS.md
  docs-internal/SKILLS_MARKETPLACE_INTERNALS.md
  docs-internal/TECHNICAL_DEBT.md
  docs-internal/archived/README.md
  packaging/README.md
  tests/integration/test_feature_flag_sync.py
  tests/meta/test_codex_findings_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): enhance WebSocket URL utilities with DEVTOOLS endpoint
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
Due: none

feat(websocket): add typed WebSocket protocol definitions
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-protocols.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-protocols.ts
  src/mcp_server_langgraph/websocket/protocols.py
  tests/unit/websocket/test_protocols.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(websocket): add DevTools handler and registry updates
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/websocket/handlers/devtools.py
  src/mcp_server_langgraph/websocket/registry.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor(studio): use centralized WebSocket URL for DevTools (Gap #1)
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.websocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.websocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/types.ts
Due: none

feat(studio): wire budget alerts WebSocket to CostPage (Gap #2)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
Due: none

refactor(studio): standardize trace WebSocket on MessageEnvelope (Gap #3)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
Due: none

feat(studio): add AI suggestions WebSocket hook
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
Due: none

feat(studio): add polling for near-real-time project updates (Gap #4)
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.tsx
Due: none

test(websocket): add parity validation scripts and contract tests
  scripts/validation/check_websocket_parity.py
  scripts/validation/generate_websocket_schemas.py
  tests/contract/test_websocket_endpoint_parity.py
  tests/e2e/test_websocket_smoke.py
  tests/meta/test_frontend_backend_api_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(websocket): add WebSocket protocol contract documentation
  docs-internal/websocket-protocol-contracts.md
  docs/schemas/websocket/ai-suggestions/context-update-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-accept-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-reject-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-request-message.json
  docs/schemas/websocket/ai-suggestions/suggestion-response-entry.json
  docs/schemas/websocket/budget-alerts/budget-alert-entry.json
  docs/schemas/websocket/budget-alerts/budget-subscribe-all-message.json
  docs/schemas/websocket/budget-alerts/budget-subscribe-entities-message.json
  docs/schemas/websocket/budget-alerts/budget-subscribed-response.json
  docs/schemas/websocket/common/websocket-error.json
  docs/schemas/websocket/devtools/console-log-entry.json
  docs/schemas/websocket/devtools/network-request-entry.json
  docs/schemas/websocket/devtools/network-update-entry.json
  docs/schemas/websocket/mcp-aggregated/mcp-server-status-entry.json
  docs/schemas/websocket/mcp-aggregated/mcp-tool-call-entry.json
  docs/schemas/websocket/protocol-version.json
  docs/schemas/websocket/traces/trace-event-entry.json
  docs/schemas/websocket/traces/trace-span-entry.json
  docs/schemas/websocket/traces/trace-subscribe-message.json
Due: validate-docs, mintlify-broken-links-check, check-internal-links
