Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

Path conditions:
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$

docs(ops): add pod failure prevention implementation summary
  docs-internal/operations/POD_FAILURE_PREVENTION_IMPLEMENTATION_SUMMARY.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

docs: update ADR count badge and reorganize documentation structure
  CI_CD_REMEDIATION_FINAL_REPORT.md
  DOCUMENTATION_VALIDATION.md
  README.md
  SECURITY.md
  adr/adr-0053-ci-cd-failure-prevention-framework.md
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docs-internal/audits/VALIDATION-REPORT.md
  docs-internal/operations/DEPLOYMENT_REMEDIATION_SUMMARY.md
  docs-internal/operations/STAGING_DEPLOYMENT_FIX_REPORT.md
  docs-internal/testing/TEST_INFRASTRUCTURE_REMEDIATION_SUMMARY.md
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  scripts/generate_adr_index.py
  tests/regression/test_documentation_structure.py
Due: check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(ci): comprehensive remediation of CI/CD workflow failures
  .pre-commit-config.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  tests/api/test_api_versioning.py
  tests/api/test_router_registration.py
  tests/deployment/pytest.ini
  tests/deployment/test_security_hardening.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/regression/test_service_principal_test_isolation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage

feat(security): complete security hardening & preventive framework
  .github/workflows/quality-tests.yaml
  .pre-commit-config.yaml
  deployments/SECURITY_REQUIREMENTS.md
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  tests/API_TESTING.md
  tests/regression/test_documentation_structure.py
Due: actionlint-workflow-validation, check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-cors-security, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(ci): comprehensive remediation of CI/CD workflow failures
  .pre-commit-config.yaml
  deployments/overlays/dev/deployment-patch.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/dev/otel-collector-patch.yaml
  deployments/overlays/dev/postgres-patch.yaml
  deployments/overlays/dev/qdrant-patch.yaml
  deployments/overlays/dev/redis-session-patch.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/production/otel-collector-patch.yaml
  deployments/overlays/production/postgres-patch.yaml
  deployments/overlays/production/qdrant-patch.yaml
  deployments/overlays/production/redis-session-patch.yaml
  deployments/overlays/staging/kustomization.yaml
  deployments/overlays/staging/otel-collector-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
  docs/guides/migration-guide.mdx
  docs/troubleshooting/overview.mdx
  pyproject.toml
Due: validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-kustomize-builds, validate-no-placeholders, validate-code-block-languages

test(gke): add comprehensive unit tests and preventive framework
  .pre-commit-config.yaml
  docs/deployment/gke-autopilot-resource-constraints.md
  tests/unit/test_gke_autopilot_validator.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(preventive): complete preventive framework for CI/CD stability
  .github/workflows/deploy-staging-gke.yaml
  .pre-commit-config.yaml
  scripts/calculate_gke_resources.py
  tests/unit/test_pytest_marker_validator.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage

fix(ci): comprehensive remediation of CI/CD workflow failures
  .github/workflows/deployment-validation.yml
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  deployments/README.md
  deployments/helm/mcp-server-langgraph/templates/_helpers.tpl
  deployments/helm/mcp-server-langgraph/templates/deployment.yaml
  deployments/overlays/staging-gke/serviceaccount-keycloak.yaml
  deployments/overlays/staging-gke/serviceaccount-openfga.yaml
  scripts/validate_serviceaccount_names.py
  tests/deployment/test_helm_templates.py
Due: actionlint-workflow-validation, check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-deployment-secrets, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-service-accounts, helm-lint, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(docs): implement TDD-based documentation validation framework
  .github/workflows/docs-validation.yaml
  .pre-commit-config.yaml
  docs-internal/DOCUMENTATION_AUDIT_REPORT.md
  docs-internal/DOCUMENTATION_VALIDATION_GUIDE.md
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/docs.json
  docs/security/TRY_EXCEPT_PASS_ANALYSIS.mdx
  docs/workflows/SECRETS.mdx
  scripts/validate_serviceaccount_names.py
  scripts/validators/__init__.py
  scripts/validators/frontmatter_validator.py
  scripts/validators/link_validator.py
  scripts/validators/mdx_extension_validator.py
  scripts/validators/navigation_validator.py
  scripts/validators/validate_docs.py
  tests/unit/documentation/__init__.py
  tests/unit/documentation/test_frontmatter_validator.py
  tests/unit/documentation/test_mdx_extension_validator.py
  tests/unit/documentation/test_navigation_validator.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

test(ci): add comprehensive ServiceAccount naming regression tests
  tests/deployment/test_serviceaccount_naming_regression.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(docs): add converted MDX files to navigation and exclude .mintlify/ from validation
  deployments/overlays/staging-gke/deployment-redis-url-json-patch.yaml
  deployments/overlays/staging-gke/external-secrets.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docs/docs.json
  scripts/validators/mdx_extension_validator.py
Due: validate-documentation-quality, validate-documentation-integrity, validate-kustomize-builds

docs(validators): add comprehensive README for validators directory
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  scripts/validators/README.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-kustomize-builds, validate-code-block-languages

fix(staging): resolve pod crashes - add missing ConfigMap keys and fix Keycloak readOnlyRootFilesystem
  deployments/overlays/staging-gke/configmap-patch.yaml
Due: validate-kustomize-builds

docs(kubernetes): add comprehensive Keycloak readOnlyRootFilesystem implementation plan
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

docs(validation): add completion report documenting full framework implementation
  docs-internal/DOCUMENTATION_VALIDATION_COMPLETE.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

docs(kubernetes): add comprehensive pod crash resolution report for 2025-11-12 incident
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(ci): replace bc with awk in workflow health dashboard + improve type safety
  .github/workflows/workflow-health-dashboard.yaml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/test_workflow_health_dashboard_bc_fix.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage

feat(type-safety): Phase 3 type safety improvements - reduce MyPy errors by 15%
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
Due: none

fix(type-safety): fix remaining type errors in monitoring modules
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
Due: none

feat(ci): eliminate CI surprises with comprehensive local/CI parity validation
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  ACTION_PLAN_NEXT_STEPS.md
  CONTRIBUTING.md
  FINAL_REMEDIATION_REPORT.md
  Makefile
  TEST_FIXES_SUMMARY.md
  pyproject.toml
  scripts/fix_code_block_languages.py
  scripts/validate_pre_push_hook.py
  tests/conftest.py
  tests/meta/test_local_ci_parity.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests,tdd): comprehensive test suite remediation with TDD validation
  tests/meta/test_fixture_validation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(hooks): reorganize pre-commit/pre-push for speed and CI parity
  .github/CLAUDE.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  TESTING.md
  docs-internal/HOOK_CATEGORIZATION.md
  docs-internal/PRE_COMMIT_PRE_PUSH_REORGANIZATION.md
  scripts/measure_hook_performance.py
  scripts/validate_pre_push_hook.py
  tests/api/test_api_keys_endpoints.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

docs(hooks): add final audit reports and fix code block language tags
  CONTRIBUTING.md
  TESTING.md
  docs-internal/HOOK_AUDIT_FINAL_REPORT.md
  docs-internal/HOOK_REORGANIZATION_SUMMARY.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(ci): resolve pre-existing Quality Tests and CI/CD Pipeline failures
  .pre-commit-config.yaml
  tests/api/test_api_keys_endpoints.py
  tests/regression/test_precommit_hook_dependencies.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(docs): enhance /docs-audit with comprehensive Mintlify CLI validation
  .claude/commands/docs-audit.md
  Makefile
  docs-internal/VALIDATION_QUICKSTART.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(tests,validation): complete pre-commit hook and marker validation fixes
  scripts/validate_pytest_markers.py
  tests/api/test_router_registration.py
  tests/regression/test_precommit_hook_dependencies.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

docs(hooks): add complete audit summary with all fixes and recommendations
  docs-internal/HOOKS_COMPLETE_AUDIT_SUMMARY.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(pre-push): exclude contract tests from unit test phase
  scripts/validate_pre_push_hook.py
Due: none

feat(docs): comprehensive documentation audit with TDD validators
  .pre-commit-config.yaml
  docs-internal/audits/DOCUMENTATION_AUDIT_FINAL_REPORT_20251113.md
  docs-internal/audits/todo-fixme-audit-20251113.txt
  scripts/validators/adr_sync_validator.py
  scripts/validators/todo_audit.py
  tests/unit/documentation/test_todo_audit.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): add CLI tool guards and fix f-string escaping
  tests/deployment/test_helm_templates.py
  tests/regression/test_pod_deployment_regression.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(ci): align pre-push hook with CI/CD workflows to eliminate local/CI divergence
  CONTRIBUTING.md
  Makefile
  docs/architecture/overview.mdx
  docs/guides/migration-guide.mdx
  docs/troubleshooting/overview.mdx
  scripts/validate_pre_push_hook.py
  tests/meta/test_local_ci_parity.py
Due: check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(ci): add pytest-xdist enforcement meta-tests to pre-push hook and improve validator
  Makefile
  scripts/validate_pre_push_hook.py
Due: none

fix(tests): resolve pytest-xdist isolation bug in auth tests + add ADR-0052
  docs-internal/ADR-0052-GIT-HOOKS-CI-PARITY.md
  tests/test_auth.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): resolve pytest-xdist state pollution in auth and circuit breaker tests
  tests/test_auth.py
  tests/test_openfga_client.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve pytest-xdist isolation bug in service principals API tests
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve pytest-xdist isolation bug in API key endpoint tests
  tests/api/test_api_keys_endpoints.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve pytest-xdist fixture race condition in API endpoint tests
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(tests): add pytest-rerunfailures to handle pytest-xdist race conditions
  pyproject.toml
  uv.lock
Due: validate-pytest-config, validate-pytest-markers
