Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, check-mermaid-styling, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

Path conditions:
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  fix-mdx-syntax: any of: \.mdx$
  validate-mintlify-docs: any of: \.mdx$
  validate-docs-navigation: any of: ^(docs/.*\.mdx|docs/docs\.json)$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$

fix(ci-cd): complete Finding #1 - remove test-runner container, use host-based execution
  scripts/test-integration.sh
  tests/conftest.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

feat(testing): add xdist_group markers to 11 integration test files
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_kubernetes_health_probes.py
  tests/integration/test_pydantic_ai.py
  tests/integration/test_workflow_health_dashboard.py
  tests/integration/test_workflow_health_dashboard_bc_fix.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): replace hardcoded user IDs with worker-safe helpers in audit log tests
  tests/integration/compliance/test_postgres_audit_log_store.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(ci-cd): comprehensive OpenAI Codex findings remediation
  AGENTS.md
  deployments/overlays/production-gke/network-policy.yaml
  docker/Dockerfile
  scripts/validate_docker_image_contents.py
  tests/meta/test_fixture_validation.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_fastapi_auth_override_sanity.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-integrity, validate-documentation-structure, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, validate-network-policies, validate-docker-image-contents, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): validate and resolve OpenAI Codex integration test findings
  CHANGELOG.md
  scripts/test-integration.sh
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-code-block-languages

fix(ci): resolve Docker and manifest validation failures
  .github/workflows/validate-deployments.yaml
  docker/Dockerfile
  tests/integration/test_docker_image_assets.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-docker-image-contents, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

fix(tests): align test_codex_findings_validation with ADR-0053
  tests/meta/test_codex_findings_validation.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): resolve regression test file path references and dev dependency issues
  Makefile
  tests/helpers/__init__.py
  tests/helpers/path_helpers.py
  tests/meta/test_path_helpers.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/regression/test_service_principal_test_isolation.py
  tests/regression/test_uv_lockfile_sync.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat(claude): track .claude/settings.json in version control
  .claude/settings.json
  .gitignore
Due: validate-documentation-integrity, validate-documentation-structure

refactor(ci-cd): optimize pre-push hooks and standardize build tooling - OpenAI Codex remediation
  .pre-commit-config.yaml
  Makefile
  README.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_REPORT_2025-11-16.md
  scripts/README.md
  scripts/SCRIPT_INVENTORY.md
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-code-block-languages

refactor(validators): comprehensive validator consolidation (Phase 1)
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  docs-internal/VALIDATOR_CONSOLIDATION_PLAN_2025-11-17.md
  tests/meta/test_pytest_config_validation.py
  tests/test_documentation_integrity.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(validators): consolidate GitHub workflow validators (Phase 2)
  .pre-commit-config.yaml
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  scripts/validators/validate_github_workflows_comprehensive.py
  tests/meta/test_consolidated_workflow_validator.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs(validation): complete validator consolidation and Codex remediation documentation
  docs-internal/CODEX_FINDINGS_REMEDIATION_REPORT_2025-11-16.md
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-code-block-languages

fix(tests): optimize coverage enforcement test to skip when .coverage missing
  tests/meta/test_coverage_enforcement.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(scripts): resolve critical ShellCheck errors in shell scripts
  scripts/aws/setup-staging-infrastructure.sh
  scripts/pre-commit-mdx-lint.sh
  scripts/switch-log-exporter.sh
Due: none

fix(ci): skip Helm charts directory in Trivy security scan to prevent file-not-found errors
  .pre-commit-config.yaml
Due: none

fix(ci): fix actionlint workflow validation glob pattern expansion
  .pre-commit-config.yaml
Due: none

fix(ci): update dependency injection validation to use correct test file paths
  .githooks/pre-commit-dependency-validation
  .pre-commit-config.yaml
Due: none

fix(tests): resolve hardcoded test ID validation false positives and fix violations
  scripts/validate_test_ids.py
  tests/integration/api/test_service_principals_security.py
  tests/integration/security/test_authorization_fallback_controls.py
  tests/integration/test_data_deletion.py
  tests/integration/test_fixture_cleanup.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_keycloak_admin.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_postgres_storage.py
  tests/meta/test_id_pollution_prevention.py
  tests/unit/test_input_validation.py
  tests/unit/test_security_logging.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): eliminate false positives in test validation scripts
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/check_test_sleep_budget.py
  scripts/check_test_sleep_duration.py
  scripts/validate_test_time_bombs.py
  tests/test_cleanup_scheduler.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): eliminate false positives in test validation scripts (#99)
  scripts/check_async_mock_configuration.py
  scripts/check_async_mock_usage.py
  scripts/check_test_memory_safety.py
  scripts/check_test_sleep_budget.py
  scripts/check_test_sleep_duration.py
  scripts/validate_test_time_bombs.py
  tests/test_cleanup_scheduler.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs: enhance frontmatter validation and ensure all MDX files have complete metadata
  .claude/commands/docs-audit.md
  docs/.mintlify/BROKEN_LINKS_REPORT.md
  docs/api-reference/api-keys.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/sdk-quickstart.mdx
  docs/api-reference/service-principals.mdx
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/architecture/adr-0051-memorystore-redis-externalname-service.mdx
  docs/architecture/adr-0052-pytest-xdist-isolation-strategy.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0058-pytest-xdist-state-pollution-prevention.mdx
  docs/ci-cd/elite-features.mdx
  docs/ci-cd/local-testing.mdx
  docs/ci-cd/overview.mdx
  docs/comparisons/tco-calculator.mdx
  docs/deployment/advanced/api-gateway.mdx
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/deployment/kubernetes/multi-cloud-lessons.mdx
  docs/deployment/operations/issue-prevention.mdx
  docs/getting-started/day-1-developer.mdx
  docs/guides/container-migration.mdx
  docs/kubernetes/CONFIGMAP_BEST_PRACTICES.mdx
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
  docs/security/TRY_EXCEPT_PASS_ANALYSIS.mdx
  docs/security/remediation-guide.mdx
  docs/workflows/SECRETS.mdx
  scripts/add_missing_frontmatter.py
  scripts/validators/frontmatter_validator.py
Due: fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, check-doc-links, validate-documentation-integrity, validate-documentation-structure, check-mermaid-styling, validate-code-block-languages

fix(tests): eliminate litellm async cleanup warnings via atexit monkey-patch
  tests/conftest.py
  tests/regression/test_litellm_cleanup_warnings.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix: resolve Codex findings - P0/P1 critical infrastructure and type safety issues
  deployments/base/deployment.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  scripts/validate_test_ids.py
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/presets/quickstart.py
  tests/integration/contract/mcp_schemas.json
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_validations.py
  tests/meta/test_consolidated_workflow_validator.py
  tests/meta/test_docker_environment.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_path_helpers.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_user_provider_verify_password.py
Due: check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-deployment-secrets, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, helm-lint, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): update test expectations for worker-safe IDs and regression validation
  tests/meta/test_infrastructure_singleton.py
  tests/unit/test_security_logging.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add memory safety teardown_method to xdist_group test suites
  tests/helpers/test_async_mock_helpers.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_mcp_test_user_registration.py
  tests/unit/documentation/test_todo_audit.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): update pre-push hook test fixtures to handle git worktrees
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs(infrastructure): add comprehensive Docker health check patterns guide
  docs/infrastructure/DOCKER_HEALTHCHECK_PATTERNS.mdx
Due: fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, check-doc-links, validate-documentation-integrity, validate-documentation-structure, check-mermaid-styling, validate-code-block-languages

fix(tests): resolve all integration test failures from Codex analysis
  docker-compose.test.yml
  pyproject.toml
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_workflow_health_dashboard.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
  uv.lock
Due: uv-lock-check, check-test-sleep-duration, validate-pytest-config, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: resolve OpenAI Codex findings - comprehensive test infrastructure improvements (#102)
  deployments/base/deployment.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  docs/infrastructure/DOCKER_HEALTHCHECK_PATTERNS.mdx
  scripts/validate_test_ids.py
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/presets/quickstart.py
  tests/helpers/test_async_mock_helpers.py
  tests/integration/contract/mcp_schemas.json
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_mcp_test_user_registration.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_validations.py
  tests/meta/test_consolidated_workflow_validator.py
  tests/meta/test_docker_environment.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_infrastructure_singleton.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_path_helpers.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/unit/documentation/test_todo_audit.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_security_logging.py
  tests/unit/test_user_provider_verify_password.py
Due: check-test-sleep-duration, fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-deployment-secrets, validate-cors-security, trivy-scan-k8s-manifests, check-mermaid-styling, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, helm-lint, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): resolve all integration test failures from Codex analysis (#104)
  docker-compose.test.yml
  pyproject.toml
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_workflow_health_dashboard.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
  uv.lock
Due: uv-lock-check, check-test-sleep-duration, validate-pytest-config, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): resolve 7 critical Codex findings for CI/CD parity
  .pre-commit-config.yaml
  CONTRIBUTING.md
  HYPOTHESIS_PROFILES.md
  Makefile
  TESTING.md
  docs/package.json
  pyproject.toml
  scripts/run_pre_push_tests.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_pre_push_orchestrator.py
  uv.lock
Due: uv-lock-check, check-test-sleep-duration, validate-pytest-config, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): resolve PR #101 CI failures
  .pre-commit-config.yaml
  docs/deployment/kubernetes/gke.mdx
  docs/guides/local-models.mdx
  scripts/archive/completed/test_fix_closing_fence_tags.py
Due: fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, check-doc-links, validate-documentation-integrity, validate-documentation-structure, check-mermaid-styling, validate-code-block-languages
