Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, check-mermaid-styling, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  entry: bash -c 'actionlint -no-color -shellcheck= .github/workflows/*.{yml,yaml} 2>&1'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Advanced GitHub Actions workflow validation using actionlint.
  
  
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/check_test_sleep_duration.py
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-pytest-config:
  name: Validate Pytest Configuration Compatibility
  entry: uv run python scripts/validate_pytest_config.py
  language: python
  additional_dependencies: []
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Validates that pytest addopts flags match installed plugin dependencies.
  
  
  ...

fix-mdx-syntax:
  name: Fix MDX Syntax Errors (Code Block Closings)
  entry: uv run python scripts/fix_mdx_syntax.py
  language: python
  additional_dependencies: []
  args:
  - --file
  pass_filenames: true
  always_run: false
  description: 'Automatically fixes common MDX syntax errors:
  
  ...

validate-mintlify-docs:
  name: Validate Mintlify Documentation
  entry: uv run python scripts/validate_mintlify_docs.py docs
  language: python
  additional_dependencies:
  - pyyaml>=6.0.0
  - rich>=13.0.0
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

validate-docs-navigation:
  name: Validate Documentation Navigation Consistency
  entry: uv run python scripts/validators/navigation_validator.py
  language: python
  additional_dependencies: []
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Validates documentation navigation consistency (TDD):
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run python scripts/validators/mdx_extension_validator.py
  language: python
  additional_dependencies: []
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run python scripts/standardize_frontmatter.py docs --dry-run
  language: python
  additional_dependencies:
  - pyyaml>=6.0.0
  pass_filenames: false
  always_run: false

validate-deployment-secrets:
  name: Validate deployment secret keys alignment
  entry: uv run pytest tests/deployment/test_helm_configuration.py::test_deployment_secret_keys_exist_in_template -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: increase 13 subprocess timeout values from 5s/10s to minimum 30s
  scripts/fix_short_timeouts.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_docker_image_assets.py
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_performance_regression.py
  tests/meta/test_plugin_guards.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/test_test_utilities.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: disable pytest-testmon in pre-push hook to prevent stale cache issues
  .pre-commit-config.yaml
Due: none

feat: add MyPy pre-commit hook and clean up unused type annotations
  .pre-commit-config.yaml
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
Due: validate-dependency-injection, validate-api-schemas, validate-minimum-coverage

feat: add blocking MyPy type checking to pre-push stage
  .pre-commit-config.yaml
Due: none

chore: add .testmondata to .gitignore
  .gitignore
Due: none

fix(k8s): implement Session 2 Phase 1 (P0) Helm/Kubernetes configuration fixes
  SESSION_2_HELM_K8S_ACTION_PLAN.md
  SESSION_2_INDEX.md
  SESSION_2_QUICK_REFERENCE.md
  deployments/base/keycloak-deployment.yaml
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, validate-code-block-languages

feat: add gitleaks config path to workflow security scans
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/validate-kubernetes.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(k8s): add /tmp mounts for readOnlyRootFilesystem compliance
  deployments/base/qdrant-deployment.yaml
  deployments/overlays/production-gke/deployment-containers-patch.yaml
Due: validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, validate-no-placeholders

fix(helm): add NetworkPolicy template and fix health probe paths
  deployments/helm/mcp-server-langgraph/templates/networkpolicy.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  tests/test_deployment_manifests.py
Due: check-test-sleep-duration, validate-deployment-secrets, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, helm-lint, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat(k8s): implement P1 HA scheduling and resource standardization
  deployments/base/deployment.yaml
  deployments/base/otel-collector-deployment.yaml
  deployments/base/qdrant-deployment.yaml
  scripts/audit_resource_ratios.py
  tests/deployment/test_staging_deployment_requirements.py
Due: check-test-sleep-duration, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(cloudrun): replace bash variable substitutions with template placeholders
  deployments/cloudrun/service.yaml
Due: trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds

fix(otel): remove deprecated googlecloud exporter configuration keys
  deployments/kubernetes/overlays/gcp/otel-collector-config.yaml
  deployments/kubernetes/overlays/gcp/otel-collector-configmap-patch.yaml
  deployments/overlays/production-gke/otel-collector-config.yaml
  deployments/overlays/production-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging-gke/otel-collector-config.yaml
Due: trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, validate-cloud-overlays, validate-no-placeholders

fix(meta): add exemption for non-deterministic auth override test to xfail strict enforcement
  tests/meta/test_xfail_strict_enforcement.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(types): resolve all MyPy type errors in session and cache modules
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
Due: validate-dependency-injection, validate-api-schemas, validate-minimum-coverage

docs: add Session 2 completion summary and P2 validation
  SESSION_2_COMPLETION_SUMMARY.md
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-code-block-languages

fix(tests): resolve pre-existing test failures blocking push
  deployments/helm/mcp-server-langgraph/values.yaml
  tests/meta/test_pytest_marker_registration.py
  tests/test_deployment_manifests.py
Due: check-test-sleep-duration, validate-deployment-secrets, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, helm-lint, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add missing 'database' pytest marker registration
  pyproject.toml
Due: uv-lock-check, validate-pytest-config, validate-pytest-markers, validate-test-dependencies, validate-minimum-coverage

fix: eliminate 8x message duplication in conversation state
  src/mcp_server_langgraph/core/agent.py
Due: validate-minimum-coverage

fix(test): add production environment variables to app factory test
  .pre-commit-config.yaml
  scripts/validate_ci_cd.py
  tests/infrastructure/test_app_factory.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(helm): disable autoscaling in replicas unittest to fix HPA conflict
  deployments/helm/mcp-server-langgraph/tests/deployment_test.yaml
Due: validate-deployment-secrets, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, helm-lint

fix(test): replace hardcoded user IDs with worker-safe helpers
  tests/integration/test_tool_improvements.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: resolve regression test failures in pre-commit hook and dev dependency checks
  .claude-worktree-session
  tests/regression/test_dev_dependencies.py
  tests/regression/test_precommit_hook_dependencies.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: resolve pre-existing flake8 and bandit warnings blocking pre-push
  .gitignore
  scripts/validate_ci_cd.py
  scripts/validate_gke_autopilot_compliance.py
Due: none

fix(test,types): fix gitleaks self-defeating test + MyPy pre-commit hook errors
  .pre-commit-config.yaml
  src/mcp_server_langgraph/cli/__init__.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/presets/quickstart.py
  tests/test_gitleaks_config.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): accept manual stage for MyPy in meta-tests
  tests/meta/test_mypy_enforcement.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

chore: untrack .claude-worktree-session file
  .claude-worktree-session
Due: none

fix(tests,hooks): resolve regression test failures in pre-commit hook config and dev dependencies
  .pre-commit-config.yaml
  scripts/check_version_consistency.py
Due: none

fix(tests): resolve integration test failures with settings injection and verify_password
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  tests/integration/test_mcp_code_execution.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_user_provider_verify_password.py
  tests/unit/tools/test_code_execution_tools.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests,hooks): resolve regression test failures in pre-commit hook config and dev dependencies (#90)
  .pre-commit-config.yaml
  scripts/check_version_consistency.py
Due: none

chore(git): add pytest-testmon WAL files to .gitignore
  .gitignore
Due: none

fix(tests): resolve integration test failures with settings injection and verify_password
  .gitignore
  src/mcp_server_langgraph/auth/user_provider.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/tools/code_execution_tools.py
  tests/integration/test_mcp_code_execution.py
  tests/unit/test_mcp_server_settings_injection.py
  tests/unit/test_user_provider_verify_password.py
  tests/unit/tools/test_code_execution_tools.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests,meta,docs): resolve OpenAI Codex findings - critical infrastructure and test fixes
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT.md
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_docker_environment.py
  tests/meta/test_docker_image_contents.py
  tests/meta/test_documentation_references.py
  tests/meta/test_subprocess_safety.py
  tests/test_conftest_fixtures_plugin_enhancements.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(k8s,tests): resolve medium-priority Codex findings - infrastructure and test improvements
  deployments/base/deployment.yaml
  tests/conftest.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_fastapi_auth_override_sanity.py
Due: check-test-sleep-duration, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

docs(codex): add test validation results to Codex findings report
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT.md
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-code-block-languages

docs(hooks): comprehensive analysis of pre-commit hook configurations
  docs-internal/PRE_COMMIT_HOOKS_ANALYSIS.md
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-code-block-languages

docs(tests): comprehensive analysis of CLI tool guard requirements
  docs-internal/CLI_TOOL_GUARDS_ANALYSIS.md
Due: check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-code-block-languages

fix(tests): add @requires_tool guards to high-impact test files - Phase 1
  tests/deployment/test_helm_templates.py
  tests/deployment/test_kustomize_builds.py
  tests/integration/test_docker_image_assets.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add @requires_tool guards to medium-impact test files - CLI Tool Guards Phase 2
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_dns_failover_verification.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_service_accounts.py
  tests/integration/test_docker_health_checks.py
  tests/regression/test_pod_deployment_regression.py
  tests/test_deployment_manifests.py
  tests/test_kubernetes_security.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add @requires_tool guards to low-impact test files - CLI Tool Guards Phase 3 (COMPLETE)
  tests/deployment/test_helm_configuration.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_service_dependencies.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/test_test_utilities.py
  tests/test_workflow_syntax.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Path conditions:
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  fix-mdx-syntax: any of: \.mdx$
  validate-mintlify-docs: any of: \.mdx$
  validate-docs-navigation: any of: ^(docs/.*\.mdx|docs/docs\.json)$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
