Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

feat(playground): integrate components and add PWA support
  src/mcp_server_langgraph/playground/frontend/public/sw.js
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/EmptyState.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionExportButtons.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionExportButtons.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useServiceWorker.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useServiceWorker.ts
  src/mcp_server_langgraph/playground/frontend/src/index.css
  src/mcp_server_langgraph/playground/frontend/tailwind.config.js
Due: none

feat(playground): add PWA manifest and Playwright E2E tests
  src/mcp_server_langgraph/playground/frontend/.gitignore
  src/mcp_server_langgraph/playground/frontend/e2e/app.spec.ts
  src/mcp_server_langgraph/playground/frontend/index.html
  src/mcp_server_langgraph/playground/frontend/package-lock.json
  src/mcp_server_langgraph/playground/frontend/package.json
  src/mcp_server_langgraph/playground/frontend/playwright.config.ts
  src/mcp_server_langgraph/playground/frontend/public/icons/icon.svg
  src/mcp_server_langgraph/playground/frontend/public/manifest.json
Due: none

feat(playground): add PNG icons for PWA installability
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-128x128.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-144x144.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-152x152.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-192x192.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-384x384.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-512x512.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-72x72.png
  src/mcp_server_langgraph/playground/frontend/public/icons/icon-96x96.png
Due: none

feat(shared): add unified design tokens and hooks (Phase 0)
  src/mcp_server_langgraph/builder/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/shared/frontend/package.json
  src/mcp_server_langgraph/shared/frontend/src/api/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/shared/frontend/src/index.ts
  src/mcp_server_langgraph/shared/frontend/src/styles/design-tokens.ts
  src/mcp_server_langgraph/shared/frontend/src/styles/index.ts
  src/mcp_server_langgraph/shared/frontend/src/test/setup.ts
  src/mcp_server_langgraph/shared/frontend/tsconfig.json
  src/mcp_server_langgraph/shared/frontend/vitest.config.ts
Due: none

feat(builder): add WCAG 2.1 AA accessibility (Phase 1)
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/KeyboardShortcutsModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/KeyboardShortcutsModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/EmptyState.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/EmptyState.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/Skeleton.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/Skeleton.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/builder/frontend/src/test/setup.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/shared/frontend/tsconfig.node.json
Due: none

feat(shared): add HEART metrics with builder integration (Phase 2)
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/FeedbackButton.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/FeedbackButton.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/NPSSurvey.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/NPSSurvey.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Feedback/index.ts
  src/mcp_server_langgraph/builder/frontend/src/components/Onboarding/WelcomeModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Onboarding/WelcomeModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/Onboarding/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useHeartMetrics.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useHeartMetrics.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/useHeartMetrics.tsx
Due: none

feat(builder): add UX excellence components (Phase 3)
  src/mcp_server_langgraph/builder/frontend/src/components/common/CodeQualityPanel.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/CodeQualityPanel.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ErrorBoundary.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ErrorBoundary.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ValidationBadge.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/ValidationBadge.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/common/index.ts
Due: none

feat(api): add HEART metrics API and analytics dashboard (Phase 4)
  src/mcp_server_langgraph/api/metrics.py
  src/mcp_server_langgraph/playground/frontend/src/components/Admin/MetricsDashboard.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Admin/MetricsDashboard.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Admin/index.ts
  src/mcp_server_langgraph/shared/frontend/package.json
  src/mcp_server_langgraph/shared/frontend/src/api/index.ts
  src/mcp_server_langgraph/shared/frontend/src/api/metrics.test.ts
  src/mcp_server_langgraph/shared/frontend/src/api/metrics.ts
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/PrivacySettings.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/PrivacySettings.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/index.ts
  tests/api/test_metrics_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(builder): add remaining UX improvements (Phase 3/4)
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SettingsModal.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SettingsModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useNPSSurvey.test.ts
  src/mcp_server_langgraph/builder/frontend/src/hooks/useNPSSurvey.ts
Due: none

fix(tests): resolve test failures and type errors
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/api/metrics.py
  src/mcp_server_langgraph/auth/factory.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.test.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionExportButtons.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.ts
  src/mcp_server_langgraph/playground/mcp/integration.py
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/shared/frontend/src/test/setup.ts
  tests/e2e/default-realm.json
  tests/playground/test_playground_api.py
  tests/unit/auth/test_auth_factory.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(shared): add comprehensive FTUX component library (Phase 1-2)
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/ErrorRecovery.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/ErrorRecovery.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/FeatureHint.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/FeatureHint.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/GuidedTour/GuidedTour.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/GuidedTour/GuidedTour.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/GuidedTour/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/HelpPanel.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/HelpPanel.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/OnboardingProgress.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/OnboardingProgress.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/Tooltip.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/Tooltip.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/index.ts
  src/mcp_server_langgraph/shared/frontend/src/components/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useFTUXAnalytics.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useFTUXAnalytics.ts
Due: none

feat(builder,playground): integrate shared FTUX components
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
Due: none

feat(studio): implement Week 1 unified frontend foundation with Zustand stores
  src/mcp_server_langgraph/studio/frontend/index.html
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/postcss.config.js
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/index.css
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/AuthGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/AuthGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PersonaGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PersonaGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/stores/authStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/authStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/index.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/workflowStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/workflowStore.ts
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
  src/mcp_server_langgraph/studio/frontend/src/types/auth.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/mcp.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
  src/mcp_server_langgraph/studio/frontend/src/types/workflow.ts
  src/mcp_server_langgraph/studio/frontend/src/vite-env.d.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
  src/mcp_server_langgraph/studio/frontend/tsconfig.json
  src/mcp_server_langgraph/studio/frontend/tsconfig.node.json
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/test_dependencies_wiring.py
  tests/playground/test_mcp_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): Week 2 - decompose App.tsx into Workflow components
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/CodePanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/CodePanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowHeader.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowHeader.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/index.ts
Due: none

feat(studio): Week 3 - integrate Chat components from Playground
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
Due: none

feat(studio): Week 4 - Admin Portal and Persona Dashboards
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AdminDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AdminDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/OrganizationManager.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/OrganizationManager.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/UserManager.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/UserManager.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/PersonaRouter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/PersonaRouter.tsx
  src/mcp_server_langgraph/studio/frontend/src/stores/authStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/index.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/mcpStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/personaStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/personaStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.test.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/sessionStore.ts
  src/mcp_server_langgraph/studio/frontend/src/stores/workflowStore.test.ts
Due: none

feat(secrets): implement pluggable secrets provider architecture (Week 5)
  .gitignore
  src/mcp_server_langgraph/auth/hipaa.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/secret_providers/__init__.py
  src/mcp_server_langgraph/secret_providers/aws.py
  src/mcp_server_langgraph/secret_providers/azure.py
  src/mcp_server_langgraph/secret_providers/base.py
  src/mcp_server_langgraph/secret_providers/environment.py
  src/mcp_server_langgraph/secret_providers/factory.py
  src/mcp_server_langgraph/secret_providers/gcp.py
  src/mcp_server_langgraph/secret_providers/manager.py
  src/mcp_server_langgraph/secret_providers/openbao.py
  tests/conftest.py
  tests/integration/test_infisical_optional.py
  tests/integration/test_secrets_manager.py
  tests/unit/secret_providers/__init__.py
  tests/unit/secret_providers/test_openbao_provider.py
  tests/unit/secret_providers/test_secrets_base.py
  tests/unit/secret_providers/test_secrets_factory.py
  tests/unit/secrets_obfuscation/test_secrets_obfuscation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio/ai): implement AI suggestions and template recommendations (Week 6)
  src/mcp_server_langgraph/studio/ai/__init__.py
  src/mcp_server_langgraph/studio/ai/node_config.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/templates.py
  tests/unit/studio/__init__.py
  tests/unit/studio/ai/__init__.py
  tests/unit/studio/ai/test_node_assistance.py
  tests/unit/studio/ai/test_template_matching.py
  tests/unit/studio/ai/test_workflow_suggestions.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api,studio): implement legacy redirects and performance config (Week 7)
  src/mcp_server_langgraph/api/redirects.py
  src/mcp_server_langgraph/studio/performance/__init__.py
  tests/performance/test_bundle_size.py
  tests/unit/api/__init__.py
  tests/unit/api/test_legacy_redirects.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio/security): add security hardening module (Week 8)
  src/mcp_server_langgraph/studio/security/__init__.py
  tests/security/test_studio_security.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(build,types): Docker shared imports and mypy type annotations
  docker/Dockerfile.builder
  src/mcp_server_langgraph/api/redirects.py
  src/mcp_server_langgraph/secret_providers/aws.py
  src/mcp_server_langgraph/secret_providers/azure.py
  src/mcp_server_langgraph/secret_providers/gcp.py
  src/mcp_server_langgraph/secret_providers/openbao.py
  src/mcp_server_langgraph/studio/ai/node_config.py
  src/mcp_server_langgraph/studio/ai/templates.py
  tests/unit/core/test_agent_refinement_attempts.py
  tests/unit/playground/test_playground_auth_jwt_extraction.py
  tests/unit/playground/test_playground_mcp_bridge_thread_id.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(mypy): add cloud SDK modules to ignore_missing_imports
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

fix(tests): resolve integration test failure and add /studio routes
  docker-compose.test.yml
  pyproject.toml
  tests/integration/test_conversation_state_persistence.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): add xdist markers to test_metrics_api.py
  tests/api/test_metrics_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add studio API router with workflow and suggestion endpoints
  src/mcp_server_langgraph/api/__init__.py
  src/mcp_server_langgraph/api/studio.py
  src/mcp_server_langgraph/app.py
  tests/unit/api/test_studio_routes.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): add bob and cross-user OpenFGA tuple fixtures
  tests/e2e/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(e2e): add bob and admin user journey tests
  pyproject.toml
  tests/e2e/test_admin_user_journey.py
  tests/e2e/test_bob_user_journey.py
  tests/e2e/test_cross_user_access.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): implement LLM suggestions, embedding similarity, and HEART metrics
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/templates.py
  src/mcp_server_langgraph/studio/performance/__init__.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(tests): use async mock for get_current_user dependency override
  tests/unit/api/test_studio_routes.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): improve studio routes fixture for xdist isolation
  tests/unit/api/test_studio_routes.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): add bearer_scheme override for xdist isolation
  tests/unit/api/test_studio_routes.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): use middleware for auth mocking instead of dependency overrides
  tests/unit/api/test_studio_routes.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): resolve xdist isolation issues in studio routes and database checks
  tests/unit/api/test_studio_routes.py
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(core): Phase 1 separation of concerns - DRY, ISP, constants extraction
  pyproject.toml
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/constants.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/tools/search_tools.py
  tests/integration/auth/test_grafana_oauth2.py
  tests/integration/auth/test_qdrant_auth.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/core/test_constants.py
  tests/unit/core/test_container.py
  tests/unit/core/test_context_manager.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(srp): Phase 2 - SRP decomposition and patterns
  pyproject.toml
  src/mcp_server_langgraph/api/router_registry.py
  src/mcp_server_langgraph/auth/authorization.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/mock_resources.py
  src/mcp_server_langgraph/core/extraction_strategies.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/monitoring/cost_retention.py
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  tests/unit/api/test_router_registry.py
  tests/unit/auth/test_authorization_service.py
  tests/unit/auth/test_mock_resources.py
  tests/unit/core/test_extraction_strategies.py
  tests/unit/llm/test_factory_di.py
  tests/unit/monitoring/test_cost_retention.py
  tests/unit/monitoring/test_cost_storage.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(quality): Phase 3 - LSP, YAGNI, DRY, and OCP improvements
  src/mcp_server_langgraph/auth/resource_registry.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/llm/factory.py
  tests/integration/core/test_container.py
  tests/unit/auth/test_resource_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(types): resolve mypy strict type checking errors
  docs/guides/api-migration-guide.mdx
  docs/guides/playground.mdx
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
Due: check-banned-imports, run-pre-push-tests, validate-docs, mintlify-broken-links-check, semgrep-security-scan, check-mermaid-styling

feat(monitoring): add cost_storage_backend config and PostgresCostStorage tests
  src/mcp_server_langgraph/core/config.py
  tests/unit/monitoring/test_postgres_cost_storage.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
