Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

feat(auth): implement OpenFGA OIDC authentication (defense-in-depth)
  .env.test
  adr/adr-0070-openfga-oidc-authentication.md
  docker-compose.test.yml
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/security/__init__.py
  src/mcp_server_langgraph/utils/__init__.py
  src/mcp_server_langgraph/utils/spa_static_files.py
  tests/api/test_auth_oauth2.py
  tests/e2e/default-realm.json
  tests/integration/auth/test_openfga_oidc.py
  tests/security/test_studio_security.py
  tests/unit/auth/test_openfga_oidc_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, validate-adr-index, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(studio): update OnboardingModal component
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/OnboardingModal.tsx
Due: none

feat(auth): complete OpenFGA OIDC integration and security audit fixes
  .env.test
  docker-compose.test.yml
  docs/troubleshooting/openfga-oidc-troubleshooting.md
  runbooks/openfga-oidc-migration.md
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/CommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/NotificationBell.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/PWA/InstallPrompt.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/PWA/UpdatePrompt.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Dialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectsPage.tsx
  tests/e2e/default-realm.json
  tests/unit/auth/test_openfga_oidc_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(config): ensure consistent Keycloak issuer URL for OpenFGA OIDC
  docker-compose.test.yml
Due: none

feat(api): add HEART analytics endpoints with metrics aggregation
  src/mcp_server_langgraph/api/v1/analytics.py
  tests/api/test_analytics_heart.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add hallucination and feedback collection endpoints
  src/mcp_server_langgraph/api/v1/feedback.py
  tests/api/test_feedback.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add WebSocket notification streaming endpoint
  src/mcp_server_langgraph/api/v1/notification_websocket.py
  tests/api/test_notification_websocket.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add System Usability Scale (SUS) survey endpoints
  src/mcp_server_langgraph/api/v1/surveys.py
  tests/api/test_surveys.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(notifications): add notification broadcaster for WebSocket clients
  src/mcp_server_langgraph/notifications/__init__.py
  src/mcp_server_langgraph/notifications/broadcast.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(ui): add admin dashboard components
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AuditLogFilters.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AuditLogFilters.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/MetricCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/MetricCard.tsx
Due: none

feat(ui): add chat quality indicator components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ConfidenceIndicator.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ConfidenceIndicator.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HallucinationIndicator.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HallucinationIndicator.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionGoalTracker.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionGoalTracker.tsx
Due: none

feat(ui): add SUS survey feedback component
  src/mcp_server_langgraph/studio/frontend/src/components/Feedback/SUSSurvey.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Feedback/SUSSurvey.tsx
Due: none

feat(ui): add onboarding wizard and guided tour components
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/GuidedTour.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/GuidedTour.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/OnboardingWizard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Onboarding/OnboardingWizard.tsx
Due: none

feat(ui): add tier usage and upgrade prompt components
  src/mcp_server_langgraph/studio/frontend/src/components/UI/TierUsageBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/TierUsageBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/UpgradePrompt.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/UpgradePrompt.tsx
Due: none

feat(hooks): add HEART metrics tracker and tier limits hooks
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTierLimits.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTierLimits.ts
Due: none

feat(utils): add accessibility and performance utilities
  src/mcp_server_langgraph/studio/frontend/src/utils/accessibility.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/accessibility.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/performance.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/performance.ts
Due: none

feat(studio): add feature flag context and design system tokens
  src/mcp_server_langgraph/studio/frontend/src/components/Help/HelpPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Help/HelpPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Help/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/TraceViewer.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/TraceViewer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Observability/types.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/design-system/index.ts
  src/mcp_server_langgraph/studio/frontend/src/design-system/tokens.test.ts
  src/mcp_server_langgraph/studio/frontend/src/design-system/tokens.ts
Due: none

ci(workflows): add accessibility and Lighthouse performance testing
  .github/workflows/accessibility-tests.yaml
  .github/workflows/lighthouse-ci.yaml
  src/mcp_server_langgraph/studio/frontend/lighthouse-budget.json
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(auth): add OIDC name claims for improved user display
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/NotificationBell.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/auth.ts
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(core): implement async patterns for non-blocking operations
  .env.test
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/api/v1/vectors.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/http_client.py
  src/mcp_server_langgraph/execution/sandbox.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  tests/unit/auth/test_openfga_async_initialization.py
  tests/unit/config/test_config_validation.py
  tests/unit/core/test_cache_async.py
  tests/unit/core/test_http_client_pool.py
  tests/unit/execution/test_docker_sandbox_async.py
  tests/unit/execution/test_kubernetes_sandbox_async.py
  tests/unit/llm/test_factory_async_only.py
  tests/unit/llm/test_factory_consolidation.py
  tests/unit/mcp/test_server_streamable_core.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(vectors): add Vertex AI embedding provider for GCP Workload Identity
  pyproject.toml
  src/mcp_server_langgraph/api/v1/vectors.py
  src/mcp_server_langgraph/core/config.py
  tests/unit/api/v1/test_vectors_embedding_providers.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(monitoring): handle string timestamps in Tempo API response
  src/mcp_server_langgraph/monitoring/tempo_client.py
  tests/unit/monitoring/test_tempo_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(api): check OpenFGA client before deleting tuples in SCIM
  src/mcp_server_langgraph/api/scim.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(auth): add null checks and type safety in auth modules
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/openfga.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor(cache): remove unnecessary type ignore comments
  src/mcp_server_langgraph/core/cache.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan, validate-dependency-injection

fix: type safety improvements in dpop and startup validation
  src/mcp_server_langgraph/auth/dpop.py
  src/mcp_server_langgraph/core/startup_validation.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(auth): add type safety cast in device auth client
  src/mcp_server_langgraph/auth/device_auth.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(auth): improve type safety and null checks in auth modules
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/auth/keycloak.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(auth): add cast import and PAR return type annotation
  src/mcp_server_langgraph/api/v1/auth.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

build(docker): add Vertex AI embeddings to all Docker variants
  docker/Dockerfile
Due: validate-docker-image-contents

fix(auth): handle UploadFile type in backchannel logout form data
  src/mcp_server_langgraph/api/v1/auth.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(vectors): add type ignore for optional Vertex AI import
  src/mcp_server_langgraph/api/v1/vectors.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(audit): add commit and rollback mocks to session repository tests
  tests/unit/audit/test_session_managed_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(auth): add keycloak_public_url to mock settings
  tests/unit/auth/test_auth_factory.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(test): convert LLM tests from sync invoke() to async ainvoke()
  tests/unit/llm/test_llm_fallback_kwargs.py
  tests/unit/llm/test_llm_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: add ADR-0070 for OpenFGA OIDC authentication migration
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/troubleshooting/openfga-oidc-troubleshooting.mdx
Due: validate-docs, mintlify-broken-links-check, check-mermaid-styling

test(api): improve test naming and fix unused variables
  tests/api/test_connection_audit_log.py
  tests/api/test_connections_api.py
  tests/api/test_connections_bulk_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(api): improve connection templates test naming
  tests/api/test_connection_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore: add .lighthouseci to gitignore
  .gitignore
Due: none

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
