Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$

fix(k8s): add namespace.yaml to OpenShift overlay
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/namespace.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

fix(k8s): remove duplicate namespace from OpenShift overlay
  deployments/overlays/openshift/kustomization.yaml
  deployments/overlays/openshift/namespace.yaml
  tests/deployment/test_helm_configuration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docker): reduce build context 99.7% and optimize Dockerfiles
  .dockerignore
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.infisical-builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
  tests/meta/test_docker_image_contents.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, validate-docker-image-contents, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docker): include tests/ in build context for Dockerfile.test
  .dockerignore
Due: none

perf(docker): eliminate layer bloat in all Dockerfiles
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.infisical-builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
Due: validate-docker-image-contents

chore(docker): update size estimates and remove unused apt deps
  docker/Dockerfile
  docker/Dockerfile.test
Due: validate-docker-image-contents

fix(tests): fix flaky test_get_engine_with_echo_enabled in xdist
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): fix xdist MagicMock comparison in test_get_session_maker
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

perf(docker): optimize multi-stage builds and remove pyproject.toml from runtime
  docker/Dockerfile
  docker/Dockerfile.alembic
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  docker/Dockerfile.test
  scripts/validators/validate_docker_image_contents.py
  src/mcp_server_langgraph/__init__.py
  tests/integration/test_docker_image_assets.py
  tests/unit/core/test_version_sync.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, validate-docker-image-contents, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

chore(docker): extend .dockerignore with additional exclusions
  .dockerignore
Due: none

fix(tests): update docker validation test for pyproject.toml removal
  tests/meta/test_precommit_docker_image_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): update Docker image validation tests for ADR-0053 compliance
  tests/meta/test_precommit_docker_image_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): remove stale test-new Makefile target tests
  tests/meta/test_makefile_parallelization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docker): escape shell variable in docker-compose.test.yml
  docker-compose.test.yml
Due: none

fix(tests): fix xdist mock leakage in prometheus percentiles test
  tests/monitoring/test_prometheus_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docker): remove uv run from docker-compose.test.yml
  docker-compose.test.yml
Due: none

fix(tests): update test_docker_environment.py for ADR-0053 compliance
  tests/meta/test_docker_environment.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docker): fix Traefik routing for Grafana and dashboard
  docker-compose.test.yml
Due: none

fix(tests): update xfail threshold in codex regression test
  tests/meta/test_codex_regression_prevention.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(docker): enable OpenFGA Playground UI
  docker-compose.test.yml
Due: none

fix(docker): remove conflicting /dashboard route for Qdrant
  docker-compose.test.yml
Due: none

feat(docker): restore Qdrant /dashboard route with priority fix
  docker-compose.test.yml
Due: none

fix(tests): update xfail thresholds in codex regression tests
  docker-compose.test.yml
  tests/meta/test_codex_regression_prevention.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(docker): update Traefik routes for Tempo, Mimir, and MCP Server
  docker-compose.test.yml
Due: none

fix(tests): make test_init_database_creates_tables xdist-safe
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): add xdist isolation markers and vertexai exception
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): add spec=httpx.Response to error rate test mock
  tests/monitoring/test_prometheus_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(auth): implement gateway-level authentication with Traefik ForwardAuth
  adr/adr-0068-gateway-level-authentication.md
  docker-compose.test.yml
  docs/architecture/adr-0068-gateway-level-authentication.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index

docs: update ADR badge count from 64 to 65
  README.md
Due: none

docs: fix ADR-0068 documentation issues
  adr/README.md
  docs/architecture/adr-0068-gateway-level-authentication.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index

fix(tests): update test fixtures and xdist memory safety
  tests/e2e/test_playground_user_journey.py
  tests/fixtures/database_fixtures.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_vertex_ai_anthropic.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): refactor test_conversation_retrieval to class-based xdist pattern
  tests/integration/test_fixture_cleanup.py
  tests/unit/core/test_conversation_retrieval.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(auth): configure traefik-forward-auth for gateway protection
  docker-compose.test.yml
  pyproject.toml
  scripts/test-integration.sh
  src/mcp_server_langgraph/auth/keycloak.py
  tests/conftest.py
  tests/e2e/keycloak-test-realm.json
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_real_clients.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/docker_fixtures.py
  tests/integration/gateway/test_traefik_auth_middleware.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/integration/test_dynamic_context_loader.py
  tests/integration/test_keycloak_admin.py
  tests/meta/test_e2e_keycloak_setup.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(deployments): add memory limits to init containers to prevent OOM
  deployments/base/deployment.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/base/openfga-deployment.yaml
  deployments/overlays/preview-gke/deployment-init-containers-patch.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

fix(tests): prevent xdist state contamination in test_session.py
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): add azure_identity to skip list and use worker-safe IDs
  docker-compose.test.yml
  tests/e2e/keycloak-test-realm.json
  tests/e2e/test_full_user_journey.py
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): use AsyncMock with spec for xdist-safe database validation tests
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): prevent xdist state contamination in test_init_database
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(auth): add forward-auth middleware to OAuth callback route
  docker-compose.test.yml
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): increase mypy timeout in test_agent_type_safety to 60s
  tests/unit/core/test_agent_type_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids
