Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

feat(frontend): add DevTools component for development debugging
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAgentTrace.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useConsoleEntries.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useConsoleEntries.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsAI.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsAI.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsKeyboard.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsKeyboard.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsResize.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsResize.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useNetworkEntries.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useProblems.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/lazy.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ExecutionTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ExecutionTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ProblemsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ProblemsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/types.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.ts
Due: none

fix: test cleanup and minor component fixes
  src/mcp_server_langgraph/studio/frontend/src/api/mcpEndpoints.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/BatchApprovalPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/PromptTester.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ResourceViewer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ToolInvocationDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIMetrics.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIPersonaAnalysis.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useChatAutoScroll.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePermissionCache.test.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/AISessionCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/mcpHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/test/mcp-integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/preferences.ts
  tests/unit/websocket_pkg/handlers/test_handlers_init.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/test_base.py
  tests/unit/websocket_pkg/test_heartbeat.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_redis_rate_limiter.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix: final component and test adjustments
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/PromptTester.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ResourceViewer.tsx
Due: none

fix: DevTools hook and test cleanup
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsAI.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
Due: none

fix: finalize frontend components and tests
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/LangGraphNodeVisualization.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIEmptyState.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStudioAI.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/agentRequestHandlers.ts
Due: none

feat(frontend): add DevTools E2E tests and WebSocket hook updates
  src/mcp_server_langgraph/studio/frontend/e2e/devtools-integration.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/CONSOLIDATION.md
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: none

fix: update Layout components and router integration
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ActivityLog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/InspectorPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ProblemsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: none

fix(e2e): add auditor and complianceOfficer auth fixtures
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioV2Redirect.tsx
Due: none

docs: add DevTools README and fix router guards
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/README.md
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: none

refactor(router): consolidate studio routes with HybridShellLayout
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: none

feat(devtools): add performance utilities and update exports
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: none

refactor(router): simplify RootRedirect to always redirect to /studio
  src/mcp_server_langgraph/studio/frontend/src/router/guards/RootRedirect.test.tsx
Due: none

chore: register feature_flags pytest marker
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

refactor(frontend): consolidate layout and remove legacy components
  src/mcp_server_langgraph/studio/frontend/e2e/ai-suggestions.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-artifacts.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/cross-persona-workflows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/devtools-integration.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/error-recovery.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/execution-history.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/file-operations.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/permission-denial-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-access-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/studio-shell-smoke.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/visual-regression.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/api/featureFlagsContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/AppShell.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/AppShell.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/BottomPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/BottomPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/CommandPalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/CommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/LeftSidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/LeftSidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/MainDock.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/MainDock.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/RightSidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/RightSidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/test/hybrid-canvas-parity.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Due: none

fix: handle None in set_global_auth_middleware and add pytestmark
  pyproject.toml
  src/mcp_server_langgraph/auth/dependencies.py
  tests/unit/hitl/test_broadcast.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/services/test_cost_tracking.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
  tests/unit/websocket_pkg/services/test_workflow_execution.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_middleware.py
  tests/unit/websocket_pkg/test_resilience.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(websocket): add handler tests and feature flags UI tests
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  tests/unit/core/test_feature_flags_ui.py
  tests/unit/websocket_pkg/handlers/test_connections_realtime_handler.py
  tests/unit/websocket_pkg/handlers/test_cost_tracking_handler.py
  tests/unit/websocket_pkg/handlers/test_heart_metrics_handler.py
  tests/unit/websocket_pkg/handlers/test_mcp_handler.py
  tests/unit/websocket_pkg/handlers/test_mcp_task_handler.py
  tests/unit/websocket_pkg/handlers/test_workflow_execution_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(devtools): add ConsoleTab and NetworkTab performance tests
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.performance.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.performance.test.tsx
Due: none

chore: update feature flag from HybridShell to StudioShell
  .env.example
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.performance.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
Due: none

chore: finalize layout refactoring and minor fixes
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioV2Redirect.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan, validate-dependency-injection

chore: final cleanup and documentation updates
  docs-internal/frontend/testing/ROUTER.md
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/studio/frontend/.metrics/lighthouse-hybrid-shell.json
  src/mcp_server_langgraph/studio/frontend/e2e/ai-suggestions.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/aiHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: check-banned-imports, run-pre-push-tests, check-internal-links, semgrep-security-scan

test(e2e): update E2E tests for StudioShellLayout refactoring
  src/mcp_server_langgraph/studio/frontend/e2e/ai-suggestions.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-analyst-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-builder-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-devops-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/auditor-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/bob-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-artifacts.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/compliance-officer-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/cross-persona-workflows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/devtools-integration.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/error-recovery.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/execution-history.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/file-operations.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/permission-denial-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-access-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/security-admin-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/studio-shell-smoke.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/visual-regression.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/UserMenuDropdown.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaRouter.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaVariants.ts
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  tests/unit/api/v1/test_ai_ux_redis_l2_cache.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix: update frontend hooks for StudioShellLayout
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaRouting.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionSync.ts
  src/mcp_server_langgraph/studio/frontend/src/router/routing-integration.test.tsx
Due: none

test: update frontend tests for layout refactoring
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.performance.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNewChat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaRouting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/UserMenuDropdown.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaRouter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaVariants.test.ts
  src/mcp_server_langgraph/studio/frontend/src/router/routing-integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/hook-component-integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/test/telemetry-events.test.tsx
  tests/unit/api/v1/test_hitl_push_notifications.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(devtools): add WebSocket and trace linking hooks
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AgentApprovalDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/BatchApprovalPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useStateHistory.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useStateHistory.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useTraceLinking.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useTraceLinking.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/NetworkTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/export.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/performance.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Nudge/NudgeTooltip.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaRouting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/TopBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/FilesPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/FilesPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.test.ts
  tests/unit/api/v1/test_workflow_sharing.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore: remove legacy metrics files and update StateTab
  src/mcp_server_langgraph/studio/frontend/.metrics/lighthouse-appshell.json
  src/mcp_server_langgraph/studio/frontend/coverage-summary.json
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/FeatureFlagToggle.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
Due: none

chore: update store slices and layout exports
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/index.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/HelpPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Due: none

feat(api): integrate consolidated WebSocket router
  src/mcp_server_langgraph/api/v1/router.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

chore: add connection health handler tests and fixes
  src/mcp_server_langgraph/alerts/broadcaster.py
  src/mcp_server_langgraph/api/v1/agent_request_websocket.py
  tests/unit/api/v1/test_hitl_push_notifications.py
  tests/unit/websocket_pkg/handlers/test_connection_health_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test: update HITL push notification test markers
  tests/unit/api/v1/test_hitl_push_notifications.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore: apply pre-commit hook formatting fixes
  src/mcp_server_langgraph/auth/encrypted_session_store.py
  src/mcp_server_langgraph/core/hook_registry.py
  src/mcp_server_langgraph/mcp/message_handler.py
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  src/mcp_server_langgraph/tools/screenshot_tools.py
  tests/unit/mcp/test_orchestration_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(devtools): enhance time-travel debugging with unified timeline
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocketBridge.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocketBridge.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AgentTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/StateTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/chat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/chat.ts
Due: none

fix(llm): remove unused variable in verifier.py
  src/mcp_server_langgraph/llm/verifier.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(devtools): wire up incomplete implementations and add missing components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.artifacts.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ExecutionTraceTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/TracesTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/devToolsSlice.ts
Due: none

fix(lint): address 43 ruff lint issues
  src/mcp_server_langgraph/agents/explanation_orchestrator.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/alert_recommendations.py
  src/mcp_server_langgraph/api/v1/frontend_cache.py
  src/mcp_server_langgraph/api/v1/interrupt.py
  src/mcp_server_langgraph/api/v1/remediation_approvals.py
  src/mcp_server_langgraph/core/session_fork.py
  src/mcp_server_langgraph/infrastructure/database.py
  src/mcp_server_langgraph/mcp/handlers/skills.py
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/notifications/push_fallback_queue.py
  src/mcp_server_langgraph/notifications/vapid_rotation.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/skills/installer.py
  src/mcp_server_langgraph/storage/artifacts/cloud_storage.py
  src/mcp_server_langgraph/storage/artifacts/qdrant_service.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
