Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$

fix(ci): resolve 7 failing CI checks for playground-frontend PR
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  pyproject.toml
  src/mcp_server_langgraph/builder/frontend/.gitignore
  src/mcp_server_langgraph/builder/frontend/package-lock.json
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
  src/mcp_server_langgraph/playground/frontend/package-lock.json
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/api/index.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/playground.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/ObservabilityTabs.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Observability/TraceWaterfall.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPElicitation.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTools.ts
  src/mcp_server_langgraph/playground/frontend/tailwind.config.js
  src/mcp_server_langgraph/playground/frontend/tsconfig.json
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

fix(tests): use explicit AsyncMock for async methods in test_database_checks
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(observability): correct Keycloak and OpenFGA metrics scrape config
  docker/alloy/config.alloy
Due: none

fix(observability): wire Grafana dashboards to Mimir datasource
  monitoring/grafana/dashboards/authentication.json
  monitoring/grafana/dashboards/builder.json
  monitoring/grafana/dashboards/llm-performance.json
  monitoring/grafana/dashboards/openfga.json
  monitoring/grafana/dashboards/playground.json
  monitoring/grafana/dashboards/sla-monitoring.json
  monitoring/grafana/dashboards/soc2-compliance.json
Due: none

feat(observability): add LGTM stack self-monitoring scrape targets
  docker/alloy/config.alloy
Due: none

fix(observability): simplify LGTM dashboard job selectors
  monitoring/grafana/dashboards/lgtm-stack.json
Due: none

fix(observability): enable Grafana metrics endpoint
  docker-compose.test.yml
Due: none

fix(docker): set Loki tmpfs uid/gid to fix CI container startup
  docker-compose.test.yml
Due: none

fix(observability): correct Grafana metrics path for subpath config
  docker/alloy/config.alloy
Due: none

fix(observability): add exporters and fix dashboard wiring
  docker-compose.test.yml
  docker/alloy/config.alloy
  monitoring/grafana/dashboards/authentication.json
  monitoring/grafana/dashboards/builder.json
  monitoring/grafana/dashboards/llm-performance.json
  monitoring/grafana/dashboards/openfga.json
  monitoring/grafana/dashboards/playground.json
  monitoring/grafana/dashboards/postgresql.json
  monitoring/grafana/dashboards/redis-sessions.json
  monitoring/grafana/dashboards/sla-monitoring.json
  monitoring/grafana/dashboards/soc2-compliance.json
Due: none

fix(docker): enable Traefik ping and add Promtail healthcheck
  docker-compose.test.yml
Due: none

fix(ci): remove Promtail healthcheck and fix service health counting
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(test): handle SPA catch-all in builder metrics and readiness tests
  tests/builder/test_builder_observability.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(hooks): resolve pre-commit and pre-push hook failures
  Makefile
  pyproject.toml
  src/mcp_server_langgraph/builder/api/metrics.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/metrics.py
  src/mcp_server_langgraph/middleware/metrics.py
  src/mcp_server_langgraph/playground/api/metrics.py
  tests/regression/test_dev_dependencies.py
  tests/unit/auth/test_keycloak_login_metrics.py
  tests/unit/auth/test_session_metrics_integration.py
  tests/unit/llm/test_llm_metrics.py
  tests/unit/middleware/test_metrics_middleware.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(hooks): resolve pre-commit and pre-push hook failures
  Makefile
  docker/alloy/config.alloy
  docs-internal/grafana-dashboard-audit-report.md
  monitoring/grafana/DASHBOARD_METRICS_AUDIT_2025-12-10.md
  monitoring/grafana/dashboards/authentication.json
  monitoring/grafana/dashboards/keycloak.json
  monitoring/grafana/dashboards/lgtm-stack.json
  monitoring/grafana/dashboards/openfga.json
  monitoring/grafana/dashboards/redis-sessions.json
  monitoring/grafana/dashboards/security.json
  monitoring/grafana/dashboards/sla-monitoring.json
  monitoring/grafana/dashboards/soc2-compliance.json
  scripts/validation/audit_grafana_dashboards.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/compliance/gdpr/storage.py
  src/mcp_server_langgraph/compliance/metrics.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/__init__.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/schedulers/compliance.py
  tests/unit/compliance/test_audit_log_metrics.py
  tests/unit/compliance/test_gdpr_metrics.py
  tests/unit/compliance/test_soc2_metrics.py
  tests/unit/middleware/__init__.py
  tests/unit/middleware/test_builder_business_metrics.py
  tests/unit/middleware/test_http_metrics_integration.py
  tests/unit/middleware/test_playground_business_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(observability): add advanced metrics and fix PostgreSQL dashboard
  monitoring/grafana/dashboards/postgresql.json
  src/mcp_server_langgraph/builder/api/metrics.py
  src/mcp_server_langgraph/playground/api/metrics.py
  tests/unit/middleware/test_builder_business_metrics.py
  tests/unit/middleware/test_playground_business_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(observability): use Alpine redis_exporter for healthcheck compatibility
  docker-compose.test.yml
Due: none

feat(observability): comprehensive dashboard audit with folder reorganization
  monitoring/grafana/dashboards.yml
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Compliance/soc2-compliance.json
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Infrastructure/qdrant.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
  monitoring/grafana/dashboards/Infrastructure/traefik.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
  monitoring/grafana/dashboards/README.md
  src/mcp_server_langgraph/auth/metrics.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/health/checks.py
  tests/unit/auth/test_prometheus_auth_metrics.py
  tests/unit/health/test_agent_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(observability): add HTTP metrics row to overview dashboard
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Due: none

feat(observability): add datasource template variable to all dashboards
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Compliance/soc2-compliance.json
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Infrastructure/qdrant.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
  monitoring/grafana/dashboards/Infrastructure/traefik.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Due: none

fix(observability): replace container_* with process_* metrics
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
  monitoring/grafana/dashboards/README.md
Due: none

feat(observability): add panel descriptions and row organization
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
  tests/unit/auth/test_prometheus_auth_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): increase Keycloak realm import verification timeout to 120s
  .github/workflows/e2e-tests.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(ci): use mcp-test realm instead of master for Keycloak --import-realm
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  scripts/test-integration.sh
  tests/README.md
  tests/e2e/mcp-test-realm.json
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_real_clients.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): workaround Keycloak 26.x realm import regression (issue #36284)
  docker-compose.test.yml
Due: none

feat(config): add 12-factor compliant .env.test for test infrastructure
  .env.test
  .github/workflows/optional-deps-test.yaml
  docker-compose.test.yml
  tests/conftest.py
  tests/constants.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/test_health_check.py
  tests/test_constants.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

chore(security): allowlist .env.test in gitleaks and trufflehog
  .gitleaks.toml
  .trufflehogignore
Due: none

fix(test): rename Keycloak realm file to avoid Keycloak 26 import bug
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  tests/README.md
  tests/e2e/mcp-test.json
  tests/e2e/test_full_user_journey.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(observability): resolve OTLP 404 and health 307 redirect issues
  deployments/kong/kong.yaml
  deployments/kubernetes/kong/kong-ingress.yaml
  docker-compose.test.yml
  docker/docker-compose.yml
  src/mcp_server_langgraph/observability/telemetry.py
Due: check-banned-imports, run-pre-push-tests, trivy-scan-k8s-manifests, semgrep-security-scan, validate-gke-autopilot-compliance

fix(ci): increase Keycloak timeout for realm import with PostgreSQL
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(ci): add Keycloak realm import diagnostics
  .github/workflows/e2e-tests.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(observability): redesign LLM Performance dashboard with best practices
  deployments/helm/mcp-server-langgraph/dashboards/llm-performance.json
Due: trivy-helm-full-scan

feat(observability): redesign Authentication dashboard with best practices
  deployments/helm/mcp-server-langgraph/dashboards/authentication.json
Due: trivy-helm-full-scan

feat(observability): redesign OpenFGA Authorization dashboard with best practices
  deployments/helm/mcp-server-langgraph/dashboards/openfga.json
Due: trivy-helm-full-scan

feat(observability): create Playground dashboard with session and chat metrics
  deployments/helm/mcp-server-langgraph/dashboards/playground.json
Due: trivy-helm-full-scan

feat(observability): create Builder dashboard with workflow and code gen metrics
  deployments/helm/mcp-server-langgraph/dashboards/builder.json
Due: trivy-helm-full-scan

feat(observability): add cross-dashboard navigation to Overview dashboard
  deployments/helm/mcp-server-langgraph/dashboards/langgraph-agent.json
Due: trivy-helm-full-scan

fix(ci): use proper Keycloak realm file naming convention
  .github/workflows/e2e-tests.yaml
  docker-compose.test.yml
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  tests/README.md
  tests/e2e/mcp-test-realm.json
  tests/e2e/test_full_user_journey.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

feat(observability): synchronize dashboards between Helm and monitoring locations
  monitoring/grafana/dashboards/Application/builder.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Application/playground.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Due: none

fix(ci): prevent GitHub rate limiting in workflows
  .github/workflows/ci.yaml
  .github/workflows/deploy-preview-gke.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/mirror-dependencies.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/validate-kubernetes.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps
