Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

docs: add internal documentation for metrics, auth, and design system
  docs-internal/HEART_METRICS_IMPLEMENTATION.md
  docs-internal/OPENFGA_ARCHITECTURE.md
  docs-internal/README.md
  docs-internal/frontend/DESIGN_SYSTEM.md
  docs-internal/runbooks/ORCHESTRATOR_OPERATIONS.md
  docs/docs.json
  docs/guides/multi-agent-orchestrators.mdx
  src/mcp_server_langgraph/playground/frontend/DEPRECATED.md
Due: validate-docs, mintlify-broken-links-check, check-internal-links, check-mermaid-styling

chore: add pgvector migration and update agent/alert integrations
  alembic/versions/v2w3x4y5z6a7_add_pgvector_extension.py
  pyproject.toml
  src/mcp_server_langgraph/agents/model_selector.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/swarm_orchestrator.py
  src/mcp_server_langgraph/agents/worker_agent.py
  src/mcp_server_langgraph/alerts/ai_recommendation.py
  src/mcp_server_langgraph/alerts/approval_queue.py
  src/mcp_server_langgraph/mcp/handlers/agents.py
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, semgrep-security-scan, validate-pytest-markers, validate-pytest-config

fix(tests): add Router wrapper and remove unused imports
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBatchApprovals.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useLLMStreamingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMetricsSessionWebSocket.ts
Due: none

fix(frontend): resolve lint and type errors across shared and studio frontends
  src/mcp_server_langgraph/shared/frontend/src/components/ErrorRecovery/ErrorRecovery.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/FeatureHint/FeatureHint.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/HelpPanel/HelpPanel.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/OnboardingProgress/OnboardingProgress.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Privacy/PrivacySettings.tsx
  src/mcp_server_langgraph/shared/frontend/src/components/Tooltip/Tooltip.test.tsx
  src/mcp_server_langgraph/shared/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/shared/frontend/src/hooks/useHeartMetrics.tsx
  src/mcp_server_langgraph/shared/frontend/src/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCrossInsightsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useIsChatRoute.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useLLMStreamingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.test.ts
Due: none

chore: update project configuration and test environment
  .env.test
  .pre-commit-config.yaml
  config/openfga/sample-tuples.json
  docker-compose.test.yml
  pyproject.toml
  scripts/openapi.json
  tests/unit/api/v1/test_websocket_metrics_api.py
  tests/unit/websocket_pkg/test_websocket_prometheus_metrics.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(adr): add architecture decision records for studio frontend
  README.md
  adr/adr-0091-api-response-transformation-strategy.md
  adr/adr-0092-hierarchical-capability-architecture.md
  docs/architecture/adr-0086-security-audit-keycloak-openfga.mdx
  docs/architecture/adr-0087-grafana-two-tier-authentication.mdx
  docs/architecture/adr-0088-frontend-hook-selection-guidance.mdx
  docs/architecture/adr-0090-agent-orchestration-architecture.mdx
  docs/architecture/adr-0091-api-response-transformation-strategy.mdx
  docs/architecture/adr-0092-hierarchical-capability-architecture.mdx
  docs/docs.json
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

feat(core): add execution modes and scope types
  src/mcp_server_langgraph/core/execution_modes.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/scopes.py
  tests/unit/core/test_adr0092_feature_flags.py
  tests/unit/core/test_execution_modes.py
  tests/unit/core/test_scopes.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(agents): add task analyzer, execution selector, and agent patterns
  src/mcp_server_langgraph/agents/base_agent.py
  src/mcp_server_langgraph/agents/execution_selector.py
  src/mcp_server_langgraph/agents/patterns/__init__.py
  src/mcp_server_langgraph/agents/patterns/react_runner.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/task_analyzer.py
  src/mcp_server_langgraph/agents/worker_agent.py
  tests/integration/agents/test_router_to_worker_binding.py
  tests/unit/agents/patterns/__init__.py
  tests/unit/agents/patterns/test_react_runner.py
  tests/unit/agents/test_agent_request_enhanced.py
  tests/unit/agents/test_execution_mode_selector.py
  tests/unit/agents/test_router_output_enhanced.py
  tests/unit/agents/test_task_analyzer.py
  tests/unit/agents/test_worker_agent_tool_binding.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(capabilities): add hierarchical capability architecture
  src/mcp_server_langgraph/capabilities/__init__.py
  src/mcp_server_langgraph/capabilities/cache.py
  src/mcp_server_langgraph/capabilities/provider.py
  src/mcp_server_langgraph/capabilities/resolver.py
  tests/integration/capabilities/__init__.py
  tests/integration/capabilities/test_scope_resolution_flow.py
  tests/unit/capabilities/__init__.py
  tests/unit/capabilities/test_capability_cache.py
  tests/unit/capabilities/test_hierarchical_provider.py
  tests/unit/capabilities/test_provider_protocol.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(hitl): add human expert tool, approval learning, and reversible actions
  src/mcp_server_langgraph/hitl/human_expert.py
  src/mcp_server_langgraph/hitl/learning.py
  src/mcp_server_langgraph/hitl/reversible.py
  tests/unit/hitl/test_approval_learner.py
  tests/unit/hitl/test_human_expert_tool.py
  tests/unit/hitl/test_reversible_action.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(memory): add tiered memory store
  src/mcp_server_langgraph/memory/store.py
  src/mcp_server_langgraph/memory/tiers.py
  tests/unit/memory/test_memory_store.py
  tests/unit/memory/test_memory_tiers.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(skills): add hierarchical skills, progressive loader, and skill search
  src/mcp_server_langgraph/skills/hierarchical.py
  src/mcp_server_langgraph/skills/progressive_loader.py
  src/mcp_server_langgraph/skills/search.py
  tests/unit/skills/__init__.py
  tests/unit/skills/test_hierarchical_skill_registry.py
  tests/unit/skills/test_progressive_skill_loader.py
  tests/unit/skills/test_skill_search_tool.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(tools): add hierarchical tool registry and unified registry
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketTelemetrySync.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketTelemetrySync.ts
  src/mcp_server_langgraph/tools/hierarchical.py
  src/mcp_server_langgraph/tools/unified_registry.py
  tests/unit/tools/__init__.py
  tests/unit/tools/test_hierarchical_tool_registry.py
  tests/unit/tools/test_unified_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(context): add context loading modules for codebase, conversation, and memory
  src/mcp_server_langgraph/context/__init__.py
  src/mcp_server_langgraph/context/codebase_loader.py
  src/mcp_server_langgraph/context/conversation_loader.py
  src/mcp_server_langgraph/context/memory_loader.py
  tests/unit/context/__init__.py
  tests/unit/context/test_codebase_loader.py
  tests/unit/context/test_conversation_loader.py
  tests/unit/context/test_memory_loader.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add WebSocket metrics batch endpoint for Prometheus integration
  src/mcp_server_langgraph/api/v1/websocket_metrics.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(studio): add Studio CLI and STUDIO.md configuration system
  src/mcp_server_langgraph/cli/studio.py
  src/mcp_server_langgraph/studio/config/__init__.py
  src/mcp_server_langgraph/studio/config/discovery.py
  src/mcp_server_langgraph/studio/config/loader.py
  src/mcp_server_langgraph/studio/config/models.py
  src/mcp_server_langgraph/studio/config/parser.py
  src/mcp_server_langgraph/studio/config/storage.py
  tests/unit/cli/__init__.py
  tests/unit/cli/test_studio_validate.py
  tests/unit/studio/config/__init__.py
  tests/unit/studio/config/test_studio_config_models.py
  tests/unit/studio/config/test_studio_discovery.py
  tests/unit/studio/config/test_studio_parser.py
  tests/unit/studio/config/test_studio_storage.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add WebSocket metrics to observability slice and expand ESLint overrides
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsPush.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketTelemetrySync.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/orchestrator.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/orchestrator.ts
Due: none

feat(db): add Alembic migration for studio_configs table
  alembic/versions/x4y5z6a7b8c9_add_studio_configs_table.py
Due: check-banned-imports

test(integration): add integration tests for API and Studio
  tests/integration/api/test_chat_capability_flow.py
  tests/integration/api/test_llm_capability_flow.py
  tests/integration/api/test_router_swarm_flow.py
  tests/integration/studio/__init__.py
  tests/integration/studio/test_studio_md_loading.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(adr): add ADR-0093 for OpenFGA relation inheritance patterns
  docs/architecture/adr-0093-openfga-relation-inheritance-patterns.mdx
  monitoring/prometheus/rules/websocket-reconnection-alerts.yml
  scripts/validation/analyze_openfga_inheritance.py
  tests/contract/test_websocket_authorization_relation_coverage.py
  tests/unit/auth/test_openfga_model_inheritance.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(frontend): update observabilitySlice test to include webSocketMetrics field
  src/mcp_server_langgraph/studio/frontend/src/store/slices/observabilitySlice.test.ts
Due: none

fix(auth): update OpenFGA model with relation inheritance patterns
  config/openfga/model.json
  config/openfga/sample-tuples.json
Due: none

feat(frontend): add orchestrator selector test ID and E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/orchestrator-selection.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/OrchestratorControls/OrchestratorControls.tsx
Due: none

feat(frontend): add error payload to WebSocket message interface
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
Due: none

chore(tests): register agentic_memory pytest marker
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

refactor(conversation): consolidate chat input to ConnectedChatInputForm
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/SlashCommandMenu.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/SlashCommandMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/index.ts
Due: none

chore(frontend): refine ESLint snake_case overrides for API boundaries
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
Due: none

test(frontend): extend AI real-time suggestions test coverage
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/test/ai-websocket-integration.test.tsx
Due: none

test(tools): add sandbox settings mock fixtures for tool tests
  tests/unit/tools/test_bash_tool.py
  tests/unit/tools/test_computer_use_tools.py
  tests/unit/tools/test_screenshot_tool.py
  tests/unit/tools/test_web_fetch_tool.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(websocket): add AI suggestions handler test coverage
  tests/unit/websocket_pkg/websocket/handlers/test_ai_suggestions_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(contract): add WebSocket message format contract tests
  tests/contract/test_websocket_message_format_contract.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add skills marketplace API endpoints
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  tests/unit/api/v1/test_skills_marketplace_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(conversation): update module export tests for new API
  src/mcp_server_langgraph/studio/frontend/src/conversation/index.test.ts
Due: none

feat(adr): complete ADR-0091 Phase 4 - strict snake_case enforcement
  docs/architecture/adr-0091-api-response-transformation-strategy.mdx
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  tests/unit/skills/test_auto_update_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): update skills API tests for admin_user dependency
  tests/unit/skills/test_skill_installer.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): replace skip with xfail for unimplemented TDD features
  tests/unit/tools/test_edit_file_tool.py
  tests/unit/tools/test_write_file_tool.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): patch FF_TEST_MODE in require_feature test
  tests/unit/core/test_adr0092_feature_flags.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(chat): integrate RouterAgent into ChatServiceImpl streaming
  pyproject.toml
  src/mcp_server_langgraph/api/v1/chat.py
  tests/unit/api/v1/test_chat_router_integration.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(adr-0092): add enable_hierarchical_capability_provider master flag
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_adr0092_feature_flags.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add transformSnakeToCamel utility for ADR-0091 Phase 5
  src/mcp_server_langgraph/studio/frontend/src/api/transforms.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/transforms.ts
Due: none
