Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers

Path conditions:
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$

fix(tests): resolve hanging test + add AsyncMock validation infrastructure
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_async_mock_usage.py
  tests/MEMORY_SAFETY_GUIDELINES.md
  tests/helpers/polling.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/meta/test_performance_regression.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/test_polling_helper.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

fix(tests): resolve 30+ unit test failures across observability, auth, and config
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/test_auth.py
  tests/unit/test_dependencies_wiring.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_security_practices.py
Due: validate-dependency-injection, validate-pytest-markers

fix(tests): resolve remaining auth test failures for InMemoryUserProvider
  tests/test_auth.py
  tests/unit/test_user_id_normalization.py
Due: validate-pytest-markers

fix(tests): correct JWT secret key mismatch in standalone verify token test
  tests/test_auth.py
Due: validate-pytest-markers

fix(tests): resolve remaining test failures - collection errors and meta tests
  tests/core/interrupts/test_approval.py
  tests/core/interrupts/test_interrupts.py
  tests/meta/test_performance_regression.py
  tests/meta/test_plugin_guards.py
  tests/property/test_cache_properties.py
  tests/property/test_llm_properties.py
  tests/property/test_resilience_properties.py
  tests/test_session.py
Due: validate-pytest-markers

fix(tests): resolve test isolation issues with singleton state pollution
  Makefile
  tests/conftest.py
  tests/meta/test_makefile_parallelization.py
  tests/meta/test_performance_regression.py
  tests/unit/test_dependencies_wiring.py
Due: validate-dependency-injection, validate-pytest-markers

fix(tests): resolve final 7 API endpoint test failures - async dependency override
  tests/api/test_api_keys_endpoints.py
Due: validate-pytest-markers

fix(deps): resolve all Python 3.12+ and Pydantic v2 deprecation warnings
  pyproject.toml
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/resilience/config.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_openapi_compliance.py
  tests/property/test_auth_properties.py
  tests/test_api_key_manager.py
Due: validate-pytest-markers

fix(ci,tests): resolve critical pytest-timeout dependency and test violations
  pyproject.toml
  tests/builder/api/test_server.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/integration/test_postgres_storage.py
  tests/meta/test_makefile_parallelization.py
  tests/resilience/test_circuit_breaker.py
  tests/test_api_key_manager.py
  tests/unit/tools/test_code_execution_tools.py
  uv.lock
Due: validate-pytest-markers

fix(ci): resolve async mock check false positive for _get_sandbox
  scripts/check_async_mock_usage.py
Due: none

fix(docs,ci): fix Mintlify YAML syntax errors and broken links
  docs/architecture/adr-0003-dual-observability.mdx
  docs/architecture/adr-0040-gcp-gke-autopilot-deployment.mdx
  docs/architecture/adr-0042-dependency-injection-configuration-fixes.mdx
  docs/architecture/adr-0043-cost-monitoring-dashboard.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0046-deployment-configuration-tdd-infrastructure.mdx
  docs/architecture/adr-0047-visual-workflow-builder.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  docs/architecture/adr-0049-pytest-fixture-consolidation.mdx
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/guides/uv-migration.mdx
  scripts/standardize_frontmatter.py
  scripts/validate_mintlify_docs.py
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, check-mermaid-styling

fix(tests,deps): resolve API test isolation and upgrade LangChain dependencies
  .github/workflows/ci.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/quality-tests.yaml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate_pytest_config.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/e2e/test_infrastructure_validation.py
  tests/e2e/test_scim_provisioning.py
  tests/integration/test_keycloak_admin.py
  tests/integration/test_kubernetes_health_probes.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/test_ci_cd_validation.py
  tests/test_test_utilities.py
  uv.lock
Due: validate-github-workflows, validate-pytest-markers

fix(tests): add bandit security exclusions for CI/CD validation tests
  tests/meta/test_trivy_scans_rendered_manifests.py
Due: validate-pytest-markers

fix(ci): resolve performance benchmark pytest flags conflict
  .github/workflows/performance-regression.yaml
  tests/meta/test_performance_workflow_pytest_flags.py
Due: validate-github-workflows, validate-pytest-markers

fix(e2e,k8s,security): resolve E2E auth failures + GKE Trivy security findings
  .github/workflows/deploy-staging-gke.yaml
  deployments/base/otel-collector-deployment.yaml
  deployments/overlays/staging-gke/.trivyignore
  docker-compose.test.yml
  tests/e2e/keycloak-test-realm.json
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/meta/test_trivy_suppressions.py
Due: validate-documentation-quality, validate-cors-security, validate-github-workflows, validate-pytest-markers

fix(tests): add requires_helm marker + suppress bandit false positive
  tests/deployment/pytest.ini
  tests/meta/test_otel_security_context.py
Due: validate-pytest-markers

docs: comprehensive documentation audit remediation (P0-P3)
  docs-internal/CODEX_REMEDIATION_COMPLETE.md
  docs-internal/README.md
  docs-internal/archive/README.md
  docs-internal/archive/audits/documentation-audit-report.md
  docs-internal/archive/audits/documentation-fixes-applied.md
  docs-internal/archive/codex/CODEX_FINAL_SUMMARY.md
  docs-internal/archive/codex/CODEX_FINDINGS_REMEDIATION_REPORT.md
  docs-internal/archive/codex/CODEX_FINDINGS_RESOLUTION_REPORT.md
  docs-internal/archive/codex/CODEX_FINDINGS_TDD_SAFEGUARDS.md
  docs-internal/archive/codex/CODEX_FINDINGS_VALIDATION_REPORT.md
  docs-internal/archive/codex/CODEX_GITHUB_ACTIONS_WORKFLOW_VALIDATION.md
  docs-internal/archive/codex/CODEX_REMEDIATION_SUMMARY.md
  docs-internal/archive/codex/CODEX_REMEDIATION_VALIDATION_REPORT.md
  docs-internal/archive/codex/CODEX_VALIDATION_REPORT.md
  docs-internal/archive/sprints/sprint-final-summary.md
  docs-internal/archive/sprints/technical-debt-sprint-day1-summary.md
  docs-internal/archive/sprints/technical-debt-sprint-progress.md
  docs-internal/audits/DOCUMENTATION_AUDIT_2025-11-10.md
  docs-internal/audits/DOCUMENTATION_AUDIT_CHECKLIST_2025-11-10.md
  docs-internal/audits/VERSION_REFERENCE_ANALYSIS_2025-11-10.md
  docs/api-compliance-report.mdx
  docs/api-reference/api-keys.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/service-principals.mdx
  docs/ci-cd/badges.mdx
  docs/deployment/iam-rbac-requirements.mdx
  docs/docs.json
  docs/guides/api-key-management.mdx
  docs/guides/scim-provisioning.mdx
  docs/guides/service-principals.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, check-mermaid-styling

fix(ci,security,tests): resolve CI/CD workflow failures
  .github/workflows/validate-kubernetes.yaml
  .pre-commit-config.yaml
  .yamllint.yml
Due: validate-github-workflows

docs: comprehensive documentation audit remediation (P0-P3)
  scripts/add_code_block_languages.py
  scripts/validate_code_block_languages.py
Due: none

docs: comprehensive documentation audit remediation (P0-P3)
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/advanced/troubleshooting.mdx
  docs/api-reference/mcp-endpoints.mdx
  docs/deployment/disaster-recovery.mdx
  docs/deployment/kubernetes.mdx
  docs/getting-started/architecture.mdx
  docs/getting-started/quickstart.mdx
  docs/guides/log-queries.mdx
  docs/guides/observability.mdx
  docs/guides/versioning-strategy.mdx
  docs/reference/configuration-files.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, check-mermaid-styling

docs: add versioning-strategy guide to navigation
  docs/docs.json
Due: validate-documentation-quality

feat(k8s): add kube-score compliance framework and production-gke patches
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/kube-score-compliance-patch.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/openfga-patch.yaml
  deployments/overlays/production-gke/otel-collector-patch.yaml
  deployments/overlays/production-gke/pod-disruption-budget.yaml
  deployments/overlays/production-gke/qdrant-patch.yaml
  tests/kubernetes/test_kube_score_compliance.py
Due: validate-pytest-markers

fix(docs): resolve Mintlify syntax errors and code fence script bug
  docs/advanced/troubleshooting.mdx
  docs/api-reference/mcp-endpoints.mdx
  docs/architecture/adr-0017-error-handling-strategy.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0029-custom-exception-hierarchy.mdx
  docs/deployment/disaster-recovery.mdx
  docs/deployment/gdpr-storage-configuration.mdx
  docs/deployment/keycloak-jwt-deployment.mdx
  docs/deployment/kubernetes.mdx
  docs/deployment/kubernetes/gke-staging.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/version-pinning.mdx
  docs/getting-started/architecture.mdx
  docs/getting-started/quickstart.mdx
  docs/guides/log-queries.mdx
  docs/guides/observability.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  docs/guides/versioning-strategy.mdx
  docs/reference/configuration-files.mdx
  scripts/fix_code_fence_closures.py
  scripts/fix_kube_score_issues.py
  scripts/fix_yaml_indent_sed.sh
  scripts/fix_yaml_indentation.py
  scripts/fix_yaml_indentation_complete.py
  scripts/fix_yaml_list_indentation.py
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, check-mermaid-styling

feat(k8s): complete kube-score compliance - 96.7% pass rate (148/153 checks)
  deployments/overlays/production-gke/deployment-containers-patch.yaml
  deployments/overlays/production-gke/deployment-initcontainers-patch.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/openfga-patch.yaml
  deployments/overlays/production-gke/otel-collector-patch.yaml
  deployments/overlays/production-gke/qdrant-patch.yaml
Due: none

test(infrastructure): add comprehensive Terraform & CI/CD validation tests (TDD Red phase)
  tests/infrastructure/test_ci_workflows.py
  tests/infrastructure/test_terraform_security.py
Due: validate-pytest-markers

fix(ci,terraform,k8s): resolve Codex security & validation findings (TDD Green phase)
  .github/workflows/ci.yaml
  .github/workflows/deployment-validation.yml
  terraform/backend-setup/README.md
  terraform/backend-setup/main.tf
  terraform/backend-setup/variables.tf
  terraform/modules/aws-secrets/main.tf
  terraform/modules/aws-secrets/variables.tf
  terraform/modules/azure-secrets/main.tf
  terraform/modules/azure-secrets/variables.tf
  tests/infrastructure/test_terraform_security.py
Due: check-doc-links, validate-documentation-quality, validate-github-workflows, validate-pytest-markers

test(tools): add comprehensive test coverage for tool_discovery module (0% → 100%)
  src/mcp_server_langgraph/tools/__init__.py
  tests/tools/test_tool_discovery.py
Due: validate-pytest-markers

fix(tests,k8s): resolve Codex findings - E2E config and staging security compliance
  deployments/overlays/staging-gke/deployment-init-containers-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  deployments/overlays/staging-gke/otel-collector-patch.yaml
  deployments/overlays/staging-gke/qdrant-patch.yaml
  tests/conftest.py
  tests/e2e/test_infrastructure_validation.py
  tests/test_kubernetes_security.py
Due: validate-pytest-markers

docs(security): add ADR-0051 and Trivy suppression for ExternalName service
  adr/adr-0051-memorystore-redis-externalname-service.md
  deployments/overlays/staging-gke/.trivyignore
Due: check-doc-links, validate-documentation-quality

fix(tests): update API test auth mocks and meta-test guard allowlist
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/meta/test_codex_regression_prevention.py
Due: validate-pytest-markers

fix(tests): suppress bandit B108 false positive in K8s volume mount check
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/test_kubernetes_security.py
Due: validate-pytest-markers

fix(terraform,k8s): resolve placeholder violation and multi-document YAML parsing
  terraform/modules/cloud-dns-staging/variables.tf
  tests/kubernetes/test_high_priority_improvements.py
Due: validate-pytest-markers

feat(ci,tests): implement tiered CI test strategy with LLM test exclusion
  .github/workflows/ci.yaml
  pyproject.toml
  tests/unit/test_llm_fallback_kwargs.py
Due: validate-github-workflows, validate-pytest-markers

fix(tests): resolve pytest-xdist API test failures (async/sync dependency override mismatch)
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Due: validate-pytest-markers

feat(k8s,ci): improve GCP compliance (5→2 CRITICAL kube-score issues)
  .github/workflows/gcp-compliance-scan.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/openfga-patch.yaml
  deployments/overlays/production-gke/otel-collector-patch.yaml
  deployments/overlays/production-gke/qdrant-patch.yaml
Due: validate-github-workflows

feat(k8s): eliminate ALL kube-score CRITICAL issues with JSON6902 probe patches (5→0)
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/openfga-liveness-probe-patch.yaml
  deployments/overlays/production-gke/otel-collector-liveness-probe-patch.yaml
  deployments/overlays/production-gke/qdrant-liveness-probe-patch.yaml
Due: none

fix(tests): resolve integration test warnings (TDD approach)
  pyproject.toml
  src/mcp_server_langgraph/llm/pydantic_agent.py
  tests/llm/__init__.py
  tests/llm/test_pydantic_model_names.py
  tests/property/test_auth_properties.py
  tests/property/test_event_loop_cleanup.py
  tests/test_validate_mintlify_docs.py
Due: validate-pytest-markers

fix(tests): suppress bandit B108 warnings for test /tmp paths
  tests/test_validate_mintlify_docs.py
Due: validate-pytest-markers

test(pydantic-ai): fix model name assertions to expect provider prefixes (pydantic-ai v0.0.14+ compliance)
  tests/llm/test_pydantic_model_names.py
  tests/test_pydantic_ai.py
Due: validate-pytest-markers
