Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers

validate-mintlify-docs:
  name: Validate Mintlify Documentation
  entry: python3 scripts/validate_mintlify_docs.py docs
  language: system
  pass_filenames: false
  always_run: false

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: python3 scripts/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

check-doc-links:
  name: Check Documentation Internal Links
  entry: python3 scripts/ci/check-links.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates internal documentation links to prevent broken references.
  
    Checks ADR cross-references, GitHub links, and active documentation.
  
    '

validate-documentation-quality:
  name: Validate Documentation Quality (MDX Parsing, Links, ADRs)
  entry: python -m pytest tests/meta/test_documentation_validation.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Comprehensive documentation validation tests (TDD):
  
  ...

validate-deployment-secrets:
  name: Validate deployment secret keys alignment
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_deployment_secret_keys_exist_in_template -v --tb=short
  language: system
  pass_filenames: false

validate-cors-security:
  name: Validate CORS security configuration
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_kong_cors_not_wildcard_with_credentials -v --tb=short
  language: system
  pass_filenames: false

check-hardcoded-credentials:
  name: Check for hard-coded credentials
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_no_hardcoded_credentials_in_configmap -v --tb=short
  language: system
  pass_filenames: false

validate-redis-password-required:
  name: Ensure Redis password is mandatory
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_redis_password_not_optional -v --tb=short
  language: system
  pass_filenames: false

check-mermaid-styling:
  name: Check Mermaid Diagrams for ColorBrewer2 Set3 Styling
  entry: python3 scripts/check_mermaid_styling.py
  language: system
  pass_filenames: true
  always_run: false

validate-github-workflows:
  name: Validate GitHub Actions Workflow Context Usage
  entry: uv run python scripts/validate_github_workflows.py
  language: system
  pass_filenames: false
  description: 'Validates that GitHub Actions workflows don''t reference undefined
  
  ...

validate-dependency-injection:
  name: Validate Dependency Injection Configuration
  entry: python3 .githooks/pre-commit-dependency-validation
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that dependency injection is properly configured to prevent:
  
    1. Missing Keycloak admin credentials
  
  ...

style: run black and isort formatter on CI/CD validation tests
  tests/test_ci_cd_validation.py
Due: validate-pytest-markers

feat(ci): add lockfile validation and workflow health dashboard
  .github/actions/retry-step/action.yml
  .github/workflows/ci.yaml
  .github/workflows/workflow-health-dashboard.yaml
  docs/workflows/SECRETS.md
  tests/test_ci_cd_validation.py
Due: check-doc-links, validate-documentation-quality, validate-github-workflows, validate-pytest-markers

refactor(ci): simplify DORA metrics script to use gh CLI
  scripts/ci/dora_metrics.py
  tests/test_ci_cd_validation.py
Due: validate-pytest-markers

fix(lint): remove unused redis import from api_keys.py
  src/mcp_server_langgraph/auth/api_keys.py
Due: none

docs(security): update outdated credential references in error messages
  src/mcp_server_langgraph/auth/factory.py
Due: none

docs(security): update authentication example to remove old credential reference
  src/mcp_server_langgraph/mcp/server_streamable.py
Due: none

feat(ci): enhance workflow dependency reproducibility with --frozen flag
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/observability-alerts.yaml
Due: validate-github-workflows

fix(workflows): complete comprehensive workflow audit remediation (TDD)
  .github/CI_CD_AUDIT_COMPLETE.md
  .github/archive/audits-2025-11/WORKFLOW_AUDIT_REMAINING.md
  .github/archive/audits-2025-11/workflow-validation-2025-11-07.md
  .github/workflows/ci.yaml
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/observability-alerts.yaml
  .pre-commit-config.yaml
  scripts/test-workflows.sh
  tests/test_docker_paths.py
  tests/test_workflow_dependencies.py
  tests/test_workflow_security.py
  tests/test_workflow_syntax.py
Due: check-doc-links, validate-documentation-quality, validate-github-workflows, validate-pytest-markers

test(workflows): remove redundant aggregated actionlint test
  tests/test_workflow_syntax.py
Due: validate-pytest-markers

docs(audit): comprehensive workflow audit completion report
  .github/WORKFLOW_AUDIT_COMPLETION_REPORT.md
Due: check-doc-links, validate-documentation-quality

feat(ci): add permanent workflow validation to CI pipeline (TDD complete)
  .github/workflows/ci.yaml
  .github/workflows/cost-tracking.yaml
  .github/workflows/e2e-tests.yaml
  scripts/test-workflows.sh
Due: validate-github-workflows

fix(workflows): complete dependency locking and critical shellcheck fixes (TDD)
  .github/WORKFLOW_TESTING_CHECKLIST.md
  .github/workflows/coverage-trend.yaml
  .github/workflows/optional-deps-test.yaml
  .github/workflows/track-skipped-tests.yaml
  .github/workflows/workflow-health-dashboard.yaml
Due: check-doc-links, validate-documentation-quality, validate-github-workflows

feat(security): add comprehensive security scan reporting system (TDD)
  .gitignore
  Makefile
  scripts/security/README.md
  scripts/security/__init__.py
  scripts/security/generate_report.py
  tests/test_security_report.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

docs(security): add comprehensive try/except/pass pattern analysis
  .gitignore
  docs/security/TRY_EXCEPT_PASS_ANALYSIS.md
Due: check-doc-links, validate-documentation-quality

fix(security): correct TruffleHog BASE/HEAD logic for schedule events (TDD)
  .github/workflows/security-scan.yaml
Due: validate-github-workflows

fix(ci): improve actionlint installation reliability (TDD)
  .github/workflows/ci.yaml
Due: validate-github-workflows

fix(e2e): increase health check timeout to 10 minutes (TDD)
  .github/workflows/e2e-tests.yaml
Due: validate-github-workflows

fix(k8s): add security contexts to all staging-gke containers (TDD)
  deployments/overlays/staging-gke/deployment-init-containers-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  deployments/overlays/staging-gke/qdrant-patch.yaml
Due: none

fix(auth): fix property-based tests after security hardening (TDD)
  tests/property/test_auth_properties.py
Due: validate-pytest-markers

refactor(types): remove 2 unused type:ignore comments (MyPy quick win)
  src/mcp_server_langgraph/core/storage/conversation_store.py
Due: none

refactor(types): fix 11 MyPy errors with type parameter quick wins (TDD)
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/llm/factory.py
Due: validate-dependency-injection

fix(test): fix fixture organization plugin scope checking (TDD)
  tests/conftest_fixtures_plugin.py
  tests/integration/test_docker_health_checks.py
  tests/test_docker_compose_validation.py
Due: validate-pytest-markers

fix(docker): replace wget with grpc_health_probe for Qdrant health checks (TDD)
  .pre-commit-config.yaml
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  tests/integration/test_docker_health_checks.py
  tests/test_docker_compose_validation.py
Due: validate-pytest-markers

fix(ci,deployment): resolve 3 critical Codex findings + 1 bonus Kustomize issue (TDD)
  .github/workflows/ci.yaml
  deployments/argocd/base/kustomization.yaml
  deployments/overlays/staging-gke/openfga-json-patch.yaml
  tests/meta/test_github_actions_validation.py
Due: validate-github-workflows, validate-pytest-markers

fix(tests,types): resolve collection blockers and duplicate test file
  src/mcp_server_langgraph/core/storage/conversation_store.py
  tests/workflows/test_github_actions_validation.py
Due: validate-pytest-markers

docs(codex): add comprehensive findings resolution report
  docs-internal/CODEX_FINDINGS_RESOLUTION_REPORT.md
Due: check-doc-links, validate-documentation-quality

add Benchmark (pytest) benchmark result for 7c88a5c92cdfa374bf7ac7f7d302c1991c56f7e5
  dev/bench/data.js
Due: none

fix(auth,tests): add auth_middleware parameter to require_auth decorator (partial fix)
  src/mcp_server_langgraph/auth/middleware.py
  tests/test_auth.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for 6df91788fd644780b1aa856ffd294b1f754aa877
  dev/bench/data.js
Due: none

fix(ci,tests,security,deployment): resolve 5 critical Codex findings + regression tests (TDD)
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-kubernetes.yaml
  .pre-commit-config.yaml
  deployments/overlays/staging-gke/qdrant-patch.yaml
  pyproject.toml
  tests/deployment/test_helm_placeholder_validation.py
  tests/regression/test_performance_regression.py
  tests/security/test_deployment_security_regression.py
  tests/test_ci_workflow_dependencies.py
  tests/test_workflow_health_dashboard.py
Due: validate-github-workflows, validate-pytest-markers

add Benchmark (pytest) benchmark result for db0e89a981ab095b029b76050390913c66021c7e
  dev/bench/data.js
Due: none

fix(tests): add CLI tool guards and proper E2E infrastructure checks (Codex Phase 1)
  pyproject.toml
  tests/conftest.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/e2e/test_full_user_journey.py
  tests/meta/test_suite_validation.py
  tests/test_ci_cd_validation.py
  tests/test_deployment_manifests.py
Due: validate-pytest-markers

docs(agent): clarify LangGraph operator.add behavior for message state
  src/mcp_server_langgraph/core/agent.py
  tests/test_conversation_state_persistence.py
Due: validate-pytest-markers

fix(deployments): resolve 12 Codex findings + 2 additional deployment issues (TDD)
  deployments/README.md
  deployments/base/serviceaccount-roles.yaml
  deployments/helm/values-production-gke.yaml
  deployments/overlays/production-gke/README.md
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/production-gke/serviceaccount-patch.yaml
  deployments/overlays/production/configmap-patch.yaml
  deployments/overlays/staging-gke/DNS_SETUP.md
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/redis-session-endpoints.yaml
  tests/deployment/test_codex_findings_validation.py
Due: check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-cors-security, validate-pytest-markers

refactor(tools): convert tool registry to factory pattern for runtime config
  pyproject.toml
  src/mcp_server_langgraph/tools/__init__.py
  tests/conftest.py
  tests/meta/test_performance_regression.py
  tests/unit/test_parallel_executor_timeout.py
Due: validate-pytest-markers

fix(tools): replace filesystem stub logger with real telemetry
  src/mcp_server_langgraph/tools/filesystem_tools.py
Due: none

add Benchmark (pytest) benchmark result for 6cfd97e3b1972cfb5d42a5a2d8c4377d1183e2a9
  dev/bench/data.js
Due: none

fix(deployments,tests): resolve kustomize Service ID conflict + test marker + placeholder
  deployments/overlays/production-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/redis-session-endpoints.yaml
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
  tests/deployment/pytest.ini
Due: none

refactor(tests): improve maintainability and enable skipped tests (Codex Phase 3)
  scripts/validate_test_suite.py
  src/mcp_server_langgraph/core/dependencies.py
  tests/test_deployment_manifests.py
  tests/unit/test_dependencies_wiring.py
Due: validate-dependency-injection, validate-pytest-markers

Path conditions:
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
