Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

feat(lifecycle): add idempotent aclose methods for resource cleanup
  .pre-commit-config.yaml
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/encrypted_session_store.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/auth/token_denylist.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/database/session.py
  src/mcp_server_langgraph/lifecycle/__init__.py
  src/mcp_server_langgraph/lifecycle/cleanup.py
  src/mcp_server_langgraph/notifications/preferences.py
  src/mcp_server_langgraph/storage/vectors/factory.py
  tests/integration/lifecycle/__init__.py
  tests/integration/lifecycle/test_shutdown_cleanup.py
  tests/integration/tools/test_semantic_search_integration.py
  tests/unit/auth/__init__.py
  tests/unit/auth/test_api_key_manager_close.py
  tests/unit/auth/test_openfga_concurrent_init.py
  tests/unit/auth/test_session_store_close.py
  tests/unit/auth/test_token_denylist_close.py
  tests/unit/core/storage/test_conversation_store_close.py
  tests/unit/core/test_cache_close.py
  tests/unit/database/test_session_registry.py
  tests/unit/notifications/test_preferences_close.py
  tests/unit/storage/vectors/test_qdrant_shared.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add cleanup hooks and improve AI UX service
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/api/v1/vectors.py
  tests/unit/api/test_sessions_cleanup.py
  tests/unit/api/test_websocket_permissions_endpoint.py
  tests/unit/api/v1/test_ai_ux_artifact_storage.py
  tests/unit/api/v1/test_ai_ux_composite_analysis.py
  tests/unit/api/v1/test_ai_ux_endpoints.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/api/v1/test_ai_ux_model_selector.py
  tests/unit/api/v1/test_ai_ux_production_features.py
  tests/unit/api/v1/test_ai_ux_session_cache.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core): add multi-provider embeddings and lifecycle hooks
  src/mcp_server_langgraph/bootstrap/storage.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/integration/test_dynamic_context_loader.py
  tests/unit/core/test_dependencies_wiring.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(tools): enhance semantic search with improved ranking
  src/mcp_server_langgraph/tools/__init__.py
  src/mcp_server_langgraph/tools/search_tools.py
  src/mcp_server_langgraph/websocket/types.py
  tests/unit/tools/test_search_tools.py
  tests/unit/websocket_pkg/test_types.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(infra): update test fixtures and add Keycloak/Grafana meta tests
  tests/conftest.py
  tests/e2e/default-realm.json
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_grafana_dashboard_provisioning.py
  tests/unit/database/test_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: update ADRs and frontend documentation
  README.md
  adr/adr-0091-api-response-transformation-strategy.md
  adr/adr-0093-chat-input-unification.md
  docs-internal/UX_AUDIT_REPORT.md
  docs-internal/frontend/ACCESSIBILITY_IMPLEMENTATION.md
  docs-internal/frontend/DESIGN_SYSTEM.md
  docs-internal/frontend/KEYBOARD_SHORTCUTS.md
  docs-internal/frontend/testing/TESTING_OOM_PREVENTION.md
  docs/architecture/adr-0093-chat-input-unification.mdx
  docs/architecture/adr-0093-openfga-relation-inheritance-patterns.mdx
  src/mcp_server_langgraph/studio/frontend/src/layout/__tests__/README.md
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

chore(config): update test environment and Docker Compose configuration
  .env.test
  docker-compose.test.yml
Due: none

chore(deps): update dependencies and add qdrant-client extras
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

chore(config): update test environment and ESLint configuration
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
Due: none

docs: add KB Focus Mode and multi-tenant vector search ADRs
  .claude/context/code-patterns.md
  .claude/context/testing-patterns.md
  README.md
  adr/adr-0091-api-response-transformation-strategy.md
  adr/adr-0094-kb-focus-mode.md
  adr/adr-0095-multi-tenant-vector-search-isolation.md
  docs-internal/audits/SEMANTIC_SEARCH_AUDIT_COMPLETION_2026-01-06.md
  docs-internal/migrations/embedding-migration-guide.md
  docs-internal/rollout/feature-flag-rollout-strategy.md
  docs/architecture/adr-0094-kb-focus-mode.mdx
  docs/architecture/adr-0095-multi-tenant-vector-search-isolation.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

feat(core): add KB Focus Mode and progressive context discovery
  src/mcp_server_langgraph/core/__init__.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/feature_flags.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(agents): enhance agent lifecycle and tool binding
  src/mcp_server_langgraph/agents/loop_agent.py
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/agents/worker_agent.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(memory): add semantic deduplication and enhanced store
  src/mcp_server_langgraph/memory/store.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(context): add lifecycle hooks to codebase loader
  src/mcp_server_langgraph/context/codebase_loader.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(skills): add search adapters and progressive loader enhancements
  src/mcp_server_langgraph/skills/__init__.py
  src/mcp_server_langgraph/skills/adapters.py
  src/mcp_server_langgraph/skills/progressive_loader.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(api): add KB Focus Mode and status endpoint
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/kb.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(tools): enhance file tools with validation improvements
  src/mcp_server_langgraph/tools/edit_file_tools.py
  src/mcp_server_langgraph/tools/write_file_tools.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(observability): add token usage dashboard and telemetry hooks
  monitoring/grafana/dashboards/Application/conversation-token-usage.json
  src/mcp_server_langgraph/observability/telemetry.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan, validate-grafana-dashboards

chore(dashboards): sync dashboard formatting and content
  deployments/helm/mcp-server-langgraph/dashboards/Application/alert-dashboard.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/conversation-token-usage.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/hitl-metrics.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/multi-agent-cost-tracking.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/orchestrator-metrics.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/orchestrator-status.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/push-analytics.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/skills-agents.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/unified-api.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/visual-verification.json
  deployments/helm/mcp-server-langgraph/dashboards/Compliance/audit-compliance.json
  monitoring/grafana/dashboards/Application/alert-dashboard.json
  monitoring/grafana/dashboards/Application/conversation-token-usage.json
  monitoring/grafana/dashboards/Application/hitl-metrics.json
  monitoring/grafana/dashboards/Application/multi-agent-cost-tracking.json
  monitoring/grafana/dashboards/Application/orchestrator-metrics.json
  monitoring/grafana/dashboards/Application/orchestrator-status.json
  monitoring/grafana/dashboards/Application/push-analytics.json
  monitoring/grafana/dashboards/Application/skills-agents.json
  monitoring/grafana/dashboards/Application/unified-api.json
  monitoring/grafana/dashboards/Application/visual-verification.json
  monitoring/grafana/dashboards/Compliance/audit-compliance.json
Due: trivy-helm-full-scan, validate-grafana-dashboards

docs(dashboards): update dashboard README with new folder structure
  monitoring/grafana/dashboards/README.md
Due: none

refactor(monitoring): consolidate alert rules from K8s CRD to Prometheus format
  .pre-commit-config.yaml
  README.md
  adr/adr-0096-alert-consolidation-and-quality.md
  deployments/monitoring/alerting-rules/alert-dashboard-alerts.yaml
  deployments/monitoring/alerting-rules/hitl-alerts.yaml
  deployments/monitoring/alerting-rules/resilience-alerts.yaml
  deployments/monitoring/prompt-quality-alerts.yaml
  deployments/monitoring/slo-alerts.yaml
  docker/mimir/rules/alert-dashboard-alerts.yaml
  docker/mimir/rules/conversation-token-alerts.yaml
  docker/mimir/rules/hitl-alerts.yaml
  docker/mimir/rules/langgraph-agent-alerts.yaml
  docker/mimir/rules/prompt-quality-alerts.yaml
  docker/mimir/rules/sla-uptime-alerts.yaml
  docker/mimir/rules/slo-alerts.yaml
  docker/mimir/rules/slo-recording-rules.yaml
  docker/mimir/rules/streaming-sla-alerts.yaml
  docker/mimir/rules/studio-ai-cost-alerts.yaml
  docker/mimir/rules/websocket-reconnection-alerts.yaml
  docs/architecture/adr-0096-alert-consolidation-and-quality.mdx
  monitoring/prometheus/alerts/langgraph-agent.yaml
  monitoring/prometheus/alerts/sla.yaml
  monitoring/prometheus/rules/alert-dashboard-alerts.yaml
  monitoring/prometheus/rules/conversation-token-alerts.yml
  monitoring/prometheus/rules/hitl-alerts.yaml
  monitoring/prometheus/rules/langgraph-agent-alerts.yaml
  monitoring/prometheus/rules/prompt-quality-alerts.yaml
  monitoring/prometheus/rules/resilience-alerts.yaml
  monitoring/prometheus/rules/sla-uptime-alerts.yaml
  monitoring/prometheus/rules/slo-alerts.yaml
  monitoring/prometheus/rules/studio-ai-cost-alerts.yaml
  monitoring/runbooks/sla-alerts.md
  scripts/alert-coverage-report.py
  scripts/convert-k8s-crd-alerts.py
  scripts/sync-mimir-rules.sh
  scripts/validators/validate_alert_rules.py
  tests/unit/scripts/test_alert_consolidation.py
  tests/unit/scripts/test_convert_k8s_crd_alerts.py
  tests/unit/scripts/test_sync_grafana_dashboards.py
  tests/unit/scripts/test_sync_mimir_rules.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(monitoring): add HEART metrics dashboard
  deployments/helm/mcp-server-langgraph/dashboards/HEART/heart-metrics.json
  monitoring/grafana/dashboards/HEART/heart-metrics.json
Due: trivy-helm-full-scan, validate-grafana-dashboards

refactor(api): improve WebSocket handlers and backend services
  src/mcp_server_langgraph/agents/worker_agent.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/ai_ux_graph.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/cost_tracking_ws.py
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/heart_metrics_ws.py
  src/mcp_server_langgraph/api/v1/kb.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/auth/device_auth.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/models/execution_plan.py
  src/mcp_server_langgraph/core/models/plan_template.py
  src/mcp_server_langgraph/core/schema_validator.py
  src/mcp_server_langgraph/notifications/push_sender.py
  src/mcp_server_langgraph/observability/broadcasting_span_processor.py
  src/mcp_server_langgraph/repositories/execution_plan.py
  src/mcp_server_langgraph/repositories/plan_template.py
  src/mcp_server_langgraph/storage/vectors/inmemory.py
  src/mcp_server_langgraph/storage/vectors/pgvector_provider.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  src/mcp_server_langgraph/websocket/handlers/metrics_broadcaster.py
  src/mcp_server_langgraph/websocket/metrics.py
  tests/unit/alerts/test_ai_recommendation.py
  tests/unit/api/test_genui_api.py
  tests/unit/api/v1/test_ai_ux_base_class.py
  tests/unit/api/v1/test_ai_ux_service_mixin_migration.py
  tests/unit/api/v1/test_cost_tracking_ws.py
  tests/unit/api/v1/test_heart_metrics_ws.py
  tests/unit/api/v1/test_observability_router.py
  tests/unit/api/v1/test_websocket_metrics_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(runbooks): add comprehensive incident response runbooks
  monitoring/runbooks/auth-spike.md
  monitoring/runbooks/authentication-alerts.md
  monitoring/runbooks/authz-spike.md
  monitoring/runbooks/conversation-token-alerts.md
  monitoring/runbooks/health-check-failing.md
  monitoring/runbooks/high-cpu.md
  monitoring/runbooks/high-error-rate.md
  monitoring/runbooks/high-latency.md
  monitoring/runbooks/high-memory.md
  monitoring/runbooks/infisical-down.md
  monitoring/runbooks/infrastructure-alerts.md
  monitoring/runbooks/insufficient-replicas.md
  monitoring/runbooks/keycloak-slow.md
  monitoring/runbooks/keycloak-token-refresh.md
  monitoring/runbooks/langgraph-agent-health.md
  monitoring/runbooks/llm-performance-alerts.md
  monitoring/runbooks/llm-provider-errors.md
  monitoring/runbooks/low-disk-space.md
  monitoring/runbooks/openfga-down.md
  monitoring/runbooks/pod-restarts.md
  monitoring/runbooks/prompt-quality-alerts.md
  monitoring/runbooks/redis-down.md
  monitoring/runbooks/redis-memory.md
  monitoring/runbooks/redis-pool.md
  monitoring/runbooks/resilience-alerts.md
  monitoring/runbooks/scale-down.md
  monitoring/runbooks/scale-up.md
  monitoring/runbooks/service-down.md
  monitoring/runbooks/session-errors.md
  monitoring/runbooks/session-ttl.md
  monitoring/runbooks/slow-llm.md
  monitoring/runbooks/streaming-alerts.md
  monitoring/runbooks/suspicious-activity.md
  monitoring/runbooks/token-validation-failures.md
  monitoring/runbooks/unauthorized-access.md
Due: none

feat(dashboards): enhance cost monitoring dashboard and validation
  deployments/helm/mcp-server-langgraph/dashboards/Application/cost-monitoring.json
  monitoring/grafana/dashboards/Application/cost-monitoring.json
  monitoring/grafana/dashboards/README.md
  scripts/validation/validate_grafana_dashboards.py
  tests/meta/test_dashboard_datasource_consistency.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-helm-full-scan, semgrep-security-scan, validate-pytest-fixtures, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: update ADR and internal documentation
  adr/adr-0030-resilience-patterns.md
  docs-internal/ADR-0075-LLM-STREAMING-METRICS.md
  docs-internal/AI_INTELLIGENCE_SERVICES.md
  docs-internal/COMPLIANCE.md
Due: validate-docs, validate-adr-index, check-internal-links

chore: update mypy configuration for optional dependencies
  pyproject.toml
  tests/unit/api/v1/test_chat_streaming_production.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(api): correct metrics client import path in agents endpoint
  src/mcp_server_langgraph/api/v1/agents.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(grafana): configure session token rotation and enable Live features
  docker-compose.test.yml
Due: none

fix(observability): improve span serialization and query backends
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/observability/broadcasting_span_processor.py
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/observability/trace_broadcaster.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(api): correct PromQL queries and OAuth cookie security
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/api/v1/sessions.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(agents): add Vertex AI Gemini 3 preview models
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/agents/router_agent.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(mcp): add DevTools middleware and improve emitter protocol
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/devtools_emitter.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(frontend): improve DevTools layout and API pagination types
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/ConsoleTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/TracesTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/ObservabilityDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/MessageBubble.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/MessageList.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIPersonaAnalysis.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
Due: none

feat(config): use Vertex AI fallback models and enable drop_params
  .env.test
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/config/llm.py
  src/mcp_server_langgraph/llm/factory.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(lint): resolve final Ruff linting errors
  tests/benchmarks/test_alert_grouping_benchmark.py
  tests/integration/websocket/test_heart_metrics_websocket.py
  tests/unit/core/test_agent_interrupt.py
  tests/unit/repositories/test_plan_template_repository.py
  tests/unit/ws_handlers/test_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation
