Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false

run-unit-tests:
  name: Run Unit Tests (focused suite - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest --testmon-noselect -n auto -m "unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

run-smoke-tests:
  name: Run Smoke Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/smoke/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs smoke tests to validate critical paths.
  
  
    Stops on first failure (-x) for faster feedback.
  
  ...

run-api-tests:
  name: Run API Endpoint Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m "api and unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs API endpoint tests to match CI.
  
  
  ...

run-mcp-server-tests:
  name: Run MCP Server Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/unit/test_mcp_stdio_server.py -m "not llm" -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs MCP protocol server tests to match CI.
  
  
  ...

run-property-tests:
  name: Run Property-Based Tests (dev profile - 25 examples)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m property tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/check_test_sleep_duration.py
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

fix(tests): resolve Python 3.10 compatibility and pre-commit validation failures
  pyproject.toml
  tests/meta/test_codex_config_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/regression/test_dev_dependencies.py
  tests/regression/test_precommit_hook_dependencies.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): correct GitHub API repository reference in Track Skipped Tests workflow
  .github/workflows/track-skipped-tests.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(code-quality): remove unused imports flagged by CodeQL
  scripts/run_pre_push_tests.py
  tests/meta/test_pre_push_orchestrator.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): correct schema validation in test_error_response_format
  tests/integration/contract/test_mcp_contract.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs: fix Mintlify validation errors and complete documentation audit
  docs-templates-mintlify/README.md
  docs-templates-mintlify/adr-template.md
  docs-templates-mintlify/deployment-template.md
  docs-templates-mintlify/guide-template.md
  docs-templates-mintlify/reference-template.md
  docs/.mintlify/templates
  docs/deployment/kubernetes/gke.mdx
  docs/docs.json
  docs/guides/local-models.mdx
  docs/infrastructure/DOCKER_HEALTHCHECK_PATTERNS.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

fix(tests): resolve 7 contract test failures in MCP protocol compliance
  tests/integration/contract/mcp_schemas.json
  tests/integration/contract/test_mcp_contract.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add pytest-xdist isolation markers to unit tests
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): resolve contract test coverage threshold and cache conflicts
  .github/actions/setup-python-deps/action.yml
  .github/workflows/quality-tests.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(ci): correct pytest-cov argument for coverage threshold override
  .github/workflows/quality-tests.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(ci): downgrade dependency check to warning, show actual conflicts
  .github/actions/setup-python-deps/action.yml
Due: validate-github-action-versions

fix(ci): add coverage threshold override to property and regression tests
  .github/workflows/quality-tests.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(ci): add coverage threshold override to E2E tests
  .github/workflows/e2e-tests.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(ci): add coverage threshold override to integration tests
  .github/workflows/integration-tests.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(tests): standardize postgres test port to 9432 for consistency
  docker-compose.test.yml
  docs/development/cache-management-strategy.mdx
  docs/development/coverage-threshold-philosophy.mdx
  tests/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-docker-compose-health-checks, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(docs): resolve MDX syntax and broken link issues (38 fixes)
  docs/deployment/kubernetes/gke.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/coverage-threshold-philosophy.mdx
  docs/guides/local-models.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

fix(tests): standardize PostgreSQL test port to 9432 across all integration tests
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/security/test_sql_injection_gdpr.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add unique teardown fixtures for xdist memory safety compliance
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_kubernetes_health_probes.py
  tests/integration/test_pydantic_ai.py
  tests/integration/test_workflow_health_dashboard.py
  tests/integration/test_workflow_health_dashboard_bc_fix.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add unit markers to test files for CI visibility
  tests/unit/test_cache_redis_config.py
  tests/unit/test_dependencies_wiring.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): correct project root path calculation in GDPR schema tests
  tests/integration/security/test_gdpr_schema_setup.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): correct project root path in SQL injection test db_pool fixture
  tests/integration/security/test_sql_injection_gdpr.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): use shared db_pool_gdpr fixture instead of local db_pool
  tests/integration/security/test_sql_injection_gdpr.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(infra): isolate PostgreSQL databases for each service
  docker-compose.test.yml
  migrations/000_init_databases.sh
Due: validate-docker-compose-health-checks

docs(migrations): add comprehensive Alembic migration strategy documentation
  alembic/README.md
  alembic/env.py
Due: check-banned-imports, validate-documentation-integrity, validate-documentation-structure

fix(infra): resolve CI infrastructure timeout and monitoring issues
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/workflow-health-dashboard.yaml
  alembic/README
  deployments/helm/mcp-server-langgraph/templates/deployment.yaml
  tests/integration/test_docker_health_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-deployment-secrets, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, helm-lint, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

fix(ci): create missing consolidated GitHub workflow validator script
  scripts/validators/validate_github_workflows_comprehensive.py
Due: check-banned-imports

fix(infra): resolve GKE staging pod failures with TDD approach
  .github/workflows/deploy-staging-gke.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/otel-collector-patch.yaml
  tests/kubernetes/test_kustomize_staging_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-cors-security, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

fix(gdpr): datetime serialization and database rename to gdpr_test
  migrations/000_init_databases.sh
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): update conftest.py database name to gdpr_test
  tests/conftest.py
  tests/kubernetes/test_kustomize_staging_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(kustomize): use staging-latest tag for mcp-server-langgraph image
  deployments/overlays/staging-gke/kustomization.yaml
Due: trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds

fix(security): document readOnlyRootFilesystem exception for Keycloak/Quarkus
  deployments/overlays/staging-gke/.trivyignore
Due: none

feat(database): implement comprehensive multi-database architecture with validation
  .github/CONTRIBUTING.md
  .github/workflows/integration-tests.yaml
  README.md
  adr/adr-0056-database-architecture-and-naming-convention.md
  deployments/QUICKSTART.md
  deployments/base/postgres-statefulset.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docker-compose.dev.yml
  docker/docker-compose.yml
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  migrations/000_init_databases.sh
  package.json
  scripts/postgres/init-multiple-databases.sh
  src/mcp_server_langgraph/health/database_checks.py
  tests/integration/health/test_database_validation_integration.py
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-cors-security, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

docs: fix naming conventions and frontmatter compliance
  deployments/base/deployment.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/commands.mdx
  docs/development/coverage-threshold-philosophy.mdx
  docs/development/validation-strategy.mdx
  docs/development/workflow-diagram.mdx
  docs/development/workflows.mdx
  docs/docs.json
  docs/infrastructure/docker-healthcheck-patterns.mdx
  docs/kubernetes/configmap-best-practices.mdx
  docs/kubernetes/keycloak-readonly-filesystem.mdx
  docs/kubernetes/pod-crash-resolution-2025-11-12.mdx
  docs/security/try-except-pass-analysis.mdx
  docs/workflows/secrets.mdx
  scripts/profile_pre_push_hooks.sh
  tests/deployment/test_security_hardening.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/kubernetes/test_kustomize_staging_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs: convert contributor guides to public .mdx
  .github/workflows/integration-tests.yaml
  docs-internal/SEQUENCE_DIAGRAM_THEME.md
  docs-internal/reports/mintlify-broken-links-report.md
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  docs/.mintlify/templates
  docs/docs.json
  docs/references/documentation-authoring-guide.mdx
  docs/references/icon-selection-guide.mdx
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  tests/conftest.py
  tests/test_postgres_connection_config.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

fix(scripts): resolve all 45 shellcheck warnings to pass CI workflow
  .pre-commit-config.yaml
  docs/development/workflows.mdx
  scripts/bump-version.sh
  scripts/check-deployment-health.sh
  scripts/check-pr-status.sh
  scripts/dependency-audit.sh
  scripts/deploy-all-phases.sh
  scripts/deploy-azure-aks.sh
  scripts/deployment/deploy_langgraph_platform.sh
  scripts/development/generate_clients.sh
  scripts/gcp/setup-staging-infrastructure.sh
  scripts/gcp/setup-vertex-ai-staging.sh
  scripts/gcp/teardown-staging-infrastructure.sh
  scripts/test-worktree-automation.sh
  scripts/test_agentic_loop.sh
  scripts/validate-infrastructure.sh
  scripts/validators/file_naming_validator.py
  tests/unit/documentation/test_file_naming_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(docs): resolve all MDX syntax errors and broken links for Mintlify validation
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/development/commands.mdx
  docs/development/workflow-diagram.mdx
  docs/development/workflows.mdx
  docs/guides/local-models.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

docs: add SEO fields to all MDX files (Phase 4)
  .trufflehogignore
  docs/api-reference/api-keys.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/sdk-quickstart.mdx
  docs/api-reference/service-principals.mdx
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/architecture/adr-0051-memorystore-redis-externalname-service.mdx
  docs/architecture/adr-0052-pytest-xdist-isolation-strategy.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0056-database-architecture-and-naming-convention.mdx
  docs/architecture/adr-0058-pytest-xdist-state-pollution-prevention.mdx
  docs/ci-cd-troubleshooting.mdx
  docs/ci-cd/elite-features.mdx
  docs/ci-cd/local-testing.mdx
  docs/ci-cd/overview.mdx
  docs/deployment/advanced/api-gateway.mdx
  docs/deployment/gcp-configuration.mdx
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/deployment/iam-rbac-requirements.mdx
  docs/deployment/kubernetes/multi-cloud-lessons.mdx
  docs/deployment/operations/issue-prevention.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/coverage-threshold-philosophy.mdx
  docs/development/workflows.mdx
  docs/getting-started/day-1-developer.mdx
  docs/guides/container-migration.mdx
  docs/infrastructure/docker-healthcheck-patterns.mdx
  docs/kubernetes/configmap-best-practices.mdx
  docs/kubernetes/keycloak-readonly-filesystem.mdx
  docs/kubernetes/pod-crash-resolution-2025-11-12.mdx
  docs/references/documentation-authoring-guide.mdx
  docs/references/icon-selection-guide.mdx
  docs/security/remediation-guide.mdx
  docs/security/try-except-pass-analysis.mdx
  docs/workflows/secrets.mdx
  scripts/add_seo_fields.py
  scripts/validators/frontmatter_validator.py
Due: check-banned-imports, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

fix(security): document TruffleHog exclusions for test credentials
  .github/workflows/gcp-compliance-scan.yaml
  docs-internal/P1_GCP_COMPLIANCE_FIX.md
Due: actionlint-workflow-validation, validate-documentation-integrity, validate-documentation-structure, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(tests): add spec to AsyncMock instances to prevent authorization bypass (2/65+)
  tests/api/test_bearer_scheme_diagnostic.py
  tests/regression/test_bearer_scheme_isolation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-api-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add spec to AsyncMock instances - cleanup scheduler + e2e clients (22/65+)
  tests/e2e/test_real_clients.py
  tests/test_cleanup_scheduler.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add spec to Keycloak AsyncMock instances - startup validation (26/65+)
  tests/integration/test_app_startup_validation.py
  tests/integration/test_mcp_startup_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-unit-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  run-smoke-tests: any of: ^(src/.*\.py|tests/smoke/.*\.py)$
  run-api-tests: any of: ^(src/.*\.py|tests/api/.*\.py)$
  run-mcp-server-tests: any of: ^(src/.*\.py|tests/unit/test_mcp_stdio_server\.py)$
  run-property-tests: any of: ^(src/.*\.py|tests/.*\.py)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
