Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

Path conditions:
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$

fix(tests): harden fixtures + add critical xdist_group markers to prevent pytest-xdist worker pollution
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/regression/test_pytest_xdist_environment_pollution.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve pytest-xdist 401 errors with importlib.reload() pattern
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): apply Revision 7 importlib.reload() to GDPR endpoints + fix test bug
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_bearer_scheme_isolation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): apply Revision 7 importlib.reload() to ALL regression tests
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(testing): add worker-safe test ID utilities to prevent database pollution
  tests/regression/test_worker_safe_test_ids.py
  tests/utils/worker_safe_ids.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve Docker environment import/path errors in integration tests
  docker/Dockerfile.test
  tests/conftest.py
  tests/meta/test_docker_environment.py
  tests/regression/test_pod_deployment_regression.py
  tests/test_mdx_validation.py
  tests/unit/documentation/test_codeblock_autofixer.py
  tests/unit/documentation/test_codeblock_validator.py
  tests/unit/documentation/test_frontmatter_validator.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(meta): update xdist enforcement test for current architecture
  tests/meta/test_pytest_xdist_enforcement.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve pre-existing test failures in integration and regression tests
  tests/integration/test_docker_image_assets.py
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_bearer_scheme_isolation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(ci): update astral-sh/setup-uv from v5 to v7.1.1
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions

fix(docker): standardize container names in test compose file
  docker/docker-compose.test.yml
Due: validate-docker-compose-health-checks

fix(tests): resolve litellm async client cleanup warnings + validate Codex findings
  tests/conftest.py
  tests/meta/test_codex_regression_prevention.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/regression/test_pytest_xdist_environment_pollution.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): add timeouts to prevent test hangs in litellm cleanup
  tests/conftest.py
  tests/meta/test_plugin_guards.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(docs): resolve MDX validation errors blocking Phase 1 push
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
  tests/meta/test_documentation_validation.py
  tests/regression/test_documentation_structure.py
Due: check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(deps,terraform): resolve pre-push hook validation errors
  pyproject.toml
  scripts/calculate_gke_resources.py
  terraform/backend-setup-gcp/main.tf
  terraform/environments/aws-staging/main.tf
  uv.lock
Due: validate-pytest-config, validate-pytest-markers

fix(tests): increase timeout for test_plugin_allows_collect_only_command
  pyproject.toml
  tests/meta/test_codex_config_validation.py
  tests/meta/test_plugin_guards.py
Due: check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(ci): enforce Codex recommendations - 80% coverage threshold + benchmark suppression
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(terraform): fix first GCP bucket uniform_bucket_level_access syntax
  terraform/backend-setup-gcp/main.tf
Due: none

fix(format): apply black formatting to conftest.py
  src/mcp_server_langgraph/__init__.py
  tests/conftest.py
  tests/meta/test_suite_validation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve pytest timeouts and lower coverage threshold to 64%
  pyproject.toml
  tests/meta/test_codex_config_validation.py
Due: check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve integration test failures blocking push
  tests/integration/test_mcp_code_execution.py
  tests/integration/test_tool_improvements.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): replace hard skip with conditional skip in integration tests
  tests/integration/test_mcp_code_execution.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(core): prevent RecursionError in __getattr__ during importlib.reload()
  src/mcp_server_langgraph/__init__.py
Due: none

fix(core): complete RecursionError fix by adding auth module support
  src/mcp_server_langgraph/__init__.py
Due: none

feat(tests): add fast_resilience_config fixture for test performance
  tests/conftest.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests

feat(testing): Phase 2 - Performance Optimization & Regression Prevention
  .pre-commit-config.yaml
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  tests/meta/test_coverage_enforcement.py
  tests/meta/test_performance_regression_suite.py
  tests/meta/test_slow_test_detection.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(testing): Phase 3a - OpenFGA Test Performance Optimization (95% faster)
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  tests/conftest.py
  tests/meta/test_slow_test_detection.py
  tests/test_openfga_client.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): increase timeout for coverage enforcement meta-test + register timeout marker
  pyproject.toml
  tests/meta/test_coverage_enforcement.py
Due: check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(testing): Phase 3 Priority 3 - Retry Timing Test Optimization (96% faster)
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
  tests/meta/test_slow_test_detection.py
  tests/resilience/test_retry.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(claude-code): implement Anthropic best practices compliance with TDD
  src/mcp_server_langgraph/auth/openfga.py
Due: validate-api-schemas

feat(claude-code): implement Anthropic best practices compliance with TDD
  .claude/commands/explore-codebase.md
  .claude/commands/fix-mypy.md
  .claude/commands/plan-feature.md
  .claude/commands/review-pr.md
  .claude/commands/tdd.md
  .claude/commands/verify-tests.md
  .github/CLAUDE.md
  .github/checklists/DEPENDENCY_UPDATE.md
  .github/checklists/PERFORMANCE_OPTIMIZATION.md
  .github/checklists/REFACTORING_CHECKLIST.md
  .github/checklists/SECURITY_AUDIT_CHECKLIST.md
  .github/checklists/TYPE_SAFETY_MIGRATION.md
  tests/meta/test_claude_code_configuration.py
  tests/meta/test_claude_settings_schema.py
  tests/meta/test_migration_checklists.py
  tests/meta/test_slash_commands.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

docs(resilience): add ADR for decorator parameter conventions and verify OpenFGA optimization
  docs-internal/ADR-RESILIENCE-DECORATOR-PARAMETERS.md
  docs-internal/COVERAGE_IMPROVEMENT_PLAN.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(tests): skip timing-sensitive circuit breaker tests in pytest-xdist
  tests/test_openfga_client.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): correct prometheus_client module access in singleton test
  tests/monitoring/test_prometheus_client.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

style(scripts): apply black formatting + fix flake8 unused variable
  scripts/fix_closing_fence_tags.py
  scripts/validators/codeblock_validator_v2.py
Due: none

fix(integration): resolve Codex integration test findings and infrastructure warnings
  .claude/WORKFLOW_OPTIMIZATION_SUMMARY.md
  .pre-commit-config.yaml
  CODEBLOCK_VALIDATION_REPORT.md
  CODE_BLOCK_FIXES_SUMMARY.md
  REAL_ISSUES_TO_FIX.md
  TEST_SUITE_REPORT.md
  VALIDATOR_FINAL_FINDINGS.md
  VALIDATOR_IMPROVEMENTS_SUMMARY.md
  docker/Dockerfile
  docker/docker-compose.test.yml
  docs/api-reference/authentication.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/service-principals.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/deployment/helm.mdx
  docs/deployment/kubernetes.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/ci-cd.mdx
  docs/guides/infisical-setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/local-models.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  pyproject.toml
  scripts/init_openfga_test.sh
  scripts/validate_keycloak_config.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/conftest.py
  tests/integration/test_mcp_code_execution.py
  tests/meta/test_docker_image_contents.py
  tests/meta/test_mcp_public_interface.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/scripts/test_codeblock_validator_v2.py
  tests/scripts/test_fix_closing_fence_tags.py
  uv.lock
Due: check-test-sleep-duration, validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix: validate and resolve OpenAI Codex test findings
  .claude/commands/README.md
  .claude/templates/README.md
  CODEX_VALIDATION_REPORT_2025-11-15.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

feat(claude-code): comprehensive .claude/ configuration optimization and CLAUDE.md/AGENTS.md discoverability enhancement
  .claude/README.md
  AGENTS.md
  CLAUDE.md
  CLAUDE_AGENTS_AUDIT.md
  docs/api-reference/authentication.mdx
  docs/api-reference/scim-provisioning.mdx
  docs/api-reference/service-principals.mdx
  docs/deployment/helm.mdx
  docs/deployment/infrastructure/multi-environment.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/langgraph-platform.mdx
  docs/deployment/platform/ci-cd.mdx
  docs/deployment/platform/configuration.mdx
  docs/guides/infisical-setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/local-models.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

feat(docs): optimize CLAUDE.md and AGENTS.md for accuracy and maintainability
  AGENTS.md
  CLAUDE.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages
