Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$

perf(validators): inline validate_fast.py execution (Phase 4)
  scripts/validators/validate_api_schemas.py
  scripts/validators/validate_fast.py
  scripts/validators/validate_repo_root_calculations.py
  scripts/validators/validate_test_time_bombs.py
  tests/meta/test_validate_fast_inline.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

refactor(hooks): consolidate pre-commit infrastructure and fix change detection (#129)
  .github/workflows/smoke-tests.yml
  .gitignore
  .pre-commit-config.yaml
  scripts/run_pre_push_tests.py
  scripts/security/run_security_suite.py
  scripts/validators/validate_api_schemas.py
  scripts/validators/validate_dependency_injection.py
  scripts/validators/validate_fast.py
  scripts/validators/validate_repo_root_calculations.py
  scripts/validators/validate_test_time_bombs.py
  tests/deployment/test_helm_templates.py
  tests/meta/test_change_detection.py
  tests/meta/test_security_suite.py
  tests/meta/test_validate_fast_inline.py
  tests/meta/test_validator_consistency.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docs): complete truncated MDX documentation files
  docs/deployment/deployment-checklist.mdx
  docs/guides/agent-architecture.mdx
  docs/project/roadmap.mdx
  docs/testing/overview.mdx
  scripts/docs/generate_adr_index.py
Due: check-banned-imports, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, semgrep-security-scan

docs(troubleshooting): consolidate into category-specific pages
  docs/docs.json
  docs/troubleshooting/authentication.mdx
  docs/troubleshooting/ci-cd.mdx
  docs/troubleshooting/database.mdx
  docs/troubleshooting/deployment.mdx
  docs/troubleshooting/installation.mdx
  docs/troubleshooting/overview.mdx
  docs/troubleshooting/performance.mdx
  docs/troubleshooting/pod-failures.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

fix(docs): complete truncated MDX documentation files (#131)
  docs/deployment/deployment-checklist.mdx
  docs/docs.json
  docs/guides/agent-architecture.mdx
  docs/project/roadmap.mdx
  docs/testing/overview.mdx
  docs/troubleshooting/authentication.mdx
  docs/troubleshooting/ci-cd.mdx
  docs/troubleshooting/database.mdx
  docs/troubleshooting/deployment.mdx
  docs/troubleshooting/installation.mdx
  docs/troubleshooting/overview.mdx
  docs/troubleshooting/performance.mdx
  docs/troubleshooting/pod-failures.mdx
  scripts/docs/generate_adr_index.py
Due: check-banned-imports, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, semgrep-security-scan

fix(ci): add disk cleanup and fail-fast:false to docker-multiplatform
  .github/workflows/ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

perf(ci): parallelize push-validators for 60% faster CI (25→10 min)
  .github/workflows/ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

docs: rename Troubleshooting to Advanced Troubleshooting
  docs/advanced/troubleshooting.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

feat(ci): add gh-pages telemetry dashboard with self-hosted metrics
  .github/workflows/gh-pages-telemetry.yaml
  README.md
  scripts/validators/validate_workflow_file_references.py
Due: check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(ci): correct hook IDs in push-validators matrix
  .github/workflows/ci.yaml
  tests/meta/ci/test_workflow_hook_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(hooks): add helm dependency build to helm-lint hook
  .pre-commit-config.yaml
Due: none

fix(tests): add xdist markers to workflow hook IDs meta-test
  tests/meta/ci/test_workflow_hook_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): increase push-validators timeout to 20 minutes
  .github/workflows/ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

refactor(ci): remove redundant push-validators categories for DRY/YAGNI compliance
  .github/workflows/ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(ci): add disk cleanup and fail-fast:false to docker-multiplatform (#132)
  .github/workflows/ci.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .pre-commit-config.yaml
  README.md
  docs/advanced/troubleshooting.mdx
  scripts/validators/validate_workflow_file_references.py
  tests/meta/ci/test_workflow_hook_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): guard workflow_run context access in publish-reports.yaml
  .github/workflows/publish-reports.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(ci): add unified dashboard for CI reports on GitHub Pages
  .github/workflows/publish-reports.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(tests): prevent mypy enforcement test timeout in pytest-xdist
  tests/meta/test_mypy_enforcement.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(validators): handle && guards in workflow_run context validation
  scripts/validators/validate_github_workflows_comprehensive.py
Due: check-banned-imports, semgrep-security-scan

fix(ci): add OTEL_SDK_DISABLED to all pytest hooks and update gh-pages dashboard
  .github/workflows/gh-pages-telemetry.yaml
  .pre-commit-config.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(ci): resolve benchmark test failures caused by pytest-xdist conflicts
  .github/workflows/quality-tests.yaml
  Makefile
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(tests): add OTEL_SDK_DISABLED to agent type safety tests
  tests/unit/core/test_agent_type_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): add existence check for collected-reports artifact in publish-reports
  .github/workflows/publish-reports.yaml
  tests/meta/ci/test_workflow_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(helm): use pullPolicy: Always for mutable staging tag
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/helm/values-staging.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, validate-gke-autopilot-compliance, check-helm-placeholders, helm-lint

fix(ci): resolve benchmark test failures caused by pytest-xdist conflicts (#133)
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/publish-reports.yaml
  .github/workflows/quality-tests.yaml
  .pre-commit-config.yaml
  Makefile
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/helm/values-staging.yaml
  scripts/validators/validate_github_workflows_comprehensive.py
  tests/meta/ci/test_workflow_validation.py
  tests/meta/test_mypy_enforcement.py
  tests/unit/core/test_agent_type_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, helm-lint, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for e82666c57a63d50af685a43697b39230f2e44147
  dev/bench/data.js
Due: none

fix(ci): consolidate gh-pages dashboard and eliminate duplicate coverage runs
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/publish-reports.yaml.deprecated
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_makefile_prepush_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): improve Helm template fixture with xdist-safe dependency build
  deployments/helm/mcp-server-langgraph/.gitignore
  tests/deployment/test_helm_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-helm-full-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(telemetry): add DORA metrics, dependency graph, and flakiness tracking
  .github/workflows/gh-pages-telemetry.yaml
  scripts/ci/generate_dashboard_metrics.py
  tests/meta/test_dashboard_metrics.py
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 8e247c288535fcfbce6f763fe908feb916699c7d
  dev/bench/data.js
Due: none

fix(ci): consolidate gh-pages dashboard and eliminate duplicate coverage runs (#135)
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/publish-reports.yaml.deprecated
  deployments/helm/mcp-server-langgraph/.gitignore
  scripts/ci/generate_dashboard_metrics.py
  tests/deployment/test_helm_templates.py
  tests/meta/test_dashboard_metrics.py
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_makefile_prepush_parity.py
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 8ef05b81608a971ea190f00d46567554a65b7bed
  dev/bench/data.js
Due: none

fix(ci): fix gh-pages deploy condition and consolidate workflows
  .github/workflows/cache-cleanup.yaml
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/weekly-reports.yaml
  scripts/ci/cleanup_telemetry.py
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_report_freshness.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): fix gh-pages deploy condition and consolidate workflows (#137)
  .github/workflows/cache-cleanup.yaml
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/weekly-reports.yaml
  scripts/ci/cleanup_telemetry.py
  tests/meta/test_gh_pages_dashboard.py
  tests/meta/test_report_freshness.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for a85909520c87ac2ee39c4957e8af99358d3a6a93
  dev/bench/data.js
Due: none

fix(ci): add missing checkout to docker-manifest job
  .github/workflows/ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

add Benchmark (pytest) benchmark result for 5b20a39676ad2cd684b8f892739ba3acab23e2b7
  dev/bench/data.js
Due: none
