Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

feat(skills): add skills bootstrap and enhance search/marketplace
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/semantic.py
  src/mcp_server_langgraph/bootstrap/skills.py
  src/mcp_server_langgraph/mcp/handlers/skills.py
  src/mcp_server_langgraph/skills/adapters.py
  src/mcp_server_langgraph/skills/auto_update.py
  src/mcp_server_langgraph/skills/installer.py
  src/mcp_server_langgraph/skills/marketplace.py
  src/mcp_server_langgraph/skills/search.py
  tests/unit/bootstrap/test_semantic_bootstrap.py
  tests/unit/bootstrap/test_semantic_startup_indexing.py
  tests/unit/mcp/handlers/test_skills_semantic_search.py
  tests/unit/mcp/test_server_skill_search_integration.py
  tests/unit/skills/test_skill_indexing_pipeline.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): enhance authorization with service principal support
  adr/adr-0002-openfga-authorization.md
  adr/adr-0068-gateway-level-authentication.md
  src/mcp_server_langgraph/auth/authorization.py
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/bootstrap/security.py
  tests/integration/auth/test_service_principal_authorization.py
  tests/integration/auth/test_skill_authorization.py
  tests/unit/auth/test_artifact_project_hierarchy.py
  tests/unit/auth/test_authorization_service.py
  tests/unit/auth/test_openfga_conditions.py
  tests/unit/auth/test_openfga_config_validation.py
  tests/unit/auth/test_openfga_model_inheritance.py
  tests/unit/auth/test_openfga_permission_boundaries.py
  tests/unit/auth/test_org_context_enforcement.py
  tests/unit/auth/test_partner_access_pattern.py
  tests/unit/auth/test_service_principal_parity.py
  tests/unit/auth/test_skill_authorization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, validate-adr-index, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(studio): rename FilesPage to ArtifactsPage
  src/mcp_server_langgraph/studio/frontend/src/pages/ArtifactsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ArtifactsPage.tsx
Due: none

feat(studio): add skills page with marketplace integration
  src/mcp_server_langgraph/studio/frontend/src/pages/SkillsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SkillsPage.tsx
Due: none

feat(studio): add selected tools display component
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SelectedToolsDisplay.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SelectedToolsDisplay.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.selectedTools.test.tsx
Due: none

feat(studio): add decision trace timeline component
  src/mcp_server_langgraph/studio/frontend/src/components/DecisionTrace/DecisionTimeline.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DecisionTrace/DecisionTimeline.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DecisionTrace/index.ts
Due: none

feat(studio): add command palette context and route commands
  src/mcp_server_langgraph/studio/frontend/src/contexts/CommandPaletteContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/CommandPaletteContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRouteCommands.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRouteCommands.ts
Due: none

feat(studio): add context graph API and types
  src/mcp_server_langgraph/studio/frontend/src/api/contextGraphContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/contextGraphEndpoints.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/contextGraph.ts
Due: none

test(semantic): add semantic tool selection tests
  tests/benchmarks/test_semantic_tool_selection_benchmark.py
  tests/e2e/test_semantic_tool_selection_e2e.py
  tests/integration/skills/test_skill_search_qdrant_integration.py
  tests/integration/test_semantic_tool_selection.py
  tests/integration/vectors/test_semantic_index_manager_qdrant.py
  tests/unit/agents/conftest.py
  tests/unit/agents/test_router_agent_semantic.py
  tests/unit/core/test_agent_graph_retrieve_memories.py
  tests/unit/core/test_agent_graph_retrieve_skills.py
  tests/unit/core/test_agent_graph_retrieve_tools_integration.py
  tests/unit/core/test_semantic_index_authorization.py
  tests/unit/core/test_semantic_index_authorization_caching.py
  tests/unit/core/test_semantic_index_bootstrap_integration.py
  tests/unit/core/test_semantic_search_feature_flags.py
  tests/unit/core/test_semantic_tool_selection_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(auth,skills): add authorization and skills tests
  tests/fixtures/feature_flags_fixtures.py
  tests/integration/skills/test_marketplace_feature_flags_integration.py
  tests/integration/skills/test_skill_lifecycle_e2e.py
  tests/unit/api/v1/test_chat_selected_tools_sse.py
  tests/unit/api/v1/test_skills_marketplace_api.py
  tests/unit/auth/test_auth.py
  tests/unit/bootstrap/test_bootstrap_modules.py
  tests/unit/core/test_adr0092_feature_flags.py
  tests/unit/core/test_agent_config.py
  tests/unit/core/test_agent_graph_tool_binding.py
  tests/unit/skills/test_auto_update_integration.py
  tests/unit/skills/test_skill_installer.py
  tests/unit/skills/test_skill_marketplace.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: add ADRs for semantic selection, frontend, and context graphs
  adr/adr-0099-semantic-tool-selection.md
  adr/adr-0100-frontend-ai-native-integration.md
  adr/adr-0101-context-graphs.md
  docs-internal/frontend/DESIGN_SYSTEM.md
  docs-internal/frontend/feature-flags-mapping.md
  docs/architecture/adr-0099-semantic-tool-selection.mdx
  docs/architecture/adr-0100-frontend-ai-native-integration.mdx
  docs/architecture/adr-0101-context-graphs.mdx
  docs/docs.json
  docs/reference/environment-variables.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

chore: update configuration, dependencies, and infrastructure
  .env.test
  CHANGELOG.md
  README.md
  docker-compose.test.yml
  pyproject.toml
  src/mcp_server_langgraph/agents/router_agent.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/data_export.py
  src/mcp_server_langgraph/core/agent_config.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/numeric.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/README.md
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-sharded.sh
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  tests/unit/compliance/gdpr/test_decision_trace_gdpr.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add context graph authorization checks
  src/mcp_server_langgraph/api/v1/context_graph.py
  tests/unit/api/v1/test_context_graph_authorization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(frontend): prevent useAIOnboarding from hammering personalize endpoint
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.ts
Due: none

fix(observability): remove high-cardinality labels from Loki streams
  deployments/base/lgtm/loki-configmap.yaml
  deployments/monitoring/loki-stack-values.yaml
  docker/alloy/config.alloy
  docker/loki/loki-config.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

chore(ci): add design system metrics and visual regression workflows
  .dockerignore
  .env.test
  .github/workflows/build-alembic-image.yaml
  .github/workflows/design-system-metrics.yaml
  .github/workflows/visual-regression.yaml
  .pre-commit-config.yaml
  docker-compose.test.yml
  docker/Dockerfile.alembic
  docker/Dockerfile.sandbox
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

chore(claude): add session management commands and memory patterns
  .claude/CLAUDE.md
  .claude/commands/checkpoint.md
  .claude/commands/compact-check.md
  .claude/commands/research.md
  .claude/commands/resume.md
  .claude/memory/anti-patterns.md
  .claude/memory/context-efficiency.md
  .claude/memory/decision-trees.md
  .claude/memory/efficient-tool-usage.md
  .claude/memory/feature-flag-conventions.md
  .claude/memory/frontend-component-patterns.md
  .claude/memory/session-workflow-patterns.md
  .github/CLAUDE.md
Due: check-internal-links

feat(backend): enhance model sync, API config, and sandbox execution
  alembic/env.py
  api/openapi.json
  config/openfga/compose_model.py
  config/openfga/model.json
  config/openfga/sample-tuples.json
  deployments/helm/mcp-server-langgraph/dashboards/Application/litellm-sync.json
  deployments/helm/mcp-server-langgraph/prometheus-rules/litellm-sync.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-litellm-sync.yaml
  monitoring/grafana/dashboards/Application/litellm-sync.json
  pyproject.toml
  src/mcp_server_langgraph/agents/litellm_model_sync.py
  src/mcp_server_langgraph/agents/litellm_prometheus_metrics.py
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/agents/model_selector.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/model_sync.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/prompts/studio_prompt.py
  src/mcp_server_langgraph/execution/sandbox_packages.py
  tests/contract/test_feature_flags_frontend_contract.py
  tests/contract/test_feedback_summary_frontend_contract.py
  tests/contract/test_hallucination_frontend_contract.py
  tests/contract/test_user_me_frontend_contract.py
  tests/integration/test_openfga_real_infrastructure.py
  tests/unit/agents/test_litellm_model_sync.py
  tests/unit/agents/test_model_registry.py
  tests/unit/api/v1/test_config_router.py
  tests/unit/auth/test_artifact_project_hierarchy.py
  tests/unit/auth/test_openfga_conditions.py
  tests/unit/auth/test_openfga_permission_boundaries.py
  tests/unit/auth/test_org_context_enforcement.py
  tests/unit/auth/test_service_principal_parity.py
  tests/unit/bootstrap/test_model_sync_bootstrap.py
  tests/unit/config/test_openfga_compose_model.py
  tests/unit/execution/test_sandbox_packages.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, helm-lint, validate-helm-chart-deps, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: add frontend design system and model lifecycle documentation
  docs-internal/FEATURE_FLAG_CATALOG.md
  docs-internal/frontend/ARTIFACT_TYPES.md
  docs-internal/frontend/DESIGN_SYSTEM_EXCEPTIONS.md
  docs-internal/frontend/STYLE.md
  docs/architecture/adr-0102-enhanced-model-selector.mdx
  docs/docs.json
  docs/guides/model-lifecycle.mdx
Due: validate-docs, mintlify-broken-links-check, check-internal-links, check-mermaid-styling

test(docker): add Alembic Dockerfile validation tests
  tests/docker/test_alembic_dockerfile.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(execution): add sandbox data science environment configuration
  sandbox/pyproject.toml
Due: none

feat(frontend): add useMetricsHistory export and AI Quality feature flag test
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AdminDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
Due: none

docs(frontend): enhance accessibility and state management documentation
  docs-internal/frontend/ACCESSIBILITY_IMPLEMENTATION.md
  docs-internal/frontend/STATE_MANAGEMENT_PATTERNS.md
Due: check-internal-links

fix(frontend): align primary color scale with WCAG 2.2 AA compliance
  docs-internal/frontend/STYLE.md
  src/mcp_server_langgraph/studio/frontend/src/utils/colors.test.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
Due: check-internal-links

feat(frontend): add VegaLite artifact support and chart toggle accessibility
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MarkdownContent.tsx
Due: none

feat(agents): update model capabilities for extended thinking support
  src/mcp_server_langgraph/agents/litellm_model_sync.py
  src/mcp_server_langgraph/agents/model_registry.py
  tests/unit/agents/test_litellm_model_sync.py
  tests/unit/agents/test_model_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(prompts): emphasize Vega-Lite/Altair for interactive charts
  src/mcp_server_langgraph/core/prompts/studio_prompt.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor: remove authz_proxy module and related infrastructure
  .github/workflows/build-authz-proxy-image.yaml
  docker/Dockerfile.authz-proxy
  src/mcp_server_langgraph/authz_proxy/__init__.py
  src/mcp_server_langgraph/authz_proxy/dependencies.py
  src/mcp_server_langgraph/authz_proxy/server.py
  tests/integration/auth/test_openfga_playground_proxy.py
  tests/unit/authz_proxy/test_dependency_isolation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor: consolidate websocket endpoints into unified handlers
  src/mcp_server_langgraph/api/v1/agent_request_websocket.py
  src/mcp_server_langgraph/api/v1/alert_websocket.py
  src/mcp_server_langgraph/api/v1/audit_websocket.py
  src/mcp_server_langgraph/api/v1/connection_health_ws.py
  src/mcp_server_langgraph/api/v1/mcp_task_websocket.py
  src/mcp_server_langgraph/api/v1/workflow_execution_ws.py
  tests/api/test_audit_websocket.py
  tests/api/test_connection_health_websocket.py
  tests/integration/test_agent_hitl_flow.py
  tests/unit/api/v1/test_agent_request_websocket.py
  tests/unit/api/v1/test_alert_websocket.py
  tests/unit/api/v1/test_hitl_push_notifications.py
  tests/unit/api/v1/test_mcp_task_websocket.py
  tests/unit/api/v1/test_workflow_execution_ws.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(frontend): remove deprecated pages and consolidated components
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.stories.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/OfflineBanner.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  tests/e2e/test_playground_user_journey.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat: add new backend features for session goals, bypass mode, and tools
  src/mcp_server_langgraph/agents/critique_executor.py
  src/mcp_server_langgraph/api/v1/references.py
  src/mcp_server_langgraph/api/v1/tools.py
  src/mcp_server_langgraph/auth/connection_scope.py
  src/mcp_server_langgraph/core/auth_required_detector.py
  src/mcp_server_langgraph/execution/bypass_audit.py
  src/mcp_server_langgraph/execution/bypass_manager.py
  src/mcp_server_langgraph/execution/bypass_prometheus_metrics.py
  src/mcp_server_langgraph/execution/cost_estimator.py
  src/mcp_server_langgraph/models/session_goal.py
  src/mcp_server_langgraph/repositories/session_goal.py
  src/mcp_server_langgraph/studio/ai/workflow_title_generator.py
  tests/unit/agents/test_critique_executor.py
  tests/unit/api/v1/test_auth_bypass_permission.py
  tests/unit/api/v1/test_chat_critique_integration.py
  tests/unit/api/v1/test_chat_selected_tools.py
  tests/unit/api/v1/test_references.py
  tests/unit/api/v1/test_session_goals.py
  tests/unit/api/v1/test_session_goals_audit_error.py
  tests/unit/api/v1/test_session_goals_wired.py
  tests/unit/api/v1/test_tools_router.py
  tests/unit/api/v1/test_tools_semantic_search.py
  tests/unit/auth/test_connection_scope.py
  tests/unit/core/test_auth_required_detector.py
  tests/unit/core/test_session_goal_dependency.py
  tests/unit/execution/test_bypass_audit_helpers.py
  tests/unit/execution/test_bypass_manager.py
  tests/unit/execution/test_bypass_prometheus_metrics.py
  tests/unit/execution/test_cost_estimator.py
  tests/unit/repositories/test_session_goal.py
  tests/unit/studio/ai/test_workflow_title_generator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(db): add database migrations for new features
  alembic/env.py
  alembic/versions/a7b8c9d0e1f2_add_ai_predictions_table.py
  alembic/versions/b8c9d0e1f2g3_add_connection_scope.py
  alembic/versions/z6a7b8c9d0e1_add_session_goals_table.py
Due: check-banned-imports

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
