Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$

fix(deploy): resolve Keycloak CrashLoopBackOff + CD pipeline bugs
  .github/workflows/build-keycloak-image.yaml
  .github/workflows/deploy-staging-gke.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/hpa-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-liveness-probe-patch.yaml
  deployments/overlays/staging-gke/otel-collector-liveness-probe-patch.yaml
  deployments/overlays/staging-gke/pod-disruption-budget.yaml
  deployments/overlays/staging-gke/qdrant-liveness-probe-patch.yaml
  deployments/overlays/staging-gke/resource-quotas.yaml
  docker/Dockerfile.infisical-builder
  docker/Dockerfile.keycloak
  pyproject.toml
  tests/ci/test_staging_deployment_workflow.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/docker/__init__.py
  tests/docker/test_keycloak_dockerfile.py
  tests/meta/validation/test_kubernetes_security.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): add Helm setup + disable cache-to for PR builds
  .github/workflows/ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(tests): update Keycloak tests for optimized image + fix Helm deps
  tests/deployment/test_helm_templates.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): add strict error handling for Helm dependency build
  .github/workflows/ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(tests): use module-scoped fixture for Helm deps + improve error handling
  tests/deployment/test_helm_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): recategorize Helm tests as deployment (not unit)
  .github/workflows/ci.yaml
  tests/integration/deployment/test_helm_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): correct REPO_ROOT path calculation after file relocation
  tests/integration/deployment/test_helm_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(tests): add get_repo_root() for robust path resolution
  scripts/validators/validate_repo_root_calculations.py
  tests/helpers/__init__.py
  tests/helpers/path_helpers.py
  tests/integration/deployment/test_helm_templates.py
  tests/meta/test_path_helpers.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

refactor(tests): migrate 30 files to use get_repo_root()
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_service_accounts.py
  tests/deployment/test_service_dependencies.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/infrastructure_helpers.py
  tests/integration/deployment/test_dns_failover_verification.py
  tests/integration/test_docker_health_checks.py
  tests/kubernetes/test_critical_deployment_issues.py
  tests/kubernetes/test_external_secrets.py
  tests/kubernetes/test_gke_labels.py
  tests/kubernetes/test_high_priority_improvements.py
  tests/kubernetes/test_kube_score_compliance.py
  tests/kubernetes/test_kustomize_staging_gke.py
  tests/kubernetes/test_serviceaccount_annotations.py
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/meta/test_alembic_schema_parity.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_consolidated_workflow_validator.py
  tests/meta/test_context_manager_quality.py
  tests/meta/test_documentation_validation.py
  tests/meta/test_kubectl_safety.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_property_test_quality.py
  tests/regression/test_documentation_structure.py
  tests/terraform/test_no_placeholders.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): exclude deployment tests from integration-tests.yaml
  .github/workflows/integration-tests.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

add Benchmark (pytest) benchmark result for 56867534e30eb5f71764374a798911f7ba360e56
  dev/bench/data.js
Due: none

feat(resilience): implement overload-aware retry + fallback backoff + CI fixes
  .claude/QUICK_REFERENCE.md
  .claude/SETTINGS.md
  .github/workflows/build-keycloak-image.yaml
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/config.py
  src/mcp_server_langgraph/resilience/retry.py
  tests/core/test_exceptions.py
  tests/unit/llm/test_fallback_resilience.py
  tests/unit/resilience/test_retry_overload.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for b405207c553398f302137aa6317ba5ca911043a8
  dev/bench/data.js
Due: none

fix(deploy): add pre-deployment cleanup for orphaned replica sets
  .github/workflows/deploy-staging-gke.yaml
  tests/deployment/test_rollout_resilience.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 6ed8ce620c357ed072d7ac5b6ff88d4201008d67
  dev/bench/data.js
Due: none

feat(resilience): add provider-aware bulkhead, token bucket, and adaptive concurrency
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/adaptive.py
  src/mcp_server_langgraph/resilience/bulkhead.py
  src/mcp_server_langgraph/resilience/config.py
  src/mcp_server_langgraph/resilience/rate_limit.py
  tests/unit/resilience/test_adaptive_bulkhead.py
  tests/unit/resilience/test_provider_aware_bulkhead.py
  tests/unit/resilience/test_token_bucket.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for ba157ae311be0ef03f377fc0b0e1007469e323f5
  dev/bench/data.js
Due: none

fix(deploy): GKE Autopilot resource compliance for init containers
  deployments/base/limitrange.yaml
  deployments/overlays/production-gke/deployment-initcontainers-patch.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/production-gke/kube-score-compliance-patch.yaml
  deployments/overlays/production-gke/openfga-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  scripts/validators/validate_gke_autopilot_compliance.py
  tests/deployment/test_gke_autopilot_resources.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, semgrep-security-scan, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

refactor(tests): upgrade Claude Opus 4.1 → 4.5 in all test files
  tests/integration/test_pydantic_ai.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/llm/test_pydantic_model_names.py
  tests/unit/test_gke_autopilot_validator.py
  tests/unit/test_vertex_ai_provider_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

docs: add comprehensive LLM provider resilience best practices guide
  docs/deployment/llm-provider-resilience.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

docs: add llm-provider-resilience to navigation
  docs/docs.json
Due: mintlify-broken-links-check

docs: fix llm-provider-resilience icon and links
  docs/deployment/llm-provider-resilience.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

fix(tests): adjust retry backoff assertion bounds for jitter
  tests/resilience/test_retry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for f4091daa4f67b79d1a30e82d5ee5fba8c35c3a61
  dev/bench/data.js
Due: none

fix(deploy): remove build-time Keycloak args incompatible with --optimized
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-no-placeholders

add Benchmark (pytest) benchmark result for c67d82baf675b970251fdcbbda72a4c8c9d66534
  dev/bench/data.js
Due: none

refactor(kustomize): move PDB, LimitRange, ResourceQuota to overlays
  deployments/base/kustomization.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

test: update base kustomization test for overlay-based resources
  tests/meta/validation/test_deployment_manifests.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for b32116250c96429fffe9ebcca6bd5cafa081ec70
  dev/bench/data.js
Due: none

fix(network): restore Cloud SQL Proxy port 3307 in GKE NetworkPolicies
  deployments/overlays/production-gke/network-policy.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  tests/meta/validation/test_deployment_manifests.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 4ea3cbc1cfd5dbcb108e2204fc613d6a126a2359
  dev/bench/data.js
Due: none

docs: update test file path references in comments
  tests/unit/mcp/test_mcp_server_behavioral.py
  tests/utils/mock_factories.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

docs: update test paths in documentation for new subdirectory structure
  .claude/commands/coverage-gaps.md
  .claude/commands/create-test.md
  .claude/commands/improve-coverage.md
  .claude/commands/knowledge-search.md
  adr/adr-0022-distributed-conversation-checkpointing.md
  adr/adr-0026-lazy-observability-initialization.md
  adr/adr-0042-dependency-injection-configuration-fixes.md
  adr/adr-0050-dependency-singleton-pattern-justification.md
  docs/advanced/contributing.mdx
  docs/advanced/development-setup.mdx
  docs/advanced/testing.mdx
  docs/architecture/adr-0022-distributed-conversation-checkpointing.mdx
  docs/architecture/adr-0026-lazy-observability-initialization.mdx
  docs/architecture/adr-0042-dependency-injection-configuration-fixes.mdx
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/deployment/gke-autopilot-resource-constraints.mdx
  docs/releases/v2-8-0.mdx
  tests/README.md
  tests/smoke/README.md
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index

add Benchmark (pytest) benchmark result for a96423ac3606a29cc5340dbae2ac8029d388fd63
  dev/bench/data.js
Due: none

refactor: complete staging-to-preview rename for Terraform and scripts
  docs/deployment/gke-preview-implementation-summary.mdx
  docs/deployment/kubernetes/gke-preview.mdx
  docs/docs.json
  docs/security/gke-preview-checklist.mdx
  scripts/gcp/preview-smoke-tests.sh
  scripts/gcp/setup-preview-infrastructure.sh
  scripts/gcp/setup-vertex-ai-preview.sh
  scripts/gcp/setup-workload-identity.sh
  scripts/gcp/teardown-preview-infrastructure.sh
  scripts/gcp/validate-preview-deployment.sh
  terraform/backend-configs/gcp-preview.gcs.tfbackend.example
  terraform/environments/gcp-preview-wif-only/.gitignore
  terraform/environments/gcp-preview-wif-only/README.md
  terraform/environments/gcp-preview-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-preview-wif-only/main.tf
  terraform/environments/gcp-preview-wif-only/outputs.tf
  terraform/environments/gcp-preview-wif-only/variables.tf
  terraform/environments/gcp-preview/main.tf
  terraform/environments/gcp-preview/outputs.tf
  terraform/environments/gcp-preview/terraform.tfvars
  terraform/environments/gcp-preview/terraform.tfvars.example
  terraform/environments/gcp-preview/variables.tf
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, checkov-terraform
