Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/validation/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run python scripts/validation/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run python scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run python scripts/validation/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run python scripts/validation/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

fix(tests): resolve PR #121 CI failures for integration tests and link checker
  adr/README.md
  scripts/ci/check-links.py
  tests/conftest.py
  tests/integration/api/test_app_configuration.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/meta/test_xfail_strict_enforcement.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-adr-sync, validate-adr-index, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): suppress kubernetes client HTTPResponse.getheaders() deprecation warning
  adr/README.md
  pyproject.toml
  scripts/docs/generate_adr_index.py
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, validate-adr-sync, validate-adr-index, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

fix(tests): make settings injection test xdist-safe with equality check
  tests/unit/test_mcp_server_settings_injection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

ci(timeout): increase xdist-enforcement job timeout from 5 to 10 minutes
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

docs: fix 23 broken documentation links across codebase
  CONTRIBUTING.md
  README.md
  deployments/QUICKSTART.md
  docs-internal/DOCS_VALIDATION_SIMPLIFICATION.md
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  docs-internal/PYTESTMARK_GUIDELINES.md
  docs-internal/SESSION_2_COMPLETION_SUMMARY.md
  docs-internal/VALIDATOR_CONSOLIDATION_PLAN_2025-11-17.md
  docs-internal/architecture/agentic-loop-guide.md
  docs-internal/documentation-versioning.md
  docs-internal/migrations/MIGRATION.md
  docs-internal/operations/storage-backend-requirements.md
  docs-internal/sprints/todo-catalog.md
  docs-internal/testing/TESTING.md
  examples/README.md
  runbooks/keycloak-down.md
  runbooks/keycloak-slow.md
  runbooks/redis-down.md
  runbooks/redis-memory.md
  runbooks/redis-pool.md
  runbooks/session-errors.md
  scripts/ci/check-links.py
Due: check-banned-imports

fix(deps): address Trivy security scan findings and dependency conflicts
  clients/go/go.mod
  clients/go/go.sum
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

docs: fix 51 broken documentation links across 27 files
  CONTRIBUTING.md
  README.md
  deployments/GKE_OPERATIONAL_RUNBOOKS.md
  deployments/overlays/production-gke/README.md
  docs-internal/DOCS_VALIDATION_SIMPLIFICATION.md
  docs-internal/DUPLICATE_VALIDATOR_ANALYSIS_2025-11-16.md
  docs-internal/IMPLEMENTATION_SUMMARY.md
  docs-internal/PYTESTMARK_GUIDELINES.md
  docs-internal/ROADMAP.md
  docs-internal/VALIDATOR_CONSOLIDATION_PLAN_2025-11-17.md
  docs-internal/architecture/agentic-loop-guide.md
  docs-internal/audits/VALIDATION-REPORT.md
  docs-internal/breaking-changes.md
  docs-internal/docs-readme.md
  docs-internal/migrations/MIGRATION.md
  docs-internal/operations/POD_FAILURE_PREVENTION_IMPLEMENTATION_SUMMARY.md
  docs-internal/operations/STAGING_DEPLOYMENT_FIX_REPORT.md
  docs-internal/operations/storage-backend-requirements.md
  docs-internal/sprints/todo-catalog.md
  examples/README.md
  scripts/README.md
  terraform/IMPLEMENTATION_SUMMARY.md
  terraform/modules/aks/README.md
  terraform/modules/eks/README.md
  terraform/modules/vpc/README.md
  tests/DOCKER_IMAGE_STALENESS_GUIDE.md
  tests/benchmarks/README.md
Due: none

docs: fix 8 low-priority broken documentation links across 6 files
  CHANGELOG.md
  docs-internal/DOCUMENTATION_VALIDATION_GUIDE.md
  docs-internal/ROADMAP.md
  docs-internal/VALIDATION_INFRASTRUCTURE.md
  scripts/README.md
  tests/MIGRATION_GUIDE.md
Due: none

perf(hooks): consolidate 21 pytest invocations into 1 for pre-push
  .pre-commit-config.yaml
  scripts/run_pre_push_tests.py
Due: check-banned-imports

perf(tests): fix freezegun CPU issues with model_validator pattern
  src/mcp_server_langgraph/core/interrupts/approval.py
  src/mcp_server_langgraph/integrations/alerting.py
  tests/core/interrupts/test_interrupts.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): Python 3.10 compatibility + validation markers + mypy fixes
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Makefile
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/interrupts/approval.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  tests/builder/api/test_server.py
  tests/deployment/test_cloud_sql_proxy_config.py
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_external_secrets_template_validation.py
  tests/deployment/test_helm_configuration.py
  tests/deployment/test_helm_placeholder_validation.py
  tests/deployment/test_helm_templates.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_security_hardening.py
  tests/deployment/test_service_accounts.py
  tests/deployment/test_service_dependencies.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/deployment/test_staging_deployment_requirements.py
  tests/meta/ci/test_marker_consistency.py
  tests/meta/test_plugin_guards.py
  tests/meta/test_pytest_config_consistency.py
  tests/meta/test_run_pre_push_tests.py
  tests/meta/validation/test_ci_cd_validation.py
  tests/meta/validation/test_deployment_manifests.py
  tests/meta/validation/test_docker_compose_validation.py
  tests/meta/validation/test_gitleaks_config.py
  tests/meta/validation/test_kubernetes_security.py
  tests/meta/validation/test_link_checker.py
  tests/meta/validation/test_path_validation.py
  tests/meta/validation/test_yaml_syntax.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): add types-PyYAML + xdist_group markers + ast_cache optimization
  pyproject.toml
  src/mcp_server_langgraph/__init__.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_pydantic_ai.py
  tests/integration/test_workflow_health_dashboard.py
  tests/integration/test_workflow_health_dashboard_bc_fix.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_pytest_xdist_enforcement.py
  tests/meta/test_suite_validation.py
  tests/unit/core/test_agent_type_safety.py
  tests/unit/test_dependencies_wiring.py
  tests/validation_lib/__init__.py
  tests/validation_lib/ast_cache.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

chore: suppress litellm Pydantic V1 deprecation warning
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

fix(hooks): comprehensive pre-commit/pre-push remediation
  .github/actions/setup-python-deps/action.yml
  .github/workflows/local-preflight-check.yaml
  .pre-commit-config.yaml
  Makefile
  mise.toml
  pyproject.toml
  run_audit.sh
  scripts/run_pre_push_tests.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  tests/meta/test_hook_tool_requirements.py
  tests/meta/test_mypy_enforcement.py
  tests/meta/test_run_pre_push_tests.py
  tests/unit/core/test_agent_type_safety.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): remove class scope from fixtures to avoid scope mismatch
  tests/meta/test_hook_tool_requirements.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(types): resolve MyPy Redis type errors for types-redis stubs
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
Due: check-banned-imports, run-pre-push-tests, validate-dependency-injection

fix(ci): add --frozen to install-dev + fix xdist logger patching
  Makefile
  tests/unit/execution/test_docker_sandbox_unit.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

refactor(docker,ci): consolidate to uv sync --frozen for consistency
  .github/workflows/ci.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/docs-validation.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/local-preflight-check.yaml
  .github/workflows/validate-k8s-configs.yml
  .github/workflows/validate-kubernetes.yaml
  docker/Dockerfile
  docker/Dockerfile.test
  docs/deployment/operations/issue-prevention.mdx
  pyproject.toml
  tests/meta/infrastructure/test_docker_paths.py
  tests/meta/test_dockerfile_uv_sync.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, validate-docker-image-contents, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

feat(python): drop Python 3.10, add 3.13 support (3.11-3.13)
  .github/workflows/ci.yaml
  CONTRIBUTING.md
  README.md
  docs-internal/developer-onboarding.md
  docs/development/onboarding.mdx
  docs/getting-started/installation.mdx
  docs/reference/development/build-verification.mdx
  pyproject.toml
  src/mcp_server_langgraph/cli/init.py
  uv.lock
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, validate-github-workflows-comprehensive, validate-pytest-markers, regression-prevention-tests, validate-test-dependencies, validate-workflow-test-deps, validate-pytest-config

fix(tests): correct fixture scope resolution to follow pytest lookup order
  tests/meta/test_fixture_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

refactor: remove tomli backport for Python 3.10 compatibility
  .pre-commit-hooks/check_banned_imports.py
  clients/python/setup.py
  docs/advanced/testing.mdx
  scripts/validators/check_version_consistency.py
  scripts/validators/validate_async_fixture_scope.py
  scripts/validators/validate_pytest_markers.py
  src/mcp_server_langgraph/__init__.py
  tests/meta/ci/test_ci_workflow_dependencies.py
  tests/meta/test_codex_config_validation.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_hook_tool_requirements.py
  tests/meta/test_performance_workflow_pytest_flags.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_pytest_marker_registration.py
  tests/meta/validation/test_gitleaks_config.py
  tests/regression/test_dev_dependencies.py
  tests/unit/test_version_sync.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): install all required tools for push-stage validators
  .github/workflows/ci.yaml
  mise.toml
  tests/meta/test_hook_tool_requirements.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

docs: update Python version references from 3.10 to 3.11
  .github/ACT_USAGE.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/actions/setup-python-deps/action.yml
  .github/checklists/DEPENDENCY_UPDATE.md
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(tests): move mock assertion inside context manager for xdist isolation
  tests/unit/execution/test_docker_sandbox_unit.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): add 'v' prefix to helm and kubectl version strings
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(ci): improve extras parsing in setup-python-deps action
  .github/actions/setup-python-deps/action.yml
Due: validate-github-workflows-comprehensive

fix(ci): use astral-sh/setup-uv built-in caching for reproducible builds
  .github/actions/setup-python-deps/action.yml
Due: validate-github-workflows-comprehensive

fix(tests): resolve xdist module caching issues for CI reliability
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/patterns/swarm.py
  tests/unit/execution/test_docker_sandbox_unit.py
  tests/unit/test_mcp_server_settings_injection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): upgrade uv to 0.9.13 to fix Python version cache mismatch
  .github/actions/setup-python-deps/action.yml
Due: validate-github-workflows-comprehensive

fix(ci): add uv cache pruning for CI optimization
  .github/actions/setup-python-deps/action.yml
Due: validate-github-workflows-comprehensive

fix(codeql): resolve CodeQL alerts and enable Ruff RUF rules
  pyproject.toml
  scripts/dev/add_xdist_markers_bulk.py
  src/mcp_server_langgraph/llm/pydantic_agent.py
  tests/deployment/test_kustomize_builds.py
  tests/meta/test_e2e_keycloak_setup.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(codeql): resolve CodeQL alerts and enable Ruff RUF rules
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

fix(security): run Docker sandbox as non-root user
  src/mcp_server_langgraph/execution/docker_sandbox.py
Due: check-banned-imports, run-pre-push-tests

fix(security): add local security scanning for CodeQL parity
  .pre-commit-config.yaml
  .semgrep.yaml
  deployments/helm/mcp-server-langgraph/.trivyignore
  pyproject.toml
  scripts/security/scan_helm_templates.sh
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

fix(docs): add missing frontmatter to development/setup.mdx
  docs/development/setup.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

fix(security): close CodeQL gap with Ruff S rules and fix alerts
  .trivyignore
  pyproject.toml
  src/mcp_server_langgraph/core/checkpoint_validator.py
  terraform/modules/eks/iam.tf
  terraform/modules/eks/variables.tf
  tests/e2e/keycloak-test-realm.json
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

fix(ruff): exclude clients/python and add per-file ignores for S rules
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-test-collection: any of: ^tests/.*\.py$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-async-mock-usage: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
