Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

test(frontend): add comprehensive TDD tests for studio frontend
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/index.test.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AdminDashboardPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/featureFlagsSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/uiSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

test(frontend): add comprehensive test coverage and Playwright E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/admin-journey.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/alice-power-user.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/bob-standard-user.spec.ts
  src/mcp_server_langgraph/studio/frontend/playwright.config.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AdminDashboardPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
Due: none

feat(monitoring): complete Phase 2.2 SRP - PostgresCostStorage config and mypy strict
  .env.test
  pyproject.toml
  tests/unit/observability/test_json_logger_additional.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): update E2E fixtures to use check_permission API
  tests/e2e/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(llm): consolidate factory functions with ModelType enum (DRY)
  src/mcp_server_langgraph/llm/factory.py
  tests/unit/llm/test_factory_consolidation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add CostPage, streaming chat, and root redirect
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  tests/e2e/conftest.py
  tests/integration/auth/test_unified_api_authorization.py
  tests/unit/api/test_root_redirect.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore: apply pre-commit hook fixes to CostPage tests
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
Due: none

feat(studio): add auto-session initialization to ChatPage
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
Due: none

fix(studio): improve test reliability and defensive coding
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SaveAsWorkflowButton.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
Due: none

feat(studio): integrate streaming chat into ChatPage (Phase 2 complete)
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
Due: none

test(integration): add API integration tests for cost, observability, chat
  tests/integration/api/test_chat_api_integration.py
  tests/integration/api/test_cost_api_integration.py
  tests/integration/api/test_observability_api_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor!: remove deprecated builder module (consolidated into Studio)
  src/mcp_server_langgraph/builder/README.md
  src/mcp_server_langgraph/builder/__init__.py
  src/mcp_server_langgraph/builder/api/__init__.py
  src/mcp_server_langgraph/builder/api/metrics.py
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/codegen/__init__.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/builder/importer/__init__.py
  src/mcp_server_langgraph/builder/importer/ast_parser.py
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  src/mcp_server_langgraph/builder/importer/importer.py
  src/mcp_server_langgraph/builder/importer/layout_engine.py
  src/mcp_server_langgraph/builder/storage/__init__.py
  src/mcp_server_langgraph/builder/storage/manager.py
  src/mcp_server_langgraph/builder/storage/models.py
  src/mcp_server_langgraph/builder/storage/postgres_manager.py
  src/mcp_server_langgraph/builder/storage/postgres_models.py
  src/mcp_server_langgraph/builder/workflow.py
  tests/builder/__init__.py
  tests/builder/api/__init__.py
  tests/builder/api/test_server.py
  tests/builder/test_builder_observability.py
  tests/builder/test_builder_security.py
  tests/builder/test_builder_server_integration.py
  tests/builder/test_code_generator.py
  tests/builder/test_importer.py
  tests/builder/test_workflow_builder.py
  tests/integration/builder/__init__.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/builder/test_builder_postgres_workflow.py
  tests/integration/builder/test_builder_redis_workflow.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor!: remove deprecated playground module (consolidated into Studio)
  src/mcp_server_langgraph/playground/__init__.py
  src/mcp_server_langgraph/playground/api/__init__.py
  src/mcp_server_langgraph/playground/api/metrics.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/mcp/__init__.py
  src/mcp_server_langgraph/playground/mcp/client.py
  src/mcp_server_langgraph/playground/mcp/integration.py
  src/mcp_server_langgraph/playground/session/__init__.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/session/models.py
  src/mcp_server_langgraph/playground/session/postgres_manager.py
  src/mcp_server_langgraph/playground/session/postgres_models.py
  tests/integration/playground/__init__.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/playground/test_playground_mcp_integration.py
  tests/integration/playground/test_playground_postgres_session.py
  tests/integration/playground/test_playground_redis_session.py
  tests/playground/__init__.py
  tests/playground/test_mcp_client.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_observability.py
  tests/playground/test_playground_session.py
  tests/playground/test_playground_websocket.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(db): add Alembic migrations for unified schema
  alembic/versions/a1b2c3d4e5f6_add_projects_tables.py
  alembic/versions/b2c3d4e5f6g7_add_fts_and_indices.py
  alembic/versions/c3d4e5f6g7h8_add_timescaledb_hypertables.py
  alembic/versions/d4e5f6g7h8i9_add_workflow_fts_and_indices.py
  alembic/versions/e5f6g7h8i9j0_add_mcp_connections.py
  alembic/versions/f6g7h8i9j0k1_add_audit_logs_table.py
  alembic/versions/g7h8i9j0k1l2_unified_audit_schema.py
  alembic/versions/h8i9j0k1l2m3_audit_partitioning.py
  docker/postgres/init-test-databases.sh
Due: check-banned-imports

feat(models): add domain models and repositories
  src/mcp_server_langgraph/models/__init__.py
  src/mcp_server_langgraph/models/audit_log.py
  src/mcp_server_langgraph/models/connection.py
  src/mcp_server_langgraph/models/project.py
  src/mcp_server_langgraph/models/unified_audit.py
  src/mcp_server_langgraph/repositories/__init__.py
  src/mcp_server_langgraph/repositories/audit_log.py
  src/mcp_server_langgraph/repositories/cached_connections.py
  src/mcp_server_langgraph/repositories/connections.py
  src/mcp_server_langgraph/repositories/projects.py
  src/mcp_server_langgraph/storage/base.py
  src/mcp_server_langgraph/storage/models.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(storage): add session and workflow storage modules
  src/mcp_server_langgraph/storage/session/__init__.py
  src/mcp_server_langgraph/storage/session/manager.py
  src/mcp_server_langgraph/storage/session/models.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/storage/session/postgres_models.py
  src/mcp_server_langgraph/storage/workflow/__init__.py
  src/mcp_server_langgraph/storage/workflow/manager.py
  src/mcp_server_langgraph/storage/workflow/models.py
  src/mcp_server_langgraph/storage/workflow/postgres_execution_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(monitoring): add cloud-specific cost storage backends
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_storage_aws.py
  src/mcp_server_langgraph/monitoring/cost_storage_azure.py
  src/mcp_server_langgraph/monitoring/cost_storage_factory.py
  src/mcp_server_langgraph/monitoring/cost_storage_gcp.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

chore(infra): harden docker-compose.test.yml with restart policies
  docker-compose.test.yml
Due: none

feat(auth): add OpenFGA store name lookup and configuration improvements
  .env.test
  config/openfga/sample-tuples.json
  scripts/docker/seed_openfga.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  tests/unit/auth/test_openfga_config_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): improve vectors endpoint authorization and add integration tests
  src/mcp_server_langgraph/api/v1/vectors.py
  tests/integration/vectors/test_vectors_api_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(studio): improve frontend E2E test reliability and session handling
  src/mcp_server_langgraph/studio/frontend/e2e/api-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/global-setup.ts
  src/mcp_server_langgraph/studio/frontend/e2e/pagination-filter-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/project-detail.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/session-crud.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTheme.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/uiSlice.test.ts
Due: none

test: add unit and integration test improvements
  tests/api/test_connection_health_websocket.py
  tests/api/test_user_api.py
  tests/conftest.py
  tests/integration/test_dependencies_wiring.py
  tests/unit/api/v1/test_admin_router.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add single session delete with confirmation dialog
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/SessionPanel.tsx
Due: none

feat(auth): implement OAuth2 Authorization Code + PKCE flow (ADR-0071)
  .pre-commit-config.yaml
  docs-internal/ADR-0071-OAUTH2-PKCE-MIGRATION.md
  scripts/validation/check_testid_consistency.py
  src/mcp_server_langgraph/api/auth_request_middleware.py
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/user.py
  src/mcp_server_langgraph/audit/models.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/oauth2.py
  src/mcp_server_langgraph/auth/token_denylist.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/models/audit_log.py
  src/mcp_server_langgraph/repositories/audit_log.py
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/auth.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/global-setup.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/mock-factories.ts
  src/mcp_server_langgraph/studio/frontend/e2e/session-crud.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  tests/api/test_auth_oauth2.py
  tests/api/test_user_api.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/vectors/test_vectors_api_integration.py
  tests/unit/api/v1/test_admin_router.py
  tests/unit/auth/test_jwt_utils.py
  tests/unit/auth/test_keycloak.py
  tests/unit/auth/test_oauth2.py
  tests/unit/auth/test_token_denylist.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core): add startup validation for LGTM stack and Qdrant
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/core/startup_validation.py
  tests/meta/test_qdrant_bootstrap_setup.py
  tests/unit/core/test_startup_validation.py
  tests/unit/health/test_qdrant_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add RTK Query token refresh with 401 handling
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/auth.ts
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/LoginPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
Due: none

test(integration): add HEART metrics and unified audit repository tests
  pyproject.toml
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/integration/api/test_heart_metrics.py
  tests/integration/audit/test_postgres_unified_audit_repository.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(auth): add DPoP enforcement mode tests (RFC 9449)
  tests/unit/auth/test_dpop_middleware.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): add DPoP enforcement mode configuration (RFC 9449)
  pyproject.toml
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/config.py
  tests/integration/auth/test_sso_flow.py
  tests/meta/test_local_ci_parity.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(scripts): add frontend test runner with CI parity
  Makefile
  scripts/test-frontend.sh
Due: none

chore(make): add test-frontend-ci target
  Makefile
Due: none

test(integration): add LGTM client and Qdrant bootstrap tests
  tests/integration/observability/test_lgtm_client_integration.py
  tests/integration/vectors/test_qdrant_bootstrap.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): add OAuth2 security hardening and session fingerprinting
  .github/workflows/ci.yaml
  docker-compose.test.yml
  pyproject.toml
  scripts/test-frontend.sh
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/session_fingerprint.py
  src/mcp_server_langgraph/studio/frontend/package.json
  tests/api/test_auth_oauth2.py
  tests/integration/auth/test_oauth2_e2e.py
  tests/integration/auth/test_sso_flow.py
  tests/meta/test_local_ci_parity.py
  tests/unit/auth/test_session_fingerprint.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation
