Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

feat(studio): add ErrorRecovery component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Error/ErrorRecovery.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Error/ErrorRecovery.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Error/index.ts
Due: none

feat(studio): add ProgressIndicator and StepProgress components with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ProgressIndicator.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ProgressIndicator.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/StepProgress.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/StepProgress.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Due: none

feat(studio): enhance MessageActions with feedback, bookmarks, sharing, and branching
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MessageActions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/MessageActions.tsx
Due: none

feat(studio): add Project Context Files support (Sprint 3.1)
  src/mcp_server_langgraph/studio/frontend/src/components/Context/ProjectContextBadge.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Context/ProjectContextBadge.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Context/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useProjectContext.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useProjectContext.ts
Due: none

feat(studio): add Accessibility Settings with WCAG 2.1 AA support (Sprint 3.2)
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/AccessibilitySettings.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/AccessibilitySettings.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.ts
Due: none

feat(studio): add Token Usage Dashboard with cost tracking (Sprint 3.3)
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/TokenUsageDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/TokenUsageDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTokenUsage.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTokenUsage.ts
Due: none

feat(studio): add Command Palette with fuzzy search (Sprint 3.4)
  src/mcp_server_langgraph/studio/frontend/src/components/Common/CommandPalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/CommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCommandPalette.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCommandPalette.ts
Due: none

feat(studio): add Conversation Export with multiple formats (Sprint 3.5)
  src/mcp_server_langgraph/studio/frontend/src/components/Export/ExportDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Export/ExportDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Export/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useExport.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useExport.ts
Due: none

feat(studio): add useNotifications hook for desktop notifications
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotifications.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotifications.ts
Due: none

feat(studio): add drag-and-drop file upload component (Sprint 4.3)
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/FileDropZone.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/FileDropZone.tsx
Due: none

feat(studio): add rich text input component (Sprint 4.4)
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.tsx
Due: none

feat(studio): add mobile optimization utilities (Sprint 4.5)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMobileOptimizations.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMobileOptimizations.ts
Due: none

feat(studio): add conversation branching system (Sprint 4.6)
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBranching.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBranching.ts
Due: none

feat(studio): add prompt templates system (Sprint 4.7)
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.ts
Due: none

fix(studio): wire PreferencesProvider in main.tsx
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
Due: none

refactor(studio): rename Common/CommandPalette to GenericCommandPalette
  src/mcp_server_langgraph/studio/frontend/src/components/Common/GenericCommandPalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/GenericCommandPalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Due: none

feat(api): add user preferences REST API
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/user_preferences.py
  tests/unit/api/v1/test_user_preferences.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add session export endpoint with multi-format support
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/session_export.py
  tests/unit/api/v1/test_session_export.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add project context endpoint for .studio/context.md support
  src/mcp_server_langgraph/api/v1/project_context.py
  src/mcp_server_langgraph/api/v1/router.py
  tests/unit/api/v1/test_project_context.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

perf(frontend): add lazy loading for large conditionally-rendered components
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
Due: none

feat(core): add feature flags for UX enhancements
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_feature_flags.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add unified storage layer for localStorage consolidation
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
Due: none

feat(studio): wire preferences sync and session export with feature flags
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatHeader.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ExportButton.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Due: none

feat(security): add prompt injection detection and sanitization module
  pyproject.toml
  src/mcp_server_langgraph/security/__init__.py
  src/mcp_server_langgraph/security/prompt_injection.py
  tests/unit/security/__init__.py
  tests/unit/security/test_prompt_injection.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(middleware): enhance rate limiter for AI endpoint protection
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/middleware/test_rate_limiter.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add unified AI suggestions with streaming and cost tracking
  src/mcp_server_langgraph/api/studio.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  tests/api/test_ai_fetch_url_api.py
  tests/api/test_ai_node_config_api.py
  tests/conftest.py
  tests/unit/api/v1/test_chat_service_impl.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/studio/ai/test_cost_tracking.py
  tests/unit/studio/ai/test_suggestion_prewarm.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add Grafana dashboard for AI suggestions monitoring
  deployments/helm/mcp-server-langgraph/dashboards/ai-suggestions.json
  scripts/validation/validate_dashboard.py
Due: check-banned-imports, trivy-helm-full-scan, semgrep-security-scan, validate-grafana-dashboards

feat(frontend): update chat components and add E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/chat-ux-features.spec.ts
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ConfirmationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/StepProgress.tsx
  src/mcp_server_langgraph/studio/frontend/tsconfig.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

chore: update test infrastructure and add validation scripts
  .env.test
  docker-compose.test.yml
  docs-internal/TECHNICAL_DEBT.md
  scripts/validators/check_adr_sync.py
  tests/integration/security/test_authorization_fallback_controls.py
  tests/integration/security/test_scim_service_principal_openfga.py
  tests/integration/test_sla_monitoring.py
  tests/meta/validation/test_adr_sync_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(adr): document ADR numbering gaps [57-59]
  adr/README.md
Due: validate-docs, validate-adr-index, check-internal-links

refactor(tests): add async-mock-configured annotations
  tests/integration/test_data_deletion.py
  tests/integration/test_mcp_sampling.py
  tests/integration/test_tool_improvements.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/security/test_sessions_auth_enforcement.py
  tests/unit/api/test_studio_routes.py
  tests/unit/auth/test_session_metrics_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

perf(frontend): optimize bundle chunking for 85% reduction
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Due: none

refactor(tests): complete AsyncMock remediation (134 instances)
  tests/plugins/mock_fixtures_plugin.py
  tests/unit/api/test_deps.py
  tests/unit/api/v1/test_admin_router.py
  tests/unit/api/v1/test_chat_router.py
  tests/unit/api/v1/test_cost_router.py
  tests/unit/api/v1/test_global_singleton_configuration.py
  tests/unit/api/v1/test_observability_entity_filters.py
  tests/unit/api/v1/test_observability_router.py
  tests/unit/api/v1/test_project_context.py
  tests/unit/api/v1/test_session_export.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_idle_timeout.py
  tests/unit/api/v1/test_streaming_outbound_rate_limit.py
  tests/unit/api/v1/test_streaming_security_integration.py
  tests/unit/api/v1/test_workflow_bootstrap.py
  tests/unit/audit/test_audit_middleware.py
  tests/unit/audit/test_audit_service.py
  tests/unit/auth/test_openfga_oidc_client.py
  tests/unit/auth/test_token_validator.py
  tests/unit/core/test_cache_async.py
  tests/unit/services/test_oauth2_service.py
  tests/unit/tools/test_search_tools.py
  tests/utils/mock_factories.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

perf(frontend): implement lazy loading for heavy components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/CodeBlock.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
Due: none

docs: add ADRs for AI suggestions and prompt injection security
  README.md
  adr/README.md
  adr/adr-0074-ai-suggestions-streaming-cost-tracking.md
  adr/adr-0075-prompt-injection-detection.md
  docs/architecture/adr-0074-ai-suggestions-streaming-cost-tracking.mdx
  docs/architecture/adr-0075-prompt-injection-detection.mdx
  docs/internal/HOOK_PERFORMANCE.md
  docs/internal/PRE_COMMIT_HOOK_AUDIT.md
  tests/templates/QUICK_REFERENCE.md
  tests/templates/README.md
  tests/templates/test_integration_template.py
  tests/templates/test_unit_template.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(frontend): centralize localStorage with storage utility
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAccessibility.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBackgroundSync.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCommandPalette.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOnboarding.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOnboarding.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePromptTemplates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePushNotifications.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
Due: none

refactor(frontend): complete storage utility migration
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionAuditLog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionBulkActions.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionTemplateSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/LeftSidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/SessionsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/WorkflowsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/SharedWorkflowsList.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/OAuth2CallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/uiSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/workspaceSlice.ts
Due: none

test(frontend): add comprehensive ExportButton tests
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ExportButton.test.tsx
Due: none

perf(frontend): add adaptive resource management for vitest
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
