Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  entry: bash -c 'actionlint -no-color -shellcheck= .github/workflows/*.{yml,yaml} 2>&1 || true'
  language: system
  pass_filenames: false
  always_run: false
  description: 'Advanced GitHub Actions workflow validation using actionlint.
  
  
    Catches issues like:
  
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: python3 scripts/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
    - Integration tests: max 2.0s sleep
  
  
  ...

validate-pytest-config:
  name: Validate Pytest Configuration Compatibility
  entry: python3 scripts/validate_pytest_config.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that pytest addopts flags match installed plugin dependencies.
  
  
    Prevents CI failures from:
  
  ...

validate-mintlify-docs:
  name: Validate Mintlify Documentation
  entry: python3 scripts/validate_mintlify_docs.py docs
  language: system
  pass_filenames: false
  always_run: false

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: python3 scripts/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

check-doc-links:
  name: Check Documentation Internal Links
  entry: python3 scripts/ci/check-links.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates internal documentation links to prevent broken references.
  
    Checks ADR cross-references, GitHub links, and active documentation.
  
    '

validate-documentation-quality:
  name: Validate Documentation Quality (MDX Parsing, Links, ADRs)
  entry: uv run pytest tests/meta/test_documentation_validation.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Comprehensive documentation validation tests (TDD):
  
  ...

validate-documentation-integrity:
  name: Validate Documentation Integrity (ADRs, Monitoring, Mermaid)
  entry: uv run pytest tests/test_documentation_integrity.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Documentation integrity and completeness tests (TDD):
  
  ...

validate-deployment-secrets:
  name: Validate deployment secret keys alignment
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_deployment_secret_keys_exist_in_template -v --tb=short
  language: system
  pass_filenames: false

validate-cors-security:
  name: Validate CORS security configuration
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_kong_cors_not_wildcard_with_credentials -v --tb=short
  language: system
  pass_filenames: false

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

docs(tests): add comprehensive pytest-xdist state pollution prevention
  PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
  docs/architecture/adr/ADR-0053-pytest-xdist-state-pollution-prevention.mdx
  state_pollution_report.txt
  tests/PYTEST_XDIST_PREVENTION.md
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix(tests): set MCP_SKIP_AUTH='false' explicitly to prevent conftest pollution
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(tests): increase pytest-rerunfailures attempts to 5 with 3s delay
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  scripts/validation/validate_test_isolation.py
  tests/meta/test_local_ci_parity.py
Due: check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

test(meta): add comprehensive local/CI parity validation suite
  tests/meta/test_local_ci_parity.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(types): resolve all 80 MyPy type errors across codebase
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/container.py
  src/mcp_server_langgraph/core/context_manager.py
  src/mcp_server_langgraph/core/dynamic_context_loader.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/session_timeout.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/patterns/hierarchical.py
  src/mcp_server_langgraph/patterns/supervisor.py
  src/mcp_server_langgraph/patterns/swarm.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  src/mcp_server_langgraph/resilience/retry.py
  src/mcp_server_langgraph/secrets/manager.py
  src/mcp_server_langgraph/tools/filesystem_tools.py
  src/mcp_server_langgraph/tools/tool_discovery.py
  src/mcp_server_langgraph/utils/response_optimizer.py
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_api_versioning.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/api/test_router_registration.py
  tests/api/test_scim_security.py
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve SCIM AsyncMock coroutine leak causing validation errors
  tests/api/test_scim_security.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(tests): add AsyncMock configuration prevention mechanisms + ADR-0053
  .pre-commit-config.yaml
  adr/ADR-0053-asyncmock-configuration-prevention.md
  scripts/check_async_mock_configuration.py
  tests/ASYNC_MOCK_GUIDELINES.md
  tests/meta/__init__.py
  tests/meta/test_async_mock_configuration.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(tests): add Git hooks CI/CD parity enforcement + fix configuration drift
  CONTRIBUTING.md
  scripts/git-hooks/pre-push
  tests/meta/test_hook_sync_validation.py
  tests/regression/test_async_dependency_override_xdist.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): add bearer_scheme override to service principal fixtures
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

style: apply auto-formatting from pre-commit hooks
  tests/API_TESTING.md
  tests/api/test_api_keys_endpoints.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/regression/test_service_principal_test_isolation.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): unify local/CI test markers and add push-stage validators
  .github/workflows/ci.yaml
  Makefile
  scripts/workflow/update-context-files.py
  tests/meta/test_local_ci_parity.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage

test(meta): add pre-push environment sanity check validation
  tests/meta/test_local_ci_parity.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve 6 critical Codex findings with TDD + regression tests
  src/mcp_server_langgraph/execution/kubernetes_sandbox.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/integration/test_gdpr_endpoints.py
  tests/unit/execution/test_resource_limits.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(terraform): shorten AWS dev name_prefix to meet 20 char limit
  terraform/environments/aws-dev/main.tf
Due: none

fix(infra): sync Makefile validate-pre-push with pre-push hook
  Makefile
  tests/meta/test_makefile_prepush_parity.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(meta): update validation checks for xdist enforcement parity
  scripts/validate_pre_push_hook.py
  tests/meta/test_local_ci_parity.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

docs(adr): add ADR-0053 for Makefile pre-push parity enforcement
  docs-internal/ADR-0053-MAKEFILE-PREPUSH-PARITY-ENFORCEMENT.md
  docs-internal/archived/README.md
  docs-internal/archived/pre-push-legacy.sh
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

docs(adr): add ADR-0053 for Makefile pre-push parity enforcement
  docs-internal/archived/pre-push-legacy.sh
Due: none

test(meta): add infrastructure port isolation regression tests
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_regression_prevention.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(test): add explicit MCP_SKIP_AUTH="false" to API test fixtures
  tests/api/test_service_principals_endpoints.py
  tests/meta/test_mcp_skip_auth_enforcement.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): address OpenAI Codex infrastructure and dependency findings
  .github/workflows/docs-validation.yaml
  .github/workflows/smoke-tests.yml
  .github/workflows/validate-kubernetes.yaml
  scripts/check_test_memory_safety.py
  tests/conftest.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-github-action-versions

fix(test): replace hard-coded infrastructure ports with dynamic fixtures
  tests/conftest.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests

feat(tests): validate and harden integration test infrastructure per Codex findings
  docker/docker-compose.test.yml
  docs-internal/ADR-0053-codex-findings-validation.md
  tests/meta/test_codex_findings_validation.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(meta): resolve all Codex regression test failures
  adr/ADR-0054-circuit-breaker-decorator-closure-isolation.md
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/regression/test_auth_middleware_isolation.py
  tests/resilience/test_circuit_breaker_decorator_isolation.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(resilience): resolve circuit breaker decorator closure isolation bug
  src/mcp_server_langgraph/resilience/circuit_breaker.py
Due: none

fix(tests): complete OpenAI Codex findings remediation - Phase 2
  docs-internal/ADR-0054-CODEX-INFRASTRUCTURE-DEPENDENCY-FINDINGS.md
  tests/e2e/test_real_clients_resilience.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(hooks): add Keycloak configuration validation pre-commit hook (ADR-0053)
  .pre-commit-config.yaml
  scripts/validate_keycloak_config.py
  tests/conftest.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_precommit_keycloak_validation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): clear all modules in test_settings_import_is_lightweight
  tests/unit/test_lazy_imports.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(hooks): add Docker image contents validation pre-commit hook (ADR-0053)
  .pre-commit-config.yaml
  scripts/validate_docker_image_contents.py
  tests/meta/test_precommit_docker_image_validation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve final Codex regression test failures
  docs/.mintlify/templates/deployment-template.mdx
  docs/.mintlify/templates/guide-template.mdx
  docs/.mintlify/templates/reference-template.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
  pyproject.toml
  tests/regression/test_dev_dependencies.py
  uv.lock
Due: check-test-sleep-duration, validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(docs): add language tags to code blocks in kubernetes documentation
  docs/kubernetes/KEYCLOAK_READONLY_FILESYSTEM.mdx
  docs/kubernetes/POD_CRASH_RESOLUTION_2025-11-12.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

refactor(tests): remove pytest retry mechanism - adopt fail-fast philosophy
  pyproject.toml
  uv.lock
Due: validate-pytest-config, validate-pytest-markers

fix(tests): resolve OpenAI Codex integration test failures - TDD remediation
  .pre-commit-config.yaml
  docker/Dockerfile
  docker/docker-compose.test.yml
  scripts/validate_docker_image_contents.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_docker_image_assets.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_suite_validation.py
  tests/regression/test_documentation_code_blocks.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve all Codex findings - heredoc false positives, ast.Str deprecation, security exceptions
  pyproject.toml
  tests/deployment/test_security_hardening.py
  tests/regression/test_terraform_configuration.py
  uv.lock
Due: check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): correct fixture scopes in test_docker_image_assets.py
  tests/integration/test_docker_image_assets.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

test(regression): fix port conflict tests - enforce single shared infrastructure
  tests/conftest.py
  tests/meta/test_infrastructure_singleton.py
  tests/regression/test_pytest_xdist_port_conflicts.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(meta): add graceful skip for missing pre-push hook on fresh clones
  tests/meta/test_hook_fixture_resilience.py
  tests/meta/test_local_ci_parity.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(testing): add environment isolation fixtures + pre-commit enforcement
  scripts/check_test_environment_isolation.py
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/meta/test_environment_isolation_enforcement.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(make): add CI-parity quality test targets
  Makefile
Due: none

test(regression): add comprehensive test for Codex importlib.reload() scenario
  tests/regression/test_bearer_scheme_isolation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

Path conditions:
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$
