Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: uv run --frozen python -u scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run --frozen python -u scripts/validators/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run --frozen python -u scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run --frozen python -u scripts/validators/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run --frozen python -u scripts/validators/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

add Benchmark (pytest) benchmark result for 24fac884afb2ebea9ba8612f14c9880f25295863
  dev/bench/data.js
Due: none

fix(ci): add :preview Docker tag for preview-gke deployments
  .github/workflows/ci.yaml
  deployments/overlays/preview-gke/kustomization.yaml
  deployments/overlays/preview-gke/redis-session-service-patch.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): add :preview Docker tag and complete staging-to-preview rename (#145)
  .github/workflows/ci.yaml
  deployments/overlays/preview-gke/kustomization.yaml
  deployments/overlays/preview-gke/redis-session-service-patch.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 12597c21791fc7cdd060d4448d538256e3cec450
  dev/bench/data.js
Due: none

fix(kustomize): switch preview-gke to GHCR :preview tag
  deployments/overlays/preview-gke/kustomization.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(kustomize): switch preview-gke to GHCR :preview tag (#146)
  deployments/overlays/preview-gke/kustomization.yaml
  tests/deployment/test_kustomize_build.py
  tests/kubernetes/test_kustomize_preview_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 226f5ce4ce369a89bc904f6c4557cb0c6155caaf
  dev/bench/data.js
Due: none

docs: complete staging-to-preview rename in documentation (Phase 7)
  .claude/memory/kustomize-nameprefix-gotchas.md
  docs/deployment/infrastructure/gke-cluster-requirements.mdx
  docs/development/naming-conventions.mdx
  docs/security/gke-preview-checklist.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

docs: complete staging-to-preview rename in documentation (Phase 7) (#147)
  .claude/memory/kustomize-nameprefix-gotchas.md
  docs/deployment/infrastructure/gke-cluster-requirements.mdx
  docs/development/naming-conventions.mdx
  docs/security/gke-preview-checklist.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

refactor: complete gcp-staging to gcp-preview rename (Phase 5-6)
  .github/SECRETS.md
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/terraform-validate.yaml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/argocd/setup-argocd-gcp.sh
  scripts/README.md
  scripts/deploy-gcp-gke.sh
  terraform/README.md
  terraform/backend-configs/README.md
  terraform/backend-configs/gcp-staging.gcs.tfbackend.example
  terraform/backend-setup-gcp/outputs.tf
  terraform/environments/gcp-staging-wif-only/.gitignore
  terraform/environments/gcp-staging-wif-only/README.md
  terraform/environments/gcp-staging-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
  terraform/environments/gcp-staging-wif-only/terraform.tfvars
  terraform/environments/gcp-staging-wif-only/variables.tf
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/outputs.tf
  terraform/environments/gcp-staging/terraform.tfvars
  terraform/environments/gcp-staging/terraform.tfvars.example
  terraform/environments/gcp-staging/variables.tf
  terraform/modules/gcp-secrets/README.md
  terraform/modules/gcp-vpc/README.md
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/regression/test_terraform_configuration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, checkov-terraform, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(docs): update gcp-staging to gcp-preview in terraform outputs comment
  terraform/backend-setup-gcp/outputs.tf
Due: checkov-terraform

refactor: complete staging-to-preview GKE environment rename (#148)
  .github/SECRETS.md
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  .github/workflows/terraform-validate.yaml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/argocd/setup-argocd-gcp.sh
  scripts/README.md
  scripts/deploy-gcp-gke.sh
  terraform/README.md
  terraform/backend-configs/README.md
  terraform/backend-configs/gcp-staging.gcs.tfbackend.example
  terraform/backend-setup-gcp/outputs.tf
  terraform/environments/gcp-staging-wif-only/.gitignore
  terraform/environments/gcp-staging-wif-only/README.md
  terraform/environments/gcp-staging-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
  terraform/environments/gcp-staging-wif-only/terraform.tfvars
  terraform/environments/gcp-staging-wif-only/variables.tf
  terraform/environments/gcp-staging/main.tf
  terraform/environments/gcp-staging/outputs.tf
  terraform/environments/gcp-staging/terraform.tfvars
  terraform/environments/gcp-staging/terraform.tfvars.example
  terraform/environments/gcp-staging/variables.tf
  terraform/modules/gcp-secrets/README.md
  terraform/modules/gcp-vpc/README.md
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/regression/test_terraform_configuration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, checkov-terraform, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

refactor(observability): replace Prometheus, Promtail, Alertmanager with Alloy
  docker-compose.test.yml
  docker/alloy/alloy-config.alloy
Due: none

fix(tests): regenerate async mock report and fix Keycloak start_period
  docker-compose.test.yml
  docs-internal/reports/ASYNC_MOCK_SCAN.md
Due: none

fix(tests): update DNS failover test to accept headless ClusterIP pattern
  tests/fixtures/tool_fixtures.py
  tests/integration/deployment/test_dns_failover_verification.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(observability): fix Loki and Mimir configs for test infrastructure
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
Due: run-pre-push-tests

feat(observability): add Grafana LGTM stack with GCP query backends
  docker-compose.test.yml
  docker/Dockerfile.keycloak
  docker/alloy/config.alloy
  docker/mimir/alertmanager-fallback.yaml
  docker/mimir/mimir-config.yaml
  docker/tempo/tempo-config.yaml
  src/mcp_server_langgraph/monitoring/tempo_client.py
  src/mcp_server_langgraph/observability/query/__init__.py
  src/mcp_server_langgraph/observability/query/backends/__init__.py
  src/mcp_server_langgraph/observability/query/backends/cloudlogging.py
  src/mcp_server_langgraph/observability/query/backends/cloudmonitoring.py
  src/mcp_server_langgraph/observability/query/backends/cloudtrace.py
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/query/backends/prometheus.py
  src/mcp_server_langgraph/observability/query/backends/stub.py
  src/mcp_server_langgraph/observability/query/backends/tempo.py
  src/mcp_server_langgraph/observability/query/factory.py
  src/mcp_server_langgraph/observability/query/interfaces.py
  tests/integration/api/test_api_keys_endpoints.py
  tests/unit/observability/__init__.py
  tests/unit/observability/query/__init__.py
  tests/unit/observability/query/test_backends.py
  tests/unit/observability/query/test_gcp_backends.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(storage): add durable Postgres persistence for Builder and Playground
  docker-compose.test.yml
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  pyproject.toml
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/builder/storage/__init__.py
  src/mcp_server_langgraph/builder/storage/manager.py
  src/mcp_server_langgraph/builder/storage/models.py
  src/mcp_server_langgraph/builder/storage/postgres_manager.py
  src/mcp_server_langgraph/builder/storage/postgres_models.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/__init__.py
  src/mcp_server_langgraph/playground/session/postgres_manager.py
  src/mcp_server_langgraph/playground/session/postgres_models.py
  tests/builder/test_builder_observability.py
  tests/constants.py
  tests/e2e/test_builder_user_journey.py
  tests/e2e/test_playground_user_journey.py
  tests/fixtures/tool_fixtures.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/playground/test_playground_postgres_session.py
  tests/meta/infrastructure/test_shell_and_docker.py
  tests/meta/validation/test_docker_compose_validation.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): increase performance test tolerance to prevent flaky failures
  tests/meta/test_validate_fast_inline.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

refactor(observability): replace Jaeger with Tempo for distributed tracing
  docker-compose.test.yml
Due: none

test(meta): recognize optimized Keycloak builds in codex validation tests
  tests/meta/test_codex_findings_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(validators): recognize optimized Keycloak builds in config validator
  scripts/validators/validate_keycloak_config.py
Due: check-banned-imports, semgrep-security-scan

add Benchmark (pytest) benchmark result for 5203ff7c84b5a5ba94bd4800eda80f1254e403dc
  dev/bench/data.js
Due: none

fix(builder): resolve TypeScript strict mode errors in frontend
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/NodeConfigModal.tsx
  src/mcp_server_langgraph/builder/frontend/src/components/SessionTimeoutWarning.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
Due: none

fix(ci): resolve kustomize test file path and npm ci build failures
  .gitignore
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Due: none

fix(docker): copy src/ before uv sync in playground and builder Dockerfiles
  docker/Dockerfile.builder
  docker/Dockerfile.playground
Due: none

fix(builder): exclude test files from TypeScript production build
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
Due: none

fix(docker): configure Loki tmpfs with correct UID for non-root operation
  docker-compose.test.yml
Due: none

security: configure Qdrant and Traefik for non-root execution
  docker-compose.test.yml
Due: none

fix(test-infra): add builder and playground services to integration tests
  scripts/test-integration.sh
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/playground/test_playground_api_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

test: skip builder/playground integration tests pending infrastructure
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0041-postgresql-gdpr-storage.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  docs/architecture/adr-0064-pre-commit-hooks-strategy.mdx
  tests/builder/test_builder_observability.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/playground/test_playground_api_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

test: skip fixture cleanup tests when CI lacks infrastructure
  tests/integration/test_fixture_cleanup.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

chore(deps): align service versions for cloud parity
  deployments/base/redis-session-deployment.yaml
  deployments/kubernetes/kong/redis-deployment.yaml
  deployments/optimized/redis-session-deployment.yaml
  docker-compose.dev.yml
  docker-compose.minimal.yml
  docker-compose.test.yml
  docker/docker-compose.yml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

fix(observability): fix Alloy health check and Loki timestamp rejection
  docker-compose.test.yml
  docker/loki/loki-config.yaml
Due: run-pre-push-tests

docs: add ADR-0067 and lessons learned for Grafana LGTM stack
  .claude/CLAUDE.md
  .claude/memory/distroless-container-healthchecks.md
  README.md
  adr/README.md
  adr/adr-0067-grafana-lgtm-stack-migration.md
  docs/architecture/adr-0067-grafana-lgtm-stack-migration.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index

fix(builder): add package-lock.json for reproducible npm ci builds
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Due: none

feat(ci): add builder and playground services to integration test infrastructure
  scripts/test-integration.sh
Due: none

fix(builder): fix TypeScript compilation errors for Docker build
  src/mcp_server_langgraph/builder/frontend/src/App.test.tsx
  src/mcp_server_langgraph/builder/frontend/src/hooks/useHeartMetrics.ts
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
Due: none

fix: incorporate CI fixes from fix/ci-failures-kustomize-and-npm
  README.md
  adr/README.md
  adr/adr-0067-non-root-container-security.md
  docker-compose.test.yml
  docker/Dockerfile.builder
  docker/Dockerfile.playground
  docs/architecture/adr-0067-non-root-container-security.mdx
  docs/architecture/overview.mdx
  docs/docs.json
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
