Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

fix(tests,docs): resolve pre-push hook failures
  docs/api-reference/connection-templates.mdx
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/architecture/adr-0072-bootstrap-phase-architecture.mdx
  docs/architecture/adr-0074-ai-suggestions-streaming-cost-tracking.mdx
  docs/architecture/adr-0078-multi-agent-orchestrator-patterns.mdx
  docs/architecture/adr-0079-multi-framework-tool-parity.mdx
  docs/architecture/adr-0086-security-audit-keycloak-openfga.mdx
  docs/architecture/adr-0097-nan-safety-api-response-models.mdx
  docs/guides/alert-management.mdx
  docs/guides/api-migration-guide.mdx
  docs/guides/devtools.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/native-tools.mdx
  docs/guides/prompt-injection-protection.mdx
  docs/guides/push-notifications.mdx
  docs/guides/sdk-hooks.mdx
  scripts/audit/audit_xdist_groups.py
  scripts/hooks/parallel_pre_push.sh
  tests/contract/test_openapi_schema_validation.py
  tests/contract/test_rest_api_authorization_parity.py
  tests/contract/test_websocket_endpoint_parity.py
  tests/integration/api/v1/test_references_integration.py
  tests/integration/dataflow/test_audit_flow_e2e.py
  tests/integration/execution/test_bypass_mode_flow.py
  tests/integration/vectors/test_semantic_index_manager_qdrant.py
  tests/unit/api/v1/test_user_persona_response.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(hooks): resolve pre-push hook drift detection failures
  .pre-commit-config.yaml
  scripts/hooks/parallel_pre_push.sh
Due: none

fix(hooks): use positional hook args for pre-commit 4.x compatibility
  scripts/hooks/parallel_pre_push.sh
Due: none

fix(hooks): prevent set -e from aborting on lane wait exit codes
  scripts/hooks/parallel_pre_push.sh
Due: none

fix(hooks): isolate GIT_INDEX_FILE per lane to prevent index.lock contention
  scripts/hooks/parallel_pre_push.sh
Due: none

fix(security): replace checkov with trivy, fix dmypy args and frontend OOM
  .github/workflows/ci.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/hooks/dmypy_check.sh
  scripts/hooks/parallel_pre_push.sh
  scripts/hooks/parallel_security_scan.sh
  scripts/security/run_security_suite.py
  terraform/Makefile
  tests/infrastructure/test_terraform_security.py
  tests/unit/scripts/test_dmypy_check.py
  tests/unit/scripts/test_parallel_pre_push.py
  tests/unit/scripts/test_parallel_security_scan.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(studio): eliminate duplicate user messages in chat frontend
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.handleSendMessage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.effects.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.fallback.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/devLogger.ts
Due: none

fix(hooks,frontend): persist lane logs, fix pre-push test and security failures
  scripts/hooks/parallel_pre_push.sh
  scripts/hooks/parallel_security_scan.sh
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConversationIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWebSocketMetricsReporter.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.ts
  tests/unit/scripts/test_parallel_pre_push.py
  tests/unit/scripts/test_parallel_security_scan.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(studio): null-safe toolsNeeded access in InlinePlanCard and PlanEditor
  src/mcp_server_langgraph/studio/frontend/src/components/PlanEditor/PlanEditor.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/PlanEditor/PlanEditor.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/InlinePlanCard.tsx
Due: none

fix(studio): harden streaming bounds, fix callbacks, add style submenu tests
  .claude/rules/frontend.md
  .claude/rules/tests.md
  src/mcp_server_langgraph/studio/frontend/.gitignore
  src/mcp_server_langgraph/studio/frontend/e2e/chat-contract-validation.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/chat-ux-features.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/auth.ts
  src/mcp_server_langgraph/studio/frontend/e2e/login-flow.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/session-sync-flow.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/StylePresets.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/StylePresets.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.accessibility.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.core.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.fixtures.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/__tests__/PreferencesMenu.submenus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
Due: none

fix(tests,security): register missing pytest marks, suppress expected warnings, harden report generation
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
  make/docs.mk
  pyproject.toml
  scripts/validators/check_async_mock_configuration.py
  uv.lock
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, check-internal-links, semgrep-security-scan, validate-pytest-markers, validate-pytest-config

chore(config): update environment, deployment, and infrastructure config
  .claude/rules/context-efficiency.md
  .env.example
  .env.production.template
  .env.test
  .gitignore
  agent_state/sessions.json
  config/openfga/model.json
  config/openfga/sample-tuples.json
  deployments/base/configmap.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  docker-compose.test.yml
  docker/postgres/init-test-databases.sh
  tests/constants.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-pytest-markers, validate-test-collection, helm-lint, validate-helm-chart-deps, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(db): align database models with migration schema and add pgvector extension
  migrations/001_gdpr_schema.sql
  src/mcp_server_langgraph/core/config/storage.py
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/health/database_checks.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

security(api): harden error responses to prevent information leakage
  src/mcp_server_langgraph/api/api_keys.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/api/service_principals.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(mcp,api): logging reserved key, router registration, and tool fixes
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/core/startup_validation.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/tools/search_tools.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(frontend): update KB status test and mock handlers
  src/mcp_server_langgraph/studio/frontend/src/hooks/useKBStatus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
Due: none

test(e2e): add agentic memory e2e tests and backend env vars
  .env.test
  tests/e2e/test_agentic_memory_e2e.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): infrastructure port fixes for integration and e2e test suites
  docker/postgres/init-test-databases.sh
  migrations/004_agentic_memory.sql
  tests/e2e/test_agentic_memory_e2e.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): address pre-existing failures across integration and e2e suites
  tests/e2e/conftest.py
  tests/e2e/real_clients.py
  tests/e2e/test_mcp_websocket_e2e.py
  tests/e2e/test_notification_websocket_e2e.py
  tests/e2e/test_orchestrator_status_websocket_e2e.py
  tests/e2e/test_unified_api_journey.py
  tests/e2e/test_websocket_smoke.py
  tests/integration/test_agent.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_azure_openai.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_infisical_optional.py
  tests/integration/test_studio_orchestrator_api.py
  tests/integration/tools/test_native_tools.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): correct mock targets and cache key patterns for integration tests
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  tests/integration/mcp/test_cached_unified_registry_redis.py
  tests/integration/test_agent.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_infisical_optional.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(infra): align docker-compose.test.yml ports and postgres init script
  docker-compose.test.yml
  docker/postgres/init-test-databases.sh
Due: none

refactor(db): remove raw SQL migrations superseded by Alembic
  migrations/001_gdpr_schema.sql
  migrations/002_remediation_feedback.sql
  migrations/003_push_subscriptions.sql
  migrations/004_agentic_memory.sql
Due: none

fix(db): add missing alembic migrations and align env.py with test infra
  alembic/env.py
  alembic/versions/g8h9i0j1k2l3_add_popup_column_to_oauth2_states.py
  alembic/versions/h9i0j1k2l3m4_enable_realtime_continuous_aggregates.py
  alembic/versions/i0j1k2l3m4n5_add_plan_templates_missing_columns.py
  alembic/versions/j1k2l3m4n5o6_fix_execution_plan_schema_drift.py
  alembic/versions/k2l3m4n5o6p7_fix_execution_plans_tools_needed.py
Due: check-banned-imports

security(api): harden service principal endpoints (CWE-203, CWE-20)
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/auth/dependencies.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(mcp): align source modules with test infrastructure ports
  src/mcp_server_langgraph/health/database_checks.py
  src/mcp_server_langgraph/notifications/push_store.py
  src/mcp_server_langgraph/observability/query/backends/tempo.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(tests): add shared test constants and align infrastructure fixtures
  tests/conftest.py
  tests/constants.py
  tests/fixtures/database_fixtures.py
  tests/fixtures/docker_fixtures.py
  tests/plugins/infrastructure_plugin.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): align e2e test suites with infrastructure ports and credentials
  tests/e2e/journeys/test_keycloak_openfga_auth_flow.py
  tests/e2e/real_clients.py
  tests/e2e/test_agentic_memory_e2e.py
  tests/e2e/test_bob_user_journey.py
  tests/e2e/test_frontend_api_smoke.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_mcp_websocket_e2e.py
  tests/e2e/test_native_tools_e2e.py
  tests/e2e/test_notification_websocket_e2e.py
  tests/e2e/test_scim_provisioning.py
  tests/e2e/test_unified_api_journey.py
  tests/e2e/test_websocket_smoke.py
  tests/e2e/test_workflow_sharing_journey.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

security(api): validate user_id in GDPR export and delete endpoints
  src/mcp_server_langgraph/api/gdpr.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

security(runtime): replace assert guards with raise in production modules
  src/mcp_server_langgraph/execution/sql/validator.py
  src/mcp_server_langgraph/llm/verifier.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
