Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

test(backend): add noqa comments for sleep-duration in timeout tests
  tests/integration/dataflow/test_mcp_tool_execution_flow_e2e.py
  tests/integration/test_skill_execution.py
  tests/integration/websocket/test_websocket_resilience.py
  tests/unit/bootstrap/test_context_graph_bootstrap.py
  tests/unit/core/test_cache_resilience.py
  tests/unit/mcp/test_mcp_executor.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(ruff): document custom noqa code limitation
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

feat(feature-flags): add enable_agent_execution_tracing flag
  src/mcp_server_langgraph/core/feature_flags.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(bootstrap): add agent execution tracing repository initialization
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/agent_execution_tracing.py
  src/mcp_server_langgraph/bootstrap/context_graph.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(chat): wire emit_agent_execution_trace and persist token usage
  src/mcp_server_langgraph/api/v1/chat.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(frontend): prevent message duplication in streaming
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messageDedup.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
Due: none

fix(devtools): add WebSocket reconnection with HTTP polling fallback
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
Due: none

test(tracing): add agent execution tracing unit tests
  tests/unit/api/v1/test_agent_execution_tracing.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(test): enable agent execution tracing in test environment
  .env.test
Due: none

refactor(commands): migrate 10 commands to user-level skills
  .claude/commands/ci-status.md
  .claude/commands/code-review.md
  .claude/commands/coverage-gaps.md
  .claude/commands/docs-audit.md
  .claude/commands/explore-codebase.md
  .claude/commands/knowledge-search.md
  .claude/commands/plan-review.md
  .claude/commands/plan-status.md
  .claude/commands/test-status.md
  .claude/commands/troubleshoot.md
  tests/meta/test_claude_code_configuration.py
  tests/meta/test_slash_commands.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(docs): cross-platform portability remediation
  .claude/QUICK_REFERENCE.md
  .claude/README.md
  .claude/SETTINGS.md
  .claude/commands/README.md
  .claude/commands/analytics.md
  .claude/commands/benchmark.md
  .claude/commands/coverage-trend.md
  .claude/commands/db-operations.md
  .claude/commands/deploy.md
  .claude/commands/improve-coverage.md
  .claude/commands/progress-update.md
  .claude/commands/quick-debug.md
  .claude/commands/refresh-context.md
  .claude/commands/release-prep.md
  .claude/commands/security-scan-report.md
  .claude/commands/setup-env.md
  .claude/commands/test-failure-analysis.md
  .claude/commands/test-summary.md
  .claude/commands/todo-status.md
  .claude/commands/type-safety-status.md
  .claude/commands/validate.md
  .claude/commands/verify-tests.md
  .claude/context/pytest-markers.md
  .claude/context/test-constants-pattern.md
  .claude/context/xdist-safety-patterns.md
  .claude/memory/ai-cli-tool-patterns.md
  .claude/memory/anti-patterns.md
  .claude/memory/decision-trees.md
  .claude/memory/distroless-container-healthchecks.md
  .claude/memory/efficient-tool-usage.md
  .claude/memory/helm-chart-validation.md
  .claude/memory/keycloak-oidc-issuer-pattern.md
  .claude/memory/lgtm-stack-lessons.md
  .claude/memory/make-targets.md
  .claude/memory/python-environment-usage.md
  .claude/templates/README.md
Due: none

ci(docs): add portability check workflow
  .github/workflows/docs-portability-check.yml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(observability): add SessionPropagatingSpanProcessor for DevTools traces
  pyproject.toml
  src/mcp_server_langgraph/observability/__init__.py
  src/mcp_server_langgraph/observability/session_propagating_span_processor.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/conftest.py
  tests/unit/observability/test_session_propagating_span_processor.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(websocket): wire session_id filter in trace handler
  src/mcp_server_langgraph/observability/trace_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/trace.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(tests): correct wiring test expectations to match implementation
  tests/unit/observability/query/test_lgtm_backends.py
  tests/unit/observability/test_broadcasting_span_processor.py
  tests/unit/observability/test_metrics_query_wiring.py
  tests/unit/observability/test_observability_wiring_gaps.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(tests): move gRPC and benchmark tests to appropriate directories
  tests/benchmarks/test_json_logger_performance.py
  tests/integration/test_otlp_grpc_exporter.py
  tests/unit/observability/test_json_logger.py
  tests/unit/observability/test_telemetry_protocol_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(integration): add DevTools trace emission integration tests
  tests/integration/test_devtools_trace_emission.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(deps): patch critical npm vulnerability in brace-expansion
  src/mcp_server_langgraph/studio/frontend/package-lock.json
Due: none

chore(.claude): consolidate project documentation and memory files
  .claude/CLAUDE.md
  .claude/commands/README.md
  .claude/context/code-patterns.md
  .claude/context/pytest-markers.md
  .claude/context/test-constants-pattern.md
  .claude/context/testing-patterns.md
  .claude/context/xdist-safety-patterns.md
  .claude/memory/ai-cli-tool-patterns.md
  .claude/memory/anti-patterns.md
  .claude/memory/context-efficiency.md
  .claude/memory/decision-trees.md
  .claude/memory/distroless-container-healthchecks.md
  .claude/memory/efficient-tool-usage.md
  .claude/memory/execution-mode-patterns.md
  .claude/memory/feature-flag-conventions.md
  .claude/memory/frontend-component-patterns.md
  .claude/memory/frontmatter-conventions.md
  .claude/memory/gke-infrastructure-testing.md
  .claude/memory/helm-chart-validation.md
  .claude/memory/keycloak-oidc-issuer-pattern.md
  .claude/memory/kustomize-nameprefix-gotchas.md
  .claude/memory/lgtm-stack-lessons.md
  .claude/memory/make-targets.md
  .claude/memory/python-environment-usage.md
  .claude/memory/rollup-circular-dependency-pattern.md
  .claude/memory/session-workflow-patterns.md
  .claude/memory/task-spawn-error-prevention-strategy.md
  .claude/memory/validation-strategy.md
Due: none

chore(docs): update frontend style guide
  docs-internal/frontend/STYLE.md
Due: check-internal-links

feat(frontend): add tools multi-select submenu and model display utilities
  src/mcp_server_langgraph/studio/frontend/package-lock.json
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/check-test-file-size.sh
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.modelFlow.e2e.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.modelSelection.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HeaderModelSelector.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HeaderModelSelector.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/HeaderModelSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.stories.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.core.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.features.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.telemetry.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.toolSelection.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/modelDisplay.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/modelDisplay.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
Due: none

fix(tests): resolve pre-existing Chat component test failures
  src/mcp_server_langgraph/studio/frontend/scripts/check-test-file-size.sh
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentTraceToggleButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ExportButton.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/LangGraphNodeVisualization.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.test.tsx
Due: none

feat(frontend): add strikethrough, list, quote, and auto-continue formatting
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.advanced.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.submit.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/RichTextInput.tsx
Due: none

fix(vitest): prevent zombie fork workers from OOM GC death spiral
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

docs(adr): add ADR-0107 secrets provider selection
  README.md
  adr/adr-0107-secrets-provider-selection.md
  docs/architecture/adr-0107-secrets-provider-selection.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

feat(sql): add multi-dialect SQL execution infrastructure
  src/mcp_server_langgraph/execution/sql/__init__.py
  src/mcp_server_langgraph/execution/sql/drivers/__init__.py
  src/mcp_server_langgraph/execution/sql/drivers/base.py
  src/mcp_server_langgraph/execution/sql/drivers/bigquery.py
  src/mcp_server_langgraph/execution/sql/drivers/clickhouse.py
  src/mcp_server_langgraph/execution/sql/drivers/duckdb.py
  src/mcp_server_langgraph/execution/sql/drivers/mysql.py
  src/mcp_server_langgraph/execution/sql/drivers/postgres.py
  src/mcp_server_langgraph/execution/sql/drivers/redshift.py
  src/mcp_server_langgraph/execution/sql/drivers/registry.py
  src/mcp_server_langgraph/execution/sql/drivers/snowflake.py
  src/mcp_server_langgraph/execution/sql/drivers/sqlite.py
  src/mcp_server_langgraph/execution/sql/drivers/trino.py
  src/mcp_server_langgraph/execution/sql/exceptions.py
  src/mcp_server_langgraph/execution/sql/executor.py
  src/mcp_server_langgraph/execution/sql/log_redactor.py
  src/mcp_server_langgraph/execution/sql/parameter_contract.py
  src/mcp_server_langgraph/execution/sql/policy.py
  src/mcp_server_langgraph/execution/sql/transpiler.py
  src/mcp_server_langgraph/execution/sql/types.py
  src/mcp_server_langgraph/execution/sql/validator.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(security): add network egress validation and credential management
  src/mcp_server_langgraph/execution/sql/connection_tester.py
  src/mcp_server_langgraph/execution/sql/credential_manager.py
  src/mcp_server_langgraph/network/__init__.py
  src/mcp_server_langgraph/network/egress_validator.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(api): add database connections CRUD with credential rotation
  alembic/env.py
  alembic/versions/d1f2g3h4i5j6_add_database_connections_table.py
  src/mcp_server_langgraph/api/v1/database_connections.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/models/base.py
  src/mcp_server_langgraph/models/database_connection.py
  src/mcp_server_langgraph/repositories/database_connections.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

chore(deploy): add SQL executor Kubernetes and monitoring configs
  deployments/kubernetes/sql-executor-egress-networkpolicy.yaml
  deployments/kubernetes/sqlglot-rollback-configmap.yaml
  deployments/monitoring/sqlglot-alerts.yaml
  deployments/monitoring/sqlglot-migration-dashboard.json
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance

test(sql): add comprehensive SQL execution test suite
  pyproject.toml
  src/mcp_server_langgraph/alerts/feedback.py
  src/mcp_server_langgraph/alerts/models.py
  src/mcp_server_langgraph/api/v1/connection_templates.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/execution/sandbox_context.py
  src/mcp_server_langgraph/execution/sandbox_packages.py
  src/mcp_server_langgraph/models/__init__.py
  src/mcp_server_langgraph/models/audit_log.py
  src/mcp_server_langgraph/models/connection.py
  src/mcp_server_langgraph/models/project.py
  src/mcp_server_langgraph/models/session_goal.py
  src/mcp_server_langgraph/models/unified_audit.py
  src/mcp_server_langgraph/repositories/__init__.py
  tests/integration/execution/sql/__init__.py
  tests/integration/execution/sql/test_database_connections_integration.py
  tests/unit/api/v1/test_database_connections.py
  tests/unit/execution/sql/__init__.py
  tests/unit/execution/sql/test_connection_tester.py
  tests/unit/execution/sql/test_credential_manager.py
  tests/unit/execution/sql/test_drivers.py
  tests/unit/execution/sql/test_egress_validator.py
  tests/unit/execution/sql/test_executor.py
  tests/unit/execution/sql/test_feature_flags_sql.py
  tests/unit/execution/sql/test_log_redactor.py
  tests/unit/execution/sql/test_parameter_contract.py
  tests/unit/execution/sql/test_policy.py
  tests/unit/execution/sql/test_sql_init.py
  tests/unit/execution/sql/test_transpiler.py
  tests/unit/execution/sql/test_validator.py
  tests/unit/models/__init__.py
  tests/unit/models/test_database_connection.py
  tests/unit/repositories/__init__.py
  tests/unit/repositories/test_database_connection_repository.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(models): centralize SQLAlchemy Base class
  src/mcp_server_langgraph/database/execution_plan_models.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/notifications/push_store.py
  src/mcp_server_langgraph/storage/artifacts/__init__.py
  src/mcp_server_langgraph/storage/artifacts/models.py
  src/mcp_server_langgraph/storage/session/__init__.py
  src/mcp_server_langgraph/storage/session/postgres_models.py
  src/mcp_server_langgraph/storage/user/postgres_models.py
  src/mcp_server_langgraph/storage/workflow/__init__.py
  src/mcp_server_langgraph/storage/workflow/postgres_execution_manager.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  tests/integration/api/v1/test_session_goals_e2e.py
  tests/integration/storage/workflow/test_postgres_share_repository.py
  tests/integration/test_push_store_postgres.py
  tests/unit/execution/test_sandbox_packages.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(backend): add sandbox SQL tests and fix integration tests
  tests/docker/test_alembic_dockerfile.py
  tests/integration/test_connections_repository.py
  tests/unit/execution/test_sandbox_context_sql.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add SQL execution UI components and types
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/public/wasm/.gitkeep
  src/mcp_server_langgraph/studio/frontend/scripts/download-wasm.sh
  src/mcp_server_langgraph/studio/frontend/scripts/verify-wasm-integrity.sh
  src/mcp_server_langgraph/studio/frontend/src/canvas/pyodidePackages.test.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/pyodidePackages.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/sqlBridge.test.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/sqlBridge.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/sqlWorker.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/DatabaseConnectionDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/DatabaseConnectionDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/SupportBadge.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/SupportBadge.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/connection.ts
  src/mcp_server_langgraph/studio/frontend/src/types/sql-js.d.ts
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Due: none

feat(make): add pytest parallel execution with opt-out support
  docs-internal/testing/TESTING.md
  make/testing.mk
  tests/unit/infrastructure/test_makefile_parallelism.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(.claude): add context efficiency memory docs
  .claude/memory/anti-patterns.md
  .claude/memory/progressive-disclosure.md
  .claude/memory/tool-patterns.md
Due: none

docs(.claude): add scripts and style reference docs
  .claude/memory/scripts-reference.md
  .claude/memory/style-reference.md
Due: none

docs(.claude): update CLAUDE.md with new docs index
  .claude/CLAUDE.md
Due: none

chore(alembic): add merge migration for traces and db connections heads
  alembic/versions/65ec89011b7b_merge_langgraph_traces_and_db_.py
Due: check-banned-imports

chore(deps): add sql.js dependency for frontend SQL execution
  src/mcp_server_langgraph/studio/frontend/package-lock.json
Due: none

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
