Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers

Path conditions:
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$

add Benchmark (pytest) benchmark result for d70aae6f2d39c0e85340d28347280306cadd854d
  dev/bench/data.js
Due: none

docs(testing): comprehensive documentation for Codex improvements (Phase 4)
  .pre-commit-config.yaml
  TESTING.md
  deployments/helm/values-production.yaml
  deployments/helm/values-staging.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/production-gke/config-vars.yaml
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/staging-gke/config-vars.yaml
  deployments/overlays/staging/kustomization.yaml
  tests/README.md
  tests/deployment/test_helm_placeholder_validation.py
Due: check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-pytest-markers

docs(codex): add comprehensive validation report for all deployment fixes
  docs-internal/CODEX_VALIDATION_REPORT.md
  tests/deployment/test_codex_findings_validation.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

add Benchmark (pytest) benchmark result for f41ef972081f846a204c9c45fd1462e433636326
  dev/bench/data.js
Due: none

feat(terraform): add Cloud DNS module for staging environment
  terraform/modules/cloud-dns-staging/main.tf
  terraform/modules/cloud-dns-staging/outputs.tf
  terraform/modules/cloud-dns-staging/variables.tf
Due: none

docs(terraform): add Cloud DNS staging module documentation
  terraform/modules/cloud-dns-staging/README.md
Due: check-doc-links, validate-documentation-quality

style(terraform): auto-format staging environment config
  terraform/environments/staging/main.tf
  terraform/environments/staging/variables.tf
Due: none

add Benchmark (pytest) benchmark result for 02a0f70867b1031d9cdf784ae3d2b99af1516fad
  dev/bench/data.js
Due: none

fix(scripts): remove unused variable in Cloud DNS setup script
  scripts/setup-cloud-dns-staging.sh
Due: none

add Benchmark (pytest) benchmark result for 25fc5fa6cf28edf840718fc1694e03747fa48a82
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 326bc3e78a2634016aa0be06019c17dd38dd6537
  dev/bench/data.js
Due: none

feat(dns,deployment): Cloud DNS for staging + failover verification (TDD)
  .gitignore
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
  scripts/setup-cloud-dns-staging.sh
  scripts/verify-dns-failover.sh
  tests/deployment/pytest.ini
  tests/deployment/test_dns_failover_verification.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for 20ab627023ad280cb113a1fba1e9b8bb8aa4c6b5
  dev/bench/data.js
Due: none

fix(core,init): resolve 3 OpenAI Codex findings with TDD approach
  src/mcp_server_langgraph/__init__.py
  src/mcp_server_langgraph/core/cache.py
  tests/conftest.py
  tests/deployment/test_kustomize_build.py
  tests/test_ci_cd_validation.py
  tests/test_distributed_checkpointing.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_lazy_imports.py
Due: validate-dependency-injection, validate-pytest-markers

test(utilities): add comprehensive tests for shared test utilities
  tests/test_test_utilities.py
  tests/unit/test_observability_lazy_init.py
Due: validate-pytest-markers

fix(observability): implement safe logger fallback for pre-init usage
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/test_observability_lazy_init.py
Due: validate-pytest-markers

feat(app,openfga,observability): resolve final 2 Codex findings with TDD
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/e2e/test_full_user_journey.py
  tests/integration/test_openfga_cleanup.py
  tests/property/test_llm_properties.py
  tests/unit/test_app_factory.py
Due: validate-pytest-markers

test(e2e): enhance client error handling with specific exceptions
  tests/e2e/real_clients.py
  tests/e2e/test_real_clients_resilience.py
Due: validate-pytest-markers

feat(meta,docs): add AST-based regression prevention for Codex findings
  docs-internal/CODEX_REMEDIATION_VALIDATION_REPORT.md
  tests/meta/test_codex_regression_prevention.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

add Benchmark (pytest) benchmark result for 6bcb1a0a82210b415fbd91a88359979ea7610e55
  dev/bench/data.js
Due: none

fix(helm): resolve hyphenated key parsing and YAML syntax issues in PrometheusRule templates (TDD)
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-langgraph.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-sla.yaml
  docs-internal/CODEX_FINAL_SUMMARY.md
  tests/deployment/test_helm_configuration.py
Due: check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-pytest-markers

fix(kustomize): replace AWS ConfigMap generator with strategic merge patch (TDD)
  deployments/kubernetes/overlays/aws/kustomization.yaml
  tests/deployment/test_kustomize_build.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for 2e13d4c81d579dfb6367549b3e12a1262cf61715
  dev/bench/data.js
Due: none

fix(kustomize): replace GCP and Azure ConfigMap generators with strategic merge patches (TDD)
  deployments/kubernetes/overlays/azure/kustomization.yaml
  deployments/kubernetes/overlays/azure/otel-collector-configmap-patch.yaml
  deployments/kubernetes/overlays/gcp/kustomization.yaml
  deployments/kubernetes/overlays/gcp/otel-collector-configmap-patch.yaml
Due: none

fix(kustomize): eliminate placeholder leakage in production-gke overlay (TDD)
  deployments/overlays/production-gke/config-vars.yaml
  deployments/overlays/production-gke/configmap-patch.yaml
  deployments/overlays/production-gke/environment-vars.yaml
  deployments/overlays/production-gke/ingress-patch.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/production-gke/serviceaccount-patch.yaml
  tests/deployment/test_placeholder_validation.py
Due: validate-pytest-markers

fix(aws): correct container name in deployment patch to match base (TDD)
  deployments/kubernetes/overlays/aws/deployment-patch.yaml
  tests/deployment/test_kustomize_build.py
Due: validate-pytest-markers

fix(aws): create missing aws-config ConfigMap for Kustomize replacements (TDD)
  deployments/kubernetes/overlays/aws/aws-config.yaml
  deployments/kubernetes/overlays/aws/kustomization.yaml
Due: none

fix(staging-gke): update secret references to match External Secrets (TDD)
  deployments/overlays/staging-gke/deployment-patch.yaml
Due: none

fix(production-gke): remove in-cluster databases for cloud-managed services (TDD)
  deployments/overlays/production-gke/kustomization.yaml
Due: none

fix(kustomize): standardize image retagging with full registry paths (TDD)
  deployments/overlays/production/kustomization.yaml
  deployments/overlays/staging-gke/kustomization.yaml
Due: none

test(helm): add unit tests and values schema for chart validation (TDD)
  deployments/helm/mcp-server-langgraph/tests/deployment_test.yaml
  deployments/helm/mcp-server-langgraph/tests/prometheusrule_test.yaml
  deployments/helm/mcp-server-langgraph/values.schema.json
Due: validate-documentation-quality, validate-deployment-secrets

ci(workflows): add comprehensive deployment validation gates (TDD)
  .github/workflows/deployment-validation.yml
Due: validate-github-workflows

chore(pre-commit): add deployment validation hooks for Codex findings prevention (TDD)
  .pre-commit-config.yaml
Due: none

docs(deployment): add comprehensive secret management guide
  deployments/SECRET_MANAGEMENT_GUIDE.md
Due: check-doc-links, validate-documentation-quality

docs(codex): add comprehensive remediation summary and fix values schema
  deployments/helm/mcp-server-langgraph/values.schema.json
  docs-internal/CODEX_REMEDIATION_SUMMARY.md
Due: check-doc-links, validate-documentation-quality

add Benchmark (pytest) benchmark result for c6eb82409dfa6782fb74e4f593ddbee11edc6b85
  dev/bench/data.js
Due: none

ci(workflows): add kubeconform schema validation and helm-unittest execution (TDD)
  .github/workflows/deployment-validation.yml
Due: validate-github-workflows

docs(deployment): document optimized deployment directory as experimental/archived
  deployments/optimized/README.md
Due: check-doc-links, validate-documentation-quality

add Benchmark (pytest) benchmark result for 5b4a71b1f25927bb87b38c6f900cc9fba168e17f
  dev/bench/data.js
Due: none

test: add comprehensive tests for CI/CD fixes (TDD RED phase)
  .gitleaksignore
  tests/test_gitleaks_config.py
  tests/test_validate_mintlify_docs.py
  tests/test_yaml_syntax.py
Due: validate-pytest-markers
