Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

feat(websocket): add protocol version mismatch handling (frontend + backend tests)
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionHealthDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Connection/ConnectionHealthDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealth.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealth.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionsRealtimeWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCostTrackingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPAggregatedUpdates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-metrics.test.ts
  src/mcp_server_langgraph/studio/frontend/src/types/websocket-metrics.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.ts
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/types.py
  tests/unit/websocket/test_protocol_version.py
  tests/unit/websocket/test_protocols.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): update useConnectionHealthWebSocket mock to match ReconnectionMetrics
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.test.ts
Due: none

docs(websocket): add ADR-0076 for protocol versioning strategy
  docs-internal/ADR-0076-WEBSOCKET-PROTOCOL-VERSIONING.md
  src/mcp_server_langgraph/studio/frontend/docs-internal/WEBSOCKET_PATTERNS.md
Due: check-internal-links

feat(devtools): add WebSocket connection status indicators
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/DevToolsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsWebSocket.ts
Due: none

feat(grafana): add protocol version mismatch monitoring panels
  monitoring/grafana/dashboards/Application/websocket-telemetry.json
Due: validate-grafana-dashboards

feat(frontend): add sonner toast for protocol version mismatch
  src/mcp_server_langgraph/studio/frontend/src/api/baseQueryWithReauth.ts
  src/mcp_server_langgraph/studio/frontend/src/config/version.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/version.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagProviderMounting.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAINudges.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useBudgetAlertsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionsRealtimeWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useCostTrackingWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPAggregatedUpdates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketTelemetry.ts
Due: none

feat(websocket): add protocol version telemetry and alerting
  monitoring/grafana/alerting.yml
  src/mcp_server_langgraph/studio/frontend/docs-internal/WEBSOCKET_PATTERNS.md
  src/mcp_server_langgraph/studio/frontend/src/utils/websocketAuth.test.ts
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/protocols.py
  tests/unit/websocket_pkg/test_base.py
  tests/unit/websocket_pkg/test_exceptions.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(websocket): use static imports for telemetry reporting
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAISuggestionsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionHealthWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConnectionsRealtimeWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
Due: none

feat(websocket): append protocol version to WebSocket connection URLs
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useRealtimeSync.ts
Due: none

refactor(frontend): implement lazy loading for heavy components
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Cost/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/index.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
Due: none

build(vite): optimize chunk configuration for large vendor bundles
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Due: none

test(hooks): refactor WebSocket tests to use useRealtimeSync mocks
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.test.tsx
Due: none

docs(guides): add mermaid flow diagrams to architecture documentation
  docs/architecture/adr-0083-confidence-based-hitl-system.mdx
  docs/docs.json
  docs/guides/agent-architecture.mdx
  docs/guides/agent-hitl-approval.mdx
  docs/guides/code-execution.mdx
  docs/guides/dpop-enforcement.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/hitl-visual-flows.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/multi-agent-orchestrators.mdx
Due: validate-docs, mintlify-broken-links-check, check-mermaid-styling

chore(e2e): add OpenFGA server client to Keycloak test realm
  tests/e2e/default-realm.json
Due: none

feat(openfga): extend authorization model with infrastructure updates
  .env.test
  .pre-commit-config.yaml
  config/openfga/README.md
  config/openfga/model.json
  config/openfga/sample-tuples.json
  docker-compose.test.yml
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

feat(auth): add authorization caching and FastAPI dependencies
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/auth/metrics.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/auth/resource_registry.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(api): add OpenFGA authorization to all API endpoints
  src/mcp_server_langgraph/api/v1/admin.py
  src/mcp_server_langgraph/api/v1/agent_requests.py
  src/mcp_server_langgraph/api/v1/agents.py
  src/mcp_server_langgraph/api/v1/ai.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/alert_recommendations.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/compliance_reports.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/api/v1/connection_audit.py
  src/mcp_server_langgraph/api/v1/connection_templates.py
  src/mcp_server_langgraph/api/v1/connections.py
  src/mcp_server_langgraph/api/v1/connections_bulk.py
  src/mcp_server_langgraph/api/v1/cost.py
  src/mcp_server_langgraph/api/v1/feedback.py
  src/mcp_server_langgraph/api/v1/marketplace_admin.py
  src/mcp_server_langgraph/api/v1/mcp.py
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/api/v1/projects.py
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/api/v1/studio_ai.py
  src/mcp_server_langgraph/api/v1/surveys.py
  src/mcp_server_langgraph/api/v1/workflow_executions.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/api/v1/ws_router.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(orchestrator): add lifecycle callbacks and status broadcasting
  src/mcp_server_langgraph/agents/alert_orchestrator.py
  src/mcp_server_langgraph/agents/base_orchestrator.py
  src/mcp_server_langgraph/agents/explanation_orchestrator.py
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/agents/ux_orchestrator.py
  src/mcp_server_langgraph/websocket/handlers/orchestrator_status.py
  src/mcp_server_langgraph/websocket/orchestrator_prometheus_metrics.py
  src/mcp_server_langgraph/websocket/registry.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(frontend): add orchestrator status integration to Studio
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOrchestratorStatus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOrchestratorStatus.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/websocket.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

feat(grafana): add authorization and orchestrator monitoring
  monitoring/grafana/alerting.yml
  monitoring/grafana/dashboards/Application/orchestrator-status.json
  monitoring/grafana/dashboards/Auth/openfga.json
Due: validate-grafana-dashboards

docs(adr): add security audit and orchestrator status documentation
  README.md
  adr/adr-0086-security-audit-keycloak-openfga.md
  docs/architecture/adr-0086-security-audit-keycloak-openfga.mdx
  docs/guides/orchestrator-status-websocket.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

fix(types): resolve MyPy errors in auth metrics and API endpoints
  src/mcp_server_langgraph/api/v1/feedback.py
  src/mcp_server_langgraph/api/v1/surveys.py
  src/mcp_server_langgraph/auth/metrics.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(test): add auth mock to AI node config API tests
  tests/api/test_ai_node_config_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add OpenFGA auth mocks to projects API tests
  tests/api/test_projects_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): resolve MyPy error and add auth mocks to connections API tests
  src/mcp_server_langgraph/auth/metrics.py
  tests/api/test_connections_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add admin auth mock to connection audit log tests
  tests/api/test_connection_audit_log.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(keycloak): fix hostname configuration for HTTP access in test environment
  docker-compose.test.yml
  tests/e2e/default-realm.json
Due: none

fix(tests): add auth mocks to API tests for OpenFGA authorization
  src/mcp_server_langgraph/api/v1/connection_health_ws.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/api/test_ai_fetch_url_api.py
  tests/api/test_compliance_reports.py
  tests/api/test_connection_health_websocket.py
  tests/api/test_connection_templates.py
  tests/api/test_connections_bulk_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add protocol version to mcp_task_ws auth test
  tests/unit/ws_handlers/test_mcp_task_ws.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): add workflow auth dependency overrides in test_workflows_router.py
  .pre-commit-config.yaml
  tests/unit/api/v1/test_workflows_router.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(openfga): change mcp tuples from viewer to user relation
  config/openfga/sample-tuples.json
Due: none

test(openfga): add validation for computed-only relation assignments
  tests/unit/auth/test_openfga_config_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(openfga): add standalone tuple validation script
  scripts/validation/validate_openfga_tuples.py
Due: check-banned-imports, semgrep-security-scan

feat(openfga): add fail-fast validation to seeding script
  scripts/docker/seed_openfga.py
Due: check-banned-imports, semgrep-security-scan

ci(openfga): add tuple validation step to seed image build
  .github/workflows/build-openfga-seed-image.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(studio): add AI session grouping and similarity panel
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SimilarSessionsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SimilarSessionsPanel.tsx
Due: none

feat(api): add agentic memory API endpoints
  src/mcp_server_langgraph/api/v1/memory.py
  tests/unit/memory/test_agentic_memory_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(tools): add defer loading integration tests
  tests/unit/tools/test_defer_loading_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): skip outdated audit lifespan integration tests
  tests/integration/audit/test_audit_lifespan_integration.py
  tests/integration/audit/test_audit_service_initialization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
