Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

test(frontend): update agentRequestContract tests
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
Due: none

feat: enable production-ready feature flags and add documentation
  .env.example
  docs/docs.json
  docs/guides/feature-flags.mdx
  pyproject.toml
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHITLIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHITLIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useUXIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useUXIntelligence.ts
  tests/unit/mcp/test_hooks_handler.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix: update studio orchestrator and hooks exports
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(skills): add auto-update scheduler for marketplace skills
  src/mcp_server_langgraph/skills/__init__.py
  src/mcp_server_langgraph/skills/auto_update.py
  tests/unit/skills/test_skill_auto_update.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add multi-agent cost tracking Grafana dashboard
  monitoring/grafana/dashboards/Application/multi-agent-cost-tracking.json
Due: validate-grafana-dashboards

test(auth): add TDD tests for encrypted session store
  tests/unit/auth/test_encrypted_session_store.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(mcp): add webhook client and MCP integration tests
  src/mcp_server_langgraph/mcp/webhook_client.py
  tests/integration/test_mcp_hitl_roundtrip.py
  tests/integration/test_mcp_hooks_extension.py
  tests/integration/test_mcp_orchestration_roundtrip.py
  tests/unit/mcp/test_webhook_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add AI intelligence hooks and context
  src/mcp_server_langgraph/studio/frontend/src/api/adminContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/connectionContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/mcpContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/projectContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/sessionContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/workflowContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICache.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICache.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIMetrics.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIMetrics.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeUXSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeUXSuggestions.ts
Due: none

feat(frontend): add AI-aware ErrorBoundary component
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/AIErrorBoundary.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/index.ts
Due: none

feat(api): enhance AI UX service and hooks with rate limiting
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/unit/api/v1/test_ai_ux_redis_l2_cache.py
  tests/unit/mcp/handlers/test_hooks_rate_limiter.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): update Admin, Help, and Layout components
  src/mcp_server_langgraph/studio/frontend/e2e/agent-hitl-approval.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AgentApprovalDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/AgentApprovalDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/handlersOrdering.test.ts
Due: none

chore: update CHANGELOG and fix test import
  CHANGELOG.md
  tests/unit/api/v1/test_ai_ux_redis_l2_cache.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix: add missing pytestmark and fix deprecation warnings
  src/mcp_server_langgraph/skills/auto_update.py
  tests/unit/agents/test_configurable_subagent_cap.py
  tests/unit/agents/test_context_splitter.py
  tests/unit/agents/test_cost_tracker.py
  tests/unit/agents/test_explanation_caching.py
  tests/unit/agents/test_explanation_metrics.py
  tests/unit/agents/test_handoff.py
  tests/unit/agents/test_subagent_confidence.py
  tests/unit/agents/test_thinking_budget.py
  tests/unit/api/v1/test_agent_request_websocket.py
  tests/unit/api/v1/test_rotating_thresholds.py
  tests/unit/core/test_context_manager_lost_in_middle.py
  tests/unit/core/test_context_manager_model_aware.py
  tests/unit/core/test_context_ranking_deduplication.py
  tests/unit/core/test_llm_hooks.py
  tests/unit/core/test_output_guardrails.py
  tests/unit/llm/test_factory_hooks_integration.py
  tests/unit/llm/test_visual_verifier_cache.py
  tests/unit/llm/test_visual_verifier_retry.py
  tests/unit/mcp/test_mcp_executor.py
  tests/unit/mcp/test_mcp_http_transport.py
  tests/unit/mcp/test_mcp_protocol.py
  tests/unit/mcp/test_mcp_stdio_transport.py
  tests/unit/mcp/test_mcp_tool_proxy.py
  tests/unit/mcp/test_mcp_tool_registry.py
  tests/unit/mcp/test_orchestration_handler.py
  tests/unit/mcp/test_tool_descriptions.py
  tests/unit/skills/test_skill_auto_update.py
  tests/unit/tools/test_edit_file_tool.py
  tests/unit/tools/test_web_fetch_tool.py
  tests/unit/tools/test_write_file_tool.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(execution): add domain proxy for network allowlist enforcement
  src/mcp_server_langgraph/execution/domain_proxy.py
  src/mcp_server_langgraph/execution/resource_limits.py
  tests/unit/execution/test_domain_proxy.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: update ADR-0072 with domain proxy implementation
  docs-internal/ADR-0072-ANTHROPIC-BEST-PRACTICES.md
Due: check-internal-links

feat(execution): add production-ready domain proxy features
  src/mcp_server_langgraph/execution/domain_proxy.py
  tests/unit/execution/test_domain_proxy.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(skills): add auto-update lifecycle integration
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/api/v1/skills.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/skills/auto_update.py
  tests/unit/skills/test_auto_update_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): add encrypted session feature flag helpers
  src/mcp_server_langgraph/auth/session.py
  tests/unit/auth/test_encrypted_session_integration.py
  tests/unit/core/test_cache_mixin.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(ai): add granular intelligence feature flags and StudioOrchestrator API tests
  src/mcp_server_langgraph/api/v1/agent_request_websocket.py
  src/mcp_server_langgraph/api/v1/agent_requests.py
  src/mcp_server_langgraph/core/feature_flags.py
  tests/integration/test_studio_orchestrator_api.py
  tests/unit/core/test_feature_flags.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): implement granular intelligence feature flags integration
  docs-internal/frontend/feature-flags-mapping.md
  src/mcp_server_langgraph/studio/frontend/src/contexts/AIIntelligenceContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.ts
  tests/api/test_frontend_cache_api.py
  tests/unit/auth/test_openfga_factory.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(e2e): add Session Intelligence E2E tests (Sprint 2)
  src/mcp_server_langgraph/studio/frontend/e2e/session-intelligence.spec.ts
Due: none

feat(agents): implement Command Intelligence in StudioOrchestrator
  .pre-commit-config.yaml
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  tests/unit/agents/test_studio_orchestrator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(websocket): add global OpenFGA client and WebSocket auth helpers
  src/mcp_server_langgraph/api/v1/heart_metrics_ws.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/auth/openfga.py
  tests/unit/websocket/test_authz.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): export new WebSocket hooks in index.ts (ADR-0068)
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
Due: none

test(websocket): add comprehensive WebSocket module tests (474 tests)
  tests/unit/websocket_pkg/__init__.py
  tests/unit/websocket_pkg/services/__init__.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/services/test_cost_tracking.py
  tests/unit/websocket_pkg/services/test_heart_metrics.py
  tests/unit/websocket_pkg/services/test_workflow_execution.py
  tests/unit/websocket_pkg/test_authz.py
  tests/unit/websocket_pkg/test_exceptions.py
  tests/unit/websocket_pkg/test_heartbeat.py
  tests/unit/websocket_pkg/test_metrics.py
  tests/unit/websocket_pkg/test_middleware.py
  tests/unit/websocket_pkg/test_redis_rate_limiter.py
  tests/unit/websocket_pkg/test_registry.py
  tests/unit/websocket_pkg/test_resilience.py
  tests/unit/ws_handlers/__init__.py
  tests/unit/ws_handlers/conftest.py
  tests/unit/ws_handlers/test_agent_request.py
  tests/unit/ws_handlers/test_alert.py
  tests/unit/ws_handlers/test_audit.py
  tests/unit/ws_handlers/test_base.py
  tests/unit/ws_handlers/test_connection_health.py
  tests/unit/ws_handlers/test_connections_realtime.py
  tests/unit/ws_handlers/test_cost_tracking.py
  tests/unit/ws_handlers/test_heart_metrics.py
  tests/unit/ws_handlers/test_heartbeat.py
  tests/unit/ws_handlers/test_mcp_task_ws.py
  tests/unit/ws_handlers/test_mcp_websocket_handler.py
  tests/unit/ws_handlers/test_metrics.py
  tests/unit/ws_handlers/test_notification_ws.py
  tests/unit/ws_handlers/test_rate_limiter.py
  tests/unit/ws_handlers/test_websocket_feature_flags.py
  tests/unit/ws_handlers/test_websocket_middleware.py
  tests/unit/ws_handlers/test_websocket_resilience.py
  tests/unit/ws_handlers/test_workflow_execution.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(websocket): add WebSocket types tests and fix broadcast API
  tests/unit/api/v1/test_agent_request_websocket.py
  tests/unit/websocket_pkg/test_types.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): enhance layout components and StatusBar
  src/mcp_server_langgraph/studio/frontend/src/components/Admin/BatchApprovalPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ResizeHandle.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StatusBar.tsx
Due: none

fix(frontend): improve AI Intelligence hooks stability
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIEmptyState.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAINudges.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIOnboarding.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHITLIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useUXIntelligence.ts
Due: none

test(e2e): add comprehensive AI Intelligence E2E tests
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/command-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/conversation-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/diagram-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/hitl-intelligence.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/trace-intelligence.spec.ts
Due: none

fix(frontend): update MCP components and mock handlers
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/PromptTester.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ResourceViewer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/ToolInvocationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/agentRequestHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/mcpHandlers.ts
Due: none

feat(frontend): update canvas, store, and type definitions
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/VersionDiff.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/ErrorBoundary/index.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceToReactFlow.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/types.ts
  src/mcp_server_langgraph/studio/frontend/src/types/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/storage.ts
  src/mcp_server_langgraph/studio/frontend/tsconfig.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

fix: update backend services and test fixtures
  docker-compose.test.yml
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/storage/workflow/postgres_execution_manager.py
  src/mcp_server_langgraph/utils/spa_static_files.py
  tests/unit/api/v1/test_agent_requests.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/utils/test_spa_static_files.py
  tests/unit/websocket_pkg/services/test_connections.py
  tests/unit/websocket_pkg/test_types.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs: add ADRs, monitoring, and architecture documentation
  adr/adr-0084-studio-orchestrator-unified-ai.md
  deployments/monitoring/alerting-rules/studio-ai-cost-alerts.yaml
  docs-internal/ADR-0073-DEPRECATED-COMPATIBILITY-SHIMS.md
  docs-internal/CACHING_ARCHITECTURE_AUDIT.md
  docs-internal/frontend/COMPONENT_INTEGRATION_PLAN.md
  docs-internal/frontend/SECURITY_XSS_PREVENTION.md
  monitoring/grafana/dashboards/Application/studio-ai-intelligence.json
Due: run-pre-push-tests, validate-docs, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-grafana-dashboards

feat(cache): add tiered caching infrastructure
  src/mcp_server_langgraph/api/v1/frontend_cache.py
  src/mcp_server_langgraph/core/cache_mixin.py
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/AICacheMetricsDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/AICacheMetricsDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICacheMetrics.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICacheMetrics.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTieredCache.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTieredCache.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/cacheHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/cacheHandlers.ts
  tests/integration/core/test_cache_mixin_redis.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(hitl): add HITL broadcast and MCP message handler
  src/mcp_server_langgraph/hitl/__init__.py
  src/mcp_server_langgraph/hitl/broadcast.py
  src/mcp_server_langgraph/mcp/message_handler.py
  tests/unit/hitl/__init__.py
  tests/unit/hitl/test_broadcast.py
  tests/unit/mcp/test_message_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test: add comprehensive unit and integration tests
  tests/integration/auth/test_openfga_client_factory.py
  tests/integration/test_infrastructure_health.py
  tests/unit/api/v1/test_ai_ux_enhancements.py
  tests/unit/api/v1/test_ai_ux_llm_service.py
  tests/unit/api/v1/test_ai_ux_service_mixin_migration.py
  tests/unit/core/test_secrets.py
  tests/unit/websocket_pkg/handlers/test_handlers_init.py
  tests/unit/websocket_pkg/test_base.py
  tests/unit/websocket_pkg/test_init.py
  tests/unit/websocket_pkg/test_rate_limiter_memory.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add API contract tests and studio handlers
  src/mcp_server_langgraph/studio/frontend/scripts/validate-test-cleanup.ts
  src/mcp_server_langgraph/studio/frontend/src/api/costContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/healthMiscContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/notificationContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/vectorsContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/ConnectedAIIntelligenceProvider.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/handlerOrderingMeta.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/studioHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/studioHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/test/cleanup.ts
Due: none

chore: update environment configs and fix test imports
  .env.example
  .env.test
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestEndpoints.test.ts
  src/mcp_server_langgraph/studio/frontend/src/api/mcpEndpoints.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAICache.test.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
  tests/unit/websocket_pkg/test_base.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(websocket): add WebSocket handler unit tests
  tests/unit/websocket_pkg/handlers/test_agent_request_handler.py
  tests/unit/websocket_pkg/handlers/test_alert_handler.py
  tests/unit/websocket_pkg/handlers/test_audit_handler.py
  tests/unit/websocket_pkg/handlers/test_connection_health_handler.py
  tests/unit/websocket_pkg/handlers/test_notification_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
