Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

feat(mcp): enhance message handler with MCP 2025-11-25 protocol methods
  src/mcp_server_langgraph/api/v1/mcp.py
  src/mcp_server_langgraph/mcp/message_handler.py
  src/mcp_server_langgraph/websocket/handlers/mcp.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(mcp): add capability registries for resources and prompts
  src/mcp_server_langgraph/mcp/client/prompt_registry.py
  src/mcp_server_langgraph/mcp/client/protocol.py
  src/mcp_server_langgraph/mcp/client/resource_registry.py
  src/mcp_server_langgraph/mcp/client/session_manager.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(mcp): add protocol compliance and capability registry tests
  tests/unit/mcp/test_mcp_capability_registries.py
  tests/unit/mcp/test_mcp_protocol_compliance.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(audit): add graceful degradation to ComplianceService
  src/mcp_server_langgraph/audit/compliance_service.py
  src/mcp_server_langgraph/bootstrap/storage.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(audit): add compliance service resilience and unit tests
  tests/unit/audit/test_compliance_service_resilience.py
  tests/unit/compliance/test_compliance_service.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(llm): add multi-provider pydantic-ai model name prefixes
  src/mcp_server_langgraph/llm/pydantic_agent.py
  tests/llm/test_pydantic_model_names.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tools): handle None metadata in code execution tool
  src/mcp_server_langgraph/tools/__init__.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(studio): add null-safe array access in HITL API tags
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
Due: none

feat(mcp): add unified registry and aggregated REST API
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/mcp/client/unified_registry.py
  tests/unit/mcp/test_mcp_capability_registries.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(mcp): integrate unified registry into tools/list handler
  src/mcp_server_langgraph/mcp/message_handler.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(studio): add TypeScript types for MCP aggregated capabilities
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/types/connection.ts
Due: none

docs(adr): add ADR-0085 for feature flag consolidation
  README.md
  adr/adr-0085-feature-flag-consolidation.md
  docs/architecture/adr-0085-feature-flag-consolidation.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

refactor(core): reorganize feature flags into 12 logical categories
  docs-internal/FEATURE_FLAG_CATALOG.md
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_feature_flags.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add session renaming, config update, and message management
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/storage/models.py
  src/mcp_server_langgraph/storage/session/models.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/storage/test_session_models.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add config endpoint and chat cost tracking integration
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/api/v1/router.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/config/compliance.py
  src/mcp_server_langgraph/core/config/storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/api/v1/test_chat_cost_tracking.py
  tests/unit/api/v1/test_config_router.py
  tests/unit/llm/test_litellm_otel_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(backend): add MCP aggregated, artifacts improvements, and WebSocket handlers
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/artifacts.py
  src/mcp_server_langgraph/api/v1/mcp_aggregated.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/core/interrupts/ai_explanation.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  src/mcp_server_langgraph/storage/artifacts/models.py
  src/mcp_server_langgraph/studio/ai/artifact_name_generator.py
  src/mcp_server_langgraph/websocket/handlers/__init__.py
  src/mcp_server_langgraph/websocket/handlers/mcp_aggregated.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(backend): add OTEL LLM integration and enhance MCP registry
  src/mcp_server_langgraph/audit/config.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/otel_integration.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  tests/unit/llm/__init__.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(backend): add comprehensive tests for MCP and config modules
  tests/integration/mcp/__init__.py
  tests/integration/mcp/test_cached_unified_registry_redis.py
  tests/unit/api/v1/test_mcp_aggregated_router.py
  tests/unit/core/config/test_hardcoded_config_audit.py
  tests/unit/core/config/test_timeout_settings.py
  tests/unit/core/test_feature_flags.py
  tests/unit/mcp/__init__.py
  tests/unit/mcp/client/__init__.py
  tests/unit/mcp/client/conftest.py
  tests/unit/mcp/client/test_cached_unified_registry.py
  tests/unit/studio/ai/test_artifact_name_generator.py
  tests/unit/websocket/handlers/test_mcp_aggregated_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add workflow auto-naming and E2E test coverage
  src/mcp_server_langgraph/studio/frontend/e2e/canvas-cross-page.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/mcp-aggregated-capabilities.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/api/featureFlagsContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.test.ts
  src/mcp_server_langgraph/studio/frontend/src/config/api.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIRealTimeSuggestions.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowAutoName.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
Due: none

feat(api): add workflow title and session description fields
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/storage/workflow/models.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  src/mcp_server_langgraph/websocket/registry.py
  tests/unit/api/v1/test_artifact_description_field.py
  tests/unit/api/v1/test_artifacts_router.py
  tests/unit/api/v1/test_session_description_field.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_workflow_title_field.py
  tests/unit/api/v1/test_workflows_router.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore: update WebSocket hooks to use centralized utilities
  config/openfga/sample-tuples.json
  docs-internal/testing/TESTING.md
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  src/mcp_server_langgraph/studio/frontend/.env.example
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPAggregatedUpdates.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
  src/mcp_server_langgraph/websocket/README.md
  tests/unit/mcp/client/test_cached_unified_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add update_session method to PostgresSessionService
  src/mcp_server_langgraph/api/v1/sessions.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(api): update session description field tests
  tests/unit/api/v1/test_session_description_field.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add description field support to artifacts router
  src/mcp_server_langgraph/api/v1/artifacts.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(api): align artifact description test with model changes
  tests/unit/api/v1/test_artifact_description_field.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add description field to all artifact response models
  src/mcp_server_langgraph/api/v1/artifacts.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(api): add title field to workflow response and enhance MCP registry
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(api): update router tests for new field support
  tests/unit/api/v1/test_artifacts_router.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/api/v1/test_workflows_router.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(websocket): add WebSocket architecture documentation
  src/mcp_server_langgraph/websocket/README.md
Due: none

feat(llm): add LLMFactory.astream() with resilient streaming support
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/llm/factory.py
  tests/meta/test_frontend_backend_api_parity.py
  tests/meta/test_router_registration_completeness.py
  tests/unit/api/v1/test_chat_streaming_production.py
  tests/unit/api/v1/test_chat_streaming_refactor.py
  tests/unit/api/v1/test_missing_endpoints.py
  tests/unit/llm/test_factory_streaming.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(llm): add streaming metrics for TTFC and inter-chunk latency
  deployments/helm/values-staging.yaml
  src/mcp_server_langgraph/llm/__init__.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/llm/streaming_metrics.py
  tests/unit/llm/test_streaming_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, helm-lint, validate-helm-chart-deps, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add streaming metrics dashboard and TTFC SLA alerts
  deployments/helm/mcp-server-langgraph/dashboards/llm-streaming.json
  deployments/helm/mcp-server-langgraph/prometheus-rules/sla.yaml
  monitoring/MONITORING_QUICKSTART.md
  monitoring/grafana/dashboards/Application/llm-streaming.json
  monitoring/runbooks/README.md
  monitoring/runbooks/streaming-alerts.md
  src/mcp_server_langgraph/resilience/retry.py
  tests/unit/resilience/test_retry_overload.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, helm-lint, validate-helm-chart-deps, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(observability): add streaming metrics integration tests
  tests/integration/observability/test_streaming_metrics_integration.py
  tests/integration/test_postgres_cost_storage_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add streaming metrics alerting and E2E tests
  deployments/monitoring/alertmanager/alertmanager-config.yaml
  monitoring/prometheus/alertmanager.yml
  tests/e2e/test_streaming_metrics_e2e.py
  tests/integration/observability/test_lgtm_stack.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add streaming metrics feature flag, ADR, and API endpoint
  docs-internal/ADR-0075-LLM-STREAMING-METRICS.md
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/llm/streaming_metrics.py
  tests/unit/api/v1/test_llm_streaming_metrics_endpoint.py
  tests/unit/llm/test_streaming_metrics_feature_flag.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(monitoring): add Prometheus SLA alert rules for LLM streaming metrics
  monitoring/prometheus/rules/streaming-sla-alerts.yml
Due: none

fix(tests): add mock cost collectors to budget monitor tests
  tests/monitoring/test_budget_monitor.py
  tests/monitoring/test_cost_tracker.py
  tests/unit/core/test_import_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(monitoring): add budget and cost management core with migrations
  alembic/versions/o5p6q7r8s9t0_add_organizational_cost_columns.py
  alembic/versions/p6q7r8s9t0u1_add_org_cost_continuous_aggregate.py
  alembic/versions/q7r8s9t0u1v2_add_allocation_tags_column.py
  alembic/versions/r8s9t0u1v2w3_add_budget_records_table.py
  pyproject.toml
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/monitoring/__init__.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  src/mcp_server_langgraph/monitoring/budget_storage.py
  src/mcp_server_langgraph/monitoring/cost_budget.py
  src/mcp_server_langgraph/monitoring/cost_storage.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/monitoring/litellm_cost_callback.py
  tests/integration/test_cost_organizational_e2e.py
  tests/unit/database/test_budget_record_model.py
  tests/unit/monitoring/test_budget_alert_broadcaster.py
  tests/unit/monitoring/test_budget_storage.py
  tests/unit/monitoring/test_cost_allocation_tags.py
  tests/unit/monitoring/test_cost_budget_alerts.py
  tests/unit/monitoring/test_cost_retention.py
  tests/unit/monitoring/test_cost_storage.py
  tests/unit/monitoring/test_litellm_cost_callback.py
  tests/unit/monitoring/test_litellm_cost_fallback.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(websocket): add budget alerts WebSocket handler with tests
  src/mcp_server_langgraph/websocket/handlers/budget_alerts.py
  tests/unit/api/v1/conftest.py
  tests/unit/api/v1/test_budget_alerts_websocket.py
  tests/unit/api/v1/test_budget_router.py
  tests/unit/websocket/handlers/test_budget_alerts_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation
