Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  entry: bash -c 'actionlint -no-color -shellcheck= .github/workflows/*.{yml,yaml} 2>&1 || true'
  language: system
  pass_filenames: false
  always_run: false
  description: 'Advanced GitHub Actions workflow validation using actionlint.
  
  
    Catches issues like:
  
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: python3 scripts/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
    - Integration tests: max 2.0s sleep
  
  
  ...

validate-pytest-config:
  name: Validate Pytest Configuration Compatibility
  entry: python3 scripts/validate_pytest_config.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that pytest addopts flags match installed plugin dependencies.
  
  
    Prevents CI failures from:
  
  ...

validate-mintlify-docs:
  name: Validate Mintlify Documentation
  entry: python3 scripts/validate_mintlify_docs.py docs
  language: system
  pass_filenames: false
  always_run: false

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: python3 scripts/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

check-doc-links:
  name: Check Documentation Internal Links
  entry: python3 scripts/ci/check-links.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates internal documentation links to prevent broken references.
  
    Checks ADR cross-references, GitHub links, and active documentation.
  
    '

validate-documentation-quality:
  name: Validate Documentation Quality (MDX Parsing, Links, ADRs)
  entry: uv run pytest tests/meta/test_documentation_validation.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Comprehensive documentation validation tests (TDD):
  
  ...

validate-documentation-integrity:
  name: Validate Documentation Integrity (ADRs, Monitoring, Mermaid)
  entry: uv run pytest tests/test_documentation_integrity.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Documentation integrity and completeness tests (TDD):
  
  ...

validate-deployment-secrets:
  name: Validate deployment secret keys alignment
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_deployment_secret_keys_exist_in_template -v --tb=short
  language: system
  pass_filenames: false

validate-cors-security:
  name: Validate CORS security configuration
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_kong_cors_not_wildcard_with_credentials -v --tb=short
  language: system
  pass_filenames: false

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

fix(tests): resolve 12 unit test failures from pytest-xdist and add preventive infrastructure
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate_test_fixtures.py
  tests/API_TESTING.md
  tests/README.md
  tests/api/test_service_principals_endpoints.py
  tests/conftest.py
  tests/fixtures/api_fixtures.py
  tests/test_openfga_client.py
  tests/unit/test_llm_fallback_kwargs.py
  tests/utils/mock_factories.py
Due: check-test-sleep-duration, validate-pytest-config, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(security,tests): resolve critical Codex audit findings - CWE-1188 mitigation
  src/mcp_server_langgraph/core/config.py
  tests/test_docker_compose_validation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

test(coverage): add comprehensive unit tests for docker_sandbox (TDD)
  tests/unit/execution/test_docker_sandbox_unit.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(tests): Add comprehensive pytest-xdist isolation safeguards
  .pre-commit-config.yaml
  scripts/validation/validate_test_isolation.py
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/regression/test_pytest_xdist_isolation.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): Resolve 401 authentication errors and 3 test bugs in pytest-xdist parallel execution
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_pytest_xdist_isolation.py
  tests/test_code_execution_config.py
  tests/unit/test_security_practices.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve P0 dead test code and add preventive infrastructure (TDD)
  .pre-commit-config.yaml
  docs-internal/CODEX_FINDINGS_2025-11-11_VALIDATION_REPORT.md
  scripts/detect_dead_test_code.py
  tests/builder/api/test_server.py
  tests/builder/test_code_generator.py
  tests/meta/test_codex_regression_prevention.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): Add bearer_scheme override to eliminate all 401 errors in pytest-xdist
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_bearer_scheme_isolation.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(docs,tests): fix code block validator bug and sync ADR-0051 to docs (TDD)
  docs-internal/CODEX_FINDINGS_2025-11-11_VALIDATION_REPORT.md
  docs/architecture/adr-0051-memorystore-redis-externalname-service.mdx
  docs/architecture/overview.mdx
  scripts/validate_code_block_languages.py
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

docs(internal): Add comprehensive pytest-xdist state pollution resolution guide
  docs-internal/PYTEST_XDIST_STATE_POLLUTION_RESOLUTION.md
  docs-internal/TEST_SUITE_RESOLUTION_FINAL_REPORT.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(tests): Complete pytest-xdist isolation with worker-scoped resources (TDD)
  adr/adr-0052-pytest-xdist-isolation-strategy.md
  tests/conftest.py
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_pytest_xdist_environment_pollution.py
  tests/regression/test_pytest_xdist_port_conflicts.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
  tests/test_gdpr.py
  tests/unit/core/test_cache_isolation.py
  tests/utils/__init__.py
  tests/utils/worker_utils.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(tests): Add pytest-xdist additional improvements (TDD backstop, docs, infra markers)
  tests/MEMORY_SAFETY_GUIDELINES.md
  tests/PYTEST_XDIST_BEST_PRACTICES.md
  tests/e2e/test_infrastructure_validation.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/test_conftest_fixtures_plugin_enhancements.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

docs(adr): Sync ADR-0052 to docs/architecture/ and update overview
  docs/architecture/adr-0052-pytest-xdist-isolation-strategy.mdx
  docs/architecture/overview.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

test(coverage): Add critical P0 security and error handling tests for SCIM, auth middleware, and app factory
  tests/api/test_scim_security.py
  tests/test_auth.py
  tests/unit/test_app_factory.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

docs(tests): Add comprehensive pytest-xdist enforcement strategy and meta-validation
  tests/PYTEST_XDIST_ENFORCEMENT.md
  tests/meta/test_pytest_xdist_enforcement.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

test(coverage): Add comprehensive edge case and error path tests for SCIM, error handlers, sessions, and OpenFGA
  tests/api/test_error_handlers.py
  tests/api/test_scim_security.py
  tests/test_openfga_client.py
  tests/test_session.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(ci,deps,tests): resolve all CI/CD failures with TDD approach
  .github/workflows/security-scan.yaml
  pyproject.toml
  tests/regression/test_dev_dependencies.py
  uv.lock
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage

docs(tests): Add diagnostic tests and troubleshooting guide for Docker image staleness
  tests/DOCKER_IMAGE_STALENESS_GUIDE.md
  tests/regression/test_bearer_scheme_override_diagnostic.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(ci,tests,docs): add comprehensive preventive measures for test dependency issues
  .pre-commit-config.yaml
  docs/advanced/testing.mdx
  scripts/validation/validate_workflow_test_deps.py
  tests/conftest.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_scim_provisioning.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_mcp_startup_validation.py
  tests/regression/test_bearer_scheme_override_diagnostic.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/test_conftest_fixtures_plugin_enhancements.py
  tests/test_session.py
  tests/unit/core/test_config_network_security.py
  tests/unit/test_security_practices.py
Due: check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): Resolve OpenAI Codex test quality findings and improve test isolation
  tests/e2e/test_full_user_journey.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(ci,validation): Add automated Docker image freshness validation
  Makefile
  scripts/validation/validate_docker_image_freshness.sh
  tests/DOCKER_IMAGE_STALENESS_GUIDE.md
  tests/regression/test_bearer_scheme_override_diagnostic.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(tests): resolve E2E authentication failures with user credential alignment
  tests/e2e/test_full_user_journey.py
  tests/test_mcp_streamable.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(ci,tests,docs): implement comprehensive CI/CD failure prevention framework
  docs/architecture/adr-0045-ci-cd-failure-prevention-framework.mdx
  scripts/ci_health_check.py
  tests/regression/test_documentation_code_blocks.py
  tests/regression/test_precommit_hook_dependencies.py
  tests/regression/test_service_principal_test_isolation.py
  tests/regression/test_terraform_configuration.py
Due: check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(k8s,tests): resolve GKE security compliance and pytest-xdist bearer_scheme isolation
  deployments/base/deployment.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/base/openfga-deployment.yaml
  deployments/base/otel-collector-deployment.yaml
  deployments/base/postgres-statefulset.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/base/redis-session-deployment.yaml
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-cors-security, validate-redis-password-required, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage

fix(terraform): align all Google provider versions to ~> 5.0 for compatibility
  terraform/backend-setup-gcp/main.tf
  terraform/environments/gcp-dev/main.tf
  terraform/environments/gcp-prod/main.tf
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging/main.tf
  terraform/modules/cloud-dns-staging/main.tf
  terraform/modules/cloudsql/versions.tf
  terraform/modules/gcp-project-services/versions.tf
  terraform/modules/gcp-vpc/versions.tf
  terraform/modules/github-actions-wif/versions.tf
  terraform/modules/gke-autopilot/versions.tf
  terraform/modules/gke-workload-identity/versions.tf
  terraform/modules/memorystore/versions.tf
Due: none

fix(tests,docs,k8s): comprehensive fixes for pytest-xdist auth and security validation
  .claude/commands/quick-debug.md
  .claude/commands/test-fast.md
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  adr/adr-0045-ci-cd-failure-prevention-framework.md
  clients/typescript/README.md
  deployments/base/postgres-statefulset.yaml
  docs/guides/keycloak-sso.mdx
  scripts/check_internal_links.py
  scripts/check_version_consistency.py
  scripts/fix_mdx_syntax.py
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/kubernetes/test_kube_score_compliance.py
  tests/regression/test_dev_dependencies.py
  tests/test_link_checker.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-cors-security, check-mermaid-styling, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat(docs): add comprehensive validation infrastructure with TDD
  Makefile
  docs-internal/VALIDATION_INFRASTRUCTURE.md
  scripts/README.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(tests): add importlib.reload() to force router re-evaluation after monkeypatch
  Makefile
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

docs(validation): add comprehensive implementation summary
  docs-internal/VALIDATION_IMPLEMENTATION_SUMMARY.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

feat(validation): achieve 100% test pass rate and fix version checker
  pyproject.toml
  scripts/check_version_consistency.py
  tests/test_link_checker.py
  tests/test_mdx_validation.py
  uv.lock
Due: check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix(docs): resolve MDX syntax errors in deployment guides
  docs/deployment/binary-authorization.mdx
  docs/deployment/cost-optimization.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

docs(validation): add quick start guide
  docs-internal/VALIDATION_QUICKSTART.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(ci): resolve all CI/CD pipeline failures with preventive measures
  .github/workflows/docs-validation.yml
  deployments/overlays/staging-gke/deployment-redis-url-json-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  pyproject.toml
  tests/api/test_service_principals_endpoints.py
  tests/meta/test_pytest_marker_registration.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage

fix(tests): resolve all API test failures using dependency_overrides
  docs-internal/audits/workflow-analysis.md
  docs-internal/planning/IMPLEMENTATION_ROADMAP.md
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(ci): ensure tests run with correct Python version from matrix
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions

fix(k8s): resolve staging pod crashes and implement preventive measures
  .githooks/pre-commit
  .github/workflows/validate-k8s-configs.yml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging-gke/otel-collector-patch.yaml
  deployments/overlays/staging-gke/serviceaccount-otel-collector-patch.yaml
  docs-internal/operations/STAGING_POD_CRASH_REMEDIATION.md
  scripts/validate_gke_autopilot_compliance.py
  tests/regression/test_pod_deployment_regression.py
Due: actionlint-workflow-validation, check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-service-accounts, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(ci): use --python flag in uv sync to prevent venv recreation
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions

feat(ci): comprehensive preventive measures for CI/CD failures
  .pre-commit-config.yaml
  pyproject.toml
  scripts/validate_ci_cd.py
  src/mcp_server_langgraph/auth/middleware.py
  tests/api/conftest.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/regression/test_uv_lockfile_sync.py
Due: check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

docs(ops): add comprehensive pod failure prevention framework
  adr/README.md
  adr/adr-0054-pod-failure-prevention-framework.md
  docs-internal/operations/DEPLOYMENT_CHECKLIST.md
  docs-internal/operations/POD_FAILURE_TROUBLESHOOTING_RUNBOOK.md
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/docs.json
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

Path conditions:
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$
