Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

feat(api): add workflow sharing authorization layer
  src/mcp_server_langgraph/api/v1/workflows.py
  tests/unit/api/v1/test_workflow_authorization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): security fixes, session cleanup, and PostgresWorkflowShareRepository
  api/openapi.json
  src/mcp_server_langgraph/api/v1/connections.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/storage/workflow/share_repository.py
  tests/unit/api/v1/test_connections_security.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/storage/workflow/test_workflow_share_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): update workflow sharing tests for authorization layer
  tests/unit/api/v1/test_workflow_sharing.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(services): add LLM-powered workflow generation and improve test coverage
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/services/__init__.py
  src/mcp_server_langgraph/services/workflow_generator.py
  tests/e2e/test_workflow_sharing_journey.py
  tests/integration/api/v1/test_workflow_sharing_integration.py
  tests/unit/api/v1/test_workflow_authorization.py
  tests/unit/api/v1/test_workflow_generate.py
  tests/unit/api/v1/test_workflow_sharing.py
  tests/unit/services/test_workflow_generator.py
  tests/unit/storage/workflow/test_workflow_share_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): add OpenFGA workflow sharing integration with TDD tests
  src/mcp_server_langgraph/auth/workflow_sharing.py
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/integration/storage/__init__.py
  tests/integration/storage/workflow/__init__.py
  tests/integration/storage/workflow/test_postgres_share_repository.py
  tests/unit/auth/test_openfga_workflow_sharing.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(core/config): suppress false positive S105 warnings in config_legacy
  adr/README.md
  adr/adr-0071-compile-time-graph-composition.md
  adr/adr-0072-bootstrap-phase-architecture.md
  adr/adr-0073-configuration-domain-decomposition.md
  src/mcp_server_langgraph/core/config_legacy.py
Due: check-banned-imports, run-pre-push-tests, validate-docs, validate-adr-index, check-internal-links, semgrep-security-scan

refactor(core/config): decompose monolithic config into 8 domain modules
  src/mcp_server_langgraph/core/config/__init__.py
  src/mcp_server_langgraph/core/config/agent.py
  src/mcp_server_langgraph/core/config/auth.py
  src/mcp_server_langgraph/core/config/base.py
  src/mcp_server_langgraph/core/config/compliance.py
  src/mcp_server_langgraph/core/config/llm.py
  src/mcp_server_langgraph/core/config/observability.py
  src/mcp_server_langgraph/core/config/storage.py
  src/mcp_server_langgraph/core/config/streaming.py
  tests/unit/core/config/test_config_modules.py
  tests/unit/core/config/test_streaming_config.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core/agent): implement compile-time graph composition
  src/mcp_server_langgraph/core/__init__.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/core/agent_config.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  tests/unit/core/test_agent_config.py
  tests/unit/core/test_agent_graph_builder.py
  tests/unit/core/test_agent_graph_compile_time.py
  tests/unit/core/test_get_agent_graph_removed.py
  tests/unit/mcp/test_mcp_agent_graph_migration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(bootstrap): implement modular 4-phase startup architecture
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/bootstrap/__init__.py
  src/mcp_server_langgraph/bootstrap/http.py
  src/mcp_server_langgraph/bootstrap/observability.py
  src/mcp_server_langgraph/bootstrap/security.py
  src/mcp_server_langgraph/bootstrap/storage.py
  src/mcp_server_langgraph/bootstrap/websocket.py
  tests/unit/bootstrap/test_bootstrap_modules.py
  tests/unit/bootstrap/test_storage_global_setters.py
  tests/unit/bootstrap/test_websocket_bootstrap.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add dependency injection and K8s health probes
  src/mcp_server_langgraph/api/deps.py
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/api/v1/router.py
  tests/unit/api/test_deps.py
  tests/unit/api/test_health_probes.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api/websocket): implement comprehensive security with rate limiting
  src/mcp_server_langgraph/api/v1/mcp_websocket.py
  src/mcp_server_langgraph/api/v1/notification_websocket.py
  tests/api/test_notification_websocket.py
  tests/e2e/test_mcp_websocket_e2e.py
  tests/e2e/test_notification_websocket_e2e.py
  tests/integration/test_notification_websocket_integration.py
  tests/unit/api/v1/test_configurable_security_limits.py
  tests/unit/api/v1/test_global_singleton_configuration.py
  tests/unit/api/v1/test_limit_violation_metrics.py
  tests/unit/api/v1/test_mcp_streaming_metrics_endpoint.py
  tests/unit/api/v1/test_mcp_websocket.py
  tests/unit/api/v1/test_mcp_websocket_lifespan_integration.py
  tests/unit/api/v1/test_mcp_websocket_streaming_handler.py
  tests/unit/api/v1/test_security_limits_env_vars.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_enabled_flag.py
  tests/unit/api/v1/test_streaming_idle_timeout.py
  tests/unit/api/v1/test_streaming_outbound_rate_limit.py
  tests/unit/api/v1/test_streaming_security_integration.py
  tests/unit/api/v1/test_streaming_settings_wiring.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add logging, alerting, and metrics infrastructure
  deployments/monitoring/README.md
  deployments/monitoring/golden-signals-dashboard.json
  deployments/monitoring/llm-observability-dashboard.json
  deployments/monitoring/session-lifecycle-dashboard.json
  deployments/monitoring/slo-alerts.yaml
  scripts/validators/validate_dashboards.py
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/auth/metrics.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/llm/metrics.py
  src/mcp_server_langgraph/observability/query/backends/__init__.py
  src/mcp_server_langgraph/observability/query/backends/grafana.py
  src/mcp_server_langgraph/observability/query/backends/stub.py
  src/mcp_server_langgraph/observability/query/factory.py
  src/mcp_server_langgraph/observability/query/interfaces.py
  tests/e2e/test_trace_correlation_e2e.py
  tests/integration/observability/test_grafana_alerting_integration.py
  tests/unit/llm/test_bounded_metric_labels.py
  tests/unit/llm/test_genai_semantic_conventions.py
  tests/unit/observability/test_grafana_alerting_client.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, semgrep-security-scan, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): add session lifecycle tracking with OpenTelemetry
  src/mcp_server_langgraph/auth/session.py
  tests/unit/auth/test_prometheus_auth_metrics.py
  tests/unit/auth/test_session_lifecycle_events.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(notifications): add preference-aware broadcasting
  src/mcp_server_langgraph/api/v1/notification_preferences.py
  src/mcp_server_langgraph/notifications/__init__.py
  src/mcp_server_langgraph/notifications/broadcast.py
  src/mcp_server_langgraph/notifications/preferences.py
  tests/unit/api/v1/test_notification_preferences_api.py
  tests/unit/notifications/__init__.py
  tests/unit/notifications/test_broadcaster_preferences.py
  tests/unit/notifications/test_preferences.py
  tests/unit/notifications/test_redis_preferences.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(security): enforce authentication on session API endpoints
  src/mcp_server_langgraph/api/v1/sessions.py
  tests/security/test_sessions_auth_enforcement.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/api/v1/test_sessions_router.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

perf(storage): optimize session listing with Redis SET secondary index
  src/mcp_server_langgraph/storage/session/manager.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(security): replace try-except-pass with debug logging (S110)
  src/mcp_server_langgraph/api/v1/observability.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/prometheus_metrics.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/bootstrap/http.py
  src/mcp_server_langgraph/bootstrap/security.py
  src/mcp_server_langgraph/bootstrap/storage.py
  src/mcp_server_langgraph/compliance/metrics.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/llm/metrics.py
  src/mcp_server_langgraph/middleware/metrics.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/schedulers/cleanup.py
  src/mcp_server_langgraph/secret_providers/gcp.py
  src/mcp_server_langgraph/studio/ai/suggestions.py
  src/mcp_server_langgraph/studio/ai/templates.py
  src/mcp_server_langgraph/studio/ai/title_generator.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan, validate-dependency-injection

refactor(mcp): extract tool handlers to separate modules (Phase 2.1 Part 1)
  src/mcp_server_langgraph/mcp/handlers/__init__.py
  src/mcp_server_langgraph/mcp/handlers/base.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/mcp/handlers/conversation.py
  src/mcp_server_langgraph/mcp/handlers/execution.py
  src/mcp_server_langgraph/mcp/models.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(security): add proper JWT auth to WebSocket endpoints
  src/mcp_server_langgraph/api/v1/audit_websocket.py
  src/mcp_server_langgraph/api/v1/connection_health_ws.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor(auth): decompose AuthMiddleware - extract FastAPI dependencies
  src/mcp_server_langgraph/auth/dependencies.py
  src/mcp_server_langgraph/auth/middleware.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(typing): achieve 100% mypy strict mode compliance
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/workflow_bootstrap.py
  src/mcp_server_langgraph/auth/jwt_utils.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/storage/session/manager.py
  tests/unit/api/v1/test_workflow_bootstrap.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(mcp): complete handler integration - server_stdio.py 959→493 lines
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/unit/mcp/test_mcp_stdio_server.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(validators): enhance pytest fixture validator
  scripts/validators/validate_pytest_fixtures.py
Due: check-banned-imports, semgrep-security-scan

fix(tests): resolve validation failures for modular Makefile architecture
  README.md
  docs/architecture/adr-0071-compile-time-graph-composition.mdx
  docs/architecture/adr-0072-bootstrap-phase-architecture.mdx
  docs/architecture/adr-0073-configuration-domain-decomposition.mdx
  make/validation.mk
  scripts/validators/validate_ids.py
  tests/integration/test_agent.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_infisical_optional.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_parallelization.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_validate_prepush_efficiency.py
  tests/unit/core/test_cache_redis_config.py
  tests/unit/core/test_dependencies_wiring.py
  tests/unit/core/test_lazy_imports.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, check-internal-links, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): extract TokenValidator from AuthMiddleware (Phase 2.2 SRP)
  src/mcp_server_langgraph/auth/token_validator.py
  tests/unit/auth/test_token_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

security(api): fix anonymous user fallback in sessions API
  src/mcp_server_langgraph/api/v1/sessions.py
  tests/security/test_sessions_auth_enforcement.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): add modular Makefile reading and fix fixture detection
  pyproject.toml
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/test_compose_file_usage.py
  tests/meta/test_regression_prevention.py
  tests/meta/test_report_freshness.py
  tests/meta/test_slash_commands.py
  tests/meta/test_validation_consolidation.py
  tests/unit/auth/test_session_lifecycle_events.py
  tests/unit/llm/test_genai_semantic_conventions.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): update path helpers, Dockerfile tests, and ADR documentation
  docs/architecture/overview.mdx
  docs/reference/icon-selection-guide.mdx
  tests/meta/test_dockerfile_uv_sync.py
  tests/meta/test_path_helpers.py
  tests/unit/auth/test_auth_middleware_di.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): address remaining meta/regression test failures
  .pre-commit-config.yaml
  tests/meta/test_xfail_strict_enforcement.py
  tests/regression/test_auth_middleware_isolation.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_documentation_structure.py
  tests/regression/test_uv_lockfile_sync.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(tests): add TODO comments and async-mock-configured markers
  deployments/monitoring/slo-alerts.yaml
  tests/unit/api/v1/test_mcp_websocket.py
  tests/unit/api/v1/test_streaming_chunk_limits.py
  tests/unit/api/v1/test_streaming_idle_timeout.py
  tests/unit/api/v1/test_streaming_outbound_rate_limit.py
  tests/unit/api/v1/test_streaming_security_integration.py
  tests/unit/api/v1/test_workflow_sharing.py
  tests/unit/bootstrap/test_bootstrap_modules.py
  tests/unit/core/test_agent_graph_compile_time.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add user preferences context with localStorage persistence
  .pre-commit-config.yaml
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/preferences.ts
Due: none

feat(studio): add SettingsPanel component with tabbed preferences UI
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.tsx
Due: none

feat(studio): add SessionList component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/SessionList.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Session/index.ts
Due: none

feat(studio): add ConfirmationDialog component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ConfirmationDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ConfirmationDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useConfirmation.ts
Due: none

feat(studio): add ConnectionStatus indicator with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Status/ConnectionStatus.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Status/ConnectionStatus.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Status/index.ts
Due: none

feat(studio): add ShortcutsPanel component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ShortcutsPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ShortcutsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Due: none

feat(studio): add ThemeToggle component with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ThemeToggle.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/ThemeToggle.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Common/index.ts
Due: none
