Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false

run-unit-tests:
  name: Run Unit Tests (focused suite - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest --testmon-noselect -n auto -m "unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

run-smoke-tests:
  name: Run Smoke Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/smoke/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs smoke tests to validate critical paths.
  
  
    Stops on first failure (-x) for faster feedback.
  
  ...

run-api-tests:
  name: Run API Endpoint Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m "api and unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs API endpoint tests to match CI.
  
  
  ...

run-mcp-server-tests:
  name: Run MCP Server Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/unit/test_mcp_stdio_server.py -m "not llm" -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs MCP protocol server tests to match CI.
  
  
  ...

run-property-tests:
  name: Run Property-Based Tests (dev profile - 25 examples)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m property tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/check_test_sleep_duration.py
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

fix(tests): correct indentation in test isolation fixes
  src/mcp_server_langgraph/execution/docker_sandbox.py
  tests/core/test_cache.py
  tests/deployment/test_service_accounts.py
  tests/infrastructure/test_ci_workflows.py
  tests/integration/api/test_health.py
  tests/integration/health/test_database_validation_integration.py
  tests/integration/test_retention.py
  tests/meta/test_documentation_references.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_subprocess_safety.py
  tests/meta/test_suite_validation.py
  tests/test_postgres_connection_config.py
  tests/test_regression_prevention.py
  tests/test_workflow_validation.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(lint): update Ruff config for incremental migration
  pyproject.toml
Due: uv-lock-check, run-unit-tests, validate-pytest-config, validate-pytest-markers, validate-test-dependencies, validate-minimum-coverage

fix(ci): resolve all Kubernetes validation failures
  .github/workflows/validate-kubernetes.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/policies/health-check-validation.rego
  deployments/policies/port-validation.rego
  docs/deployment/kubernetes/gke.mdx
Due: actionlint-workflow-validation, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, regression-prevention-tests, validate-github-action-versions, validate-kustomize-builds, validate-no-placeholders, validate-workflow-test-deps

fix(security): enable read-only root filesystem for containers
  deployments/base/redis-session-deployment.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
Due: validate-cors-security, validate-redis-password-required, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, validate-no-placeholders

fix(ci): resolve YAML validation and security placeholder issues
  .yamllint.yml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/helm/values-production-gke.yaml
Due: validate-deployment-secrets, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, check-helm-placeholders, helm-lint

fix(ci): complete OPA Rego and YAML validation fixes
  .yamllint.yml
  deployments/policies/port-validation.rego
Due: none

fix(ci): resolve OPA Rego recursion and YAML validation issues
  .github/workflows/validate-kubernetes.yaml
  deployments/policies/port-validation.rego
  deployments/policies/yaml-syntax.rego
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(ci): exclude Helm templates from YAML validation
  .yamllint.yml
Due: none

fix(opa): allow project namespaces in ResourceQuota validation
  deployments/policies/namespace-consistency.rego
Due: none

fix(tests): add pytest-xdist isolation markers and teardown methods
  tests/meta/test_validator_consistency.py
  tests/scripts/test_async_mocks_validator.py
  tests/scripts/test_memory_safety_validator.py
  tests/scripts/test_test_ids_validator.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): resolve CI failures from Ruff migration
  docker-compose.test.yml
  src/mcp_server_langgraph/__init__.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_performance_workflow_pytest_flags.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/meta/test_trivy_suppressions.py
  tests/test_ci_workflow_dependencies.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): make MyPy and integration tests optional in pre-push validation
  scripts/validate_pre_push_hook.py
Due: check-banned-imports

fix(tests): exempt api_fixtures.py from test ID validation and improve docstring examples
  tests/fixtures/api_fixtures.py
  tests/validation_lib/test_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

chore: complete migration to Ruff formatter (remove Black/isort)
  .pre-commit-config.yaml
Due: none

fix(tests): set PostgreSQL connection params in test-integration.sh
  scripts/test-integration.sh
Due: none

fix(tests): add PostgreSQL connection params to integration test script
  scripts/test-integration.sh
Due: none

fix(validation,docs): support both Optional[] and | None syntax, update ADR badge
  .githooks/pre-commit-dependency-validation
Due: none

fix(tests): correct file naming validator test assumptions
  tests/unit/documentation/test_file_naming_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): cherry-pick OPA/K8s validation fixes and test improvements
  .githooks/pre-commit-dependency-validation
  .github/workflows/validate-kubernetes.yaml
  .yamllint.yml
  deployments/argocd/gcp-multi-cluster-setup.yaml
  deployments/base/redis-session-deployment.yaml
  deployments/helm/values-production-gke.yaml
  deployments/optimized/redis-session-deployment.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
  deployments/policies/health-check-validation.rego
  deployments/policies/namespace-consistency.rego
  deployments/policies/port-validation.rego
  deployments/policies/yaml-syntax.rego
  docs/deployment/kubernetes/gke.mdx
  tests/fixtures/api_fixtures.py
  tests/meta/test_validator_consistency.py
  tests/scripts/test_async_mocks_validator.py
  tests/scripts/test_memory_safety_validator.py
  tests/scripts/test_test_ids_validator.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
  tests/validation_lib/test_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-deployment-secrets, validate-cors-security, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, check-helm-placeholders, helm-lint, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

fix(tests): resolve 24+ test failures across meta-tests, deployment, and security validation
  tests/deployment/test_staging_deployment_requirements.py
  tests/meta/test_codex_findings_validation.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_documentation_references.py
  tests/meta/test_local_ci_parity.py
  tests/test_docker_compose_validation.py
  tests/test_kubernetes_security.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): resolve 5 more meta-test failures in CI parity validation
  tests/meta/test_local_ci_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): complete test_local_ci_parity.py remediation - all 73 tests pass
  tests/meta/test_local_ci_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): update test_validation_consolidation.py to match actual architecture
  tests/meta/test_validation_consolidation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): update test_makefile_prepush_parity.py to work with pre-commit framework
  tests/meta/test_makefile_prepush_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): update test_hook_sync_validation.py to work with pre-commit framework
  tests/meta/test_hook_sync_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): fix 2 meta-tests - orchestrator parallel check and MDX code block handling
  tests/meta/test_documentation_validation.py
  tests/meta/test_pre_push_orchestrator.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): add pytest markers to 2 test files for CI visibility
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/health/test_database_checks.py
  tests/validation_lib/test_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): exempt test_ids.py from marker enforcement (validator library)
  tests/meta/test_marker_enforcement.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(scripts): remove path restriction in async mock validator
  scripts/check_async_mock_configuration.py
Due: check-banned-imports

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-unit-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  run-smoke-tests: any of: ^(src/.*\.py|tests/smoke/.*\.py)$
  run-api-tests: any of: ^(src/.*\.py|tests/api/.*\.py)$
  run-mcp-server-tests: any of: ^(src/.*\.py|tests/unit/test_mcp_stdio_server\.py)$
  run-property-tests: any of: ^(src/.*\.py|tests/.*\.py)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
