Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

fix(tests): add auth mocks to missing endpoint and observability tests
  tests/unit/api/v1/test_missing_endpoints.py
  tests/unit/api/v1/test_observability_entity_filters.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(monitoring): add runbook URLs to alert rules and runbook documentation
  docker/mimir/rules/alert-dashboard-alerts.yaml
  docker/mimir/rules/hitl-alerts.yaml
  docker/mimir/rules/langgraph-agent-alerts.yaml
  docker/mimir/rules/prompt-quality-alerts.yaml
  docker/mimir/rules/resilience-alerts.yaml
  docker/mimir/rules/sla-uptime-alerts.yaml
  docker/mimir/rules/slo-alerts.yaml
  docker/mimir/rules/slo-recording-rules.yaml
  monitoring/prometheus/rules/alert-dashboard-alerts.yaml
  monitoring/prometheus/rules/hitl-alerts.yaml
  monitoring/prometheus/rules/resilience-alerts.yaml
  monitoring/prometheus/rules/sla-uptime-alerts.yaml
  monitoring/prometheus/rules/slo-alerts.yaml
  monitoring/runbooks/alert-dashboard-alerts.md
  monitoring/runbooks/hitl-alerts.md
  monitoring/runbooks/sla-alerts.md
  monitoring/runbooks/sla-uptime-alerts.md
Due: run-pre-push-tests

docs(monitoring): add LGTM stack alerts and runbook documentation
  monitoring/prometheus/rules/lgtm-alerts.yaml
  monitoring/runbooks/lgtm-alerts.md
Due: none

chore(alerts): remove duplicate namespace headers from Mimir rules
  docker/mimir/rules/streaming-sla-alerts.yaml
  docker/mimir/rules/websocket-reconnection-alerts.yaml
Due: run-pre-push-tests

feat(monitoring): add runbook URLs to LGTM alert annotations
  docker/mimir/rules/lgtm-alerts.yaml
Due: run-pre-push-tests

chore(deps): update frontend package-lock.json
  src/mcp_server_langgraph/studio/frontend/package-lock.json
Due: none

feat(traefik): enable JSON-structured logging for LGTM integration
  docker-compose.test.yml
Due: none

feat(observability): enable JSON logging for Qdrant and Grafana
  docker-compose.test.yml
Due: none

feat(observability): enable JSON logging for redis_exporter
  docker-compose.test.yml
Due: none

feat(observability): enable JSON logging for Alloy and Loki
  docker/alloy/config.alloy
  docker/loki/loki-config.yaml
Due: run-pre-push-tests

feat(observability): enable JSON logging for Mimir and Tempo
  docker/mimir/mimir-config.yaml
  docker/tempo/tempo-config.yaml
Due: run-pre-push-tests

feat(observability): enable JSON logging for PostgreSQL, OpenFGA, and MCP server
  docker-compose.test.yml
Due: none

feat(observability): add authz-proxy metrics scrape target
  docker/alloy/config.alloy
Due: none

feat(observability): add OTEL resource attributes for trace correlation
  docker-compose.test.yml
Due: none

refactor(observability): rename service namespace to agent-studio
  docker-compose.test.yml
Due: none

feat(monitoring): add AuthzProxyDown alert rule
  docker/mimir/rules/lgtm-alerts.yaml
Due: run-pre-push-tests

feat(observability): add uvicorn JSON logging configuration
  docker/uvicorn-log-config.yaml
Due: run-pre-push-tests

feat(observability): configure MCP server to use JSON uvicorn logs
  docker-compose.test.yml
Due: none

feat(monitoring): add AuthzProxyDown alert with runbook and validation test
  monitoring/prometheus/rules/lgtm-alerts.yaml
  monitoring/runbooks/authentication-alerts.md
  tests/unit/scripts/test_alert_consolidation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add Loki retention period configuration
  docker/loki/loki-config.yaml
Due: run-pre-push-tests

fix(monitoring): resolve all 10 missing runbook anchor issues
  monitoring/prometheus/rules/lgtm-alerts.yaml
  monitoring/prometheus/rules/sla-uptime-alerts.yaml
  monitoring/runbooks/langgraph-agent-health.md
  monitoring/runbooks/resilience-alerts.md
  tests/unit/scripts/test_alert_consolidation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(alerts): sync lgtm-alerts.yaml to docker/mimir/rules
  docker/mimir/rules/lgtm-alerts.yaml
Due: run-pre-push-tests

feat(observability): add alert-runbook dashboard and update ADR
  adr/adr-0067-grafana-lgtm-stack-migration.md
  monitoring/grafana/dashboards/Operations/alert-runbook-matrix.json
Due: validate-docs, validate-adr-index, check-internal-links, validate-grafana-dashboards

feat(core): add NaN safety utilities for API response models
  .pre-commit-config.yaml
  README.md
  adr/adr-0097-nan-safety-api-response-models.md
  docs/architecture/adr-0097-nan-safety-api-response-models.mdx
  scripts/validation/check_unsafe_float_patterns.py
  src/mcp_server_langgraph/core/numeric.py
  tests/integration/observability/test_nan_handling.py
  tests/unit/api/v1/test_response_model_nan_validators.py
  tests/unit/core/test_numeric.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add frontend utilities and DevTools infrastructure
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/HumanTimestamp.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/HumanTimestamp.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAutoTail.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useAutoTail.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/devToolsColors.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/devToolsColors.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/jsonLogParser.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/utils/jsonLogParser.ts
  src/mcp_server_langgraph/studio/frontend/src/design-system/tokens.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/colors.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/colors.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/numeric.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/numeric.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
Due: none

feat(monitoring): expand Prometheus alert rules for comprehensive observability
  deployments/helm/mcp-server-langgraph/prometheus-rules/alert-dashboard.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/alerting-fallback.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/conversation-token.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/hitl.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/lgtm.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/orchestrator-status.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/prompt-quality.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/resilience.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/sla-uptime.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/slo-recording-rules.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/slo.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/streaming-sla.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/studio-ai-cost.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/websocket-protocol.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/websocket-reconnection.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-alert-dashboard.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-alerting-fallback.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-conversation-token.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-hitl.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-lgtm.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-orchestrator-status.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-prompt-quality.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-resilience.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-sla-uptime.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-slo-recording-rules.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-slo.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-streaming-sla.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-studio-ai-cost.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-websocket-protocol.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-websocket-reconnection.yaml
  docker/mimir/rules/alerting-fallback-alerts.yaml
  docker/mimir/rules/orchestrator-status-alerts.yaml
  docker/mimir/rules/sla-uptime-alerts.yaml
  docker/mimir/rules/websocket-protocol-alerts.yaml
  monitoring/prometheus/rules/conversation-token-alerts.yaml
  monitoring/prometheus/rules/orchestrator-status-alerts.yaml
  monitoring/prometheus/rules/streaming-sla-alerts.yaml
  monitoring/prometheus/rules/websocket-protocol-alerts.yaml
  monitoring/prometheus/rules/websocket-reconnection-alerts.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, trivy-helm-scan, trivy-helm-full-scan, validate-gke-autopilot-compliance, helm-lint, validate-helm-chart-deps

feat(observability): add Mimir alerting fallback with ADR-0098
  README.md
  adr/adr-0098-mimir-alerting-fallback.md
  docs/architecture/adr-0098-mimir-alerting-fallback.mdx
  monitoring/grafana/dashboards/Operations/alerting-fallback-metrics.json
  monitoring/runbooks/alerting-fallback.md
  tests/e2e/journeys/test_alerting_journey.py
  tests/integration/observability/test_alerting_fallback.py
  tests/unit/observability/query/test_fallback_alerting.py
  tests/unit/observability/query/test_mimir_alerting.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling, validate-pytest-fixtures, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(tools): add semantic tool selection for dynamic MCP tool binding
  src/mcp_server_langgraph/tools/semantic_index.py
  tests/integration/test_semantic_tool_selection.py
  tests/unit/agents/test_router_agent_semantic.py
  tests/unit/api/v1/test_chat_selected_tools_sse.py
  tests/unit/core/test_agent_graph_select_tools.py
  tests/unit/core/test_agent_graph_tool_binding.py
  tests/unit/core/test_dynamic_context_loader_extended_ref_types.py
  tests/unit/core/test_semantic_index_manager.py
  tests/unit/tools/test_semantic_index.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(qdrant): update to query_points API for qdrant-client >= 1.7
  src/mcp_server_langgraph/core/semantic_index_manager.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  tests/unit/core/test_agent_graph_retrieve_tools.py
  tests/unit/storage/vectors/test_vector_providers.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

ci(openfga): add model validation workflow
  .github/workflows/openfga-validate.yml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(openfga): add modular authorization model with compose script
  config/openfga/compose_model.py
  config/openfga/model.json
  config/openfga/modules/00-conditions.json
  config/openfga/modules/01-core.fga
  config/openfga/modules/02-resources.fga
  config/openfga/modules/03-observability.fga
  config/openfga/modules/04-access-control.fga
  config/openfga/modules/05-ai-agents.fga
  config/openfga/modules/06-skills.fga
  config/openfga/modules/07-semantic-index.fga
  config/openfga/modules/08-infrastructure.fga
  config/openfga/modules/09-financial.fga
  config/openfga/modules/README.md
  config/openfga/sample-tuples.json
  config/role_mappings.yaml
  tests/unit/config/__init__.py
  tests/unit/config/test_openfga_compose_model.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(db): add decision traces table migration
  alembic/env.py
  alembic/versions/y5z6a7b8c9d0_add_decision_traces_table.py
  src/mcp_server_langgraph/database/__init__.py
  src/mcp_server_langgraph/database/models.py
  src/mcp_server_langgraph/storage/models.py
  tests/unit/database/test_decision_trace_models.py
  tests/unit/storage/test_decision_trace_pydantic_models.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(agents): add decision emitter and helper for semantic selection
  src/mcp_server_langgraph/agents/decision_emitter.py
  src/mcp_server_langgraph/agents/decision_helper.py
  src/mcp_server_langgraph/repositories/__init__.py
  src/mcp_server_langgraph/repositories/decision_trace.py
  tests/unit/agents/test_decision_emitter.py
  tests/unit/agents/test_decision_helper.py
  tests/unit/repositories/test_decision_trace_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(schedulers): add decision retention scheduler
  src/mcp_server_langgraph/schedulers/decision_retention.py
  tests/unit/schedulers/test_decision_retention.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(semantic): enhance semantic index manager with decision traces
  src/mcp_server_langgraph/core/semantic_index_manager.py
  src/mcp_server_langgraph/storage/vectors/qdrant_provider.py
  tests/unit/core/test_semantic_embedding_caching.py
  tests/unit/core/test_semantic_index_cache_metrics.py
  tests/unit/core/test_semantic_index_cache_warming.py
  tests/unit/core/test_semantic_index_decision_traces.py
  tests/unit/core/test_semantic_index_distributed_cache.py
  tests/unit/core/test_semantic_index_id_conversion.py
  tests/unit/core/test_semantic_index_manager.py
  tests/unit/core/test_semantic_index_prometheus_metrics.py
  tests/unit/core/test_semantic_query_caching.py
  tests/unit/storage/vectors/test_qdrant_provider_id_conversion.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(context-graph): add context graph API and bootstrap
  src/mcp_server_langgraph/api/v1/context_graph.py
  src/mcp_server_langgraph/bootstrap/context_graph.py
  tests/integration/test_context_graph_e2e.py
  tests/unit/api/v1/test_context_graph_api.py
  tests/unit/bootstrap/test_context_graph_bootstrap.py
  tests/unit/core/test_context_graph_feature_flags.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
