Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false

run-unit-tests:
  name: Run Unit Tests (focused suite - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest --testmon-noselect -n auto -m "unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

run-smoke-tests:
  name: Run Smoke Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/smoke/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs smoke tests to validate critical paths.
  
  
    Stops on first failure (-x) for faster feedback.
  
  ...

run-api-tests:
  name: Run API Endpoint Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m "api and unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs API endpoint tests to match CI.
  
  
  ...

run-mcp-server-tests:
  name: Run MCP Server Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/unit/test_mcp_stdio_server.py -m "not llm" -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs MCP protocol server tests to match CI.
  
  
  ...

run-property-tests:
  name: Run Property-Based Tests (dev profile - 25 examples)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m property tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/check_test_sleep_duration.py
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

fix(ci): add GitHub token authentication to Kustomize installation
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-k8s-configs.yml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

refactor(ci): replace curl-based Kustomize installation with GitHub Action
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-k8s-configs.yml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix: resolve Ruff linting errors and topology spread test
  pyproject.toml
  tests/infrastructure/test_validation.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): resolve integration test PostgreSQL connection failures
  docker-compose.test.yml
  pyproject.toml
  tests/conftest.py
  tests/integration/test_postgres_storage.py
  tests/integration/test_schema_initialization_timing.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(tests): update Keycloak test port from 8180 to 9082
  .pre-commit-config.yaml
  tests/e2e/test_scim_provisioning.py
  tests/integration/test_keycloak_admin.py
  tests/test_auth_factory.py
  tests/test_keycloak.py
  tests/test_user_provider.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat: add Vertex AI support for Anthropic Claude and Google Gemini models
  .env.example
  docs/guides/google-gemini.mdx
  docs/guides/vertex-ai-setup.mdx
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/monitoring/pricing.py
  tests/conftest.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/health/test_database_validation_integration.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/integration/test_vertex_ai_auth_methods.py
  tests/integration/test_vertex_ai_google.py
  tests/unit/test_vertex_ai_provider_detection.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(tests): correct Keycloak health check and remove unused dependencies
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

chore(deps): upgrade test Keycloak to 26.4.2 for test/prod parity
  docker-compose.test.yml
Due: validate-docker-compose-health-checks

feat(health): use official Qdrant health check endpoints
  deployments/base/qdrant-deployment.yaml
  tests/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-kustomize-builds, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

chore: upgrade Qdrant to v1.15.5 and PostgreSQL to 16.8 in test environment
  deployments/base/qdrant-deployment.yaml
  docker-compose.test.yml
Due: validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, validate-docker-compose-health-checks

fix: improve Keycloak health check robustness and update test documentation
  tests/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(test): implement Keycloak health check best practices
  docker-compose.test.yml
  tests/conftest.py
  tests/integration/test_docker_health_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

feat: synchronize all deployment environments and upgrade service versions
  .env.example
  .env.production.template
  .github/workflows/deploy-production-gke.yaml
  deployments/helm/mcp-server-langgraph/values.yaml
  deployments/helm/values-production-gke.yaml
  docker-compose.dev.yml
  docker-compose.keycloak-test.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  docs/deployment-environments.mdx
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-deployment-secrets, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, check-helm-placeholders, validate-docker-compose-health-checks, helm-lint, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

chore(helm): upgrade all Helm chart dependencies to latest stable versions
  .pre-commit-config.yaml
  deployments/helm/mcp-server-langgraph/Chart.yaml
  docs/deployment-environments.mdx
  tests/deployment/test_keycloak_readonly_filesystem.py
  tests/e2e/test_real_clients.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-deployment-secrets, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, helm-lint, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: resolve Helm dependencies and add validation infrastructure
  .github/workflows/deployment-validation.yml
  deployments/helm/mcp-server-langgraph/charts/grafana-12.1.8.tgz
  deployments/helm/mcp-server-langgraph/charts/jaeger-3.4.1.tgz
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-78.3.2.tgz
  scripts/validate_pytest_markers.py
  scripts/validation/check_asyncmock_usage.py
  tests/meta/test_asyncmock_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

chore: upgrade Helm chart dependencies to latest stable versions
  deployments/helm/mcp-server-langgraph/Chart.lock
  deployments/helm/mcp-server-langgraph/charts/keycloak-25.2.0.tgz
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-79.6.1.tgz
  deployments/helm/mcp-server-langgraph/charts/openfga-0.2.49.tgz
  deployments/helm/mcp-server-langgraph/charts/postgresql-18.1.11.tgz
  deployments/helm/mcp-server-langgraph/charts/redis-23.2.12.tgz
Due: none

chore: remove old Helm chart versions
  deployments/helm/mcp-server-langgraph/charts/keycloak-24.2.2.tgz
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-78.3.2.tgz
  deployments/helm/mcp-server-langgraph/charts/openfga-0.2.12.tgz
  deployments/helm/mcp-server-langgraph/charts/postgresql-16.6.2.tgz
  deployments/helm/mcp-server-langgraph/charts/redis-20.6.2.tgz
Due: none

fix(test): resolve critical integration test infrastructure issues
  migrations/001_gdpr_schema.sql
  pyproject.toml
  tests/conftest.py
  tests/e2e/real_clients.py
  tests/integration/api/test_openapi_compliance.py
  tests/integration/security/test_gdpr_schema_setup.py
  tests/integration/security/test_sql_injection_gdpr.py
  tests/integration/test_docker_health_checks.py
  tests/meta/test_codex_findings_validation.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

feat(ci): add regression prevention hooks for Codex findings
  .pre-commit-config.yaml
  scripts/validate_async_fixture_scope.py
  scripts/validate_migration_idempotency.py
Due: check-banned-imports

fix(test): add pytestmark to OpenAPI compliance tests
  tests/integration/api/test_openapi_compliance.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(test): resolve pre-push validation failures
  docs/deployment/environments.mdx
  docs/docs.json
  tests/regression/test_pytest_xdist_port_conflicts.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(integration-tests): resolve 100 failures + 21 errors in make test-integration
  .pre-commit-config.yaml
  alembic/README.md
  docker-compose.dev.yml
  docker-compose.keycloak-test.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  docs/deployment/environments.mdx
  src/mcp_server_langgraph/auth/middleware.py
  tests/conftest.py
  tests/integration/compliance/test_postgres_audit_log_store.py
  tests/integration/compliance/test_postgres_consent_store.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/compliance/test_postgres_user_profile_store.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_schema_initialization_timing.py
  tests/meta/test_infrastructure_singleton.py
  tests/regression/test_fastapi_auth_override_sanity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(validation): resolve pre-push validation findings and refactor test infrastructure
  .pre-commit-config.yaml
  .trivyignore
  adr/README.md
  scripts/validate_test_ids.py
  scripts/validation/validate_ids.py
  tests/meta/test_validator_consistency.py
  tests/scripts/test_test_ids_validator.py
  tests/security/test_deployment_security_regression.py
  tests/validation_lib/__init__.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-adr-sync, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(pre-commit): exclude test_asyncmock_validation from AsyncMock check
  .pre-commit-config.yaml
Due: none

docs: complete documentation audit and migration to MDX format
  DOCUMENTATION_AUDIT_CHECKLIST.md
  DOCUMENTATION_AUDIT_CHECKLIST_2025-11-20.md
  docs-internal/audits/claude-agents-audit.md
  docs-internal/audits/codex-findings-validation-report.md
  docs-internal/audits/documentation-audit-checklist-2025-11-16.md
  docs-internal/audits/documentation-audit-remediation-report-2025-11-20.md
  docs-internal/planning/action-plan-next-steps.md
  docs-internal/planning/documentation-improvement-roadmap-2025-11-20.md
  docs-internal/planning/phase3-type-safety-plan.md
  docs-internal/planning/real-issues-to-fix.md
  docs-internal/reports/pytest-xdist-state-pollution-scan-report.md
  docs-internal/reports/test-suite-report.md
  docs-internal/testing/skipped-tests-documentation.md
  docs/architecture/repository-structure.mdx
  docs/ci-cd/github-secrets.mdx
  docs/contributing/mdx-syntax-guide.mdx
  docs/deployment/deployment-checklist.mdx
  docs/development/naming-conventions.mdx
  docs/development/onboarding.mdx
  docs/docs.json
  docs/guides/agent-architecture.mdx
  docs/integrations/gemini.mdx
  docs/integrations/keycloak.mdx
  docs/integrations/kong.mdx
  docs/integrations/langsmith.mdx
  docs/integrations/litellm.mdx
  docs/integrations/openfga-infisical.mdx
  docs/project/migration-guides.mdx
  docs/project/roadmap.mdx
  docs/quick-reference.mdx
  docs/reference/ai-tools-compatibility.mdx
  docs/reference/mcp-registry.mdx
  docs/reference/pydantic-ai.mdx
  docs/reference/recommendations.mdx
  docs/testing/hypothesis-profiles.mdx
  docs/testing/overview.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

fix(docs): resolve broken links in migrated MDX files
  docs/architecture/repository-structure.mdx
  docs/guides/agent-architecture.mdx
  docs/integrations/keycloak.mdx
  docs/project/migration-guides.mdx
  docs/project/roadmap.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

fix(test): resolve GDPR auth override test isolation + broken doc links
  docs/architecture/repository-structure.mdx
  docs/guides/agent-architecture.mdx
  docs/integrations/keycloak.mdx
  docs/project/migration-guides.mdx
  docs/project/roadmap.mdx
  tests/regression/test_fastapi_auth_override_sanity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(test): resolve GDPR singleton pollution causing 4 test failures
  tests/conftest.py
  tests/integration/test_gdpr_endpoints.py
  tests/regression/test_fastapi_auth_override_sanity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(test): resolve Keycloak repo_root calculation and deployment validation issues
  tests/unit/test_llm_fallback_kwargs.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(test): resolve Keycloak repo_root, /tmp mounts, and add path validation meta-tests
  deployments/base/.trivyignore
  deployments/overlays/staging/postgres-patch.yaml
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/test_path_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs(test): comprehensive integration test validation findings and remediation plan
  INTEGRATION_TEST_FINDINGS.md
Due: validate-documentation-integrity, validate-documentation-structure

docs: comprehensive Codex findings validation report (2025-11-21)
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT_2025-11-21.md
Due: validate-documentation-integrity, validate-documentation-structure

feat(test): add port configuration and AsyncIO fixture meta-tests
  tests/test_async_fixture_validation.py
  tests/test_infrastructure_config_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(types): resolve all 28 MyPy errors across 16 files
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/compliance/gdpr/data_deletion.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/health/checks.py
  src/mcp_server_langgraph/health/database_checks.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/infrastructure/middleware.py
  src/mcp_server_langgraph/llm/validators.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  tests/integration/deployment/test_langgraph_platform.py
  tests/integration/deployments/__init__.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(test): Phase 1 quick wins - MCP imports and directory consolidation
  tests/integration/deployment/test_langgraph_platform.py
  tests/integration/test_mcp_startup_validation.py
  tests/test_path_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(test): resolve API key validation timeout with proper mock configuration
  tests/integration/security/test_api_key_indexed_lookup.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-unit-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  run-smoke-tests: any of: ^(src/.*\.py|tests/smoke/.*\.py)$
  run-api-tests: any of: ^(src/.*\.py|tests/api/.*\.py)$
  run-mcp-server-tests: any of: ^(src/.*\.py|tests/unit/test_mcp_stdio_server\.py)$
  run-property-tests: any of: ^(src/.*\.py|tests/.*\.py)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
