Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$

docs: update documentation for new features and improvements
  adr/README.md
  adr/adr-0102-enhanced-model-selector.md
  adr/adr-0103-websocket-authentication-requirement.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs-internal/frontend/ACCESSIBILITY_IMPLEMENTATION.md
  docs-internal/frontend/DESIGN_SYSTEM_CHANGELOG.md
  docs-internal/frontend/DESIGN_SYSTEM_EXCEPTIONS.md
  docs-internal/frontend/HOOK_INTEGRATION_PATTERNS.md
  docs-internal/frontend/MCP_CONNECTIONS_FEATURE.md
  docs-internal/frontend/PENDING-BACKEND-APIS.md
  docs-internal/frontend/REFERENCE_SYNTAX.md
  docs-internal/frontend/SECURITY_XSS_PREVENTION.md
  docs-internal/frontend/STYLE.md
  docs-internal/frontend/TELEMETRY-DASHBOARD-QUERIES.md
  docs-internal/frontend/feature-flags-mapping.md
  docs-internal/frontend/testing/TESTING_PATTERNS.md
  docs-internal/operations/bypass-mode-runbook.md
  docs/api-reference/connection-templates.mdx
  docs/architecture/adr-0069-mcp-2025-11-25-upgrade.mdx
  docs/docs.json
  docs/guides/api-migration-guide.mdx
  docs/guides/studio-feature-flags.mdx
  docs/guides/studio.mdx
  docs/guides/tool-selection.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

chore: update Claude Code configuration and memory files
  .claude/CLAUDE.md
  .claude/context/testing-patterns.md
  .claude/memory/context-efficiency.md
  .claude/memory/execution-mode-patterns.md
  .claude/memory/helm-chart-validation.md
  .claude/memory/keycloak-oidc-issuer-pattern.md
  .claude/memory/lgtm-stack-lessons.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .claude/memory/python-environment-usage.md
  .claude/memory/rollup-circular-dependency-pattern.md
  .github/CLAUDE.md
Due: check-internal-links

chore: update project configuration and changelog
  .env.test
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, check-internal-links, validate-pytest-markers, validate-pytest-config

feat(llm): add chat model factory and hooked chat model
  src/mcp_server_langgraph/llm/chat_model_factory.py
  src/mcp_server_langgraph/llm/hooked_chat_model.py
  src/mcp_server_langgraph/llm/litellm_chat_model.py
  src/mcp_server_langgraph/tools/constants.py
  src/mcp_server_langgraph/tools/native_handler.py
  src/mcp_server_langgraph/tools/native_registry.py
  tests/integration/tools/__init__.py
  tests/integration/tools/test_native_tools.py
  tests/integration/tools/test_tool_selection_flow.py
  tests/unit/llm/test_chat_model_factory.py
  tests/unit/llm/test_hooked_chat_model.py
  tests/unit/tools/test_constants.py
  tests/unit/tools/test_native_handler.py
  tests/unit/tools/test_native_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor: update backend for native tool support
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/config.py
  src/mcp_server_langgraph/api/v1/tools.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/tools/unified_registry.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

refactor(frontend): update components for tool selection UX
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/scripts/check-design-system-compliance.ts
  src/mcp_server_langgraph/studio/frontend/scripts/fix-navigation-button-variants.ts
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasTabs.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatInput.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/PreferencesMenu.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ToolSelector.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/PreferencesContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedChatInputForm.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/FollowUpSuggestions.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAvailableTools.ts
  src/mcp_server_langgraph/studio/frontend/src/index.css
  src/mcp_server_langgraph/studio/frontend/src/layout/MobileDrawer.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ResizeHandle.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ResizeHandle.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AgentsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ArtifactsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuditLogPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AuthCallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/HelpPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/OAuth2CallbackPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ObservabilityPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SettingsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SharedWorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/SkillsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/VectorsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsListPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
  src/mcp_server_langgraph/studio/frontend/src/types/tools.ts
Due: none

test: update tests for native tool support
  tests/unit/api/v1/test_tools_router.py
  tests/unit/core/test_agent_graph_retrieve_tools.py
  tests/unit/core/test_agent_graph_tool_binding.py
  tests/unit/tools/test_unified_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore: update configs for native tool support
  .env.test
  docker/keycloak/themes/agent-studio/login/resources/css/login.css
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

feat: add native tool support with source citations
  src/mcp_server_langgraph/agents/litellm_model_sync.py
  src/mcp_server_langgraph/agents/model_registry.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/api/v1/tools.py
  src/mcp_server_langgraph/core/agent_graph_builder.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/tool_executor.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/storage/session/manager.py
  src/mcp_server_langgraph/storage/session/models.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/tools/native_handler.py
  src/mcp_server_langgraph/tools/native_metrics.py
  src/mcp_server_langgraph/tools/native_registry.py
  src/mcp_server_langgraph/tools/source_citation.py
  src/mcp_server_langgraph/websocket/__init__.py
  src/mcp_server_langgraph/websocket/base.py
  src/mcp_server_langgraph/websocket/handlers/agent_request.py
  src/mcp_server_langgraph/websocket/handlers/ai_suggestions.py
  src/mcp_server_langgraph/websocket/handlers/alert.py
  src/mcp_server_langgraph/websocket/handlers/audit.py
  src/mcp_server_langgraph/websocket/handlers/budget_alerts.py
  src/mcp_server_langgraph/websocket/handlers/connection_health.py
  src/mcp_server_langgraph/websocket/handlers/connections_realtime.py
  src/mcp_server_langgraph/websocket/handlers/cost_tracking.py
  src/mcp_server_langgraph/websocket/handlers/devtools.py
  src/mcp_server_langgraph/websocket/handlers/heart_metrics.py
  src/mcp_server_langgraph/websocket/handlers/llm_streaming.py
  src/mcp_server_langgraph/websocket/handlers/mcp.py
  src/mcp_server_langgraph/websocket/handlers/mcp_aggregated.py
  src/mcp_server_langgraph/websocket/handlers/mcp_task.py
  src/mcp_server_langgraph/websocket/handlers/metrics_broadcaster.py
  src/mcp_server_langgraph/websocket/handlers/metrics_session.py
  src/mcp_server_langgraph/websocket/handlers/notifications.py
  src/mcp_server_langgraph/websocket/handlers/orchestrator_status.py
  src/mcp_server_langgraph/websocket/handlers/trace.py
  src/mcp_server_langgraph/websocket/mixins.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

docs: add native tools documentation and ADRs
  adr/adr-0102-native-llm-provider-tools.md
  adr/adr-0104-message-rendering-consolidation.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs/docs.json
  docs/guides/native-tools.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

chore: add infrastructure for native tool observability
  .claude/context/testing-patterns.md
  .env.test
  .pre-commit-config.yaml
  docker-compose.test.yml
  docker/loki/loki-config.yaml
  docker/mimir/mimir-config.yaml
  docker/mimir/rules/native-tool-alerts.yaml
  docker/mimir/rules/native-tool-recording-rules.yaml
  monitoring/grafana/dashboards/Application/native-tool-metrics.json
  monitoring/runbooks/native-tool-alerts.md
  openapi.json
  pyproject.toml
  scripts/lint_websocket_patterns.py
  scripts/refactor_subscription_responses.py
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, semgrep-security-scan, validate-grafana-dashboards, validate-pytest-markers, validate-pytest-config

refactor(frontend): consolidate conversation panel with unified message list
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/studio/frontend/.storybook/preview.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.fixtures.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.intelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.messaging.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.rendering.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.stories.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/UnifiedMessageList.variants.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/types/chat.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(api): add SpanThinkingResponse and thinking object to SpanResponse
  src/mcp_server_langgraph/api/v1/observability.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(api): add SpanResponse thinking object format tests
  tests/unit/api/v1/test_span_response_thinking.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(observability): add span thinking object integration tests
  tests/integration/observability/test_tempo_session_traces.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(frontend): add Pattern 12 thinking field transform tests
  src/mcp_server_langgraph/studio/frontend/src/utils/apiTransforms.test.ts
Due: none

docs(adr): add Pattern 12 reference to ADR-0091
  .claude/context/code-patterns.md
  adr/adr-0091-api-response-transformation-strategy.md
Due: validate-docs, validate-adr-index, check-internal-links

chore(ci): add alembic duplicate revision check hook
  .pre-commit-config.yaml
  scripts/check_alembic_duplicates.py
Due: check-banned-imports, semgrep-security-scan

feat(agents): add orchestrator selection for router agent (ADR-0105)
  adr/adr-0105-orchestrator-selection.md
  src/mcp_server_langgraph/agents/__init__.py
  src/mcp_server_langgraph/agents/registry.py
  src/mcp_server_langgraph/agents/router_agent.py
  tests/unit/agents/test_orchestrator_selection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, validate-adr-index, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(storage): add message user scoping for access control (v8)
  alembic/versions/c9d0e1f2g3h4_add_message_user_id_not_null.py
  src/mcp_server_langgraph/middleware/user_context.py
  src/mcp_server_langgraph/storage/models.py
  src/mcp_server_langgraph/storage/session/adapter.py
  src/mcp_server_langgraph/storage/session/models.py
  src/mcp_server_langgraph/storage/session/postgres_manager.py
  src/mcp_server_langgraph/storage/session/postgres_models.py
  tests/unit/storage/test_message_user_scoped.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(services): add message embedding service for session similarity (v8)
  deployments/helm/mcp-server-langgraph/dashboards/Application/message-embedding-metrics.json
  docker/mimir/rules/message-embedding-alerts.yaml
  monitoring/grafana/dashboards/Application/message-embedding-metrics.json
  src/mcp_server_langgraph/core/message_semantic_index.py
  src/mcp_server_langgraph/services/embedding_metrics.py
  src/mcp_server_langgraph/services/message_embedding_service.py
Due: check-banned-imports, run-pre-push-tests, trivy-helm-full-scan, semgrep-security-scan, validate-grafana-dashboards

feat(api): enhance sessions and chat API with orchestrator dispatch
  api/openapi.json
  src/mcp_server_langgraph/api/v1/agents.py
  src/mcp_server_langgraph/api/v1/ai_ux.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/api/v1/chat.py
  src/mcp_server_langgraph/api/v1/session_export.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/bootstrap/semantic.py
  src/mcp_server_langgraph/core/config/_settings.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/models/execution_plan.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan, validate-dependency-injection

chore(infra): update keycloak theme and add pattern monitoring
  .env.test
  docker/keycloak/themes/agent-studio/login/resources/css/login.css
  docker/mimir/rules/langgraph-pattern-alerts.yaml
  monitoring/grafana/dashboards/Application/langgraph-pattern-orchestration.json
Due: run-pre-push-tests, validate-grafana-dashboards

docs(rollout): update feature flag rollout strategy
  docs-internal/rollout/feature-flag-rollout-strategy.md
Due: check-internal-links

test: update test coverage for v8 and orchestrator features
  tests/integration/api/test_router_swarm_flow.py
  tests/integration/api/test_session_archive_flow.py
  tests/unit/agents/test_critique_executor.py
  tests/unit/api/v1/test_chat_message_persistence.py
  tests/unit/api/v1/test_chat_service_impl.py
  tests/unit/api/v1/test_sessions_contract.py
  tests/unit/storage/test_session_message_sources.py
  tests/unit/storage/test_session_models.py
  tests/unit/storage/test_session_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(adr): resolve ADR numbering and sync issues
  README.md
  adr/adr-0106-native-llm-provider-tools.md
  docs/architecture/adr-0103-websocket-authentication-requirement.mdx
  docs/architecture/adr-0104-message-rendering-consolidation.mdx
  docs/architecture/adr-0105-orchestrator-selection.mdx
  docs/architecture/adr-0106-native-llm-provider-tools.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

fix(ci): add async fixture support to pytest fixture validator
  scripts/validators/validate_pytest_fixtures.py
Due: check-banned-imports, semgrep-security-scan

fix(test): add missing pytestmark declarations to test files
  tests/integration/execution/test_bypass_mode_flow.py
  tests/unit/api/v1/test_references.py
  tests/unit/api/v1/test_session_goals_wired.py
  tests/unit/auth/test_connection_scope.py
  tests/unit/core/test_agent_graph_native_tools.py
  tests/unit/core/test_auth_required_detector.py
  tests/unit/core/test_session_goal_dependency.py
  tests/unit/execution/test_bypass_audit_helpers.py
  tests/unit/execution/test_bypass_manager.py
  tests/unit/execution/test_bypass_prometheus_metrics.py
  tests/unit/execution/test_cost_estimator.py
  tests/unit/llm/test_chat_model_factory.py
  tests/unit/llm/test_hooked_chat_model.py
  tests/unit/llm/test_responses_api.py
  tests/unit/tools/test_constants.py
  tests/unit/tools/test_native_handler.py
  tests/unit/tools/test_native_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(ci): improve pytest fixture validator accuracy
  scripts/validators/validate_pytest_fixtures.py
Due: check-banned-imports, semgrep-security-scan

refactor(test): rename docker test directory to docker_infra
  tests/unit/docker_infra/__init__.py
  tests/unit/docker_infra/test_seed_openfga_oidc.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core): add environment detection utility module
  src/mcp_server_langgraph/core/environment.py
  tests/unit/core/test_environment.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core): add A/B experiment framework for feature comparison
  src/mcp_server_langgraph/core/experiments.py
  tests/unit/core/test_semantic_tool_ab_experiment.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(llm): add OpenAI native tools validation in LLM factory
  src/mcp_server_langgraph/llm/factory.py
  tests/unit/llm/test_factory_openai_native.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(semantic): enhance semantic tool selection with split bootstrap
  docs/architecture/adr-0099-semantic-tool-selection.mdx
  src/mcp_server_langgraph/bootstrap/semantic.py
  src/mcp_server_langgraph/core/semantic_index_manager.py
  src/mcp_server_langgraph/tools/semantic_index.py
  tests/benchmarks/test_semantic_tool_selection_benchmark.py
  tests/e2e/test_semantic_tool_selection_e2e.py
  tests/integration/test_semantic_tool_selection.py
  tests/integration/vectors/test_semantic_index_manager_qdrant.py
  tests/unit/agents/test_router_agent_semantic.py
  tests/unit/bootstrap/test_semantic_bootstrap.py
  tests/unit/bootstrap/test_semantic_startup_indexing.py
  tests/unit/core/test_agent_graph_retrieve_tools.py
  tests/unit/core/test_agent_graph_retrieve_tools_integration.py
  tests/unit/core/test_semantic_embedding_caching.py
  tests/unit/core/test_semantic_index_authorization.py
  tests/unit/core/test_semantic_index_authorization_caching.py
  tests/unit/core/test_semantic_index_bootstrap_integration.py
  tests/unit/core/test_semantic_index_cache_metrics.py
  tests/unit/core/test_semantic_index_cache_warming.py
  tests/unit/core/test_semantic_index_decision_traces.py
  tests/unit/core/test_semantic_index_distributed_cache.py
  tests/unit/core/test_semantic_index_id_conversion.py
  tests/unit/core/test_semantic_index_manager.py
  tests/unit/core/test_semantic_index_prometheus_metrics.py
  tests/unit/core/test_semantic_query_caching.py
  tests/unit/core/test_semantic_tool_selection_metrics.py
  tests/unit/tools/test_semantic_index.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(mcp): add full bootstrap and tool indexing to MCP server
  src/mcp_server_langgraph/mcp/client/cached_unified_registry.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/unit/mcp/client/test_cached_unified_registry.py
  tests/unit/mcp/test_mcp_stdio_server.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add execution plans and plan templates persistence
  alembic/versions/d0e1f2g3h4i5_add_execution_plans_table.py
  alembic/versions/e1f2g3h4i5j6_add_plan_templates_table.py
  src/mcp_server_langgraph/api/v1/execution_plans.py
  src/mcp_server_langgraph/api/v1/plan_templates.py
  src/mcp_server_langgraph/api/v1/serializers.py
  src/mcp_server_langgraph/repositories/plan_template.py
  tests/unit/api/v1/test_execution_plans.py
  tests/unit/api/v1/test_plan_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation
