Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: uv run --frozen python -u scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run --frozen python -u scripts/validators/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run --frozen python -u scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run --frozen python -u scripts/validators/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run --frozen python -u scripts/validators/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

fix(ci): increase collect-coverage timeout to 20 minutes
  .github/workflows/gh-pages-telemetry.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(ci): add Vertex AI integration tests with Workload Identity Federation
  .github/SECRETS.md
  .github/workflows/integration-tests.yaml
  terraform/environments/gcp-staging-wif-only/main.tf
Due: run-pre-push-tests, actionlint-workflow-validation, checkov-terraform, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

add Benchmark (pytest) benchmark result for b3011254e293ebb58a9d40a3bb3b31695dfb8f56
  dev/bench/data.js
Due: none

feat(ci): add Vertex AI integration tests with Workload Identity Federation (#138)
  .github/SECRETS.md
  .github/workflows/integration-tests.yaml
  terraform/environments/gcp-staging-wif-only/main.tf
Due: run-pre-push-tests, actionlint-workflow-validation, checkov-terraform, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

add Benchmark (pytest) benchmark result for 6270c7bb6c6eceb40d250ff4d930ac0bfd0ddf74
  dev/bench/data.js
Due: none

style(ci): rename Vertex AI job for consistency
  .github/workflows/integration-tests.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

add Benchmark (pytest) benchmark result for 6e73d1ffdec1d36f1c7fb1524d50c853ac39a1bd
  dev/bench/data.js
Due: none

fix(ci): add cloud extra for Vertex AI integration tests
  .github/workflows/ci.yaml
  .github/workflows/cost-tracking.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/docs-validation.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/local-preflight-check.yaml
  .github/workflows/optional-deps-test.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/release.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/security-validation.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/track-skipped-tests.yaml
  .github/workflows/validate-k8s-configs.yml
  .github/workflows/validate-kubernetes.yaml
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-markers, validate-workflow-test-deps, validate-pytest-config

fix(tests): skip cloud extra deps in import check
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for daeecc97a4d3d403df96e0ddaf28d9a10fbd3338
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 0dd62774b614d433c0a0672ee3446d9ba407f6cf
  dev/bench/data.js
Due: none

fix(ci): set VERTEX_LOCATION for Claude models region
  .github/workflows/integration-tests.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

add Benchmark (pytest) benchmark result for 027eab0afce5ca6b47f10429e6a69bf462466648
  dev/bench/data.js
Due: none

fix(tests): use global region for multi-region Vertex AI tests
  tests/integration/test_vertex_ai_anthropic.py
  tests/integration/test_vertex_ai_google.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 797cbcf897745299cb344851e63bf19586829b9e
  dev/bench/data.js
Due: none

fix(ci): resolve Vertex AI region and telemetry workflow issues
  .github/workflows/gh-pages-telemetry.yaml
  .github/workflows/integration-tests.yaml
  pyproject.toml
  tests/integration/test_vertex_ai_google.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): telemetry workflow artifact and dependency fixes
  .github/workflows/gh-pages-telemetry.yaml
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(ci): use correct env vars for Gemini tests + block pip install
  .github/workflows/validate-deployments.yaml
  tests/integration/test_vertex_ai_google.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 35e5e28c86b58f664b6407d046b67c3684869a6d
  dev/bench/data.js
Due: none

fix(tests): wrap skipif env var check with bool() to prevent syntax error
  tests/integration/test_vertex_ai_auth_methods.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for ca8d8bea55771a6d1b8a27eef95927797a63a934
  dev/bench/data.js
Due: none

fix(ci): fix dashboard test counts and add comprehensive breakdown
  .github/workflows/gh-pages-telemetry.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(tests): use correct regions for Claude and Gemini on Vertex AI
  tests/integration/test_vertex_ai_auth_methods.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 4c322087a990bbfa1be7b8ff7634665e856b0f93
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 806bfe3f2e7be127ab7ce2cb403706a4b3fe4c03
  dev/bench/data.js
Due: none

docs: fix documentation audit issues
  .github/SECURITY.md
  CODE_OF_CONDUCT.md
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

fix(scripts): make test_python_versions.sh bash 3.x compatible
  scripts/test_python_versions.sh
Due: none

add Benchmark (pytest) benchmark result for 951c26a478f38d122fa2a24df45bd78758907553
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 894fd926a37649a2f8430ac5476ed0a98b155f96
  dev/bench/data.js
Due: none

feat(resilience): add exponential backoff with jitter for 529 overload errors
  src/mcp_server_langgraph/core/exceptions.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/config.py
  src/mcp_server_langgraph/resilience/retry.py
  tests/integration/test_vertex_ai_anthropic.py
  tests/integration/test_vertex_ai_auth_methods.py
  tests/integration/test_vertex_ai_google.py
  tests/unit/resilience/test_retry_overload.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 816175ddf240dc58839294faeeb05be4d351a220
  dev/bench/data.js
Due: none

fix(tests): update slash command tests to handle YAML frontmatter
  tests/meta/test_slash_commands.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for d31ded8111324ae4d5c0049b814c3061a8cbf8e9
  dev/bench/data.js
Due: none

fix(cache): only pass ssl param to Redis when SSL is enabled
  src/mcp_server_langgraph/core/cache.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan, validate-dependency-injection

add Benchmark (pytest) benchmark result for 45814bbe57ae2e41d51d3ade194b4cdf2d00a8a8
  dev/bench/data.js
Due: none

fix(ci): allow .example template files in gitignore test + robust xfailed handling
  .github/workflows/gh-pages-telemetry.yaml
  tests/meta/test_claude_code_configuration.py
  tests/meta/validation/test_gitignore_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 20b5666a00a8620a6a7db546fbb7cdafc683a950
  dev/bench/data.js
Due: none

fix(ci): fix xfailed display by reordering sed replacements
  .github/workflows/gh-pages-telemetry.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

add Benchmark (pytest) benchmark result for 1d3f782d5b2592c06d537387944e508b9b509855
  dev/bench/data.js
Due: none

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
