Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

fix(validators): exclude assertions from env var modification detection
  scripts/validators/check_test_environment_isolation.py
Due: check-banned-imports, semgrep-security-scan

feat(studio): enable Mermaid diagrams and Chart rendering in chat
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
Due: none

test(observability): use monkeypatch for test environment isolation
  tests/integration/observability/test_lgtm_client_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(observability): complete monkeypatch migration for LGTM tests
  tests/integration/observability/test_lgtm_client_integration.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

chore(pytest): add oidc marker for OIDC protocol tests
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

test(store): add totalCount increment tests for session creation
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
Due: none

fix(store): only increment totalCount for genuinely new sessions
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
Due: none

feat(studio): persist session ID in URL for navigation
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
Due: none

feat(types): add SVG, audio, video, and executable artifact types
  src/mcp_server_langgraph/studio/frontend/src/types/artifacts.ts
Due: none

feat(artifacts): add rich media artifact components with TDD tests
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/AudioArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/AudioArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ExecutableArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ExecutableArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SVGArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/VideoArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/VideoArtifact.tsx
Due: none

chore(deps): add dependencies for rich media artifact components
  src/mcp_server_langgraph/studio/frontend/package.json
Due: none

chore(artifacts): export new artifact components from barrel file
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
Due: none

test(chat): fix code block test for syntax highlighted tokens
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
Due: none

feat(mcp): add transport protocol support for connections
  alembic/versions/i9j0k1l2m3n4_add_transport_and_stdio_fields.py
  src/mcp_server_langgraph/models/connection.py
  src/mcp_server_langgraph/repositories/cached_connections.py
  src/mcp_server_langgraph/repositories/connections.py
  src/mcp_server_langgraph/storage/models.py
  tests/integration/test_connections_repository.py
  tests/unit/repositories/test_cached_connections.py
  tests/unit/repositories/test_connections.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(mcp): implement OAuth2 discovery per MCP 2025-11-25 spec
  src/mcp_server_langgraph/mcp/oauth2_discovery.py
  src/mcp_server_langgraph/mcp/protected_resource.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/unit/mcp/test_oauth2_discovery.py
  tests/unit/mcp/test_protected_resource_endpoint.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): comprehensive frontend updates for MCP and workflow
  scripts/run_pre_push_tests.py
  src/mcp_server_langgraph/api/routers.py
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/MDXArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Button.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/NodePalette.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowCanvas.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowCanvas.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowMiniView.tsx
  src/mcp_server_langgraph/studio/frontend/src/config/version.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/WorkflowsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/authSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/connection.ts
  src/mcp_server_langgraph/studio/frontend/tailwind.config.ts
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
  tests/api/test_connection_health_websocket.py
  tests/api/test_user_api.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(ui): add Badge and Card design system components
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Badge.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Badge.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Card.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/Card.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/UI/index.ts
  tests/integration/test_dependencies_wiring.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(layout): add DockableLayout component for resizable panels
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatWorkspace.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/DockableLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/DockableLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/index.ts
Due: none

feat(chat): add interactive visualization components
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatSuggestions.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
Due: none

feat(layout): add VS Code-style workspace components
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/FocusMode.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/FocusMode.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/PanelTabs.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/PanelTabs.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/useWorkspace.tsx
Due: none

feat(hooks): add useSessionAutoName for AI-powered session naming
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionAutoName.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionAutoName.ts
Due: none

feat(chat): enhance MermaidDiagram with interactive controls
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
Due: none

feat(chat): enhance visualization components with interactive controls
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/MCP/AddConnectionDialog.test.tsx
Due: none

ci(hooks): add frontend-build validation to pre-push
  .claude/memory/pre-commit-hooks-catalog.md
  .pre-commit-config.yaml
Due: none

fix(tests): improve singleton reset and OpenFGA auth detection
  tests/api/test_connection_health_websocket.py
  tests/conftest.py
  tests/integration/auth/conftest.py
  tests/integration/property/test_llm_properties.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(artifacts): enhance InteractiveSVGArtifact and LaTeXArtifact
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/InteractiveSVGArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/LaTeXArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/LaTeXArtifact.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
Due: none

refactor(chat): extract interactive components to separate modules
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveMermaidDiagram.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
Due: none

fix(tests): add Qdrant auth availability check for proper test skipping
  tests/integration/auth/test_qdrant_auth.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(tests): centralize Qdrant auth check in conftest fixture
  tests/integration/auth/conftest.py
  tests/integration/auth/test_qdrant_auth.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): add OAuth2 PKCE and PAR authentication with RFC compliance
  src/mcp_server_langgraph/api/v1/auth.py
  src/mcp_server_langgraph/studio/security/__init__.py
  tests/api/test_auth_oauth2.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core): add UI feature flags with role-based access control
  src/mcp_server_langgraph/api/v1/features.py
  src/mcp_server_langgraph/core/feature_flags.py
  tests/unit/core/test_feature_flags_ui.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(artifacts): add interactive artifact rendering with Sandpack executor
  src/mcp_server_langgraph/studio/frontend/e2e/artifact-rendering.spec.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ArtifactRenderer.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SandpackExecutor.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/SandpackExecutor.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/index.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/artifactParser.test.ts
  src/mcp_server_langgraph/studio/frontend/src/utils/artifactParser.ts
Due: none

refactor(chat): enhance messaging components with document support
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/CostDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/CostDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/ObservabilityDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/ObservabilityDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Insights/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Project/ProjectDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/ProjectDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Project/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/SettingsDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Settings/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowDocument.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/WorkflowDocument.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Workflow/index.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ChatPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
Due: none

chore(config): update test environment and add Sandpack dependency
  .env.test
  Makefile
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
Due: none

refactor(frontend): remove obsolete Sidebar test file
  src/mcp_server_langgraph/studio/frontend/src/components/Layout/Sidebar.test.tsx
Due: none

fix(tests): improve pytest-xdist stability and add Loki query fixes
  .github/workflows/accessibility-tests.yaml
  .github/workflows/lighthouse-ci.yaml
  README.md
  docs/architecture/adr-0070-openfga-oidc-authentication.mdx
  docs/docs.json
  docs/troubleshooting/openfga-oidc-troubleshooting.mdx
  src/mcp_server_langgraph/observability/query/backends/loki.py
  tests/api/test_user_api.py
  tests/integration/audit/test_audit_lifespan_integration.py
  tests/integration/auth/conftest.py
  tests/integration/auth/test_oauth2_e2e.py
  tests/integration/auth/test_openfga_oidc.py
  tests/integration/observability/test_lgtm_client_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_tool_improvements.py
  tests/meta/test_fixture_organization.py
  tests/regression/test_dev_dependencies.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/unit/api/v1/test_admin_users_router.py
  tests/unit/api/v1/test_vectors_embedding_providers.py
  tests/unit/execution/test_docker_sandbox_async.py
  tests/unit/execution/test_kubernetes_sandbox_async.py
  tests/unit/health/test_qdrant_validation.py
  tests/unit/llm/test_factory_async_only.py
  tests/unit/observability/query/test_gcp_backends.py
  tests/unit/observability/test_json_logger_additional.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, check-internal-links, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(api): API contract fixes for sessions, connections, and projects
  api/openapi.json
  scripts/export_openapi.py
  src/mcp_server_langgraph/api/v1/connections.py
  src/mcp_server_langgraph/api/v1/projects.py
  src/mcp_server_langgraph/api/v1/sessions.py
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/unit/api/v1/test_connections_security.py
  tests/unit/api/v1/test_projects_connections.py
  tests/unit/api/v1/test_sessions_contract.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add workflow sharing and AI generation endpoints (Phase 6)
  api/openapi.json
  src/mcp_server_langgraph/api/v1/workflows.py
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/unit/api/v1/test_workflow_generate.py
  tests/unit/api/v1/test_workflow_sharing.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(storage): add workflow sharing storage layer with TDD
  alembic/versions/j0k1l2m3n4o5_add_workflow_shares.py
  src/mcp_server_langgraph/storage/workflow/models.py
  src/mcp_server_langgraph/storage/workflow/postgres_models.py
  src/mcp_server_langgraph/storage/workflow/share_repository.py
  tests/unit/api/v1/test_sessions_router.py
  tests/unit/storage/workflow/test_workflow_share_repository.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
