Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

feat(studio): add agents/traces routes and modularize ChatMessages tests
  docker-compose.test.yml
  src/mcp_server_langgraph/alerts/broadcaster.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.agent.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.suggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/RootRedirect.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/StudioShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/route-coverage.test.tsx
  tests/e2e/test_feature_flags_docker_compose.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add lazy loading and persona cache invalidation
  config/openfga/model.json
  docker-compose.test.yml
  scripts/docker/seed_openfga.py
  src/mcp_server_langgraph/studio/frontend/e2e/cross-persona-workflows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/permission-denial-flows.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-access-verification.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/scripts/run-tests-sharded.sh
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.agent.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.integration.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/ChatMessages.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/components/DevToolsWebSocketObserver.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useDevToolsContext.ts
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/conversation/ConnectedConversationPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/session-hooks-integration.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIEmptyState.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIErrorRecovery.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartDashboard.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/usePersonaCacheInvalidation.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSafeRouteLoaderData.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useStreamingChat.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/SessionNav.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/AnalyticsDashboardPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.realtime.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/CostPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/langGraphSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/langGraphSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/types.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: check-banned-imports, semgrep-security-scan

feat(devtools): implement Phase 8 AI-Native Observability
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/hooks/useObservabilityAI.ts
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.observability.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/tabs/AIInsightsTab.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/DevTools/types.ts
Due: none

docs: comprehensive documentation update for Agent Studio and new features
  .claude/CLAUDE.md
  .github/CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs-internal/AI_INTELLIGENCE_SERVICES.md
  docs-internal/CODE_EXECUTION_ENGINE.md
  docs-internal/FEATURE_FLAG_CATALOG.md
  docs-internal/SKILLS_MARKETPLACE_INTERNALS.md
  docs-internal/STUDIO_ARCHITECTURE.md
  docs-internal/WEBSOCKET_STANDARDIZATION.md
  docs/api-reference/builder.mdx
  docs/api-reference/code-execution.mdx
  docs/api-reference/playground.mdx
  docs/api-reference/studio.mdx
  docs/api-reference/websockets.mdx
  docs/architecture/adr-0077-claude-agent-sdk-integration.mdx
  docs/architecture/adr-0079-multi-framework-tool-parity.mdx
  docs/architecture/adr-0080-llm-level-callback-system.mdx
  docs/architecture/adr-0081-handoff-pattern-multi-agent.mdx
  docs/architecture/adr-0082-mcp-client-capabilities.mdx
  docs/architecture/adr-0083-confidence-based-hitl-system.mdx
  docs/architecture/adr-0084-studio-orchestrator-unified-ai.mdx
  docs/docs.json
  docs/guides/code-execution.mdx
  docs/guides/devtools.mdx
  docs/guides/dpop-enforcement.mdx
  docs/guides/hitl-confidence.mdx
  docs/guides/keyboard-shortcuts.mdx
  docs/guides/playground.mdx
  docs/guides/prompt-injection-protection.mdx
  docs/guides/skills-marketplace.mdx
  docs/guides/studio.mdx
  docs/guides/visual-workflow-builder.mdx
  scripts/validation/generate_feature_flag_catalog.py
  tests/integration/api/test_sandbox_run_api.py
  tests/unit/core/test_feature_flag_catalog_generator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, check-internal-links, semgrep-security-scan, check-mermaid-styling, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test: improve coverage for secrets manager and resilience metrics
  tests/unit/resilience/test_resilience_metrics.py
  tests/unit/secret_providers/test_secrets_manager_extended.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

test(keycloak): add centralized connectivity fixtures and diagnostics
  tests/fixtures/tool_fixtures.py
  tests/integration/auth/test_keycloak_connectivity.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add Agent Metrics API and dashboard component
  api/openapi.json
  openapi.json
  src/mcp_server_langgraph/api/v1/agents.py
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Agents/AgentMetricsCard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Agents/AgentMetricsCard.tsx
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/generated-api.ts
  tests/unit/api/v1/test_agents_metrics.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

refactor(test): adopt centralized Keycloak fixtures in test_keycloak_admin
  tests/integration/test_keycloak_admin.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): normalize persona visible_modules to match frontend NAV_ITEMS
  src/mcp_server_langgraph/api/v1/user.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(api): add contract and unit tests for visible_modules normalization
  tests/contract/test_user_me_frontend_contract.py
  tests/unit/api/v1/test_user_persona_response.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): implement Sprint 4 server-driven navigation and AI predictions
  src/mcp_server_langgraph/studio/frontend/e2e/ai-nav-predictions.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/fixtures/mock-factories.ts
  src/mcp_server_langgraph/studio/frontend/e2e/navigation-auto-loading.spec.ts
  src/mcp_server_langgraph/studio/frontend/e2e/persona-navigation.spec.ts
  src/mcp_server_langgraph/studio/frontend/eslint.config.js
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/App.tsx
  src/mcp_server_langgraph/studio/frontend/src/api/index.ts
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/contexts/FeatureFlagContext.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useSessionIntelligence.ts
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/ActivityBar.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/StudioShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/UserMenuDropdown.tsx
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaRouter.tsx
  src/mcp_server_langgraph/studio/frontend/src/persona/PersonaVariants.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/personaSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/sessionSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/session.ts
Due: none

feat(api): add normalize_module_id helper for backward compatibility
  src/mcp_server_langgraph/api/v1/user.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(api): update ai_ux_service to use normalized module IDs
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

test(studio): update App tests for routing and persona changes
  src/mcp_server_langgraph/studio/frontend/src/App.test.tsx
Due: none

feat(studio): add observability routes and refactor PermissionGuard
  src/mcp_server_langgraph/studio/frontend/src/main.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PermissionGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/PermissionGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
Due: none

feat(studio): implement offline queue conflict resolution strategies
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOfflineQueue.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useOfflineQueue.ts
Due: none

feat(studio): add SVG to PNG conversion in ArtifactExporter
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ArtifactExporter.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Artifacts/ArtifactExporter.tsx
Due: none

feat(studio): connect useInlineSuggestions to REST API
  src/mcp_server_langgraph/studio/frontend/src/hooks/useInlineSuggestions.ts
Due: none

refactor(websocket): extract MCP endpoint to ws_router and add trace broadcaster
  src/mcp_server_langgraph/api/v1/mcp_websocket.py
  src/mcp_server_langgraph/api/v1/ws_router.py
  src/mcp_server_langgraph/observability/trace_broadcaster.py
  src/mcp_server_langgraph/websocket/README.md
  src/mcp_server_langgraph/websocket/handlers/__init__.py
  src/mcp_server_langgraph/websocket/handlers/trace.py
  src/mcp_server_langgraph/websocket/registry.py
  tests/unit/websocket/handlers/test_trace_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(auth): add proactive OIDC token refresh for OpenFGA client
  src/mcp_server_langgraph/auth/openfga.py
  tests/unit/auth/test_openfga_oidc_token_refresh.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): enhance JSON logger and add logging filter middleware
  docker/alloy/config.alloy
  src/mcp_server_langgraph/middleware/__init__.py
  src/mcp_server_langgraph/middleware/logging_filter.py
  src/mcp_server_langgraph/observability/json_logger.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/middleware/test_logging_filter.py
  tests/unit/observability/test_json_logger.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): update WebSocket hooks and enhance page components
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAuditWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPTaskWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/ConnectionsPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/pages/MCPPage.tsx
  src/mcp_server_langgraph/studio/frontend/src/utils/webVitals.ts
Due: none

chore(config): update test infrastructure and vite config
  .env.test
  docker-compose.test.yml
  src/mcp_server_langgraph/studio/frontend/vite.config.ts
  tests/contract/test_openapi_schema_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(api): add comments linking AGENT_FEATURE_FLAGS to ORCHESTRATOR_REGISTRY
  src/mcp_server_langgraph/api/v1/agents.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

feat(core): add AI UX feature flags to frontend export
  src/mcp_server_langgraph/core/feature_flags.py
  tests/meta/test_feature_flag_consistency.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(studio): add useAIIntelligenceConfig hook
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.ts
Due: none

test(studio): add useAIIntelligenceConfig hook tests
  .env.test
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAIIntelligenceConfig.test.tsx
Due: none

build(deps): add dependency groups for lightweight Docker images
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

build(docker): refactor Dockerfiles to use uv dependency groups
  docker/Dockerfile.alembic
  docker/Dockerfile.authz-proxy
  docker/Dockerfile.openfga-seed
Due: none

refactor(core): implement lazy imports to reduce Docker image sizes
  src/mcp_server_langgraph/authz_proxy/dependencies.py
  src/mcp_server_langgraph/authz_proxy/server.py
  src/mcp_server_langgraph/core/__init__.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(studio): update useWorkflowExecution hook types
  docker-compose.test.yml
  docker/Dockerfile.sandbox
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useWorkflowExecution.ts
Due: none

build(deps): add prometheus-client to authz-proxy dependency group
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-pytest-config

test(authz_proxy): add dependency isolation tests
  tests/unit/authz_proxy/test_dependency_isolation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(test): update authz-proxy dependency test import paths
  tests/unit/authz_proxy/test_dependency_isolation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(observability): add OTLP protocol detection for HTTP/gRPC selection
  src/mcp_server_langgraph/observability/query/backends/loki.py
  src/mcp_server_langgraph/observability/telemetry.py
  tests/unit/observability/test_telemetry_protocol_detection.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(api): add MCP REST endpoints for tools and task results
  src/mcp_server_langgraph/api/v1/mcp.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

chore(docker): update Alloy config for OTLP HTTP receivers
  docker/alloy/config.alloy
Due: none

feat(studio): enhance WebSocket hooks with reconnection and typing
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAlertWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotificationWebSocket.ts
Due: none

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
