Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false

run-unit-tests:
  name: Run Unit Tests (focused suite - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest --testmon-noselect -n auto -m "unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

run-smoke-tests:
  name: Run Smoke Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/smoke/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs smoke tests to validate critical paths.
  
  
    Stops on first failure (-x) for faster feedback.
  
  ...

run-api-tests:
  name: Run API Endpoint Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m "api and unit and not llm" tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs API endpoint tests to match CI.
  
  
  ...

run-mcp-server-tests:
  name: Run MCP Server Tests
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto tests/unit/test_mcp_stdio_server.py -m "not llm" -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Runs MCP protocol server tests to match CI.
  
  
  ...

run-property-tests:
  name: Run Property-Based Tests (dev profile - 25 examples)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run pytest -n auto -m property tests/ -x --tb=short'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/check_test_sleep_duration.py
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

feat(infra): add repo root path validation infrastructure (Phase 3)
  .github/workflows/smoke-tests.yml
  .pre-commit-config.yaml
  scripts/validate_repo_root_calculations.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

fix(types): resolve all 26 MyPy warnings with targeted type annotations
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/core/feature_flags.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/monitoring/cost_api.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/presets/quickstart.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-minimum-coverage

fix(tests): resolve 4 critical test failures from middleware auth refactoring
  src/mcp_server_langgraph/api/auth_request_middleware.py
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/app.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/conftest.py
  tests/integration/test_gdpr.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/test_auth_middleware.py
  tests/test_conversation_state_persistence.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(tests): resolve all 7 integration test failure buckets (78+ tests)
  docker-compose.test.yml
  scripts/test-integration.sh
  tests/README.md
  tests/e2e/keycloak-test-realm.json
  tests/integration/test_docker_health_checks.py
  tests/integration/test_gdpr_endpoints.py
  tests/integration/test_kubernetes_health_probes.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): resolve 5 pre-existing test failures with fixture/mock improvements
  tests/conftest.py
  tests/regression/test_auth_middleware_isolation.py
  tests/unit/test_llm_fallback_kwargs.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

feat(infra): add database retry logic with exponential backoff and startup validation
  docker-compose.dev.yml
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/compliance/gdpr/factory.py
  src/mcp_server_langgraph/infrastructure/app_factory.py
  src/mcp_server_langgraph/utils/retry.py
  tests/api/test_database_startup_validation.py
  tests/infrastructure/test_gdpr_storage_initialization.py
  tests/infrastructure/test_retry_integration_simple.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(tests): separate unit and integration tests for database connectivity
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/compliance/gdpr/factory.py
  src/mcp_server_langgraph/infrastructure/database.py
  tests/api/test_database_startup_validation.py
  tests/integration/test_database_connectivity_real.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): resolve critical testing infrastructure issues with prevention mechanisms
  .github/workflows/e2e-tests.yaml
  .mypy-baseline.txt
  INTEGRATION_TEST_FINDINGS.md
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_2025-11-21.md
  tests/e2e/test_full_user_journey.py
  tests/integration/e2e/__init__.py
  tests/meta/test_ci_workflow_redundancy.py
  tests/meta/test_e2e_organization.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

fix(tests): resolve test_app_factory.py DB dependency issue
  src/mcp_server_langgraph/app.py
  tests/unit/test_app_factory.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci): update test paths after reorganization
  .github/workflows/ci.yaml
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

refactor(tests): extract non-autouse fixtures into modular package
  docs-internal/TESTING_STRATEGY_VALIDATION_REPORT.md
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/docker_fixtures.py
  tests/fixtures/time_fixtures.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(tests): correct path calculations in moved workflow tests
  tests/meta/ci/test_workflow_dependencies.py
  tests/meta/ci/test_workflow_security.py
  tests/meta/ci/test_workflow_syntax.py
  tests/meta/infrastructure/test_docker_paths.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs(tests): add comprehensive reorganization documentation
  tests/MIGRATION_GUIDE.md
  tests/README.md
Due: validate-documentation-integrity, validate-documentation-structure

fix(tests): add missing @pytest.mark.integration markers
  tests/integration/compliance/test_hipaa.py
  tests/integration/test_conversation_state_persistence.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(gdpr): eliminate global singleton to fix pytest-xdist cross-worker pollution
  pyproject.toml
  src/mcp_server_langgraph/api/gdpr.py
  src/mcp_server_langgraph/compliance/gdpr/factory.py
  tests/regression/test_gdpr_singleton_parallel_isolation.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat(e2e): implement comprehensive GDPR compliance E2E tests
  tests/e2e/test_full_user_journey.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(tests): extract database fixtures to dedicated module
  tests/conftest.py
  tests/fixtures/database_fixtures.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

feat(infra): replace hardcoded sleeps with smart wait utility
  Makefile
  scripts/test-integration.sh
  scripts/utils/wait_for_services.sh
Due: none

test(meta): add comprehensive schema parity validation suite
  docs-internal/SCHEMA_MANAGEMENT_VALIDATION_2025-11-22.md
  tests/meta/test_alembic_schema_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs(testing): create comprehensive implementation backlog for testing improvements
  docs-internal/TESTING_INFRASTRUCTURE_IMPROVEMENTS_BACKLOG.md
Due: validate-documentation-integrity, validate-documentation-structure

feat(tests): add behavioral mock framework for unit test refactoring
  tests/unit/test_mcp_server_behavioral.py
  tests/utils/mock_factories.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor: consolidate validation scripts and optimize CI
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  Makefile
  scripts/validation/check_async_mock_configuration.py
  scripts/validation/check_async_mock_usage.py
  scripts/validation/check_e2e_completion.py
  scripts/validation/check_internal_links.py
  scripts/validation/check_mermaid_styling.py
  scripts/validation/check_test_environment_isolation.py
  scripts/validation/check_test_memory_safety.py
  scripts/validation/check_test_sleep_budget.py
  scripts/validation/check_test_sleep_duration.py
  scripts/validation/check_version_consistency.py
  scripts/validation/validate_api_schemas.py
  scripts/validation/validate_async_fixture_scope.py
  scripts/validation/validate_ci_cd.py
  scripts/validation/validate_docker_image_contents.py
  scripts/validation/validate_github_workflows.py
  scripts/validation/validate_gke_autopilot_compliance.py
  scripts/validation/validate_keycloak_config.py
  scripts/validation/validate_migration_idempotency.py
  scripts/validation/validate_pre_push_hook.py
  scripts/validation/validate_pytest_config.py
  scripts/validation/validate_pytest_markers.py
  scripts/validation/validate_repo_root_calculations.py
  scripts/validation/validate_serviceaccount_names.py
  scripts/validation/validate_test_fixtures.py
  scripts/validation/validate_test_ids.py
  scripts/validation/validate_test_time_bombs.py
Due: check-banned-imports, actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

Fix indentation, docs.json path, and pre-commit config
  .pre-commit-config.yaml
  Makefile
  collected_tests.txt
  docs/docs.json
  fix_unused_ignores_6.py
  integration_test_output.txt
  integration_test_output_2.txt
  integration_test_output_3.txt
  pyproject.toml
  test_e2e_output_3.txt
  test_unit_output.txt
  tests/api/test_api_versioning.py
  tests/api/test_bearer_scheme_diagnostic.py
  tests/api/test_error_handlers.py
  tests/cli/test_add_tool.py
  tests/cli/test_cli.py
  tests/cli/test_create_agent.py
  tests/cli/test_init.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/fixtures/time_fixtures.py
  tests/infrastructure/test_app_factory.py
  tests/infrastructure/test_database_ha.py
  tests/integration/api/test_health.py
  tests/integration/test_database_connectivity_real.py
  tests/integration/test_kubernetes_health_probes.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_pytest_xdist_enforcement.py
  unit_test_output.txt
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-api-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Fix app startup validation in tests and script paths
  docs/docs.json
  integration_test_output_3.txt
  scripts/validation/validate_pytest_config.py
  scripts/validation/validate_serviceaccount_names.py
  src/mcp_server_langgraph/app.py
  tests/unit/test_gke_autopilot_validator.py
  tests/unit/test_pytest_marker_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Fix remaining meta-test path issues and adjust regression thresholds
  collected_tests.txt
  docker/prometheus.yml
  scripts/utils/wait_for_services.sh
  scripts/validation/validate_serviceaccount_names.py
  src/mcp_server_langgraph/api/health.py
  src/mcp_server_langgraph/app.py
  test_e2e_output_4.txt
  test_unit_output.txt
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_codex_validations.py
  tests/meta/validation/test_docker_compose_validation.py
  tests/meta/validation/test_yaml_syntax.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor: Improve CI/CD parity, simplify Makefile, and modularize conftest
  .github/workflows/integration-tests.yaml
  Makefile
  scripts/test-integration.sh
  scripts/validation/validate_repo_root_calculations.py
  tests/conftest.py
  tests/fixtures/litellm_patch.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-github-action-versions, validate-test-ids, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

fix: Resolve path calculation violations and pre-commit warning
  .pre-commit-config.yaml
  tests/meta/ci/test_workflow_validation.py
  tests/meta/validation/test_docker_compose_validation.py
  tests/meta/validation/test_documentation_integrity.py
  tests/meta/validation/test_gitleaks_config.py
  tests/meta/validation/test_yaml_syntax.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Update project configuration: adjust .gitignore, pre-commit hooks, and cleanup tracked files
  .gitignore
  .pre-commit-config.yaml
  Makefile
  flake8-baseline.txt
  mypy_errors_6.txt
  scripts/validation/check_async_mock_configuration.py
  scripts/validation/check_async_mock_usage.py
  scripts/validation/check_asyncmock_usage.py
  scripts/validation/validate_async_fixture_scope.py
  scripts/validation/validate_fast.py
  scripts/validation/validate_test_ids.py
  state_pollution_report.txt
  unit_test_output.txt
Due: check-banned-imports

Consolidate Redis containers for integration tests
  docker-compose.test.yml
  docker/prometheus.yml
  scripts/test-integration.sh
Due: validate-docker-compose-health-checks

Fix(mypy, tests): Resolve type errors and update test configuration
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/llm/factory.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/meta/test_compose_file_usage.py
  tests/unit/config/test_postgres_connection_config.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

test(validation): whitelist known commands in docker-compose validation
  tests/meta/validation/test_docker_compose_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Fix: CI/CD validation parity, pre-commit hooks and test code updates.
  .pre-commit-config.yaml
  tests/meta/test_compose_file_usage.py
  tests/meta/test_local_ci_parity.py
  tests/regression/test_pytest_xdist_port_conflicts.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: address validation audit findings (scripts, types, security, tests)
  adr/README.md
  deployments/argocd/base/argocd-install.yaml
  deployments/argocd/base/kustomization.yaml
  deployments/argocd/base/secret.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/base/postgres-statefulset.yaml
  run_audit.sh
  scripts/validation/file_naming_validator.py
  scripts/validation/mdx_extension_validator.py
  src/mcp_server_langgraph/core/agent.py
  src/mcp_server_langgraph/resilience/circuit_breaker.py
  tests/integration/api/test_api_keys_endpoints.py
  tests/integration/property/test_auth_properties.py
  tests/integration/security/test_scim_service_principal_openfga.py
  tests/integration/test_agent.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_database_connectivity_real.py
  tests/integration/test_gdpr.py
  tests/integration/test_openfga_cleanup.py
  tests/integration/test_openfga_client.py
  tests/integration/test_soc2_evidence.py
  tests/meta/test_kubectl_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-adr-sync, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Fix: Resolve MyPy errors in agent.py related to Sequence to List type mismatches
  src/mcp_server_langgraph/core/agent.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-minimum-coverage

docs(security): Fix .trivyignore accuracy - remove incorrect PostgreSQL/Keycloak exceptions
  .trivyignore
  deployments/base/.trivyignore
  tests/integration/deployment/test_keycloak_readonly_filesystem.py
  tests/meta/validation/test_kubernetes_security.py
  tests/unit/core/test_agent_type_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-unit-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  run-smoke-tests: any of: ^(src/.*\.py|tests/smoke/.*\.py)$
  run-api-tests: any of: ^(src/.*\.py|tests/api/.*\.py)$
  run-mcp-server-tests: any of: ^(src/.*\.py|tests/unit/test_mcp_stdio_server\.py)$
  run-property-tests: any of: ^(src/.*\.py|tests/.*\.py)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
