Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers

Path conditions:
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$

test(dependencies): add Redis URL parsing validation tests (Phase 3)
  tests/unit/test_dependencies_wiring.py
Due: validate-dependency-injection, validate-pytest-markers

style: black formatting for linter compliance
  src/mcp_server_langgraph/core/dependencies.py
  tests/conftest_fixtures_plugin.py
  tests/kubernetes/test_high_priority_improvements.py
  tests/unit/test_dependencies_wiring.py
Due: validate-dependency-injection, validate-pytest-markers

style: isort import formatting
  src/mcp_server_langgraph/core/dependencies.py
  tests/kubernetes/test_high_priority_improvements.py
Due: validate-dependency-injection, validate-pytest-markers

test(security): validate production auth requirements (Phase 4 - Finding #6)
  tests/core/test_container.py
Due: validate-pytest-markers

fix(ci/tests): fix all critical CI/CD workflow failures (TDD)
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  docs/CRITICAL_FIXES_SUMMARY.md
  tests/integration/test_app_startup_validation.py
  tests/test_health_check.py
  tests/test_rate_limiter.py
Due: check-doc-links, validate-documentation-quality, validate-github-workflows, validate-pytest-markers

feat(ci/tests): add comprehensive regression prevention tests and hooks (TDD)
  .github/workflows/gcp-compliance-scan.yaml
  .pre-commit-config.yaml
  tests/test_regression_prevention.py
Due: validate-github-workflows, validate-pytest-markers

add Benchmark (pytest) benchmark result for 3ca058a24a8df15298145ad6784c36a1f6c2fd31
  dev/bench/data.js
Due: none

test(codex): OpenAI Codex findings remediation with TDD prevention
  .pre-commit-config.yaml
  =1.5.1
  deployments/overlays/production-gke/config-vars.yaml
  deployments/overlays/staging-gke/config-vars.yaml
  deployments/policies/health-check-validation.rego
  deployments/policies/namespace-consistency.rego
  deployments/policies/port-validation.rego
  deployments/policies/yaml-syntax.rego
  docs-internal/CLOUD_SQL_CONNECTION_STRATEGY.md
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/execution/docker_sandbox.py
  tests/conftest.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_service_accounts.py
  tests/integration/execution/test_docker_sandbox.py
  tests/meta/test_codex_validations.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_github_actions_validation.py
  tests/meta/test_suite_validation.py
  tests/monitoring/test_cost_tracker.py
  tests/test_feature_flags.py
  tests/test_gdpr.py
  tests/unit/core/test_config_network_security.py
  tests/unit/execution/test_network_mode_logic.py
  tests/unit/test_cache_redis_config.py
Due: check-doc-links, validate-documentation-quality, validate-dependency-injection, validate-pytest-markers

test(deployment): comprehensive K8s validation infrastructure (OpenAI Codex Phase 4)
  .github/actions/setup-python-deps/action.yml
  .github/workflows/ci.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/performance-regression.yaml
  .github/workflows/release.yaml
  .github/workflows/security-validation.yml
  docs-internal/GITHUB_ACTIONS_VALIDATION_REPORT.md
  src/mcp_server_langgraph/core/config.py
Due: check-doc-links, validate-documentation-quality, validate-github-workflows

test(codex): complete remaining Codex findings with TDD prevention
  src/mcp_server_langgraph/core/cache.py
  tests/conftest.py
  tests/conftest_fixtures_plugin.py
  tests/meta/test_plugin_guards.py
  tests/unit/core/test_cache_isolation.py
Due: validate-dependency-injection, validate-pytest-markers

test(cache): update cache isolation test documentation (Finding #6 follow-up)
  tests/unit/core/test_cache_isolation.py
Due: validate-pytest-markers

docs(storage): document async conversation store limitation (Finding #2)
  .github/workflows/deployment-validation.yml
  .pre-commit-config.yaml
  deployments/base/serviceaccount-roles.yaml
  deployments/base/serviceaccounts.yaml
  tests/e2e/helpers.py
  tests/e2e/test_full_user_journey.py
  tests/e2e/test_real_clients.py
  tests/meta/test_codex_validations.py
  tests/unit/storage/test_conversation_store_async.py
Due: validate-cors-security, validate-github-workflows, validate-pytest-markers

test(codex): validate and remediate OpenAI Codex findings using TDD
  tests/meta/test_codex_validations.py
Due: validate-pytest-markers

fix(deployment): resolve all OpenAI Codex findings with TDD (Phase 4 complete)
  .github/workflows/coverage-trend.yaml
  .github/workflows/dora-metrics.yaml
  .github/workflows/link-checker.yaml
  .github/workflows/security-scan.yaml
  .github/workflows/security-validation.yml
  .github/workflows/terraform-validate.yaml
  docs-internal/GITHUB_ACTIONS_FINAL_REPORT.md
  tests/meta/test_github_actions_validation.py
Due: check-doc-links, validate-documentation-quality, validate-github-workflows, validate-pytest-markers

docs(adr): fix duplicate ADR-0043 by renumbering pytest fixture consolidation to ADR-0049
  adr/adr-0049-pytest-fixture-consolidation.md
Due: check-doc-links, validate-documentation-quality

docs(tdd): comprehensive TDD safeguards documentation for Codex findings
  docs-internal/CODEX_FINDINGS_TDD_SAFEGUARDS.md
Due: check-doc-links, validate-documentation-quality

test(codex): fix Hypothesis configuration guard (OpenAI Codex Finding #11)
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT.md
  tests/conftest.py
  tests/meta/test_codex_validations.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

fix(ci): add file existence check for coverage artifact merge (TDD)
  .github/workflows/ci.yaml
  docs-internal/CODEX_GITHUB_ACTIONS_WORKFLOW_VALIDATION.md
  tests/test_workflow_validation.py
Due: check-doc-links, validate-documentation-quality, validate-github-workflows, validate-pytest-markers

test(integration): convert hard skips to conditional skips (OpenAI Codex remediation)
  tests/api/test_api_keys_endpoints.py
  tests/integration/execution/test_docker_sandbox.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/meta/test_suite_validation.py
  tests/test_agent.py
  tests/test_context_manager_llm.py
  tests/test_openfga_client.py
  tests/test_secrets_manager.py
Due: validate-pytest-markers

fix(security): require explicit opt-in for authorization fallback (Finding #1 - TDD GREEN)
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/dependencies.py
  tests/security/test_authorization_fallback_controls.py
Due: validate-dependency-injection, validate-pytest-markers

fix(deployment): resolve critical OpenAI Codex manifest findings with TDD
  deployments/base/kustomization.yaml
  deployments/base/networkpolicy.yaml
  deployments/base/serviceaccount-roles.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/sla.yaml
  deployments/kubernetes/overlays/aws/kustomization.yaml
  deployments/kubernetes/overlays/azure/kustomization.yaml
  deployments/kubernetes/overlays/gcp/kustomization.yaml
  scripts/validate_manifests.sh
  tests/test_deployment_manifests.py
Due: validate-deployment-secrets, validate-cors-security, validate-pytest-markers

feat(workflows): add GCP secret validation and improve workflow testing (TDD Phase 3)
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/deploy-staging-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/gcp-drift-detection.yaml
  tests/test_workflow_validation.py
Due: validate-github-workflows, validate-pytest-markers

docs: complete Phase 3 validation and remediation summary
  docs-internal/CODEX_GITHUB_ACTIONS_WORKFLOW_VALIDATION.md
Due: check-doc-links, validate-documentation-quality

fix(security): remove hard-coded credentials from InMemoryUserProvider (Finding #2 - TDD GREEN)
  README.md
  deployments/base/keycloak-deployment.yaml
  deployments/base/openfga-deployment.yaml
  deployments/base/postgres-statefulset.yaml
  deployments/base/qdrant-deployment.yaml
  deployments/base/redis-session-deployment.yaml
  deployments/base/resourcequota.yaml
  deployments/overlays/dev/ingress-cors-patch.yaml
  deployments/overlays/dev/kustomization.yaml
  deployments/overlays/production-gke/deployment-patch.yaml
  deployments/overlays/production-gke/network-policy.yaml
  deployments/overlays/production-gke/pod-disruption-budget.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  deployments/overlays/staging-gke/serviceaccount-external-secrets.yaml
  deployments/overlays/staging-gke/serviceaccount-keycloak.yaml
  deployments/overlays/staging-gke/serviceaccount-openfga.yaml
  deployments/overlays/staging/kustomization.yaml
  deployments/service-mesh/istio/istio-config.yaml
  docs/architecture/adr-0049-pytest-fixture-consolidation.mdx
  docs/architecture/overview.mdx
  docs/ci-cd/badges.mdx
  docs/docs.json
  src/mcp_server_langgraph/auth/user_provider.py
  tests/security/test_no_hardcoded_credentials.py
  tests/test_auth.py
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-cors-security, validate-redis-password-required, check-mermaid-styling, validate-pytest-markers

fix(deployment): complete OpenAI Codex findings remediation (Phase 2)
  .github/workflows/deployment-validation.yml
  deployments/README.md
  deployments/base/README.md
  deployments/optimized/deployment.yaml
  deployments/overlays/production/kustomization.yaml
Due: check-doc-links, validate-documentation-quality, validate-github-workflows

feat(workflows): complete Phase 3.2 and 3.4 - Docker consistency test + GCP secrets docs (TDD)
  .github/SECRETS.md
  tests/test_workflow_validation.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

fix(security): update production network config to match actual behavior (Finding #3 - TDD GREEN)
  docs-internal/CRITICAL_FIXES_SUMMARY.md
  docs-internal/DEPLOYMENT_IMPROVEMENTS_SUMMARY.md
  docs-internal/DEPLOYMENT_RUNBOOK.md
  docs-internal/IMPLEMENTATION_SUMMARY.md
  docs-internal/LESSONS_LEARNED.md
  docs-internal/code-execution-implementation-summary.md
  docs-internal/operations/DEPENDENCY_MANAGEMENT.md
  docs-internal/operations/MIGRATION_GUIDE_SECURITY_FIXES.md
  docs-internal/operations/SECURITY_AUDIT_FIXES_2025-01-06.md
  docs-internal/operations/SECURITY_FIXES_2025_11_05.md
  docs-internal/operations/optimization-history.md
  docs-internal/reference-README.md
  docs-internal/testing/SUMMARY-phases-1-2.md
  docs-internal/testing/dependency-injection-testing.md
  docs-internal/testing/phase2-e2e-infrastructure.md
  docs-internal/testing/test-infrastructure-improvements.md
  docs/deployment/iam-rbac-requirements.mdx
  docs/docs.json
  docs/reference/development/development.mdx
  src/mcp_server_langgraph/execution/resource_limits.py
  tests/security/test_network_mode_transparency.py
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, check-mermaid-styling, validate-pytest-markers

docs: OpenAI Codex remediation 100% complete - final summary
  docs-internal/CODEX_REMEDIATION_COMPLETE.md
Due: check-doc-links, validate-documentation-quality

docs(audit): comprehensive documentation cleanup and TDD validation
  tests/test_documentation_integrity.py
Due: validate-pytest-markers

fix(tests): add missing os imports to fix flake8 errors
  tests/integration/test_anthropic_enhancements_integration.py
  tests/test_agent.py
  tests/test_context_manager_llm.py
  tests/test_openfga_client.py
Due: validate-pytest-markers

fix(tests): add missing os import to test_docker_sandbox.py
  tests/integration/execution/test_docker_sandbox.py
Due: validate-pytest-markers

fix(tests): resolve flake8 unused variable warning
  tests/security/test_network_mode_transparency.py
  tests/security/test_no_hardcoded_credentials.py
  tests/test_auth.py
  tests/test_secrets_manager.py
Due: validate-pytest-markers

fix(security): improve token counting with enhanced logging and validation (Finding #4 - TDD GREEN)
  src/mcp_server_langgraph/utils/response_optimizer.py
  tests/security/test_accurate_token_counting.py
Due: validate-pytest-markers

fix(deployment): complete OpenAI Codex remediation with Helm improvements (Phase 3)
  deployments/helm/mcp-server-langgraph/prometheus-rules/langgraph-agent.yaml
  deployments/helm/mcp-server-langgraph/prometheus-rules/sla.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-langgraph.yaml
  deployments/helm/mcp-server-langgraph/templates/prometheus-rules-sla.yaml
  tests/test_deployment_manifests.py
Due: validate-deployment-secrets, validate-pytest-markers

fix(security): add monitoring for API key enumeration performance (Finding #5 - TDD GREEN)
  monitoring/gcp/README.md
  monitoring/otel-collector/README.md
  src/mcp_server_langgraph/auth/api_keys.py
  tests/security/test_api_key_performance_monitoring.py
  tests/test_documentation_integrity.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

style: run black formatter on test_documentation_integrity.py
  tests/test_documentation_integrity.py
Due: validate-pytest-markers

fix(security): integrate OpenFGA for SCIM/Service Principal authorization (Finding #6 - TDD GREEN)
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/utils/response_optimizer.py
  tests/security/test_accurate_token_counting.py
  tests/security/test_api_key_indexed_lookup.py
  tests/security/test_api_key_performance_monitoring.py
  tests/security/test_scim_service_principal_openfga.py
Due: validate-pytest-markers

docs(security): comprehensive OpenAI Codex findings remediation report
  .pre-commit-config.yaml
  docs-internal/CODEX_FINDINGS_REMEDIATION_REPORT.md
  docs-internal/DOCUMENTATION_TESTING_STRATEGY.md
Due: check-doc-links, validate-documentation-quality

fix(lint): add OpenFGA imports and dependencies to SCIM/SP endpoints
  src/mcp_server_langgraph/api/scim.py
  src/mcp_server_langgraph/api/service_principals.py
Due: none

fix(tests): update auth tests for Codex findings #1 and #2 compatibility
  .github/actions/setup-python-deps/action.yml
  .github/workflows/e2e-tests.yaml
  .github/workflows/quality-tests.yaml
  deployments/overlays/production-gke/kustomization.yaml
  deployments/overlays/production-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging-gke/kustomization.yaml
  deployments/overlays/staging-gke/otel-collector-configmap-patch.yaml
  tests/security/test_scim_service_principal_openfga.py
  tests/test_auth.py
  tests/test_ci_cd_validation.py
  tests/test_user_provider.py
Due: validate-github-workflows, validate-pytest-markers
