Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  entry: python .pre-commit-hooks/check_banned_imports.py
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/validation/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run python scripts/validation/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run python scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run python scripts/validation/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run python scripts/validation/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

feat(ci): add multi-Python version smoke testing for pre-push validation
  .claude/memory/python-environment-usage.md
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/test_python_versions.sh
Due: none

feat(ci): add multi-Python version smoke testing for pre-push validation
  .github/workflows/ci.yaml
  .github/workflows/coverage-trend.yaml
  .github/workflows/e2e-tests.yaml
  .github/workflows/integration-tests.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/weekly-reports.yaml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/run_pre_push_tests.py
  scripts/test_python_versions.sh
  tests/meta/test_local_ci_parity.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): complete builder extra removal and add preventive validation
  .github/WORKFLOW_AUDIT_COMPLETION_REPORT.md
  .github/WORKFLOW_TESTING_CHECKLIST.md
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  docker/Dockerfile
  docker/Dockerfile.test
  docs-internal/CODEX_FINDINGS_VALIDATION_REPORT_2025-11-21.md
  docs-internal/WORKFLOW_CONSOLIDATION_REPORT.md
  docs/ci-cd/local-testing.mdx
  docs/development/cache-management-strategy.mdx
  docs/development/commands.mdx
  tests/meta/test_dockerfile_uv_sync.py
  tests/meta/test_extra_references.py
  tests/meta/test_local_ci_parity.py
  tests/regression/test_dev_dependencies.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, validate-docker-image-contents, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(security): address CodeQL alerts with comprehensive security hardening
  .github/codeql/codeql-config.yml
  .github/workflows/security-scan.yaml
  .pre-commit-config.yaml
  pyproject.toml
  scripts/setup/setup_keycloak.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/secrets/manager.py
  tests/deployment/test_service_accounts.py
  tests/security/test_deployment_security_regression.py
  tests/utils/mock_factories.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(hooks): look for semgrep in .venv before system PATH
  .pre-commit-config.yaml
Due: none

fix(security): add semgrep nosemgrep suppressions for legitimate findings
  scripts/validators/validate_ci_cd.py
  src/mcp_server_langgraph/compliance/gdpr/postgres_storage.py
  src/mcp_server_langgraph/core/test_helpers.py
Due: check-banned-imports, run-pre-push-tests

fix(tests): use sys.executable instead of hardcoded 'python' in subprocess calls
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_precommit_keycloak_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(deps): pin click<8.2.0 to avoid _textwrap module removal
  pyproject.toml
  uv.lock
Due: uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

fix(monitoring): use certifi for CA bundle in PrometheusClient
  pyproject.toml
  src/mcp_server_langgraph/monitoring/prometheus_client.py
  uv.lock
Due: check-banned-imports, uv-lock-check, run-pre-push-tests, validate-pytest-markers, validate-test-dependencies, validate-pytest-config

fix(ci): align coverage threshold to 75% across pyproject.toml and workflow
  .github/workflows/coverage-trend.yaml
  pyproject.toml
Due: uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-pytest-markers, regression-prevention-tests, validate-test-dependencies, validate-workflow-test-deps, validate-pytest-config

test(meta): add regression test for subprocess Python invocations
  tests/meta/test_performance_regression.py
  tests/meta/test_subprocess_interpreter_usage.py
  tests/meta/validation/test_documentation_integrity.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(security): add semgrep nosemgrep suppressions for legitimate findings
  .github/codeql/codeql-config.yml
  scripts/setup/setup_keycloak.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/builder/codegen/generator.py
Due: check-banned-imports, run-pre-push-tests

test(coverage): add unit tests for prompts and database models
  .github/workflows/ci.yaml
  tests/unit/core/test_prompts.py
  tests/unit/database/test_models.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(security): correct CodeQL config query-filter syntax
  .github/codeql/codeql-config.yml
Due: none

feat(security): add SecretString wrapper and comprehensive secrets obfuscation
  .github/workflows/ci.yaml
  .gitleaksignore
  .pre-commit-config.yaml
  pyproject.toml
  src/mcp_server_langgraph/core/config.py
  src/mcp_server_langgraph/core/security.py
  src/mcp_server_langgraph/secrets/manager.py
  tests/cli/test_cli.py
  tests/meta/test_performance_regression.py
  tests/meta/test_performance_regression_suite.py
  tests/monitoring/test_budget_monitor.py
  tests/regression/test_dev_dependencies.py
  tests/unit/secrets_obfuscation/__init__.py
  tests/unit/secrets_obfuscation/test_secrets_obfuscation.py
  uv.lock
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): remove secrets extra for Python 3.13 compatibility
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

docs: fix documentation sync issues and update ADR count to 62
  README.md
  docs/architecture/adr-0005-pydantic-ai-integration.mdx
  docs/architecture/adr-0024-agentic-loop-implementation.mdx
  docs/architecture/adr-0041-postgresql-gdpr-storage.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0048-postgres-storage-integration-tests.mdx
  docs/architecture/adr-0064-pre-commit-hooks-strategy.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

test(coverage): add unit tests for session, langsmith, and retry modules
  tests/unit/database/test_session.py
  tests/unit/observability/test_langsmith.py
  tests/unit/utils/test_retry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): add pre-commit hook for internal link checking
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  adr/adr-0030-resilience-patterns.md
Due: validate-adr-sync, validate-adr-index

test(coverage): add unit tests for cost_tracker module
  tests/monitoring/test_cost_tracker.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(security): remediate CodeQL CI check findings for PR #121
  .semgrep.yaml
  adr/README.md
  adr/adr-0066-helm-chart-security-risk-acceptance.md
  deployments/helm/mcp-server-langgraph/.trivyignore
  deployments/helm/mcp-server-langgraph/Chart.lock
  deployments/helm/mcp-server-langgraph/Chart.yaml
  deployments/helm/mcp-server-langgraph/charts/kube-prometheus-stack-79.6.1.tgz
  deployments/helm/mcp-server-langgraph/charts/redis-23.2.12.tgz
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
  docs/architecture/overview.mdx
  docs/docs.json
  terraform/modules/eks/iam.tf
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, validate-deployment-secrets, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, helm-lint

fix(ci): bust uv cache to fix Hypothesis Python 3.13 CI failures
  .github/actions/setup-python-deps/action.yml
Due: validate-github-workflows-comprehensive

docs(adr): add missing frontmatter to ADR-0066
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

docs(adr): add complete SEO frontmatter to ADR-0066
  docs/architecture/adr-0066-helm-chart-security-risk-acceptance.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

fix(ci): consolidate doc validation hooks for CI parity
  .github/workflows/docs-validation.yaml
  .pre-commit-config.yaml
  README.md
  scripts/docs/standardize_frontmatter.py
  scripts/validators/__init__.py
  scripts/validators/adr_sync_validator.py
  scripts/validators/file_naming_validator.py
  scripts/validators/mdx_extension_validator.py
  scripts/validators/validate_docs.py
  tests/meta/validation/test_documentation_integrity.py
  tests/unit/documentation/test_file_naming_validator.py
  tests/unit/documentation/test_mdx_extension_validator.py
  tests/unit/validators/test_adr_sync_validator.py
  tests/unit/validators/test_validate_docs.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(tests): add helm dependency build before template tests
  tests/deployment/test_helm_templates.py
  tests/meta/validation/test_deployment_manifests.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, check-test-memory-safety, check-async-mock-usage, validate-test-ids

fix(ci): use uv-managed Python path for all Docker variants
  .github/workflows/ci.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(ci): resolve GCP compliance scan false positives
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/local-preflight-check.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

docs: update weekly test infrastructure reports
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
Due: none

fix(ci): resolve GCP compliance scan false positives (#123)
  .github/workflows/gcp-compliance-scan.yaml
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(ci): comprehensive CI failure remediation and infrastructure hardening
  .github/workflows/ci.yaml
  .github/workflows/gcp-compliance-scan.yaml
  adr/README.md
  terraform/environments/gcp-staging-wif-only/main.tf
  terraform/environments/gcp-staging-wif-only/outputs.tf
  tests/meta/infrastructure/test_gcp_infrastructure_validation.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_github_actions_validation.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-adr-sync, validate-adr-index, validate-github-workflows-comprehensive, validate-test-fixtures, validate-pytest-markers, validate-test-collection, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-meta-test-quality, check-asyncmock-instantiation, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, check-test-memory-safety, check-async-mock-usage, validate-test-ids

chore: regenerate test infrastructure reports
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
Due: none

fix(scripts): force development environment in smoke test
  scripts/test_python_versions.sh
Due: none

fix(ci): staging deployment smoke test and rollback workflow issues
  .github/workflows/deploy-staging-gke.yaml
  scripts/gcp/staging-smoke-tests.sh
Due: actionlint-workflow-validation, validate-github-workflows-comprehensive, regression-prevention-tests, validate-workflow-test-deps

fix(terraform): add viewer roles to staging SA for observability
  terraform/environments/gcp-staging-wif-only/main.tf
Due: none

docs: reorganize documentation structure and fix icons
  docs/advanced/contributing.mdx
  docs/api-reference/api-compliance-report.mdx
  docs/architecture/adr-0033-service-principal-design.mdx
  docs/architecture/adr-0044-test-infrastructure-quick-wins.mdx
  docs/architecture/adr-0045-test-infrastructure-phase-2-foundation.mdx
  docs/architecture/adr-0053-ci-cd-failure-prevention-framework.mdx
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0060-database-architecture-and-naming-convention.mdx
  docs/ci-cd/local-testing.mdx
  docs/ci-cd/troubleshooting.mdx
  docs/comparisons/vs-claude-agent-sdk.mdx
  docs/comparisons/vs-crewai.mdx
  docs/comparisons/vs-google-adk.mdx
  docs/comparisons/vs-langgraph-cloud.mdx
  docs/comparisons/vs-microsoft-agent-framework.mdx
  docs/comparisons/vs-openai-agentkit.mdx
  docs/deployment/infrastructure/docker-healthcheck-patterns.mdx
  docs/deployment/infrastructure/gke-cluster-requirements.mdx
  docs/deployment/kubernetes/configmap-best-practices.mdx
  docs/deployment/kubernetes/keycloak-readonly-filesystem.mdx
  docs/deployment/kubernetes/kubernetes-best-practices-implementation.mdx
  docs/deployment/kubernetes/pod-crash-resolution-2025-11-12.mdx
  docs/deployment/monitoring/logging.mdx
  docs/docs.json
  docs/reference/configuration-files.mdx
  docs/reference/documentation-authoring-guide.mdx
  docs/reference/icon-selection-guide.mdx
  docs/reference/mermaid-guide.mdx
  docs/reference/quick-reference.mdx
  docs/reference/sources.mdx
  docs/security/compliance.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

docs: fix placeholder icon names to use Font Awesome
  docs/advanced/contributing.mdx
  docs/reference/documentation-authoring-guide.mdx
  docs/reference/icon-selection-guide.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-test-collection: any of: ^tests/.*\.py$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-async-mock-usage: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
