Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, check-mermaid-styling, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-grafana-dashboards, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-helm-chart-deps, validate-cloud-overlays, validate-no-placeholders, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: bash -c 'OTEL_SDK_DISABLED=true uv run --frozen python -u scripts/run_pre_push_tests.py'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-docs:
  name: Validate Documentation (Consolidated - MDX, Naming, Icons, ADR, Tests)
  entry: uv run --frozen python -u scripts/validators/validate_docs.py --all
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

validate-adr-index:
  name: Validate ADR Index is Up-to-Date
  entry: python -u scripts/docs/generate_adr_index.py --check
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Ensures adr/README.md index is up-to-date with all ADR files.
  
  
    Validates:
  
  ...

check-internal-links:
  name: Check Internal Documentation Links (GitHub, ADR, docs-internal)
  entry: uv run --frozen python -u scripts/ci/check-links.py --root-dir . --exclude archive/ reports/ docs/
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  ...

trivy-scan-k8s-manifests:
  name: Trivy Security Scan for Kubernetes Manifests
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

trivy-helm-scan:
  name: Trivy Helm Chart Security Scan
  ...

semgrep-security-scan:
  name: Semgrep Security Scan (CodeQL Parity)
  ...

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

helm-lint:
  name: Helm Lint Validation
  ...

perf(frontend): add adaptive resource management for Playwright E2E
  src/mcp_server_langgraph/studio/frontend/playwright.config.ts
Due: none

fix(frontend): add vitest worker cleanup to prevent orphan processes
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

chore(frontend): add storage migration docs and validation script
  src/mcp_server_langgraph/studio/frontend/docs/STORAGE_MIGRATION.md
  src/mcp_server_langgraph/studio/frontend/scripts/check-storage-usage.sh
Due: none

feat(frontend): upgrade vitest to v4 and vite to v7
  src/mcp_server_langgraph/studio/frontend/package.json
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

feat(shared): upgrade vitest to v4
  src/mcp_server_langgraph/shared/frontend/package.json
Due: none

fix(frontend): update test mocks for vitest 4 and jsdom 27
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/InteractiveChart.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useFileUpload.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useMCPConnection.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useNotifications.test.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useVoiceInput.test.ts
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
Due: none

ci: standardize Node 22 and add vitest orphan detection
  .github/workflows/accessibility-tests.yaml
  .github/workflows/ci.yaml
  .github/workflows/docs-validation.yaml
  .github/workflows/lighthouse-ci.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

chore: add .nvmrc files for Node version consistency
  src/mcp_server_langgraph/shared/frontend/.nvmrc
  src/mcp_server_langgraph/studio/frontend/.nvmrc
Due: none

fix(frontend): add Sandpack mock for jsdom 27 compatibility
  src/mcp_server_langgraph/studio/frontend/src/mocks/components/sandpack-react.ts
  src/mcp_server_langgraph/studio/frontend/vitest.config.ts
Due: none

chore(frontend): update package.json version constraints
  src/mcp_server_langgraph/studio/frontend/package.json
Due: none

docs(adr): add ADR-0076 Sandpack mock for jsdom 27 compatibility
  README.md
  adr/README.md
  adr/adr-0076-sandpack-jsdom-27-mock.md
  docs/architecture/adr-0076-sandpack-jsdom-27-mock.mdx
Due: validate-docs, mintlify-broken-links-check, validate-adr-index, check-internal-links, check-mermaid-styling

feat(frontend): implement Phase 1 Hybrid Canvas skeleton
  src/mcp_server_langgraph/studio/frontend/bundle-baseline.md
  src/mcp_server_langgraph/studio/frontend/docs/compliance-api-readiness.md
  src/mcp_server_langgraph/studio/frontend/docs/feature-flags-mapping.md
  src/mcp_server_langgraph/studio/frontend/docs/rbac-gaps-analysis.md
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/types/api.ts
  src/mcp_server_langgraph/studio/frontend/src/types/artifacts.ts
Due: none

feat(frontend): implement Phase 2 Contract-First development
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/canvasHandlers.test.ts
  src/mcp_server_langgraph/studio/frontend/src/mocks/handlers/canvasHandlers.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.test.ts
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/index.ts
Due: none

feat(frontend): implement Phase 3 RBAC persona-based navigation
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/layout/HybridShellLayout.tsx
Due: none

feat(frontend): implement Phase 4 AI-Native Features
  src/mcp_server_langgraph/studio/frontend/src/ai/BackgroundAgentPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/BackgroundAgentPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/InlineSuggestions.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/InlineSuggestions.tsx
  src/mcp_server_langgraph/studio/frontend/src/ai/index.ts
Due: none

feat(frontend): implement Phase 5 Compliance Dashboards
  src/mcp_server_langgraph/studio/frontend/src/compliance/ComplianceDashboard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/ComplianceDashboard.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/FedRAMPPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/FedRAMPPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/GDPRPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/GDPRPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/HIPAAPanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/HIPAAPanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/SOC2Panel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/SOC2Panel.tsx
  src/mcp_server_langgraph/studio/frontend/src/compliance/index.ts
Due: none

feat(frontend): implement Phase 6 Help & Accessibility
  src/mcp_server_langgraph/studio/frontend/src/help/ContextualHelp.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/ContextualHelp.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/HelpPane.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/KeyboardShortcuts.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/KeyboardShortcuts.tsx
  src/mcp_server_langgraph/studio/frontend/src/help/index.ts
Due: none

test(frontend): add Phase 7 parity tests for Hybrid Canvas modules
  src/mcp_server_langgraph/studio/frontend/src/test/hybrid-canvas-parity.test.ts
Due: none

feat(frontend): add Phase 7 integration for HybridShell gradual rollout
  src/mcp_server_langgraph/studio/frontend/docs/bundle-baseline.md
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/HybridShellGuard.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/guards/index.ts
  src/mcp_server_langgraph/studio/frontend/src/router/index.tsx
  src/mcp_server_langgraph/studio/frontend/src/router/loaders/canvasLoaders.ts
  src/mcp_server_langgraph/studio/frontend/src/store/index.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/aiContextSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/aiContextSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/backgroundAgentSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/backgroundAgentSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/canvasSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/complianceSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/complianceSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.test.ts
  src/mcp_server_langgraph/studio/frontend/src/store/slices/helpSlice.ts
  src/mcp_server_langgraph/studio/frontend/src/test/hybrid-canvas-parity.test.ts
Due: none

fix(frontend): resolve test isolation issues in mock cleanup
  scripts/validation/check_testid_consistency.py
  src/mcp_server_langgraph/studio/frontend/src/hooks/useHeartMetricsTracker.test.ts
  src/mcp_server_langgraph/studio/frontend/src/pages/ProjectDetailPage.test.tsx
Due: check-banned-imports, semgrep-security-scan

fix(frontend): add vitest worker cleanup to prevent orphan processes
  .claude/context/testing-patterns.md
  adr/adr-0076-sandpack-jsdom-27-mock.md
  src/mcp_server_langgraph/studio/frontend/src/test/setup.ts
Due: validate-docs, validate-adr-index, check-internal-links

feat(hooks): implement Claude Agent SDK hook system (Phase 1)
  .pre-commit-config.yaml
  src/mcp_server_langgraph/core/hook_registry.py
  src/mcp_server_langgraph/core/hooks.py
  src/mcp_server_langgraph/mcp/handlers/base.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/tools/sdk_adapter.py
  tests/unit/core/test_hook_registry.py
  tests/unit/core/test_hooks.py
  tests/unit/mcp/test_handler_hooks.py
  tests/unit/tools/test_sdk_adapter.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(hooks): implement interrupt capability (Phase 2)
  src/mcp_server_langgraph/api/v1/interrupt.py
  src/mcp_server_langgraph/core/interrupt.py
  src/mcp_server_langgraph/mcp/handlers/interrupt.py
  src/mcp_server_langgraph/mcp/models.py
  tests/unit/api/test_interrupt_endpoint.py
  tests/unit/core/test_agent_interrupt.py
  tests/unit/core/test_interrupt.py
  tests/unit/mcp/test_interrupt_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(checkpointing): implement file checkpointing (Phase 3)
  src/mcp_server_langgraph/core/file_journal.py
  src/mcp_server_langgraph/core/file_rewind.py
  tests/unit/core/test_file_journal.py
  tests/unit/core/test_file_rewind.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(core): implement Phase 4 - Structured Output Validation
  src/mcp_server_langgraph/core/output_format.py
  src/mcp_server_langgraph/core/schema_validator.py
  tests/unit/core/test_output_format.py
  tests/unit/core/test_schema_validator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(agents): implement Phase 6 - Enhanced Subagent Definition
  src/mcp_server_langgraph/agents/definition.py
  tests/unit/agents/test_agent_definition.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(tests): enable PII tokenization feature flag in test fixtures
  .pre-commit-config.yaml
  tests/compliance/conftest.py
  tests/integration/conftest.py
  tests/unit/privacy/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(tools): implement Phase 1 Foundation - Tool Examples, Think Tool, Defer Loading
  src/mcp_server_langgraph/tools/defer_loading.py
  src/mcp_server_langgraph/tools/examples.py
  src/mcp_server_langgraph/tools/think_tool.py
  tests/unit/tools/test_defer_loading.py
  tests/unit/tools/test_think_tool.py
  tests/unit/tools/test_tool_examples.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(skills): implement Phase 3 Skills System - Core, Discovery, Marketplace
  skills/code-review/SKILL.md
  skills/data-synthesis/SKILL.md
  skills/deployment/SKILL.md
  skills/document-analysis/SKILL.md
  skills/gdpr-audit/SKILL.md
  skills/hipaa-audit/SKILL.md
  skills/security-scan/SKILL.md
  skills/test-generation/SKILL.md
  skills/web-research/SKILL.md
  src/mcp_server_langgraph/skills/__init__.py
  src/mcp_server_langgraph/skills/discovery.py
  src/mcp_server_langgraph/skills/executor.py
  src/mcp_server_langgraph/skills/installer.py
  src/mcp_server_langgraph/skills/loader.py
  src/mcp_server_langgraph/skills/marketplace.py
  src/mcp_server_langgraph/skills/metrics.py
  src/mcp_server_langgraph/skills/models.py
  src/mcp_server_langgraph/skills/registry.py
  tests/integration/test_skill_execution.py
  tests/unit/mcp/test_skills_handler.py
  tests/unit/skills/test_skill_discovery.py
  tests/unit/skills/test_skill_executor.py
  tests/unit/skills/test_skill_installer.py
  tests/unit/skills/test_skill_loader.py
  tests/unit/skills/test_skill_marketplace.py
  tests/unit/skills/test_skill_metrics.py
  tests/unit/skills/test_skill_models.py
  tests/unit/skills/test_skill_registry.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(packaging): implement Phase 5 Desktop Extensions - .mcpb packaging
  packaging/README.md
  packaging/build.py
  packaging/manifest.json
  packaging/platform/linux.json
  packaging/platform/macos.json
  packaging/platform/windows.json
  src/mcp_server_langgraph/packaging/__init__.py
  src/mcp_server_langgraph/packaging/builder.py
  src/mcp_server_langgraph/packaging/models.py
  tests/unit/packaging/test_desktop_extension.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

docs(adr): add Architecture Decision Records for Anthropic Best Practices
  adr/adr-0076-sandpack-jsdom-27-mock.md
  adr/adr-0077-claude-agent-sdk-integration.md
  adr/adr-0078-multi-agent-orchestrator-patterns.md
  adr/adr-0079-multi-framework-tool-parity.md
  adr/adr-0080-llm-level-callback-system.md
  adr/adr-0081-handoff-pattern-multi-agent.md
  adr/adr-0082-mcp-client-capabilities.md
  adr/adr-0083-confidence-based-hitl-system.md
  docs-internal/ADR-0026-RESILIENCE-PATTERNS.md
  docs-internal/ADR-0072-ANTHROPIC-BEST-PRACTICES.md
  src/mcp_server_langgraph/mcp/handlers/__init__.py
  src/mcp_server_langgraph/mcp/handlers/agents.py
  src/mcp_server_langgraph/mcp/handlers/chat.py
  src/mcp_server_langgraph/mcp/handlers/execution.py
  src/mcp_server_langgraph/mcp/handlers/hooks.py
  src/mcp_server_langgraph/mcp/handlers/interrupt.py
  src/mcp_server_langgraph/mcp/handlers/orchestration.py
  src/mcp_server_langgraph/mcp/handlers/skills.py
  tests/unit/mcp/test_agents_handler.py
  tests/unit/mcp/test_elicitation_with_explanation.py
  tests/unit/mcp/test_execution_checkpoint.py
  tests/unit/mcp/test_hooks_handler.py
  tests/unit/mcp/test_mcp_executor.py
  tests/unit/mcp/test_mcp_http_transport.py
  tests/unit/mcp/test_mcp_protocol.py
  tests/unit/mcp/test_mcp_stdio_transport.py
  tests/unit/mcp/test_mcp_tool_proxy.py
  tests/unit/mcp/test_mcp_tool_registry.py
  tests/unit/mcp/test_models_output_format.py
  tests/unit/mcp/test_orchestration_handler.py
  tests/unit/mcp/test_orchestrator_resources.py
  tests/unit/mcp/test_server_integration.py
  tests/unit/mcp/test_studio_resource_naming.py
  tests/unit/mcp/test_tool_descriptions.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-docs, validate-adr-index, check-internal-links, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

feat(frontend): add AI-powered code analysis to CanvasArtifact
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/canvas/CanvasArtifact.tsx
Due: none

feat(agents): add AI-powered trace intelligence and explanations
  agent_state/sessions.json
  src/mcp_server_langgraph/agents/studio_orchestrator.py
  src/mcp_server_langgraph/api/v1/agent_requests.py
  src/mcp_server_langgraph/api/v1/ai_ux_service.py
  src/mcp_server_langgraph/mcp/elicitation.py
  src/mcp_server_langgraph/mcp/resources_orchestrator.py
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentExecutionTracePanel.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentExecutionTracePanel.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/index.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useAgentRequestWebSocket.ts
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceIntelligence.test.tsx
  src/mcp_server_langgraph/studio/frontend/src/hooks/useTraceIntelligence.ts
  tests/unit/api/v1/test_agent_requests_ai_explanation.py
  tests/unit/mcp/test_elicitation_ai_explanation.py
  tests/unit/mcp/test_resources_orchestrator.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

fix(frontend): update AgentExecutionTracePanel component
  src/mcp_server_langgraph/studio/frontend/src/components/Chat/AgentExecutionTracePanel.tsx
Due: none

feat(tests): add MCP handlers unit tests
  src/mcp_server_langgraph/studio/frontend/src/api/agentRequestContract.test.ts
  tests/unit/mcp/handlers/test_hooks_handler.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-async-mock-configuration, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids, check-test-environment-isolation

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-docs: any of: ^(docs/.*\.(md|mdx|json)|adr/.*\.md)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  check-internal-links: any of: ^(\.github/.*\.md|adr/.*\.md|docs-internal/.*\.md|README\.md|CONTRIBUTING\.md|CHANGELOG\.md)$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-grafana-dashboards: any of: ^(monitoring/grafana/dashboards/.*\.json|deployments/helm/.*/dashboards/.*\.json)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-helm-chart-deps: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-async-mock-configuration: any of: ^tests/.*test_.*\.py$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  check-test-environment-isolation: any of: ^tests/.*\.py$
