Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: uv-lock-check, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, check-mermaid-styling, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  entry: bash -c 'actionlint -no-color -shellcheck= .github/workflows/*.{yml,yaml} 2>&1'
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Advanced GitHub Actions workflow validation using actionlint.
  
  
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run python scripts/check_test_sleep_duration.py
  language: python
  additional_dependencies: []
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-pytest-config:
  name: Validate Pytest Configuration Compatibility
  entry: uv run python scripts/validate_pytest_config.py
  language: python
  additional_dependencies: []
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Validates that pytest addopts flags match installed plugin dependencies.
  
  
  ...

fix-mdx-syntax:
  name: Fix MDX Syntax Errors (Code Block Closings)
  entry: uv run python scripts/fix_mdx_syntax.py
  language: python
  additional_dependencies: []
  args:
  - --file
  pass_filenames: true
  always_run: false
  description: 'Automatically fixes common MDX syntax errors:
  
  ...

validate-mintlify-docs:
  name: Validate Mintlify Documentation
  entry: uv run python scripts/validate_mintlify_docs.py docs
  language: python
  additional_dependencies:
  - pyyaml>=6.0.0
  - rich>=13.0.0
  pass_filenames: false
  always_run: false
  stages:
  - pre-push

validate-docs-navigation:
  name: Validate Documentation Navigation Consistency
  entry: uv run python scripts/validators/navigation_validator.py
  language: python
  additional_dependencies: []
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Validates documentation navigation consistency (TDD):
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run python scripts/validators/mdx_extension_validator.py
  language: python
  additional_dependencies: []
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run python scripts/standardize_frontmatter.py docs --dry-run
  language: python
  additional_dependencies:
  - pyyaml>=6.0.0
  pass_filenames: false
  always_run: false

validate-deployment-secrets:
  name: Validate deployment secret keys alignment
  entry: uv run pytest tests/deployment/test_helm_configuration.py::test_deployment_secret_keys_exist_in_template -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: resolve integration test failures (JWT token mismatch + LangGraph 1.0.3 dict return)
  .github/workflows/optional-deps-test.yaml
  docker/docker-compose.test.yml
  scripts/identify_critical_tests.py
  tests/conftest.py
  tests/constants.py
  tests/patterns/test_supervisor.py
  tests/patterns/test_swarm.py
  tests/regression/test_langgraph_return_types.py
  tests/test_constants.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-docker-compose-health-checks, validate-keycloak-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

feat(ci): implement DORA metrics calculation functions following TDD
  scripts/ci/dora_metrics.py
Due: none

test: add pytest-xdist memory safety to LangGraph regression tests
  DOCUMENTATION_AUDIT_CHECKLIST.md
  tests/regression/test_langgraph_return_types.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(docs): resolve MDX syntax errors and improve documentation organization
  docs-internal/CODEX_FINDINGS_2025-11-16_COMPREHENSIVE_VALIDATION.md
  docs-internal/archive/audits/CLAUDE_AGENTS_AUDIT.md
  docs-internal/archive/audits/CODEX_FINDINGS_VALIDATION_REPORT.md
  docs-internal/archive/audits/PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
  docs-internal/archive/audits/SKIPPED_TESTS_DOCUMENTATION.md
  docs-internal/archive/audits/TEST_SUITE_REPORT.md
  docs-internal/archive/reference/AGENTS.md
  docs-internal/archive/reference/MDX_SYNTAX_GUIDE.md
  docs-internal/archive/reference/NAMING-CONVENTIONS.md
  docs-internal/archive/reference/QUICK_REFERENCE.md
  docs-internal/archive/reference/SECRETS.md
  docs/development/COMMANDS.mdx
  docs/development/VALIDATION_STRATEGY.mdx
  docs/docs.json
  docs/reference/development/build-verification.mdx
  docs/troubleshooting/overview.mdx
Due: fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, check-doc-links, validate-documentation-integrity, validate-documentation-structure, check-mermaid-styling, validate-code-block-languages

fix(docs): complete MDX angle bracket syntax fixes
  docs/development/COMMANDS.mdx
  docs/development/VALIDATION_STRATEGY.mdx
Due: fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, check-doc-links, validate-documentation-integrity, validate-documentation-structure, check-mermaid-styling, validate-code-block-languages

fix: ensure make test-integration always uses fresh Docker image
  Makefile
Due: none

refactor: standardize Docker network naming to mcp-test-network
  docker/docker-compose.test.yml
Due: validate-docker-compose-health-checks, validate-keycloak-config

fix: ensure e2e-tests workflow uses fresh Docker images with --build flag
  .github/workflows/e2e-tests.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix: resolve JWT token expiration and PostgreSQL connection issues in integration tests
  tests/conftest.py
  tests/security/test_sql_injection_gdpr.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix(tests): resolve 22 test failures from Codex validation findings
  docs/architecture/adr-0056-asyncmock-configuration-prevention.mdx
  docs/architecture/adr-0057-circuit-breaker-decorator-closure-isolation.mdx
  docs/development/COMMANDS.mdx
  docs/development/VALIDATION_STRATEGY.mdx
  docs/development/WORKFLOWS.mdx
  docs/development/WORKFLOW_DIAGRAM.mdx
  scripts/check_internal_links.py
  tests/conftest.py
  tests/core/test_cache.py
Due: check-test-sleep-duration, fix-mdx-syntax, validate-mintlify-docs, validate-docs-navigation, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, check-doc-links, validate-documentation-integrity, validate-documentation-structure, check-mermaid-styling, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix: create GDPR schema in integration tests and update authorization error pattern
  tests/integration/test_mcp_code_execution.py
  tests/security/test_sql_injection_gdpr.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor: standardize database naming to mcp_test convention
  docker/docker-compose.test.yml
  tests/security/test_sql_injection_gdpr.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, validate-keycloak-config, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat(auth): add worker-safe ID support for pytest-xdist test isolation
  src/mcp_server_langgraph/auth/middleware.py
  src/mcp_server_langgraph/auth/user_provider.py
  tests/test_auth.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(auth): complete worker-safe ID support in InMemoryUserProvider
  src/mcp_server_langgraph/auth/user_provider.py
  tests/test_user_provider.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(auth): handle JWT username extraction for worker-safe IDs
  src/mcp_server_langgraph/auth/middleware.py
  tests/test_auth.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): Keycloak user ID expectations for worker-safe IDs
  src/mcp_server_langgraph/auth/factory.py
  tests/test_user_provider.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: pass settings to AuthMiddleware to enable test environment fallback authorization
  docker/docker-compose.test.yml
Due: validate-docker-compose-health-checks, validate-keycloak-config

fix: create comprehensive 4-phase pre-push hook matching CI/CD
  docker-compose.test.yml
  migrations/001_gdpr_schema.sql
  tests/regression/test_documentation_code_blocks.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

remove: all code block validation/fix scripts per policy
  scripts/add_code_block_lang_tags.py
  scripts/add_code_block_languages.py
  scripts/fix_code_block_languages.py
  scripts/fix_code_blocks.py
  scripts/validate_code_block_languages.py
Due: none

fix: make MyPy non-blocking (warning-only mode) in pre-push
  .githooks/mypy-non-blocking
  .pre-commit-config.yaml
Due: none

fix(tests): resolve cache invalidate test AsyncMock issue and improve async-mock checker
  scripts/check_async_mock_usage.py
  tests/core/test_cache.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

chore: remove legacy backup and duplicate test files
  docker/.dockerignore.old
  scripts/validators/adr_sync_validator.py
  tests/workflows/test_workflow_validation.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): use worker-safe username in Keycloak user fixture
  tests/test_keycloak.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(deployment): enable readOnlyRootFilesystem for Keycloak with proper volume mounts
  deployments/overlays/staging-gke/keycloak-patch.yaml
  tests/deployment/pytest.ini
Due: trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds

fix(tests): correct SCIM delete_user OpenFGA assertion expectation
  tests/api/test_scim_security.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: accept Keycloak 22+ environment variable names (KC_BOOTSTRAP_ADMIN_*)
  tests/meta/test_codex_findings_validation.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: mark non-deterministic auth override test as xfail
  tests/regression/test_fastapi_auth_override_sanity.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: correct operator.add usage in use_tools node to prevent message duplication
  src/mcp_server_langgraph/core/agent.py
Due: validate-minimum-coverage

fix: execute SQL migrations statement-by-statement in integration tests
  tests/security/test_sql_injection_gdpr.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat: migrate from manual SQL to Alembic for database migrations
  alembic.ini
  alembic/README
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/8348487e5796_initial_gdpr_schema_user_profiles_.py
  pyproject.toml
  tests/security/test_sql_injection_gdpr.py
  uv.lock
Due: uv-lock-check, check-test-sleep-duration, validate-pytest-config, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): enable fallback authorization for MCP integration tests
  src/mcp_server_langgraph/observability/telemetry.py
  tests/integration/test_mcp_code_execution.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

test: add pytest markers and config consistency validation
  tests/meta/test_pytest_config_consistency.py
  tests/meta/test_report_freshness.py
  tests/regression/test_langgraph_return_types.py
  tests/test_constants.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat: add integration-tests.yaml workflow and optimize test infrastructure
  .claude-worktree-session
  .github/workflows/integration-tests.yaml
  README.md
  pyproject.toml
  tests/deployment/pytest.ini
Due: uv-lock-check, actionlint-workflow-validation, validate-pytest-config, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-github-workflows, validate-pytest-markers, regression-prevention-tests, validate-github-action-versions, validate-code-block-languages, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

fix: resolve test collection errors and add prevention hooks
  .claude-worktree-session
  .pre-commit-config.yaml
  .pre-commit-hooks/check_banned_imports.py
  .pre-commit-hooks/check_subprocess_timeout.py
  deployments/argocd/applications/mcp-server-app.yaml
  tests/meta/test_pytest_marker_registration.py
Due: check-test-sleep-duration, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat: add --dangerously-skip-permissions flag to Claude Code launch
  scripts/start-worktree-session.sh
Due: none

fix: resolve Helm template schema violations in staging/production values
  deployments/helm/values-production.yaml
  deployments/helm/values-staging.yaml
Due: validate-deployment-secrets, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, check-helm-placeholders, helm-lint

fix: resolve test import issues (toml→tomllib, docker, black)
  src/mcp_server_langgraph/execution/docker_sandbox.py
  tests/builder/test_code_generator.py
  tests/meta/test_pytest_marker_registration.py
  tests/unit/execution/test_docker_sandbox_unit.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: add timeout=60 to 126 subprocess.run() calls to prevent test hangs
  scripts/fix_subprocess_timeouts_ast.py
  tests/deployment/test_codex_findings_validation.py
  tests/deployment/test_configmap_secret_validation.py
  tests/deployment/test_dns_failover_verification.py
  tests/deployment/test_helm_configuration.py
  tests/deployment/test_helm_templates.py
  tests/deployment/test_kustomize_build.py
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_network_policies.py
  tests/deployment/test_placeholder_validation.py
  tests/deployment/test_service_accounts.py
  tests/deployment/test_service_dependencies.py
  tests/deployment/test_serviceaccount_naming_regression.py
  tests/integration/test_docker_image_assets.py
  tests/meta/test_async_mock_configuration.py
  tests/meta/test_codex_regression_prevention.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_local_ci_parity.py
  tests/meta/test_makefile_prepush_parity.py
  tests/meta/test_mcp_skip_auth_enforcement.py
  tests/meta/test_otel_security_context.py
  tests/meta/test_precommit_docker_image_validation.py
  tests/meta/test_precommit_keycloak_validation.py
  tests/meta/test_pytest_config_validation.py
  tests/meta/test_trivy_scans_rendered_manifests.py
  tests/regression/test_pod_deployment_regression.py
  tests/regression/test_uv_lockfile_sync.py
  tests/test_ci_cd_validation.py
  tests/test_deployment_manifests.py
  tests/test_gitignore_validation.py
  tests/test_gitleaks_config.py
  tests/test_kubernetes_security.py
  tests/test_workflow_health_dashboard_bc_fix.py
  tests/test_workflow_syntax.py
  tests/test_workflow_validation.py
  tests/utils/docker.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(integration-tests): resolve MCP auth failures and GDPR schema issues
  src/mcp_server_langgraph/mcp/server_stdio.py
  tests/conftest.py
  tests/integration/test_mcp_code_execution.py
  tests/integration/test_mcp_server_auth_injection.py
  tests/integration/test_mcp_test_user_registration.py
  tests/security/test_gdpr_schema_setup.py
  tests/security/test_sql_injection_gdpr.py
Due: check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix: resolve meta-test failures (pre-push hook validation, slash commands)
  .claude/commands/lint.md
  .claude/commands/review-pr.md
  .claude/commands/start-sprint.md
  .claude/commands/test-fast.md
  tests/meta/test_local_ci_parity.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-code-block-languages, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

Path conditions:
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  fix-mdx-syntax: any of: \.mdx$
  validate-mintlify-docs: any of: \.mdx$
  validate-docs-navigation: any of: ^(docs/.*\.mdx|docs/docs\.json)$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
