Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mdx-extensions, check-frontmatter-quotes, validate-adr-sync, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure, validate-adr-index, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, trivy-scan-k8s-manifests, validate-github-workflows, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, validate-serviceaccount-naming, check-helm-placeholders, validate-docker-compose-health-checks, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-fixture-scopes, validate-minimum-coverage

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-unit-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$
  run-smoke-tests: any of: ^(src/.*\.py|tests/smoke/.*\.py)$
  run-api-tests: any of: ^(src/.*\.py|tests/api/.*\.py)$
  run-mcp-server-tests: any of: ^(src/.*\.py|tests/unit/test_mcp_stdio_server\.py)$
  run-property-tests: any of: ^(src/.*\.py|tests/.*\.py)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.mdx$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-documentation-structure: any of: \.(md|mdx|json)$|^adr/.*\.md$|^README\.md$
  validate-adr-index: any of: ^adr/.*\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  validate-serviceaccount-naming: any of: ^deployments/(base/serviceaccounts\.yaml|overlays/.*/serviceaccount.*\.yaml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
  validate-test-isolation: any of: ^tests/.*test_.*\.py$
  validate-test-dependencies: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-fixture-scopes: any of: ^tests/conftest\.py$
  validate-minimum-coverage: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml)$

docs: complete documentation audit and fix critical Mintlify configuration
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  DOCUMENTATION_AUDIT_SUMMARY.md
  Makefile
  docs-internal/audits/DOCUMENTATION_AUDIT_2025-11-23.md
  docs-internal/audits/DOCUMENTATION_AUDIT_REMEDIATION_2025-11-23.md
  docs/docs.json
  scripts/run_pre_push_tests.py
  src/mcp_server_langgraph/auth/openfga.py
  src/mcp_server_langgraph/core/agent.py
  tests/integration/compliance/test_postgres_conversation_store.py
  tests/integration/compliance/test_postgres_preferences_store.py
  tests/integration/test_api_versioning.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_database_connectivity_real.py
  tests/integration/test_error_handlers.py
  tests/integration/test_openfga_client.py
  tests/meta/auth/test_openfga_lazy_initialization.py
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/ci/test_marker_consistency.py
  tests/meta/ci/test_precommit_mypy_blocking.py
  tests/meta/test_hardcoded_test_ids.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

docs: cleanup outdated and duplicate documentation files
  .claude/context/testing-patterns.md
  AGENTS.md
  DEVELOPER_ONBOARDING.md
  HYPOTHESIS_PROFILES.md
  INFRASTRUCTURE-DEPLOYMENT-CHECKLIST.md
  MDX_SYNTAX_GUIDE.md
  MIGRATION.md
  Makefile
  NAMING-CONVENTIONS.md
  QUICK_REFERENCE.md
  REPOSITORY_STRUCTURE.md
  ROADMAP.md
  SECRETS.md
  TESTING.md
  docs-internal/archive/audits/DOCUMENTATION_AUDIT_2025-10-20_FINAL.md
  docs-internal/archive/audits/DOCUMENTATION_AUDIT_FINAL_REPORT_20251113.md
  docs-internal/archive/audits/documentation-audit-remediation-report-2025-11-20.md
  docs-internal/audits/DOCUMENTATION_AUDIT_SUMMARY.md
  docs-internal/planning/FIX_PLAN.md
  docs-internal/testing/INTEGRATION_TEST_FINDINGS.md
Due: validate-documentation-integrity, validate-documentation-structure

chore: update Claude Code context and memory files
  .claude/README.md
  .claude/memory/make-targets.md
  .claude/memory/pre-commit-hooks-catalog.md
  .github/CLAUDE.md
  src/mcp_server_langgraph/mcp/server_streamable.py
  tests/e2e/keycloak-test-realm.json
  tests/e2e/test_real_clients.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs(claude-code): Add critical test infrastructure documentation
  .claude/context/pytest-markers.md
  .claude/context/test-constants-pattern.md
  .claude/context/xdist-safety-patterns.md
Due: validate-documentation-integrity, validate-documentation-structure

Fix: Remove empty Grafana dashboards.yml artifact and update .gitignore
  .gitignore
  monitoring/grafana/dashboards/dashboards.yml
  tests/integration/api/test_health.py
  tests/integration/test_openfga_client.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat(mypy): Align MyPy configuration for local/CI/pre-commit parity
  .pre-commit-config.yaml
  pyproject.toml
  src/mcp_server_langgraph/auth/keycloak.py
  src/mcp_server_langgraph/core/test_helpers.py
  src/mcp_server_langgraph/mcp/server_stdio.py
  src/mcp_server_langgraph/mcp/server_streamable.py
  src/mcp_server_langgraph/middleware/rate_limiter.py
  src/mcp_server_langgraph/monitoring/cost_tracker.py
  src/mcp_server_langgraph/observability/telemetry.py
  src/mcp_server_langgraph/patterns/swarm.py
  tests/meta/test_mypy_enforcement.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-api-schemas, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(pre-commit): Apply environment parity treatment to all Python hooks
  .pre-commit-config.yaml
Due: none

♻️ Refactor: Fix Trivy config, Keycloak security, and test validation improvements
  .trivyignore
  deployments/argocd/base/.trivyignore
  deployments/argocd/base/kustomization.yaml
  deployments/base/.trivyignore
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/production-gke/.trivyignore
  deployments/overlays/production-gke/keycloak-patch.yaml
  scripts/validation/validate_ids.py
  scripts/validation/validate_test_ids.py
  tests/integration/test_docker_health_checks.py
  tests/integration/test_openfga_cleanup.py
  tests/meta/test_id_pollution_prevention.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-cors-security, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Replace hardcoded IDs with worker-safe helpers in integration tests
  tests/integration/compliance/test_hipaa.py
  tests/integration/contract/test_mcp_contract.py
  tests/integration/property/test_auth_properties.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Resolve test isolation violations and pre-commit hook configuration issues
  tests/meta/auth/test_openfga_lazy_initialization.py
  tests/meta/ci/test_makefile_mypy_blocking.py
  tests/meta/ci/test_marker_consistency.py
  tests/meta/ci/test_precommit_mypy_blocking.py
  tests/meta/test_hardcoded_test_ids.py
  tests/meta/test_mypy_enforcement.py
  tests/regression/test_precommit_hook_dependencies.py
  tests/unit/core/test_agent_type_safety.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Update Makefile xdist enforcement test to accept modern orchestrator architecture
  tests/meta/test_makefile_prepush_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat: Add uv pip check to pre-push hooks for dependency conflict detection
  .pre-commit-config.yaml
  tests/meta/test_local_ci_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Allow documented readOnlyRootFilesystem exceptions in Trivy test
  deployments/overlays/production-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  tests/deployment/test_security_hardening.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-kustomize-builds, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Update MyPy test to reflect BLOCKING behavior (not non-blocking)
  tests/meta/test_local_ci_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat: Add test_infrastructure_ports fixture for single-instance architecture
  tests/conftest.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-ids, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

fix: Update marker consistency test for consolidated script architecture
  tests/meta/test_local_ci_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Consolidate test Redis to single instance with DB index isolation
  docker-compose.test.yml
  scripts/test-integration.sh
  tests/conftest.py
  tests/meta/test_compose_file_usage.py
  tests/meta/test_fixture_organization.py
  tests/meta/test_infrastructure_singleton.py
  tests/meta/test_integration_script_args.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-docker-compose-health-checks, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-fixture-scopes, validate-minimum-coverage

feat: Optimize test infrastructure for 40-70% faster execution
  .pre-commit-config.yaml
  Makefile
  tests/api/test_database_startup_validation.py
  tests/infrastructure/test_app_factory.py
  tests/infrastructure/test_database_ha.py
  tests/infrastructure/test_gdpr_storage_initialization.py
  tests/infrastructure/test_retry_integration_simple.py
  tests/meta/test_fixture_organization.py
  tests/meta/test_makefile_parallelization.py
  tests/meta/test_precommit_cross_platform.py
  tests/meta/test_validate_prepush_efficiency.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-api-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

docs: Update API examples to reflect current version 2.8.0
  .pre-commit-config.yaml
  docs/api-reference/health-checks.mdx
  docs/api-reference/mcp-endpoints.mdx
  docs/api-reference/mcp/messages.mdx
  docs/getting-started/first-request.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, mintlify-broken-links-check, validate-documentation-integrity, validate-documentation-structure

fix: Update Makefile and MyPy tests to reflect routing architecture
  Makefile
  tests/meta/ci/test_makefile_mypy_blocking.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Update test_local_ci_parity tests to check sub-targets instead of router
  tests/meta/test_local_ci_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Update marker consistency test to check sub-targets
  tests/meta/ci/test_marker_consistency.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat: Add infrastructure auto-detection for tests
  tests/INFRASTRUCTURE_AUTO_SETUP.md
  tests/infrastructure_helpers.py
  tests/meta/test_alembic_schema_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Update meta-tests to check Makefile sub-targets instead of router
  scripts/validation/check_test_naming.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_hook_sync_validation.py
  tests/meta/test_makefile_prepush_parity.py
  tests/validation_lib/naming.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix: Resolve remaining meta-test failures and reorganize test files
  .github/CLAUDE.md
  CONTRIBUTING.md
  README.md
  pyproject.toml
  scripts/archive/unused/apply_memory_safety_fixes.py
  scripts/archive/unused/bulk_fix_async_mock.py
  scripts/archive/unused/calculate_gke_resources.py
  scripts/archive/unused/ci_health_check.py
  scripts/archive/unused/convert_inline_styles_to_classdef.py
  scripts/archive/unused/convert_list_pytestmarks.py
  scripts/archive/unused/detect_dead_test_code.py
  scripts/archive/unused/fix_k8s_readonly_root_fs.py
  scripts/archive/unused/fix_missing_pytestmarks.py
  scripts/archive/unused/generate_mcp_tools_openapi.py
  scripts/archive/unused/generate_test_stats.py
  scripts/archive/unused/migrate_integration_tests.py
  scripts/archive/unused/remove_duplicate_fixtures.py
  scripts/archive/unused/remove_xml_tags.py
  scripts/archive/unused/rename_screaming_snake_case.py
  scripts/archive/unused/scan_test_resource_usage.py
  scripts/archive/unused/standardize_placeholders.py
  scripts/archive/unused/test_fix_missing_pytestmarks.py
  scripts/archive/unused/update_kong_jwks.py
  scripts/archive/unused/update_sequence_diagram_dark_mode.py
  scripts/validation/validate_docs.py
  scripts/validation/validate_pre_push_hook.py
  scripts/validation/validate_test_safety.py
  tests/integration/compliance/test_hipaa.py
  tests/integration/test_database_ha.py
  tests/integration/test_gdpr_storage_initialization.py
  tests/integration/test_retry_integration_simple.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_pytestmark_syntax_regression.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-pytest-config, validate-documentation-integrity, validate-documentation-structure, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(tests): update port conflict regression tests for consolidated Redis architecture
  tests/regression/test_pytest_xdist_port_conflicts.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(mypy): resolve all 19 MyPy type errors
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/role_mapper.py
  src/mcp_server_langgraph/auth/session.py
  src/mcp_server_langgraph/builder/codegen/generator.py
  src/mcp_server_langgraph/compliance/retention.py
  src/mcp_server_langgraph/core/cache.py
  src/mcp_server_langgraph/core/checkpoint_validator.py
  src/mcp_server_langgraph/core/dependencies.py
  src/mcp_server_langgraph/core/storage/conversation_store.py
  src/mcp_server_langgraph/observability/telemetry.py
Due: check-banned-imports, run-unit-tests, run-smoke-tests, run-api-tests, run-mcp-server-tests, run-property-tests, validate-dependency-injection, validate-api-schemas, validate-minimum-coverage

fix(tests): correct import paths in integration and regression tests
  tests/integration/patterns/test_supervisor.py
  tests/integration/patterns/test_swarm.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/regression/test_bearer_scheme_isolation.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

fix(ci-cd): resolve K8s validation workflow configuration drift
  .github/workflows/validate-k8s-configs.yml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(deployment): resolve OPA port validation failures for staging Redis
  deployments/overlays/staging-gke/configmap-patch.yaml
  deployments/overlays/staging-gke/network-policy.yaml
  deployments/overlays/staging-gke/redis-session-service-patch.yaml
Due: trivy-scan-k8s-manifests, validate-gke-autopilot-compliance, validate-kustomize-builds, validate-network-policies

feat(ci-cd): add preventive infrastructure for configuration drift
  .github/workflows/local-preflight-check.yaml
  .github/workflows/quality-tests.yaml
  .github/workflows/validate-kubernetes.yaml
  .pre-commit-config.yaml
  scripts/validation/validate_workflow_file_references.py
Due: check-banned-imports, actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(ci-cd): reference .trivyignore in Trivy GCP compliance scan
  .github/workflows/deploy-production-gke.yaml
  .github/workflows/gcp-compliance-scan.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions, validate-workflow-test-deps

fix(tests): correct E2E test fixture name references
  tests/e2e/test_full_user_journey.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

feat(tests): add comprehensive pytest fixture dependency validator
  .pre-commit-config.yaml
  scripts/validation/validate_pytest_fixtures.py
Due: check-banned-imports

fix(docs): correct 2 broken high-priority internal links
  .github/CONTRIBUTING.md
  adr/README.md
Due: validate-adr-sync, validate-documentation-integrity, validate-documentation-structure, validate-adr-index

fix(ci-cd): resolve critical test flow and CI/CD configuration drift
  .github/workflows/ci.yaml
  Makefile
  scripts/run_pre_push_tests.py
  tests/meta/test_makefile_prepush_parity.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-workflow-test-deps, validate-minimum-coverage

feat(testing): add conditional meta test execution based on changed files
  scripts/run_pre_push_tests.py
  tests/meta/test_run_pre_push_tests.py
Due: check-subprocess-timeout, check-banned-imports, run-unit-tests, run-property-tests, check-test-sleep-duration, validate-test-fixtures, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, detect-dead-test-code, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-test-ids, validate-test-isolation, validate-test-dependencies, validate-minimum-coverage

refactor(makefile): consolidate duplicate pre-push validation phases
  Makefile
Due: none
