Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint-workflow-validation, check-test-sleep-duration, validate-pytest-config, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-api-schemas, validate-test-time-bombs, check-e2e-completion, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, validate-kustomize-builds, validate-network-policies, validate-service-accounts, check-helm-placeholders, validate-docker-compose-health-checks, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  entry: bash -c 'actionlint -no-color -shellcheck= .github/workflows/*.{yml,yaml} 2>&1 || true'
  language: system
  pass_filenames: false
  always_run: false
  description: 'Advanced GitHub Actions workflow validation using actionlint.
  
  
    Catches issues like:
  
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: python3 scripts/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
    - Integration tests: max 2.0s sleep
  
  
  ...

validate-pytest-config:
  name: Validate Pytest Configuration Compatibility
  entry: python3 scripts/validate_pytest_config.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that pytest addopts flags match installed plugin dependencies.
  
  
    Prevents CI failures from:
  
  ...

validate-mintlify-docs:
  name: Validate Mintlify Documentation
  entry: python3 scripts/validate_mintlify_docs.py docs
  language: system
  pass_filenames: false
  always_run: false

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: python3 scripts/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

check-doc-links:
  name: Check Documentation Internal Links
  entry: python3 scripts/ci/check-links.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates internal documentation links to prevent broken references.
  
    Checks ADR cross-references, GitHub links, and active documentation.
  
    '

validate-documentation-quality:
  name: Validate Documentation Quality (MDX Parsing, Links, ADRs)
  entry: uv run pytest tests/meta/test_documentation_validation.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Comprehensive documentation validation tests (TDD):
  
  ...

validate-documentation-integrity:
  name: Validate Documentation Integrity (ADRs, Monitoring, Mermaid)
  entry: uv run pytest tests/test_documentation_integrity.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Documentation integrity and completeness tests (TDD):
  
  ...

validate-deployment-secrets:
  name: Validate deployment secret keys alignment
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_deployment_secret_keys_exist_in_template -v --tb=short
  language: system
  pass_filenames: false

validate-cors-security:
  name: Validate CORS security configuration
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_kong_cors_not_wildcard_with_credentials -v --tb=short
  language: system
  pass_filenames: false

check-helm-placeholders:
  name: Check Helm values for unresolved placeholders
  ...

feat(tests): comprehensive pytest-xdist and CI meta-test improvements (P1 - OpenAI Codex findings)
  .claude/commands/coverage-gaps.md
  .claude/memory/lint-workflow.md
  .claude/memory/python-environment-usage.md
  .github/workflows/ci.yaml
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/ci-cd.mdx
  docs/deployment/platform/configuration.mdx
  docs/guides/infisical-setup.mdx
  docs/guides/keycloak-sso.mdx
  docs/guides/local-models.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
  docs/releases/overview.mdx
  tests/meta/test_claude_code_configuration.py
  tests/meta/test_claude_settings_schema.py
  tests/meta/test_docker_image_contents.py
  tests/meta/test_id_pollution_prevention.py
  tests/meta/test_mcp_public_interface.py
  tests/meta/test_migration_checklists.py
  tests/meta/test_slash_commands.py
  tests/meta/test_xfail_strict_enforcement.py
  tests/regression/test_pytest_xdist_environment_pollution.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix(docs): resolve all Mintlify MDX parsing errors and broken links
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/guides/openfga-setup.mdx
  docs/guides/redis-sessions.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: resolve 3 of 4 validated OpenAI Codex integration test findings
  .github/workflows/docs-validation.yaml
  .github/workflows/docs-validation.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
  docs-internal/DOCS_VALIDATION_SIMPLIFICATION.md
  scripts/add_subprocess_timeouts.py
  scripts/add_subprocess_timeouts_simple.py
  scripts/fix_subprocess_timeouts_comprehensive.py
  scripts/validators/archive/README.md
  scripts/validators/archive/check_internal_links.py.deprecated
  scripts/validators/archive/frontmatter_validator.py.deprecated
  scripts/validators/archive/image_validator.py.deprecated
  scripts/validators/archive/link_validator.py.deprecated
  scripts/validators/archive/navigation_validator.py.deprecated
  tests/PYTEST_XDIST_PREVENTION.md
  tests/helpers/subprocess_helpers.py
  tests/meta/test_claude_settings_schema.py
  tests/meta/test_documentation_references.py
  tests/meta/test_marker_enforcement.py
  tests/meta/test_migration_checklists.py
  tests/meta/test_mypy_enforcement.py
  tests/meta/test_slash_commands.py
  tests/meta/test_subprocess_safety.py
Due: actionlint-workflow-validation, check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

fix: disable code block language tag validator (too many false positives)
  .github/workflows/docs-validation.yaml
  .pre-commit-config.yaml
  Makefile
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions

fix: resolve import errors and flake8 violations blocking push
  scripts/fix_subprocess_timeouts_comprehensive.py
  scripts/validators/__init__.py
  scripts/validators/archive/frontmatter_validator.py.deprecated
Due: none

fix: remove commented GitHub Actions expression causing actionlint failure
  .github/workflows/docs-validation.yaml
Due: actionlint-workflow-validation, validate-github-workflows, regression-prevention-tests, validate-github-action-versions

feat: re-enable frontmatter validator (complementary to Mintlify)
  scripts/validators/__init__.py
  scripts/validators/frontmatter_validator.py
Due: none

feat: validate and remediate OpenAI Codex test infrastructure findings
  .claude/commands/README.md
  CLAUDE.md
  docs-internal/ASYNC_MOCK_REMEDIATION_GUIDE.md
  docs-internal/CODEX_FINDINGS_REMEDIATION_SUMMARY.md
  docs-internal/HOOK_PERFORMANCE_OPTIMIZATION_PLAN.md
  scripts/bulk_fix_async_mock.py
  scripts/validate_pre_push_hook.py
  tests/helpers/__init__.py
  tests/helpers/async_mock_helpers.py
  tests/helpers/test_async_mock_helpers.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat: add git worktree automation for isolated Claude Code sessions
  .claude/commands/cleanup-worktrees.md
  scripts/cleanup-worktrees.sh
  scripts/start-worktree-session.sh
  scripts/test-worktree-automation.sh
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

feat: implement automated test infrastructure reports
  .github/workflows/weekly-reports.yaml
  Makefile
  docs-internal/ASYNC_MOCK_REMEDIATION_GUIDE.md
  docs-internal/reports/ASYNC_MOCK_SCAN.md
  docs-internal/reports/MEMORY_SAFETY_SCAN.md
  docs-internal/reports/TEST_SUITE_STATS.md
  scripts/generate_test_stats.py
  tests/meta/test_report_freshness.py
Due: actionlint-workflow-validation, check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

docs: achieve 100% Mermaid diagram compliance with ColorBrewer2 Set3 standards
  adr/adr-0055-diagram-visualization-standards.md
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0055-diagram-visualization-standards.mdx
  docs/references/mermaid-guide.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: handle deprecated validators in documentation tests
  tests/unit/documentation/test_image_validator.py
  tests/unit/documentation/test_navigation_validator.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix: add language specifiers to code blocks to resolve MDX parsing errors
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/configuration.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: disable broken fix-mdx-syntax pre-commit hook
  .pre-commit-config.yaml
Due: none

fix: add bash language specifiers to Tabs code blocks in configuration.mdx
  docs/deployment/platform/configuration.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: increase coverage enforcement subprocess timeout to 6 minutes
  tests/meta/test_coverage_enforcement.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix: enable mintlify validation on pre-push + fix all MDX syntax errors
  .pre-commit-config.yaml
  docs/deployment/platform/configuration.mdx
  docs/guides/local-models.mdx
  docs/kubernetes-best-practices-implementation.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: increase coverage timeout and update ADR count to 57
  README.md
  docs/architecture/overview.mdx
  tests/meta/test_coverage_enforcement.py
Due: check-test-sleep-duration, validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

feat: achieve 100% Mermaid diagram compliance + fix MDX validation (#84)
  .pre-commit-config.yaml
  adr/adr-0055-diagram-visualization-standards.md
  docs/.mintlify/MERMAID_OPTIMIZATION_GUIDE.md
  docs/architecture/adr-0054-pod-failure-prevention-framework.mdx
  docs/architecture/adr-0055-diagram-visualization-standards.mdx
  docs/deployment/kubernetes/gke.mdx
  docs/deployment/platform/configuration.mdx
  docs/guides/local-models.mdx
  docs/kubernetes-best-practices-implementation.mdx
  docs/references/mermaid-guide.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: resolve 6 test failure categories blocking git push
  .github/workflows/ci.yaml
  src/mcp_server_langgraph/builder/importer/graph_extractor.py
  tests/builder/api/test_server.py
  tests/scripts/test_codeblock_validator_v2.py
  tests/unit/test_pytest_marker_validator.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage

fix: remove deprecated validator tests causing collection errors
  tests/unit/documentation/test_image_validator.py
  tests/unit/documentation/test_navigation_validator.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix: update setup-uv version and add test isolation markers
  .github/workflows/weekly-reports.yaml
  tests/helpers/test_async_mock_helpers.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage

fix: resolve ADR documentation issues (renumber duplicates + add to navigation)
  README.md
  adr/adr-0056-asyncmock-configuration-prevention.md
  adr/adr-0057-circuit-breaker-decorator-closure-isolation.md
  adr/adr-0058-pytest-xdist-state-pollution-prevention.md
  docs/architecture/adr-0056-asyncmock-configuration-prevention.mdx
  docs/architecture/adr-0057-circuit-breaker-decorator-closure-isolation.mdx
  docs/architecture/adr-0058-pytest-xdist-state-pollution-prevention.mdx
  docs/docs.json
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

chore: regenerate ADR index after renumbering
  adr/README.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix: update architecture overview ADR count and move CLAUDE.md
  .github/CLAUDE.md
  docs/architecture/overview.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: add noqa comment for E402 in test_fix_closing_fence_tags
  tests/scripts/test_fix_closing_fence_tags.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

fix: resolve AsyncMock usage, hardcoded IDs, and E402 violations (204 IDs across 18 files)
  scripts/check_async_mock_usage.py
  scripts/fix_hardcoded_ids.py
  tests/api/test_scim_security.py
  tests/api/test_service_principals_endpoints.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/regression/test_litellm_cleanup_warnings.py
  tests/security/test_api_key_indexed_lookup.py
  tests/test_auth.py
  tests/test_auth_factory.py
  tests/test_keycloak.py
  tests/test_service_principal_manager.py
  tests/test_session.py
  tests/test_user_provider.py
  tests/unit/test_conversation_retrieval.py
  tests/unit/test_conversation_store.py
  tests/unit/test_dependencies_wiring.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_scim_filters.py
  tests/unit/test_security_practices.py
Due: check-test-sleep-duration, validate-dependency-injection, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

refactor: streamline git hooks configuration and eliminate redundancy
  .githooks/CLEANUP_SUMMARY.md
  .githooks/PRE_COMMIT_ANALYSIS.md
  .githooks/PRE_PUSH_ANALYSIS.md
  .githooks/README.md
  .githooks/pre-commit
  .githooks/pre-commit-adr-sync
  scripts/validators/adr_sync_validator.py
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix: eliminate duplicate test execution in pre-push hook (saves 3-4 min)
  Makefile
  tests/meta/test_coverage_enforcement.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

refactor: improve regression test documentation and exempt from ID validation
  scripts/validate_test_ids.py
  tests/regression/test_bearer_scheme_isolation.py
  tests/regression/test_fastapi_auth_override_sanity.py
  tests/regression/test_pytest_xdist_isolation.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
  tests/regression/test_service_principal_test_isolation.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

remove: delete code-block validator (high false positives, low value)
  .github/workflows/docs-validation.yaml
  scripts/validators/codeblock_autofixer.py
  scripts/validators/codeblock_validator.py
  scripts/validators/codeblock_validator_v2.py
  tests/scripts/test_codeblock_validator_v2.py
Due: actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, validate-github-action-versions, check-test-memory-safety, check-async-mock-usage

refactor: optimize CI/CD infrastructure with tiered validation (Phase 1 & 2)
  .pre-commit-config.yaml
  Makefile
  docs/development/VALIDATION_STRATEGY.mdx
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

docs: add comprehensive CI/CD documentation (Phase 4 & 5)
  docs/development/COMMANDS.mdx
  docs/development/WORKFLOWS.mdx
  docs/development/WORKFLOW_DIAGRAM.mdx
  scripts/validate_pre_push_hook.py
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-documentation-integrity, check-mermaid-styling, validate-code-block-languages

fix: disable broken codeblock validator import
  scripts/validators/__init__.py
Due: none

chore: remove obsolete codeblock validator tests
  tests/unit/documentation/test_codeblock_autofixer.py
  tests/unit/documentation/test_codeblock_validator.py
Due: check-test-sleep-duration, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage

feat(testing): add automation script for xdist_group markers
  scripts/add_xdist_group_markers.py
Due: none

docs: comprehensive validation of OpenAI Codex findings
  CODEX_FINDINGS_VALIDATION_REPORT.md
  PYTEST_XDIST_STATE_POLLUTION_SCAN_REPORT.md
Due: check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-code-block-languages

fix(tests): remove RED placeholder skips and document all skipped tests
  .pre-commit-config.yaml
  SKIPPED_TESTS_DOCUMENTATION.md
  scripts/add_comprehensive_test_hooks.py
  scripts/validate_pre_push_hook.py
  tests/meta/test_local_ci_parity.py
  tests/regression/test_documentation_code_blocks.py
  tests/regression/test_pytest_xdist_worker_database_isolation.py
Due: check-test-sleep-duration, check-doc-links, validate-documentation-quality, validate-documentation-integrity, validate-pytest-markers, validate-fixture-organization, regression-prevention-tests, validate-test-time-bombs, check-test-sleep-budget, validate-meta-test-quality, check-test-memory-safety, check-async-mock-usage, validate-code-block-languages

Path conditions:
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-pytest-config: any of: ^pyproject\.toml$
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-documentation-integrity: any of: \.(md|mdx|json)$|^monitoring/.*README\.md$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
  validate-fixture-organization: any of: ^tests/.*\.py$
  regression-prevention-tests: any of: ^(tests/.*\.py|\.github/workflows/.*\.ya?ml)$
  validate-api-schemas: any of: ^src/mcp_server_langgraph/(api|auth)/.*\.py$
  validate-test-time-bombs: any of: ^tests/.*test_.*\.py$
  check-e2e-completion: any of: ^tests/e2e/test_full_user_journey\.py$
  check-test-sleep-budget: any of: ^tests/.*test_.*\.py$
  validate-meta-test-quality: any of: ^tests/.*test_.*\.py$
  validate-github-action-versions: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-kustomize-builds: any of: ^deployments/.*\.(yaml|yml)$
  validate-network-policies: any of: ^deployments/.*network-policy\.(yaml|yml)$
  validate-service-accounts: any of: ^deployments/.*serviceaccount.*\.(yaml|yml)$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-docker-compose-health-checks: any of: ^.*docker-compose.*\.(yaml|yml)$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-test-memory-safety: any of: ^tests/.*test_.*\.py$
  check-async-mock-usage: any of: ^tests/.*test_.*\.py$
  validate-code-block-languages: any of: \.(md|mdx)$
