Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$

fix(ci): complete staging-to-preview rename and fix CI failure
  .github/workflows/deploy-preview-gke.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-kubernetes.yaml
  deployments/base/keycloak-deployment.yaml
  deployments/overlays/preview-gke/configmap-patch.yaml
  deployments/overlays/preview-gke/deployment-redis-url-json-patch.yaml
  deployments/overlays/preview-gke/kustomization.yaml
  deployments/overlays/preview-gke/namespace.yaml
  deployments/overlays/preview-gke/otel-collector-config.yaml
  deployments/overlays/preview-gke/otel-collector-configmap-patch.yaml
  deployments/overlays/staging/configmap-patch.yaml
  deployments/overlays/staging/deployment-patch.yaml
  deployments/overlays/staging/kustomization.yaml
  deployments/overlays/staging/namespace.yaml
  deployments/overlays/staging/otel-collector-patch.yaml
  deployments/overlays/staging/postgres-patch.yaml
  deployments/overlays/staging/qdrant-patch.yaml
  deployments/overlays/staging/redis-session-patch.yaml
  tests/deployment/test_kustomize_builds.py
  tests/deployment/test_rollout_resilience.py
  tests/deployment/test_service_dependencies.py
  tests/kubernetes/test_kustomize_preview_gke.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

feat: add visual workflow builder and interactive playground to test infrastructure
  Makefile
  docker-compose.test.yml
  docker/Dockerfile.builder-api
  docker/Dockerfile.builder-frontend
  docker/Dockerfile.playground
  docker/nginx/builder.conf
  src/mcp_server_langgraph/playground/api/__init__.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/__init__.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/streaming/__init__.py
  src/mcp_server_langgraph/playground/streaming/handler.py
  tests/constants.py
  tests/playground/__init__.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_security.py
  tests/playground/test_playground_session.py
  tests/playground/test_playground_websocket.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

docs: add Mintlify documentation for playground and builder
  docs/architecture/adr-0067-interactive-playground.mdx
  docs/development/test-infrastructure.mdx
  docs/docs.json
  docs/guides/interactive-playground.mdx
  docs/guides/visual-workflow-builder.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

test: fix playground session tests to use mock Redis
  pyproject.toml
  tests/playground/test_playground_session.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

fix(terraform): fix GKE Autopilot and Cloud SQL module defaults with TDD tests
  deployments/overlays/preview-gke/keycloak-json-patch.yaml
  deployments/overlays/preview-gke/openfga-json-patch.yaml
  docs/deployment/gke-preview-implementation-summary.mdx
  docs/deployment/kubernetes/gke-production.mdx
  docs/deployment/vertex-ai-workload-identity.mdx
  terraform/environments/gcp-preview/main.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/gke-autopilot/main.tf
  terraform/modules/gke-autopilot/variables.tf
  tests/infrastructure/test_gcp_terraform_modules.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, trivy-scan-k8s-manifests, checkov-terraform, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

test: add mock fixtures for playground tests to avoid Redis connections
  src/mcp_server_langgraph/playground/streaming/handler.py
  tests/playground/conftest.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_security.py
  tests/playground/test_playground_websocket.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix: resolve documentation validation failures
  adr/adr-0067-interactive-playground.md
  docs/guides/visual-workflow-builder.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index

chore: update ADR badge count in README.md (63 → 64)
  README.md
Due: none

chore: update ADR count in architecture overview (63 → 64)
  docs/architecture/overview.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

fix: add xdist_group markers to test_playground_session.py classes
  tests/playground/test_playground_session.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

style: add ColorBrewer2 Set3 palette styling to Mermaid diagrams
  docs/development/test-infrastructure.mdx
  docs/guides/interactive-playground.mdx
  docs/guides/visual-workflow-builder.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check

fix: add missing xdist_group marker to TestUserIsolation class
  tests/playground/test_playground_security.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix: add xdist_group markers to all playground test classes
  tests/playground/test_playground_api.py
  tests/playground/test_playground_security.py
  tests/playground/test_playground_websocket.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

chore: regenerate ADR index with ADR-0067
  adr/README.md
Due: validate-adr-sync, validate-adr-index

style: add ColorBrewer2 theme to sequence diagram in ADR-0067
  docs/architecture/adr-0067-interactive-playground.mdx
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check

fix(build): add package-lock.json for reproducible npm ci builds
  .gitignore
  src/mcp_server_langgraph/builder/frontend/package-lock.json
Due: none

security: fix CodeQL alerts for Dockerfiles and log injection
  docker-compose.test.yml
  docker/Dockerfile.builder-api
  docker/Dockerfile.builder-frontend
  docker/Dockerfile.playground
  docs/development/test-infrastructure.mdx
  docs/guides/visual-workflow-builder.mdx
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/streaming/handler.py
Due: check-banned-imports, run-pre-push-tests, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, semgrep-security-scan

fix(build): resolve CodeQL and TypeScript CI failures
  src/mcp_server_langgraph/builder/frontend/src/App.tsx
  src/mcp_server_langgraph/builder/frontend/tsconfig.json
  src/mcp_server_langgraph/builder/frontend/tsconfig.node.json
  src/mcp_server_langgraph/playground/api/server.py
  src/mcp_server_langgraph/playground/session/manager.py
  src/mcp_server_langgraph/playground/streaming/handler.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(ci): make GCP WIF jobs non-blocking when infrastructure not deployed
  .github/workflows/gcp-compliance-scan.yaml
  .github/workflows/integration-tests.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(codeql): exclude py/log-injection with documented sanitization
  .github/codeql/codeql-config.yml
Due: run-pre-push-tests

fix(docker): resolve nginx non-root user entrypoint script failures
  docker/Dockerfile.builder-frontend
  docker/nginx/builder.conf
Due: none

feat(builder): add unified builder with SPAStaticFiles and Keycloak/OpenFGA auth
  docker-compose.test.yml
  docker/Dockerfile.builder
  src/mcp_server_langgraph/builder/api/server.py
  src/mcp_server_langgraph/utils/__init__.py
  src/mcp_server_langgraph/utils/spa_static_files.py
  tests/builder/test_builder_server_integration.py
  tests/unit/utils/__init__.py
  tests/unit/utils/test_spa_static_files.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(observability): integrate OpenTelemetry into builder service
  Makefile
  docker-compose.test.yml
  src/mcp_server_langgraph/builder/api/server.py
  tests/builder/test_builder_observability.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(playground): implement interactive playground with in-context observability
  Makefile
  docker-compose.test.yml
  docker/Dockerfile.playground
  pyproject.toml
  src/mcp_server_langgraph/playground/api/__init__.py
  src/mcp_server_langgraph/playground/api/models.py
  src/mcp_server_langgraph/playground/api/server.py
  tests/playground/__init__.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_observability.py
  tests/playground/test_playground_websocket.py
Due: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, check-test-sleep-duration, semgrep-security-scan, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 1349ac69c878fa32d5b6b313d9b321d83c8248a5
  dev/bench/data.js
Due: none

feat(gcp): add GKE preview wrapper scripts and fix Autopilot config
  Makefile
  deployments/overlays/preview-gke/network-policy.yaml
  docker-compose.dev.yml
  docker-compose.minimal.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
  docs-internal/infrastructure/preview-gke-remediation-plan.md
  docs-internal/infrastructure/preview-teardown-bringup-issues.md
  scripts/gcp/gke-preview-down.sh
  scripts/gcp/gke-preview-up.sh
  scripts/gcp/teardown-preview-infrastructure.sh
  scripts/gcp/validate-preview-deployment.sh
  terraform/environments/gcp-preview/main.tf
  terraform/modules/cloudsql/main.tf
  terraform/modules/cloudsql/variables.tf
  terraform/modules/gke-autopilot/main.tf
Due: run-pre-push-tests, trivy-scan-k8s-manifests, checkov-terraform, validate-gke-autopilot-compliance

docs(gcp): add Issues #9 and #10 to GKE preview known issues
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
Due: none

feat(gcp): integrate WIF soft-delete recovery in gke-preview-up.sh
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
  scripts/gcp/gke-preview-up.sh
Due: none

docs(gcp): add GKE infrastructure testing guidance and known issues #11-12
  .claude/CLAUDE.md
  .claude/memory/gke-infrastructure-testing.md
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
Due: none

refactor: complete staging-to-preview rename for Terraform and scripts
  docs/deployment/gke-preview-implementation-summary.mdx
  docs/deployment/kubernetes/gke-preview.mdx
  docs/docs.json
  docs/security/gke-preview-checklist.mdx
  scripts/gcp/preview-smoke-tests.sh
  scripts/gcp/setup-preview-infrastructure.sh
  scripts/gcp/setup-vertex-ai-preview.sh
  scripts/gcp/setup-workload-identity.sh
  scripts/gcp/teardown-preview-infrastructure.sh
  scripts/gcp/validate-preview-deployment.sh
  terraform/backend-configs/gcp-preview.gcs.tfbackend.example
  terraform/environments/gcp-preview-wif-only/.gitignore
  terraform/environments/gcp-preview-wif-only/README.md
  terraform/environments/gcp-preview-wif-only/backend-config.tfbackend.example
  terraform/environments/gcp-preview-wif-only/main.tf
  terraform/environments/gcp-preview-wif-only/outputs.tf
  terraform/environments/gcp-preview-wif-only/variables.tf
  terraform/environments/gcp-preview/main.tf
  terraform/environments/gcp-preview/outputs.tf
  terraform/environments/gcp-preview/terraform.tfvars
  terraform/environments/gcp-preview/terraform.tfvars.example
  terraform/environments/gcp-preview/variables.tf
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, mintlify-broken-links-check, checkov-terraform

docs(gcp): add Issue #8 - WIF pool active state management
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
Due: none

feat(gcp): add retry logic for Service Networking Connection deletion
  docs-internal/infrastructure/GKE_PREVIEW_KNOWN_ISSUES.md
  scripts/gcp/gke-preview-down.sh
Due: none

fix(gcp): disable backup delete lock for preview environment (Issue #9)
  terraform/environments/gcp-preview/main.tf
Due: checkov-terraform

ci: migrate preview deployments from GCP Artifact Registry to GHCR
  .github/workflows/build-keycloak-image.yaml
  .github/workflows/deploy-preview-gke.yaml
  deployments/overlays/preview-gke/kustomization.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, trivy-scan-k8s-manifests, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-gke-autopilot-compliance, validate-workflow-test-deps

feat(ci): add GHCR dependency mirroring workflow
  .github/workflows/mirror-dependencies.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

feat(kustomize): use GHCR-mirrored dependencies to avoid Docker Hub rate limits
  deployments/overlays/preview-gke/kustomization.yaml
Due: run-pre-push-tests, trivy-scan-k8s-manifests, validate-gke-autopilot-compliance
