Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-subprocess-timeout, check-banned-imports, uv-lock-check, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index, trivy-scan-k8s-manifests, checkov-terraform, trivy-helm-scan, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-gke-autopilot-compliance, validate-dependency-injection, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-helm-placeholders, validate-keycloak-config, validate-docker-image-contents, helm-lint, validate-cloud-overlays, validate-no-placeholders, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, validate-pytest-config, check-test-memory-safety, check-test-naming, validate-test-ids

check-subprocess-timeout:
  name: Enforce subprocess timeout parameters
  description: 'Ensures all subprocess.run() calls include timeout parameter to prevent test hangs.
  
  
    Prevents regression of 119 subprocess.run() calls without timeout.
  
    Fix: Add timeout=60 parameter to subprocess.run() calls.
  
    '
  ...

check-banned-imports:
  name: Validate no banned/deprecated imports
  description: 'Detects usage of deprecated imports (e.g., toml instead of tomllib).
  
  
    Prevents issues like: - import toml (deprecated in Python 3.11+) - import imp (removed in Python 3.12+)
  
    '
  ...

uv-lock-check:
  name: Validate uv.lock synchronized with pyproject.toml
  entry: bash -c 'uv lock --check || (echo "ERROR - uv.lock out of sync. Run uv lock"; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  - pre-push

run-pre-push-tests:
  name: Run Pre-Push Tests (consolidated - dev profile)
  entry: uv run --frozen python -u scripts/run_pre_push_tests.py
  language: system
  pass_filenames: false
  always_run: false
  stages:
  - pre-push
  description: 'Consolidated pre-push test suite (OpenAI Codex Finding 2a fix).
  
  
  ...

actionlint-workflow-validation:
  name: Validate GitHub Actions with actionlint
  ...

check-test-sleep-duration:
  name: Check Test Sleep Durations
  entry: uv run --frozen python -u scripts/validators/check_test_sleep_duration.py
  language: system
  pass_filenames: true
  description: 'Prevents test performance regressions by detecting excessive sleep() calls.
  
  
    Enforces:
  
    - Unit tests: max 0.5s sleep
  
  ...

validate-mdx-extensions:
  name: Validate MDX File Extensions in docs/
  entry: uv run --frozen python -u scripts/validators/mdx_extension_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates all files in docs/ use .mdx extension (TDD):
  
    - Detects .md files in docs/ directory
  
  ...

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: uv run --frozen python -u scripts/docs/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

validate-file-naming-conventions:
  name: Validate Documentation File Naming Conventions
  entry: uv run --frozen python -u scripts/validators/file_naming_validator.py --path docs
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that documentation files follow kebab-case naming conventions.
  
  
    Enforces:
  ...

validate-adr-sync:
  name: Validate ADR Synchronization (/adr ↔ /docs/architecture)
  entry: uv run --frozen python -u scripts/validators/adr_sync_validator.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates ADR synchronization between source and docs (TDD):
  
  ...

mintlify-broken-links-check:
  name: Mintlify Broken Links Validation (PRIMARY Validator)
  ...

checkov-terraform:
  name: Checkov Terraform Security Scan
  ...

fix(tests): resolve flaky tests under pytest-xdist parallel execution
  tests/fixtures/database_fixtures.py
  tests/integration/builder/test_builder_api_integration.py
  tests/integration/builder/test_builder_postgres_workflow.py
  tests/integration/builder/test_builder_redis_workflow.py
  tests/integration/execution/test_kubernetes_sandbox.py
  tests/integration/playground/test_playground_api_integration.py
  tests/integration/playground/test_playground_mcp_integration.py
  tests/integration/playground/test_playground_postgres_session.py
  tests/integration/playground/test_playground_redis_session.py
  tests/integration/test_bearer_scheme_diagnostic.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_distributed_checkpointing.py
  tests/integration/test_mcp_streamable.py
  tests/integration/test_tool_improvements.py
  tests/meta/test_xfail_strict_enforcement.py
  tests/monitoring/test_budget_monitor.py
  tests/unit/execution/test_security_practices.py
  tests/unit/health/test_database_checks.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(tests): configure all unconfigured AsyncMock instances
  tests/builder/test_builder_server_integration.py
  tests/e2e/test_real_clients.py
  tests/helpers/test_verifier.py
  tests/integration/test_agentic_loop_integration.py
  tests/integration/test_conversation_state_persistence.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_pydantic_ai.py
  tests/playground/test_mcp_client.py
  tests/playground/test_playground_api.py
  tests/playground/test_playground_session.py
  tests/security/test_permission_inheritance.py
  tests/smoke/test_ci_startup_smoke.py
  tests/unit/auth/test_api_key_manager.py
  tests/unit/core/test_cache_redis_config.py
  tests/unit/core/test_context_manager.py
  tests/unit/database/test_session.py
  tests/unit/health/test_database_checks.py
  tests/unit/session/test_session_timeout.py
  tests/unit/storage/test_conversation_store_async.py
  tests/unit/tools/test_search_tools.py
  tests/utils/mock_factories.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

chore(hooks): enable AsyncMock configuration check on pre-commit
  .pre-commit-config.yaml
Due: none

fix(observability): redesign Overview dashboard with Grafana best practices
  deployments/helm/mcp-server-langgraph/dashboards/langgraph-agent.json
  deployments/helm/mcp-server-langgraph/dashboards/openfga.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Due: trivy-helm-full-scan

fix(ci): capture Keycloak token error response for debugging
  .github/workflows/e2e-tests.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(ci): add /authn subpath to Keycloak URLs for E2E tests
  .github/workflows/e2e-tests.yaml
  scripts/test-integration.sh
  tests/e2e/real_clients.py
  tests/e2e/test_full_user_journey.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

fix(observability): redesign remaining Grafana dashboards with best practices
  deployments/helm/mcp-server-langgraph/dashboards/keycloak.json
  deployments/helm/mcp-server-langgraph/dashboards/redis-sessions.json
  deployments/helm/mcp-server-langgraph/dashboards/security.json
  deployments/helm/mcp-server-langgraph/dashboards/sla-monitoring.json
  deployments/helm/mcp-server-langgraph/dashboards/soc2-compliance.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/security.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Compliance/soc2-compliance.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
Due: trivy-helm-full-scan

feat(observability): add Grafana dashboard validation script
  scripts/validation/validate_grafana_dashboards.py
Due: check-banned-imports, semgrep-security-scan

feat(observability): add dashboard validation CI/CD, runbooks, and panel descriptions
  .claude/templates/runbook-template.md
  .github/workflows/deployment-validation.yml
  .pre-commit-config.yaml
  deployments/helm/mcp-server-langgraph/dashboards/cost-monitoring.json
  docker/mimir/rules/lgtm-alerts.yaml
  monitoring/grafana/dashboards/Infrastructure/lgtm-stack.json
  monitoring/grafana/dashboards/Infrastructure/postgresql.json
  monitoring/grafana/dashboards/Infrastructure/qdrant.json
  monitoring/grafana/dashboards/Infrastructure/traefik.json
  monitoring/prometheus/alerts/langgraph-agent.yaml
  monitoring/prometheus/alerts/sla.yaml
  monitoring/runbooks/README.md
  monitoring/runbooks/authentication-alerts.md
  monitoring/runbooks/infrastructure-alerts.md
  monitoring/runbooks/langgraph-agent-health.md
  monitoring/runbooks/llm-performance-alerts.md
  monitoring/runbooks/sla-alerts.md
  scripts/validation/validate_grafana_dashboards.py
Due: check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, trivy-helm-full-scan, semgrep-security-scan, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(test): use OIDC well-known endpoint for Keycloak health checks
  tests/e2e/test_scim_provisioning.py
  tests/fixtures/docker_fixtures.py
  tests/integration/test_keycloak_admin.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

feat(observability): add runbook links to Grafana dashboards and sync Helm
  deployments/helm/mcp-server-langgraph/dashboards/authentication.json
  deployments/helm/mcp-server-langgraph/dashboards/keycloak.json
  deployments/helm/mcp-server-langgraph/dashboards/langgraph-agent.json
  deployments/helm/mcp-server-langgraph/dashboards/lgtm-stack.json
  deployments/helm/mcp-server-langgraph/dashboards/llm-performance.json
  deployments/helm/mcp-server-langgraph/dashboards/openfga.json
  deployments/helm/mcp-server-langgraph/dashboards/postgresql.json
  deployments/helm/mcp-server-langgraph/dashboards/qdrant.json
  deployments/helm/mcp-server-langgraph/dashboards/redis-sessions.json
  deployments/helm/mcp-server-langgraph/dashboards/sla-monitoring.json
  deployments/helm/mcp-server-langgraph/dashboards/traefik.json
  monitoring/grafana/dashboards/Application/llm-performance.json
  monitoring/grafana/dashboards/Auth/authentication.json
  monitoring/grafana/dashboards/Auth/keycloak.json
  monitoring/grafana/dashboards/Auth/openfga.json
  monitoring/grafana/dashboards/Compliance/sla-monitoring.json
  monitoring/grafana/dashboards/Infrastructure/redis-sessions.json
  monitoring/grafana/dashboards/Overview/langgraph-agent.json
Due: trivy-helm-full-scan

feat(ci): add Docker image build workflows and align GHCR naming
  .claude/memory/helm-chart-validation.md
  .github/workflows/build-alembic-image.yaml
  .github/workflows/build-builder-image.yaml
  .github/workflows/build-keycloak-image.yaml
  .github/workflows/build-playground-image.yaml
  .github/workflows/ci.yaml
  .github/workflows/deployment-validation.yml
  .github/workflows/validate-kubernetes.yaml
  .pre-commit-config.yaml
  docker-compose.test.yml
  scripts/test-integration.sh
  tests/integration/deployment/test_helm_templates.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, actionlint-workflow-validation, check-test-sleep-duration, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, validate-workflow-test-deps, check-test-memory-safety, check-test-naming, validate-test-ids

refactor(observability): remove legacy Jaeger/Prometheus/Alertmanager services
  docker-compose.dev.yml
  docker/docker-compose.yml
  docker/prometheus.yml
Due: run-pre-push-tests

fix(ci): resolve 6 failing CI checks (Trivy version + healthcheck filtering)
  .github/workflows/ci.yaml
  scripts/utils/wait_for_services.sh
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(test): increase mypy timeout to 120s for CI environments
  tests/meta/test_mypy_enforcement.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

add Benchmark (pytest) benchmark result for 785f6934ca4f695b28c15fdb5f368f138cedac82
  dev/bench/data.js
Due: none

fix(docs): renumber duplicate ADR-0067 to ADR-0069
  README.md
  adr/README.md
  adr/adr-0069-mcp-2025-11-25-upgrade.md
  docs/architecture/adr-0069-mcp-2025-11-25-upgrade.mdx
  docs/architecture/overview.mdx
  docs/docs.json
Due: validate-mdx-extensions, check-frontmatter-quotes, validate-file-naming-conventions, validate-adr-sync, mintlify-broken-links-check, validate-adr-index

fix(docker): correct Keycloak realm volume mount path
  docker-compose.test.yml
Due: none

fix(ci): address 3 CI failures not caught by local pre-push
  docker-compose.test.yml
  tests/meta/test_mypy_enforcement.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(e2e): rename Keycloak realm from 'mcp-test' to 'default'
  tests/e2e/mcp-test-realm.json
Due: none

ci(coverage): lower minimum coverage threshold from 75% to 70%
  .github/workflows/coverage-trend.yaml
Due: run-pre-push-tests, actionlint-workflow-validation, validate-github-workflows-comprehensive, validate-workflow-file-references, validate-workflow-test-deps

fix(e2e): rename realm file to match realm name for Keycloak 26.x
  docker-compose.test.yml
  tests/e2e/default-realm.json
Due: none

fix(e2e): update docker_fixtures realm URL to 'default'
  tests/fixtures/docker_fixtures.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-pytest-markers, validate-test-collection, check-test-memory-safety, check-test-naming, validate-test-ids

fix(e2e): improve Grafana SQLite locking resilience for CI
  docker-compose.test.yml
Due: none

add Benchmark (pytest) benchmark result for 0973b513066e178d4e76d8230f2a3fa070d13d6f
  dev/bench/data.js
Due: none

fix(test): update meta tests for Keycloak 26.x realm filename requirement
  tests/README.md
  tests/e2e/test_full_user_journey.py
  tests/integration/test_mcp_streamable.py
  tests/meta/test_e2e_keycloak_setup.py
  tests/meta/test_e2e_organization.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(traefik): change playground route from /play to /chat
  adr/adr-0068-gateway-level-authentication.md
  docker-compose.test.yml
  tests/integration/gateway/test_traefik_auth_middleware.py
Due: check-subprocess-timeout, check-banned-imports, run-pre-push-tests, check-test-sleep-duration, validate-adr-sync, validate-adr-index, validate-pytest-fixtures, validate-test-fixtures, validate-pytest-markers, validate-test-collection, detect-dead-test-code, check-asyncmock-instantiation, validate-test-isolation, check-test-memory-safety, check-test-naming, validate-test-ids

fix(keycloak): add path wildcards to redirect URIs for traefik-forward-auth
  tests/e2e/default-realm.json
Due: none

feat(playground): add SPA static file serving for React frontend
  src/mcp_server_langgraph/playground/api/server.py
Due: check-banned-imports, run-pre-push-tests, semgrep-security-scan

fix(playground): configure Vite base path for /chat Traefik route
  src/mcp_server_langgraph/playground/frontend/vite.config.ts
Due: none

feat(playground): add auto-connect to default MCP server on mount
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/vite-env.d.ts
Due: none

fix(playground): wire dead code and fix MCP response handlers (P0)
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Sidebar.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/MCPHostContext.tsx
Due: none

feat(playground): add authentication UI (P1.1)
  src/mcp_server_langgraph/playground/frontend/src/App.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/App.tsx
  src/mcp_server_langgraph/playground/frontend/src/api/playground.ts
  src/mcp_server_langgraph/playground/frontend/src/api/types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Auth/LoginForm.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Auth/LoginForm.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Auth/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Layout/Header.tsx
  src/mcp_server_langgraph/playground/frontend/src/contexts/AuthContext.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAuth.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useAuth.ts
Due: none

feat(playground): add Tool Browser UI (P1.2)
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolCard.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolCard.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
Due: none

feat(playground): add Resource Browser and Prompt Explorer (P1.3, P1.4)
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
Due: none

feat(playground): implement MCP 2025-11-25 full protocol compliance (P2)
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-client.ts
  src/mcp_server_langgraph/playground/frontend/src/api/mcp-types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ElicitationDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SamplingDialog.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/SchemaForm.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/TaskList.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/TaskList.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/index.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPCompletion.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPCompletion.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPLogging.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPLogging.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPRoots.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPRoots.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTasks.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useMCPTasks.ts
Due: none

feat(playground): add UX excellence and agent transparency (P3/P4)
  src/mcp_server_langgraph/playground/frontend/src/api/types.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentInfoBadge.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentInfoBadge.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentReasoningPanel.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/AgentReasoningPanel.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ChatMessage.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ResponseFormatSelector.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Chat/ResponseFormatSelector.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/EmptyState.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/EmptyState.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/Skeleton.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/Skeleton.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Common/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/FeedbackButton.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/FeedbackButton.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Feedback/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/PromptExplorer.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ResourceBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ToolBrowser.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Onboarding/WelcomeModal.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Onboarding/WelcomeModal.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/Onboarding/index.ts
  src/mcp_server_langgraph/playground/frontend/src/components/Sessions/SessionList.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useKeyboardNavigation.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useKeyboardNavigation.ts
  src/mcp_server_langgraph/playground/frontend/src/test/setup.ts
Due: none

feat(playground): add UX enhancements - dark mode, sidebar persistence, connection status, session export
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ConnectionStatusIndicator.test.tsx
  src/mcp_server_langgraph/playground/frontend/src/components/MCP/ConnectionStatusIndicator.tsx
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useDarkMode.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSessionExport.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSessionExport.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSidebarState.test.ts
  src/mcp_server_langgraph/playground/frontend/src/hooks/useSidebarState.ts
Due: none

Path conditions:
  check-subprocess-timeout: any of: ^tests/.*\.py$ and \.py$
  check-banned-imports: any of: \.py$
  uv-lock-check: any of: ^(pyproject\.toml|uv\.lock)$
  run-pre-push-tests: any of: ^(src/.*\.py|tests/.*\.py|pyproject\.toml|deployments/.*\.(yaml|yml)|docker/.*\.(yaml|yml)|\.github/.*\.ya?ml)$
  actionlint-workflow-validation: any of: ^\.github/workflows/.*\.ya?ml$
  check-test-sleep-duration: any of: ^tests/.*\.py$, but not: ^tests/meta/test_sleep_duration_linter\.py$
  validate-mdx-extensions: any of: ^docs/.*\.(md|mdx)$
  check-frontmatter-quotes: any of: \.mdx$
  validate-file-naming-conventions: any of: ^docs/.*\.(md|mdx)$
  validate-adr-sync: any of: ^(adr/.*\.md|docs/architecture/.*\.mdx)$
  mintlify-broken-links-check: any of: ^docs/.*\.(mdx|json|png|jpg|jpeg|gif|svg|webp)$
  validate-adr-index: any of: ^adr/.*\.md$
  trivy-scan-k8s-manifests: any of: ^deployments/.*\.(yaml|yml)$
  checkov-terraform: any of: ^terraform/.*\.tf$
  trivy-helm-scan: any of: ^deployments/helm/.*\.(yaml|yml|tpl)$
  trivy-helm-full-scan: any of: ^deployments/helm/.*
  semgrep-security-scan: any of: ^(src|scripts)/.*\.py$
  validate-github-workflows-comprehensive: any of: ^(\.github/workflows/.*\.ya?ml|\.github/actions/.*/action\.yml)$
  validate-workflow-file-references: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-fixtures: any of: ^tests/.*\.py$
  validate-gke-autopilot-compliance: any of: ^deployments/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/integration/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-test-fixtures: any of: ^tests/.*test_.*\.py$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$, but not: ^tests/(conftest\.py|validation_lib/.*\.py)$
  validate-test-collection: any of: ^tests/.*\.py$
  detect-dead-test-code: any of: ^tests/.*test_.*\.py$
  check-helm-placeholders: any of: ^deployments/helm/values-.*\.(yaml|yml)$
  validate-keycloak-config: any of: ^docker/docker-compose\.test\.yml$
  validate-docker-image-contents: any of: ^docker/Dockerfile$
  helm-lint: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cloud-overlays: any of: ^deployments/kubernetes/overlays/(aws|gcp|azure)/.*\.(yaml|yml)$
  validate-no-placeholders: any of: ^deployments/overlays/production-gke/.*\.(yaml|yml)$
  check-asyncmock-instantiation: any of: ^tests/.*test_.*\.py$, but not: ^tests/meta/test_asyncmock_validation\.py$
  validate-test-isolation: any of: ^tests/(.*test_.*\.py|.*conftest\.py)$
  validate-workflow-test-deps: any of: ^\.github/workflows/.*\.ya?ml$
  validate-pytest-config: any of: ^pyproject\.toml$
  check-test-memory-safety: any of: ^tests/.*\.py$
  check-test-naming: any of: ^tests/.*\.py$
  validate-test-ids: any of: ^tests/.*\.py$
