Repository vishnu2kmohan/mcp-server-langgraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, validate-deployment-secrets, validate-cors-security, check-hardcoded-credentials, validate-redis-password-required, check-mermaid-styling, validate-github-workflows, validate-dependency-injection, validate-pytest-markers

validate-mintlify-docs:
  name: Validate Mintlify Documentation
  entry: python3 scripts/validate_mintlify_docs.py docs
  language: system
  pass_filenames: false
  always_run: false

check-frontmatter-quotes:
  name: Check Frontmatter Quote Style
  entry: python3 scripts/standardize_frontmatter.py docs --dry-run
  language: system
  pass_filenames: false
  always_run: false

check-doc-links:
  name: Check Documentation Internal Links
  entry: python3 scripts/ci/check-links.py
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates internal documentation links to prevent broken references.
  
    Checks ADR cross-references, GitHub links, and active documentation.
  
    '

validate-documentation-quality:
  name: Validate Documentation Quality (MDX Parsing, Links, ADRs)
  entry: python -m pytest tests/meta/test_documentation_validation.py -v --tb=short
  language: system
  pass_filenames: false
  always_run: false
  description: 'Comprehensive documentation validation tests (TDD):
  
  ...

validate-deployment-secrets:
  name: Validate deployment secret keys alignment
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_deployment_secret_keys_exist_in_template -v --tb=short
  language: system
  pass_filenames: false

validate-cors-security:
  name: Validate CORS security configuration
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_kong_cors_not_wildcard_with_credentials -v --tb=short
  language: system
  pass_filenames: false

check-hardcoded-credentials:
  name: Check for hard-coded credentials
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_no_hardcoded_credentials_in_configmap -v --tb=short
  language: system
  pass_filenames: false

validate-redis-password-required:
  name: Ensure Redis password is mandatory
  entry: python -m pytest tests/deployment/test_helm_configuration.py::test_redis_password_not_optional -v --tb=short
  language: system
  pass_filenames: false

check-mermaid-styling:
  name: Check Mermaid Diagrams for ColorBrewer2 Set3 Styling
  entry: python3 scripts/check_mermaid_styling.py
  language: system
  pass_filenames: true
  always_run: false

validate-github-workflows:
  name: Validate GitHub Actions Workflow Context Usage
  entry: uv run python scripts/validate_github_workflows.py
  language: system
  pass_filenames: false
  description: 'Validates that GitHub Actions workflows don''t reference undefined
  
  ...

validate-dependency-injection:
  name: Validate Dependency Injection Configuration
  entry: python3 .githooks/pre-commit-dependency-validation
  language: system
  pass_filenames: false
  always_run: false
  description: 'Validates that dependency injection is properly configured to prevent:
  
    1. Missing Keycloak admin credentials
  
  ...

fix(ci): resolve regex error in validate_mintlify_docs.py
  scripts/validate_mintlify_docs.py
Due: none

fix(ci): correct YAML syntax in pre-commit config
  .pre-commit-config-requirements-check.yaml
Due: none

fix(security): add gitleaks config with proper allowlists
  .gitleaks.toml
Due: none

add Benchmark (pytest) benchmark result for 7b7bc8aaf6f1e90d326f7bc163c8d6b94d893636
  dev/bench/data.js
Due: none

fix(auth,tests): resolve Codex findings and prevent future regressions (TDD)
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/service_principal.py
  tests/test_api_key_manager.py
  tests/test_cli.py
  tests/test_config_validation.py
  tests/test_service_principal_manager.py
Due: validate-dependency-injection, validate-pytest-markers

docs(testing): add comprehensive regression test patterns from Codex findings
  TESTING.md
Due: check-doc-links, validate-documentation-quality

add Benchmark (pytest) benchmark result for d884cc55a6e84c3413d1bffd595625b32c8c80ad
  dev/bench/data.js
Due: none

fix(k8s): add readOnlyRootFilesystem + tests (TDD complete)
  deployments/overlays/staging-gke/deployment-patch.yaml
  deployments/overlays/staging-gke/keycloak-patch.yaml
  deployments/overlays/staging-gke/openfga-patch.yaml
  tests/deployment/test_dns_failover_verification.py
  tests/property/test_cache_properties.py
  tests/test_agent.py
  tests/test_kubernetes_security.py
  tests/test_shell_and_docker.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for b7d64df5fd52036df23c66706224a939a79b66b3
  dev/bench/data.js
Due: none

chore: add yamllint config and update pre-commit
  .pre-commit-config.yaml
  .yamllint
Due: none

feat(meta-tests,prevention): add regression prevention for Codex findings (Phase 2 - WIP)
  adr/adr-0050-dependency-singleton-pattern-justification.md
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  docs/architecture/overview.mdx
  scripts/validate_api_schemas.py
  scripts/validate_test_time_bombs.py
  tests/meta/test_context_manager_quality.py
  tests/meta/test_property_test_quality.py
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, check-mermaid-styling, validate-pytest-markers

fix(shell,docker): add variable quoting, rm safety, and health check fixes
  docker-compose.test.yml
  docs/architecture/adr-0050-dependency-singleton-pattern-justification.mdx
  scripts/build-infisical-wheels.sh
  scripts/check-pr-status.sh
Due: validate-mintlify-docs, check-frontmatter-quotes, check-doc-links, validate-documentation-quality, check-mermaid-styling

add Benchmark (pytest) benchmark result for 1b508e3815a78cc653bd679b3fe371acc6286bdf
  dev/bench/data.js
Due: none

fix(meta-tests,scripts): Phase 2 prevention infrastructure complete
  scripts/validate_api_schemas.py
  tests/meta/test_kubectl_safety.py
  tests/meta/test_property_test_quality.py
Due: validate-pytest-markers

feat(e2e,tests): Phase 3 - E2E scenarios, edge cases, docs (TDD complete)
  tests/README.md
  tests/e2e/test_full_user_journey.py
  tests/property/test_cache_properties.py
  tests/test_agent.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

feat(e2e,ci,hooks): Phase 4 complete - E2E expansion + CI monitoring (TDD)
  .pre-commit-config.yaml
  scripts/check_e2e_completion.py
  scripts/check_test_sleep_budget.py
  tests/e2e/test_full_user_journey.py
  tests/meta/test_codex_regression_prevention.py
Due: validate-pytest-markers

fix(deprecations): replace datetime.utcnow() with timezone-aware datetime.now(UTC)
  src/mcp_server_langgraph/app.py
  src/mcp_server_langgraph/auth/api_keys.py
  src/mcp_server_langgraph/auth/service_principal.py
  src/mcp_server_langgraph/core/interrupts/approval.py
  src/mcp_server_langgraph/core/interrupts/interrupts.py
  tests/core/interrupts/test_approval.py
  tests/core/interrupts/test_interrupts.py
Due: validate-dependency-injection, validate-pytest-markers

fix(tests): fix deprecations and test failures from status report
  scripts/check_e2e_completion.py
  scripts/check_test_sleep_budget.py
  tests/e2e/test_full_user_journey.py
  tests/infrastructure/test_database_ha.py
  tests/meta/test_fixture_validation.py
  tests/meta/test_suite_validation.py
  tests/test_agent.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for ab7cf8cd00e3b20f5e475b61a005c42f9e5285a0
  dev/bench/data.js
Due: none

feat(tests): add CLI tool guards and auto-skip infrastructure
  tests/conftest.py
  tests/deployment/test_helm_configuration.py
  tests/infrastructure/test_external_secrets_rbac.py
  tests/meta/test_suite_validation.py
  tests/test_kubernetes_security.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for 8dc33bcb97355b6026d1b9ffc25234a9896232a3
  dev/bench/data.js
Due: none

fix(ci,tests): use TCP-based health check for Qdrant (fixes E2E and Quality test failures)
  docker-compose.dev.yml
  docker-compose.test.yml
  docker/docker-compose.yml
  tests/security/test_deployment_security_regression.py
  tests/test_docker_compose_validation.py
  tests/test_shell_and_docker.py
Due: validate-pytest-markers

fix(tests): prevent excessive memory consumption in API key security tests (217GB VIRT → < 2GB)
  pyproject.toml
  tests/security/test_api_key_indexed_lookup.py
Due: validate-pytest-markers

fix(tests): fix API key test failures due to APIKeyManager signature changes
  tests/security/test_api_key_indexed_lookup.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for 27397fc81e3791672b5cb011cd8bea766fcfed9f
  dev/bench/data.js
Due: none

fix(tests): add memory safety to 6 CRITICAL test files (45 classes) - prevent pytest-xdist OOM
  scripts/add_memory_safety_to_tests.py
  tests/integration/test_keycloak_admin.py
  tests/test_api_key_manager.py
  tests/test_auth.py
  tests/test_keycloak.py
  tests/test_openfga_client.py
  tests/test_service_principal_manager.py
Due: validate-pytest-markers

add Benchmark (pytest) benchmark result for 014386dd8275c81cbe2b8cf5d01e401413a47485
  dev/bench/data.js
Due: none

feat(tests): apply memory safety fixes to 14 HIGH priority test files (Phase 2)
  scripts/apply_memory_safety_fixes.py
  tests/api/test_api_keys_endpoints.py
  tests/api/test_service_principals_endpoints.py
  tests/core/test_cache.py
  tests/integration/test_app_startup_validation.py
  tests/integration/test_gdpr_endpoints.py
  tests/smoke/test_ci_startup_smoke.py
  tests/test_auth_factory.py
  tests/test_context_manager.py
  tests/test_gdpr.py
  tests/test_llm_factory_contract.py
  tests/test_session_timeout.py
  tests/test_user_provider.py
  tests/unit/test_dependencies_wiring.py
Due: validate-dependency-injection, validate-pytest-markers

docs(internal): add pytest-xdist memory safety comprehensive plan and quick reference
  docs-internal/PYTEST_XDIST_MEMORY_SAFETY_PLAN.md
  docs-internal/PYTEST_XDIST_MEMORY_SAFETY_QUICK_REF.md
Due: check-doc-links, validate-documentation-quality

add Benchmark (pytest) benchmark result for 0e397895e49cd1cab688269fdabb7dbea5b84173
  dev/bench/data.js
Due: none

docs(internal): add pytest-xdist memory safety comprehensive plan and quick reference
  .pre-commit-config.yaml
  scripts/check_test_memory_safety.py
  tests/MEMORY_SAFETY_GUIDELINES.md
Due: check-doc-links, validate-documentation-quality

add Benchmark (pytest) benchmark result for 319395ad8fa7df710527d50dfa60e29d8e670d4f
  dev/bench/data.js
Due: none

feat(tests): Phase 4 - Apply memory safety fixes to 28 MEDIUM priority test files
  tests/api/test_scim_security.py
  tests/api/test_service_principals_security.py
  tests/e2e/test_real_clients.py
  tests/e2e/test_real_clients_resilience.py
  tests/integration/test_alerting.py
  tests/integration/test_anthropic_enhancements_integration.py
  tests/integration/test_mcp_startup_validation.py
  tests/integration/test_openfga_cleanup.py
  tests/property/test_auth_properties.py
  tests/regression/test_performance_regression.py
  tests/security/test_api_key_performance_monitoring.py
  tests/security/test_authorization_fallback_controls.py
  tests/security/test_scim_service_principal_openfga.py
  tests/test_agent.py
  tests/test_agentic_loop_integration.py
  tests/test_cleanup_scheduler.py
  tests/test_context_manager_llm.py
  tests/test_conversation_state_persistence.py
  tests/test_data_deletion.py
  tests/test_distributed_checkpointing.py
  tests/test_permission_inheritance.py
  tests/test_session.py
  tests/test_sla_monitoring.py
  tests/test_soc2_evidence.py
  tests/test_verifier.py
  tests/unit/test_mcp_stdio_server.py
  tests/unit/test_scim_filters.py
  tests/unit/test_security_practices.py
Due: validate-pytest-markers

feat(tests): Phase 5 - Apply memory safety fixes to 26 LOW priority test files
  tests/api/test_app_configuration.py
  tests/api/test_health.py
  tests/contract/test_mcp_contract.py
  tests/core/interrupts/test_approval.py
  tests/core/test_exceptions.py
  tests/integration/test_mcp_code_execution.py
  tests/integration/test_redis_checkpointer_url_encoding.py
  tests/middleware/test_rate_limiter.py
  tests/performance/test_benchmarks.py
  tests/property/test_cache_properties.py
  tests/property/test_llm_properties.py
  tests/security/test_network_mode_transparency.py
  tests/test_config_validation.py
  tests/test_dynamic_context_loader.py
  tests/test_health_check.py
  tests/test_infisical_optional.py
  tests/test_json_logger_additional.py
  tests/test_rate_limiter.py
  tests/test_secrets_manager.py
  tests/test_test_utilities.py
  tests/unit/test_cache_redis_config.py
  tests/unit/test_checkpoint_config_validation.py
  tests/unit/test_lazy_imports.py
  tests/unit/test_observability_cleanup.py
  tests/unit/test_provider_credentials.py
  tests/unit/tools/test_code_execution_tools.py
Due: validate-dependency-injection, validate-pytest-markers

add Benchmark (pytest) benchmark result for b386caf213e8d6b54f7fc98b38fbcf17fc1357e6
  dev/bench/data.js
Due: none

docs(internal): comprehensive analysis of pytest-xdist vs alternatives
  docs-internal/PYTEST_PARALLEL_TESTING_ANALYSIS.md
Due: check-doc-links, validate-documentation-quality

feat(tests,ci): add 3 performance enhancements - loadscope, pytest-split, memory-aware workers
  .github/workflows/quality-tests.yaml
  .test_durations
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: validate-github-workflows, validate-pytest-markers

fix(tests): resolve 14 test failures + critical datetime bug + resource optimization
  docs-internal/TEST_FIXES_2025-11-10.md
  scripts/scan_test_resource_usage.py
  src/mcp_server_langgraph/auth/api_keys.py
  tests/RESOURCE_INTENSIVE_TEST_PATTERNS.md
  tests/meta/test_fixture_validation.py
  tests/meta/test_performance_regression.py
  tests/middleware/test_rate_limiter.py
  tests/security/test_api_key_indexed_lookup.py
  tests/test_api_key_manager.py
  tests/test_feature_flags.py
  tests/test_user_provider.py
  tests/unit/test_dependencies_wiring.py
Due: check-doc-links, validate-documentation-quality, validate-dependency-injection, validate-pytest-markers

fix(tests): resolve infinite CPU loop + add final documentation
  docs-internal/FINAL_TEST_REMEDIATION_SUMMARY.md
  docs-internal/REMAINING_TEST_OPTIMIZATIONS.md
  tests/test_api_key_manager.py
  tests/unit/test_search_tools.py
Due: check-doc-links, validate-documentation-quality, validate-pytest-markers

perf(tests): eliminate 40+ seconds of sleep overhead with virtual time and prevention mechanisms
  .pre-commit-config.yaml
  scripts/check_test_sleep_duration.py
  src/mcp_server_langgraph/core/time_provider.py
  src/mcp_server_langgraph/monitoring/budget_monitor.py
  tests/core/test_cache.py
  tests/fixtures/__init__.py
  tests/fixtures/time_fixtures.py
  tests/meta/test_sleep_duration_linter.py
  tests/monitoring/test_cost_tracker.py
  tests/property/test_cache_properties.py
  tests/resilience/test_bulkhead.py
  tests/resilience/test_fallback.py
  tests/resilience/test_timeout.py
  tests/unit/test_time_provider.py
Due: validate-pytest-markers

Path conditions:
  validate-mintlify-docs: any of: \.mdx$
  check-frontmatter-quotes: any of: \.mdx$
  check-doc-links: any of: \.(md|mdx)$
  validate-documentation-quality: any of: \.(md|mdx|json)$
  validate-deployment-secrets: any of: ^deployments/helm/.*\.(yaml|yml)$
  validate-cors-security: any of: ^deployments/(kong|base)/.*\.(yaml|yml)$
  check-hardcoded-credentials: any of: ^deployments/base/configmap\.yaml$
  validate-redis-password-required: any of: ^deployments/base/redis-session-deployment\.yaml$
  check-mermaid-styling: any of: ^docs/.*\.mdx$
  validate-github-workflows: any of: ^\.github/workflows/.*\.ya?ml$
  validate-dependency-injection: any of: ^(src/mcp_server_langgraph/(core/dependencies|core/cache|auth/service_principal)\.py|tests/unit/test_(dependencies_wiring|cache_redis_config)\.py)$
  validate-pytest-markers: any of: ^(tests/.*\.py|pyproject\.toml)$
